@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region init

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    #endregion

    #region ViewBags

    int idUsuario = ViewBag.idUsuario;

    var usuarioAtual = (Core.Entities.Usuario)ViewBag.Nivel1;

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelConvites = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelConvite;
    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelAtivos = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelAtivos;

    string planetaCor = "";

    int idTabuleiro = ViewBag.idTabuleiro;
    Core.Models.TabuleiroModel tabuleiro = (Core.Models.TabuleiroModel)ViewBag.tabuleiro;

    ViewBag.Title = traducaoHelper["MINHA_REDE"].ToLower();

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/home")
    <link rel="stylesheet" href="~/Content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/home/styles.css">
}

@section head {
}

@section pageScripts {
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/countUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var width = 0;
        var posWidth = 10;

        $(function () {
            width = window.innerWidth

            var alinhaTxtTop = 26;
            var alinhaTxtLeft = -20;
            var ajustTop = -22;
            var ajustLeft = 0;

            var posDonatorEsqSup1Top = ajustTop + 160;
            var posDonatorEsqSup1Left = 480;
            var posTxtDonatorEsqSup1Top = posDonatorEsqSup1Top + alinhaTxtTop;
            var posTxtDonatorEsqSup1Left = posDonatorEsqSup1Left + alinhaTxtLeft;

            var posDonatorEsqSup2Top = ajustTop + 280;
            var posDonatorEsqSup2Left = 300;
            var posTxtDonatorEsqSup2Top = posDonatorEsqSup2Top + alinhaTxtTop;
            var posTxtDonatorEsqSup2Left = posDonatorEsqSup2Left + alinhaTxtLeft;

            var posDonatorEsqInf1Top = ajustTop + 500;
            var posDonatorEsqInf1Left = 400;
            var posTxtDonatorEsqInf1Top = posDonatorEsqInf1Top + alinhaTxtTop;
            var posTxtDonatorEsqInf1Left = posDonatorEsqInf1Left + alinhaTxtLeft;

            var posDonatorEsqInf2Top = ajustTop + 720;
            var posDonatorEsqInf2Left = 520;
            var posTxtDonatorEsqInf2Top = posDonatorEsqInf2Top + alinhaTxtTop;
            var posTxtDonatorEsqInf2Left = posDonatorEsqInf2Left + alinhaTxtLeft;

            var posDonatorDirSup1Top = ajustTop + 180;
            var posDonatorDirSup1Left = 900;
            var posTxtDonatorDirSup1Top = posDonatorDirSup1Top + alinhaTxtTop;
            var posTxtDonatorDirSup1Left = posDonatorDirSup1Left + alinhaTxtLeft;

            var posDonatorDirSup2Top = ajustTop + 400;
            var posDonatorDirSup2Left = 1000;
            var posTxtDonatorDirSup2Top = posDonatorDirSup2Top + alinhaTxtTop;
            var posTxtDonatorDirSup2Left = posDonatorDirSup2Left + alinhaTxtLeft;

            var posDonatorDirInf1Top = ajustTop + 560;
            var posDonatorDirInf1Left = 1140;
            var posTxtDonatorDirInf1Top = posDonatorDirInf1Top + alinhaTxtTop;
            var posTxtDonatorDirInf1Left = posDonatorDirInf1Left + alinhaTxtLeft;

            var posDonatorDirInf2Top = ajustTop + 690;
            var posDonatorDirInf2Left = 960;
            var posTxtDonatorDirInf2Top = posDonatorDirInf2Top + alinhaTxtTop;
            var posTxtDonatorDirInf2Left = posDonatorDirInf2Left + alinhaTxtLeft;

            var posIndicatorEsqSupTop = ajustTop + 340;
            var posIndicatorEsqSupLeft = 520;
            var posTxtIndicatorEsqSupTop = posIndicatorEsqSupTop + alinhaTxtTop;
            var posTxtIndicatorEsqSupLeft = posIndicatorEsqSupLeft + alinhaTxtLeft;

            var posIndicatorEsqInfTop = ajustTop + 570;
            var posIndicatorEsqInfLeft = 600;
            var posTxtIndicatorEsqInfTop = posIndicatorEsqInfTop + alinhaTxtTop;
            var posTxtIndicatorEsqInfLeft = posIndicatorEsqInfLeft + alinhaTxtLeft;

            var posIndicatorDirSupTop = ajustTop + 290;
            var posIndicatorDirSupLeft = 800;
            var posTxtIndicatorDirSupTop = posIndicatorDirSupTop + alinhaTxtTop;
            var posTxtIndicatorDirSupLeft = posIndicatorDirSupLeft + alinhaTxtLeft;

            var posIndicatorDirInfTop = ajustTop + 560;
            var posIndicatorDirInfLeft = 930;
            var posTxtIndicatorDirInfTop = posIndicatorDirInfTop + alinhaTxtTop;
            var posTxtIndicatorDirInfLeft = posIndicatorDirInfLeft + alinhaTxtLeft;

            var posCoordinatorEsqTop = ajustTop + 440;
            var posCoordinatorEsqLeft = 580;
            var posTxtCoordinatorEsqTop = posCoordinatorEsqTop + alinhaTxtTop;
            var posTxtCoordinatorEsqLeft = posCoordinatorEsqLeft + alinhaTxtLeft;

            var posCoordinatorDirTop = ajustTop + 450;
            var posCoordinatorDirLeft = 870;
            var posTxtCoordinatorDirTop = posCoordinatorDirTop + alinhaTxtTop;
            var posTxtCoordinatorDirLeft = posCoordinatorDirLeft + alinhaTxtLeft;

            var posMasterTop = ajustTop + 440;
            var posMasterLeft = 710;
            var posTxtMasterTop = posMasterTop + alinhaTxtTop;
            var posTxtMasterLeft = posMasterLeft + alinhaTxtLeft;


            $('.DonatorEsqSup1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqSup1Top + 'px; left: ' + posDonatorEsqSup1Left + 'px;');
            $('.txtDonatorEsqSup1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqSup1Top + 'px; left: ' + posTxtDonatorEsqSup1Left + 'px;');

            $('.DonatorEsqSup2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqSup2Top + 'px; left: ' + posDonatorEsqSup2Left + 'px;');
            $('.txtDonatorEsqSup2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqSup2Top + 'px; left: ' + posTxtDonatorEsqSup2Left + 'px;');

            $('.DonatorEsqInf1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqInf1Top + 'px; left: ' + posDonatorEsqInf1Left + 'px;');
            $('.txtDonatorEsqInf1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqInf1Top + 'px; left: ' + posTxtDonatorEsqInf1Left + 'px;');

            $('.DonatorEsqInf2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqInf2Top + 'px; left: ' + posDonatorEsqInf2Left + 'px;');
            $('.txtDonatorEsqInf2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqInf2Top + 'px; left: ' + posTxtDonatorEsqInf2Left + 'px;');

            $('.DonatorDirSup1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirSup1Top + 'px; left: ' + posDonatorDirSup1Left + 'px;');
            $('.txtDonatorDirSup1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirSup1Top + 'px; left: ' + posTxtDonatorDirSup1Left + 'px;');

            $('.DonatorDirSup2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirSup2Top + 'px; left: ' + posDonatorDirSup2Left + 'px;');
            $('.txtDonatorDirSup2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirSup2Top + 'px; left: ' + posTxtDonatorDirSup2Left + 'px;');

            $('.DonatorDirInf1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirInf1Top + 'px; left: ' + posDonatorDirInf1Left + 'px;');
            $('.txtDonatorDirInf1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirInf1Top + 'px; left: ' + posTxtDonatorDirInf1Left + 'px;');

            $('.DonatorDirInf2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirInf2Top + 'px; left: ' + posDonatorDirInf2Left + 'px;');
            $('.txtDonatorDirInf2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirInf2Top + 'px; left: ' + posTxtDonatorDirInf2Left + 'px;');

            $('.IndicatorEsqSup').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorEsqSupTop + 'px; left: ' + posIndicatorEsqSupLeft + 'px;');
            $('.txtIndicatorEsqSup').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorEsqSupTop + 'px; left: ' + posTxtIndicatorEsqSupLeft + 'px;');

            $('.IndicatorEsqInf').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorEsqInfTop + 'px; left: ' + posIndicatorEsqInfLeft + 'px;');
            $('.txtIndicatorEsqInf').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorEsqInfTop + 'px; left: ' + posTxtIndicatorEsqInfLeft + 'px;');

            $('.IndicatorDirSup').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorDirSupTop + 'px; left: ' + posIndicatorDirSupLeft + 'px;');
            $('.txtIndicatorDirSup').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorDirSupTop + 'px; left: ' + posTxtIndicatorDirSupLeft + 'px;');

            $('.IndicatorDirInf').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorDirInfTop + 'px; left: ' + posIndicatorDirInfLeft + 'px;');
            $('.txtIndicatorDirInf').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorDirInfTop + 'px; left: ' + posTxtIndicatorDirInfLeft + 'px;');

            $('.CoordinatorEsq').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posCoordinatorEsqTop + 'px; left: ' + posCoordinatorEsqLeft + 'px;');
            $('.txtCoordinatorEsq').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtCoordinatorEsqTop + 'px; left: ' + posTxtCoordinatorEsqLeft + 'px;');

            $('.CoordinatorDir').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posCoordinatorDirTop + 'px; left: ' + posCoordinatorDirLeft + 'px;');
            $('.txtCoordinatorDir').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtCoordinatorDirTop + 'px; left: ' + posTxtCoordinatorDirLeft + 'px;');

            $('.Master').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posMasterTop + 'px; left: ' + posMasterLeft + 'px;');
            $('.txtMaster').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtMasterTop + 'px; left: ' + posTxtMasterLeft + 'px;');

        });

        function widthResizer() {
            width = window.innerWidth
        }

        // Getting the width of the browser on load
        widthResizer()

        // Getting the width of the browser whenever the screen resolution changes.
        window.addEventListener('resize', widthResizer)

        $('.btnTabuleiro').on('click', function () {
            var idTarget = $(this).attr("data-id");
            var idTabuleiro = $('#tabuleiro').val();
            var nivel = $(this).attr("data-name");
            if (idTarget == $('#master').attr("data-id") || $('#master').attr("data-id") == @idUsuario) {
                $.ajax({
                    url: "@Url.Action("GetDados")",
                    type: "POST",
                    data: {
                        'usuarioID': '@(idUsuario)',
                        'targetID': idTarget,
                        'tabuleiroID': idTabuleiro,
                        'nivel': nivel,
                        'token': '@(ViewBag.Token)'
                    },
                    success: function (data) {
                        if (data != null) {

                            $("#infoNome").html(data.Nome);
                            $("#infoCelular").html(data.Celular);

                            $("#infoTitulo").html('@(traducaoHelper["ALVO"])');
                            if (data.Carteira) {
                                $("#infoCripto").html(data.Carteira);
                                $("#carteiraHeader").show();
                                $("#infoCripto").show();
                            } else {
                                $("#infoCripto").hide();
                                $("#carteiraHeader").hide();
                            }
                            $('#modDados').modal('show');
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ALERTA"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["SEM_DADOS"]',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (thrownError.toString() == '@traducaoHelper["TOKEN_INVALIDO"]') {
                            //Reload page
                            location.reload();
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ERRO"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["ERRO"]:' + thrownError.toString(),
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                });
            } else {
                 Swal.fire({
                     title: '@traducaoHelper["ALERTA"]: ' + xhr.status + '!',
                     text: 'target=',
                     icon: 'warning',
                     confirmButtonText: 'OK'
                });
            }
        });

    </script>
}

@section PageLevelScripts{
}

@section jQueryRead {
}
<!-- Header -->
<div class="portlet solid card-cor" style="max-width: 1600px;">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title black">
                <h2 class="black">@ViewBag.Title </h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<!-- Tabuleiro -->
<div class="portlet" style="padding: 0; padding-right: 10px; margin-bottom: 0; background-color: transparent; max-width: 1600px;">
    <div class="portlet-body">
        <div class="row" style="width: 980px; height: 680px; background: url(@Url.Content("~/Arquivos/banners/" + Helpers.Local.Sistema + "/banner1.png")) no-repeat center center;">
            <input type="hidden" class="form-control" id="tabuleiro" value="@idTabuleiro" />

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup1 + ".png")' ?v=@Helpers.Local.Versao class="DonatorEsqSup1">
            <button id="DonatorEsqSup1" data-name="donator" data-id="@(tabuleiro.DonatorEsqSup1)" class="btn btn-circle btnTabuleiro txtDonatorEsqSup1 @(tabuleiro.DonatorEsqSup1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqSup1 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup2 + ".png")' ?v=@Helpers.Local.Versao class="DonatorEsqSup2">
            <button id="DonatorEsqSup2" data-name="donator" data-id="@(tabuleiro.DonatorEsqSup2)" class="btn btn-circle btnTabuleiro txtDonatorEsqSup2 @(tabuleiro.DonatorEsqSup2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqSup2 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf1 + ".png")' ?v=@Helpers.Local.Versao class="DonatorEsqInf1">
            <button id="DonatorEsqInf1" data-name="donator" data-id="@(tabuleiro.DonatorEsqInf1)" class="btn btn-circle btnTabuleiro txtDonatorEsqInf1 @(tabuleiro.DonatorEsqInf1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqInf1 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf2 + ".png")' ?v=@Helpers.Local.Versao class="DonatorEsqInf2">
            <button id="DonatorEsqInf2" data-name="donator" data-id="@(tabuleiro.DonatorEsqInf2)" class="btn btn-circle btnTabuleiro txtDonatorEsqInf2 @(tabuleiro.DonatorEsqInf2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqInf2 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup1 + ".png")' ?v=@Helpers.Local.Versao class="DonatorDirSup1">
            <button id="DonatorDirSup1" data-name="donator" data-id="@(tabuleiro.DonatorDirSup1)" class="btn btn-circle btnTabuleiro txtDonatorDirSup1 @(tabuleiro.DonatorDirSup1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirSup1 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup2 + ".png")' ?v=@Helpers.Local.Versao class="DonatorDirSup2">
            <button id="DonatorDirSup2" data-name="donator" data-id="@(tabuleiro.DonatorDirSup2)" class="btn btn-circle btnTabuleiro txtDonatorDirSup2 @(tabuleiro.DonatorDirSup2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirSup2 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf1 + ".png")' ?v=@Helpers.Local.Versao class="DonatorDirInf1">
            <button id="DonatorDirInf1" data-name="donator" data-id="@(tabuleiro.DonatorDirInf1)" class="btn btn-circle btnTabuleiro txtDonatorDirInf1 @(tabuleiro.DonatorDirInf1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirInf1 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf2 + ".png")' ?v=@Helpers.Local.Versao class="DonatorDirInf2">
            <button id="DonatorDirInf2" data-name="donator" data-id="@(tabuleiro.DonatorDirInf2)" class="btn btn-circle btnTabuleiro txtDonatorDirInf2 @(tabuleiro.DonatorDirInf2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirInf2 == 0 ? "hidden" : "")">@(traducaoHelper["CONVIDADO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqSup + ".png")' ?v=@Helpers.Local.Versao class="IndicatorEsqSup">
            <button id="IndicatorEsqSup" data-name="indicator" data-id="@(tabuleiro.IndicatorEsqSup)" class="btn btn-circle btnTabuleiro txtIndicatorEsqSup @(tabuleiro.IndicatorEsqSup == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorEsqSup == 0 ? "hidden" : "")">@(traducaoHelper["ANFITRIAO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqInf + ".png")' ?v=@Helpers.Local.Versao class="IndicatorEsqInf">
            <button id="IndicatorEsqInf" data-name="indicator" data-id="@(tabuleiro.IndicatorEsqInf)" class="btn btn-circle btnTabuleiro txtIndicatorEsqInf @(tabuleiro.IndicatorEsqInf == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorEsqInf == 0 ? "hidden" : "")">@(traducaoHelper["ANFITRIAO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirSup + ".png")' ?v=@Helpers.Local.Versao class="IndicatorDirSup">
            <button id="IndicatorDirSup" data-name="indicator" data-id="@(tabuleiro.IndicatorDirSup)" class="btn btn-circle btnTabuleiro txtIndicatorDirSup @(tabuleiro.IndicatorDirSup == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorDirSup == 0 ? "hidden" : "")">@(traducaoHelper["ANFITRIAO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirInf + ".png")' ?v=@Helpers.Local.Versao class="IndicatorDirInf">
            <button id="IndicatorDirInf" data-name="indicator" data-id="@(tabuleiro.IndicatorDirInf)" class="btn btn-circle btnTabuleiro txtIndicatorDirInf @(tabuleiro.IndicatorDirInf == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorDirInf == 0 ? "hidden" : "")">@(traducaoHelper["ANFITRIAO"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorEsq + ".png")' ?v=@Helpers.Local.Versao class="CoordinatorEsq">
            <button id="CoordinatorEsq" data-name="coordinator" data-id="@(tabuleiro.CoordinatorEsq)" class="btn btn-circle btnTabuleiro txtCoordinatorEsq @(tabuleiro.CoordinatorEsq == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinCoordinatorEsq == 0 ? "hidden" : "")">@(traducaoHelper["SUPERVISOR"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorDir + ".png")' ?v=@Helpers.Local.Versao class="CoordinatorDir">
            <button id="CoordinatorDir" data-name="coordinator" data-id="@(tabuleiro.CoordinatorDir)" class="btn btn-circle btnTabuleiro txtCoordinatorDir @(tabuleiro.CoordinatorDir == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinCoordinatorDir == 0 ? "hidden" : "")">@(traducaoHelper["SUPERVISOR"])</button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinMaster + ".png")' ?v=@Helpers.Local.Versao class="Master">
            <button id="master" data-name="master" data-id="@(tabuleiro.Master)" class="btn btn-circle btnTabuleiro txtMaster @(tabuleiro.Master == idUsuario ? "btn-warning" : "btn-success") btn-sm @(tabuleiro.pinMaster == 0 ? "hidden" : "")">@traducaoHelper["ALVO"]</button>

        </div>
    </div>
</div>

<!-- Convites -->
@if (tabuleiroNivelConvites != null)
{

    <div class="portlet" style="padding-left: 0; padding-right: 10px; background-color: transparent; max-width: 1600px;">
        <div class="portlet-body">
            <div class="row" style="max-width: 980px">
                <div class="col-md-12 padding-lateral-10">
                    <div class="portlet-body expand" style="padding:0px 0px 10px 0px!important;">
                        @foreach (var item in tabuleiroNivelConvites)
                        {
                            //CONVITE
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 " style="margin: 0px; padding: 0px 10px 0px 0px; background-color: transparent;">
                                <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Niveis/" + item.BoardID + ".png")' ?v=@Helpers.Local.Versao style="vertical-align: top; height: 64px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="icon-bg">
                                <div class="card-frame card-home springgreen-card convite" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                    <div class="col-md-12 card-title-div"><span class="card-title-txt">@traducaoHelper["CONVITE"]</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content-txt">@(traducaoHelper[item.BoardNome])</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content2-txt">@(traducaoHelper[item.Posicao])</span></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (tabuleiroNivelAtivos != null)
{
    <!-- Niveis -->
    <div class="portlet" style="padding-left: 0; padding-right: 10px; padding-top:0px; margin-top: 0; background-color: transparent; max-width: 1600px;">
        <div class="portlet-body">
            <div class="row" style="max-width: 980px">
                <div class="col-md-12 padding-lateral-10">
                    <div class="portlet-body expand" style="padding:0px 0px 10px 0px!important;">
                        <div class="tiles">
                            @foreach (var item in tabuleiroNivelAtivos)
                            {
                                switch (item.BoardNome.Substring(0, 3).ToLower())
                                {
                                    case "mer":
                                        planetaCor = "grey-card";
                                        break;
                                    case "sat":
                                        planetaCor = "green-card";
                                        break;
                                    case "mar":
                                        planetaCor = "red-card";
                                        break;
                                    case "jup":
                                        planetaCor = "pink-card";
                                        break;
                                    case "ven":
                                        planetaCor = "orange-card";
                                        break;
                                    case "ura":
                                        planetaCor = "blue-card";
                                        break;
                                    case "ter":
                                        planetaCor = "turquoise-card";
                                        break;
                                    case "sol":
                                        planetaCor = "gold-card";
                                        break;
                                    default:
                                        planetaCor = "orange-card";
                                        break;
                                }

                                //ATIVOS
                                <div class="tile double @(idTabuleiro == item.TabuleiroID ? "selected": "") @(planetaCor)"  style="max-height: 110px;">
                                    <div class="corner"> </div>
                                    <div class="check"> </div>
                                    <div class="tile-body" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                        <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Niveis/" + item.BoardID + ".png")' ?v=@Helpers.Local.Versao style="vertical-align: top; height: 86px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="pull-right">
                                        <h3>@(traducaoHelper[item.BoardNome])</h3>
                                        <p>@traducaoHelper[item.Posicao]</p>
                                    </div>
                                    <div class="tile-object">
                                        <div class="name">
                                            @traducaoHelper["ATIVO"]
                                        </div>
                                        <div class="number"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Dados -->
<div id="modDados" class="modal fade modalPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #eee;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="infoTitulo"></h4>
            </div>
            <div class="modal-body" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="font-weight: 500;">@(traducaoHelper["NOME"])</h3>
                        <h3 style="padding-left: 10px;" id="infoNome"></h3>
                        <h3 style="font-weight: 500;">@(traducaoHelper["CELULAR"]) @(traducaoHelper["IDIOMA"] == "pt-BR" ? "(PIX)" : "")</h3>
                        <h3 style="padding-left: 10px;" id="infoCelular"></h3>
                        <h3 style="font-weight: 500;" id="carteiraHeader">@(traducaoHelper["CARTEIRA_BTC"])</h3>
                        <h3 style="padding-left: 10px;" id="infoCripto"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #eee;">
                <button data-dismiss="modal" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>
