@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region init

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    #endregion

    #region ViewBags

    int idUsuario = ViewBag.idUsuario;

    var usuarioAtual = (Core.Entities.Usuario)ViewBag.Nivel1;

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelConvites = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelConvite;
    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelAtivos = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelAtivos;

    string planetaCor = "";

    int idTabuleiro = ViewBag.idTabuleiro;
    Core.Models.TabuleiroModel tabuleiro = (Core.Models.TabuleiroModel)ViewBag.tabuleiro;

    ViewBag.Title = traducaoHelper["MINHA_REDE"].ToLower();

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/home")
    <link rel="stylesheet" href="~/Content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/home/styles.css">
}

@section head {
}

@section pageScripts {
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/countUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var width = 0;
        var posWidth = 10;

        $(function () {
            position();
        });

        function position() {

            //var position = $('.porTabuleiro').offset();
            var position = $('.porTabuleiro').offset();
            var area = width - $('.porTabuleiro').width() - 275;

            $('.porTabuleiro').css({
                "width": "980px",
                "height": "680px",
            });
            $('.galaxy').css({
                "width": "980px",
                "height": "680px",
                "border": "none",
            });

            if (width > 0) {
                $('.txtTitle').html('width:' + width.toString() + ' area=' + area + ' | x=' + position.left); //275
            }

            var alinhaTxtTop = 26;
            var alinhaTxtLeft = -10;

            var ajustTop = 0;
            var ajustLeft = 0;

            //width > 1200
            var xDonatorEsqSup1Top = 10;
            var yDonatorEsqSup1Left = 240;
            var xDonatorEsqSup2Top = 130;
            var yDonatorEsqSup2Left = 60;
            var xDonatorEsqInf1Top = 350;
            var yDonatorEsqInf1Left = 160;
            var xDonatorEsqInf2Top = 570;
            var yDonatorEsqInf2Left = 280;

            var xDonatorDirSup1Top = 30;
            var yDonatorDirSup1Left = 660;
            var xDonatorDirSup2Top = 250;
            var yDonatorDirSup2Left = 760;
            var xDonatorDirInf1Top = 420;
            var yDonatorDirInf1Left = 810;
            var xDonatorDirInf2Top =  540;
            var yDonatorDirInf2Left = 680;

            var xIndicatorEsqSupTop = 170;
            var yIndicatorEsqSupLeft = 250;
            var xIndicatorEsqInfTop = 440;
            var yIndicatorEsqInfLeft = 320;
            var xIndicatorDirSupTop = 140;
            var xIndicatorDirSupLeft = 590;
            var xIndicatorDirInfTop = 410;
            var xIndicatorDirInfLeft = 660;

            var xCoordinatorEsqTop = 300;
            var yCoordinatorEsqLeft = 270;
            var xCoordinatorDirTop = 300;
            var yCoordinatorDirLeft = 580;

            var xMasterTop = 290;
            var yMasterLeft = 420;
            //0
            //1 - 0
            if (width > 1170 && width <= 1200) {
                $('.porTabuleiro').css({
                    "width": "900px",
                    "height": "680px",
                });
                $('.galaxy').css({
                    "width": "900px",
                    "height": "680px",
                });
                ajustLeft = -36;
            }
            //2 - 0
            if (width > 991 && width <= 1170) {
                $('.porTabuleiro').css({
                    "width": "720px",
                    "height": "680px",
                });
                $('.galaxy').css({
                    "width": "720px",
                    "height": "680px",
                });
                xDonatorEsqSup2Top = 160;
                yDonatorEsqSup2Left = 120;
                xDonatorDirSup2Top = 220;
                yDonatorDirSup2Left = 710;
                xIndicatorDirInfTop = 460;
                xIndicatorDirInfLeft = 580;
                xDonatorDirInf1Top = 400;
                yDonatorDirInf1Left = 700;
                ajustLeft = -126;
            }

            //0 - 0
            if (width > 961 && width <= 991) {
                $('.porTabuleiro').css({
                    "width": "980px",
                    "height": "680px",
                });
                $('.galaxy').css({
                    "width": "980px",
                    "height": "680px",
                });
            }

            //1 - 1
            if (width > 931 && width <= 961) {
                $('.porTabuleiro').css({
                    "width": "900px",
                    "height": "680px",
                });
                $('.galaxy').css({
                    "width": "900px",
                    "height": "680px",
                });
                ajustLeft = -36;
            }

            //2 - 1
            if (width > 752 && width <= 931) {
                $('.porTabuleiro').css({
                    "width": "720px",
                    "height": "680px",
                });
                $('.galaxy').css({
                    "width": "720px",
                    "height": "680px",
                    "border": "1px solid blue",
                });
                xDonatorEsqSup2Top = 160;
                yDonatorEsqSup2Left = 120;
                xDonatorDirSup2Top = 220;
                yDonatorDirSup2Left = 710;
                xIndicatorDirInfTop = 460;
                xIndicatorDirInfLeft = 580;
                xDonatorDirInf1Top = 400;
                yDonatorDirInf1Left = 700;
                ajustLeft = -126;
            }

            //3 - 1
            if (width > 580 && width <= 752) {
                $('.porTabuleiro').css({
                    "width": "580px",
                    "height": "780px",
                });
                $('.galaxy').css({
                    "width": "580px",
                    "height": "780px",
                    "border": "1px solid yellow",
                });

                xIndicatorDirSupTop = 140;
                xIndicatorDirSupLeft = 520;
                xIndicatorDirInfTop = 440;
                xIndicatorDirInfLeft = 600;

                xIndicatorEsqSupTop = 110;
                yIndicatorEsqSupLeft = 280;
                xIndicatorEsqInfTop = 440;
                yIndicatorEsqInfLeft = 320;

                xDonatorDirSup1Top = 0;
                yDonatorDirSup1Left = 500;
                xDonatorDirSup2Top = 60;
                yDonatorDirSup2Left = 640;

                xDonatorDirInf1Top = 550;
                yDonatorDirInf1Left = 650;
                xDonatorDirInf2Top = 540;
                yDonatorDirInf2Left = 480;

                xDonatorEsqSup1Top = -40;
                yDonatorEsqSup1Left = 320;
                xDonatorEsqSup2Top = 200;
                yDonatorEsqSup2Left = 190;

                xDonatorEsqInf1Top = 390;
                yDonatorEsqInf1Left = 190;

                xDonatorEsqInf2Top = 570;
                yDonatorEsqInf2Left = 280;

                ajustLeft = -194;
                ajustTop = 50;

            }

            
            var posDonatorEsqSup1Top = ajustTop + xDonatorEsqSup1Top;
            var posDonatorEsqSup1Left = ajustLeft + yDonatorEsqSup1Left;
            var posTxtDonatorEsqSup1Top = posDonatorEsqSup1Top + alinhaTxtTop;
            var posTxtDonatorEsqSup1Left = posDonatorEsqSup1Left + alinhaTxtLeft;

            var posDonatorEsqSup2Top = ajustTop + xDonatorEsqSup2Top;
            var posDonatorEsqSup2Left = ajustLeft + yDonatorEsqSup2Left;
            var posTxtDonatorEsqSup2Top = posDonatorEsqSup2Top + alinhaTxtTop;
            var posTxtDonatorEsqSup2Left = posDonatorEsqSup2Left + alinhaTxtLeft;

            var posDonatorEsqInf1Top = ajustTop + xDonatorEsqInf1Top;
            var posDonatorEsqInf1Left = ajustLeft + yDonatorEsqInf1Left;
            var posTxtDonatorEsqInf1Top = posDonatorEsqInf1Top + alinhaTxtTop;
            var posTxtDonatorEsqInf1Left = posDonatorEsqInf1Left + alinhaTxtLeft;

            var posDonatorEsqInf2Top = ajustTop + xDonatorEsqInf2Top;
            var posDonatorEsqInf2Left = ajustLeft + yDonatorEsqInf2Left;
            var posTxtDonatorEsqInf2Top = posDonatorEsqInf2Top + alinhaTxtTop;
            var posTxtDonatorEsqInf2Left = posDonatorEsqInf2Left + alinhaTxtLeft;

            var posDonatorDirSup1Top = ajustTop + xDonatorDirSup1Top;
            var posDonatorDirSup1Left = ajustLeft + yDonatorDirSup1Left;
            var posTxtDonatorDirSup1Top = posDonatorDirSup1Top + alinhaTxtTop;
            var posTxtDonatorDirSup1Left = posDonatorDirSup1Left + alinhaTxtLeft;

            var posDonatorDirSup2Top = ajustTop + xDonatorDirSup2Top;
            var posDonatorDirSup2Left = ajustLeft + yDonatorDirSup2Left;
            var posTxtDonatorDirSup2Top = posDonatorDirSup2Top + alinhaTxtTop;
            var posTxtDonatorDirSup2Left = posDonatorDirSup2Left + alinhaTxtLeft;

            var posDonatorDirInf1Top = ajustTop + xDonatorDirInf1Top;
            var posDonatorDirInf1Left = ajustLeft + yDonatorDirInf1Left;
            var posTxtDonatorDirInf1Top = posDonatorDirInf1Top + alinhaTxtTop;
            var posTxtDonatorDirInf1Left = posDonatorDirInf1Left + alinhaTxtLeft;

            var posDonatorDirInf2Top = ajustTop + xDonatorDirInf2Top;
            var posDonatorDirInf2Left = ajustLeft + yDonatorDirInf2Left;
            var posTxtDonatorDirInf2Top = posDonatorDirInf2Top + alinhaTxtTop;
            var posTxtDonatorDirInf2Left = posDonatorDirInf2Left + alinhaTxtLeft;

            var posIndicatorEsqSupTop = ajustTop + xIndicatorEsqSupTop;
            var posIndicatorEsqSupLeft = ajustLeft + yIndicatorEsqSupLeft;
            var posTxtIndicatorEsqSupTop = posIndicatorEsqSupTop + alinhaTxtTop;
            var posTxtIndicatorEsqSupLeft = posIndicatorEsqSupLeft + alinhaTxtLeft;

            var posIndicatorEsqInfTop = ajustTop + xIndicatorEsqInfTop;
            var posIndicatorEsqInfLeft = ajustLeft + yIndicatorEsqInfLeft;
            var posTxtIndicatorEsqInfTop = posIndicatorEsqInfTop + alinhaTxtTop;
            var posTxtIndicatorEsqInfLeft = posIndicatorEsqInfLeft + alinhaTxtLeft;

            var posIndicatorDirSupTop = ajustTop + xIndicatorDirSupTop;
            var posIndicatorDirSupLeft = ajustLeft + xIndicatorDirSupLeft;
            var posTxtIndicatorDirSupTop = posIndicatorDirSupTop + alinhaTxtTop;
            var posTxtIndicatorDirSupLeft = posIndicatorDirSupLeft + alinhaTxtLeft;

            var posIndicatorDirInfTop = ajustTop + xIndicatorDirInfTop;
            var posIndicatorDirInfLeft = ajustLeft + xIndicatorDirInfLeft;
            var posTxtIndicatorDirInfTop = posIndicatorDirInfTop + alinhaTxtTop;
            var posTxtIndicatorDirInfLeft = posIndicatorDirInfLeft + alinhaTxtLeft;

            var posCoordinatorEsqTop = ajustTop + xCoordinatorEsqTop;
            var posCoordinatorEsqLeft = ajustLeft + yCoordinatorEsqLeft;
            var posTxtCoordinatorEsqTop = posCoordinatorEsqTop + alinhaTxtTop;
            var posTxtCoordinatorEsqLeft = posCoordinatorEsqLeft + alinhaTxtLeft;

            var posCoordinatorDirTop = ajustTop + xCoordinatorDirTop;
            var posCoordinatorDirLeft = ajustLeft + yCoordinatorDirLeft;
            var posTxtCoordinatorDirTop = posCoordinatorDirTop + alinhaTxtTop;
            var posTxtCoordinatorDirLeft = posCoordinatorDirLeft + alinhaTxtLeft;

            var posMasterTop = ajustTop + xMasterTop;
            var posMasterLeft = ajustLeft + yMasterLeft;
            var posTxtMasterTop = posMasterTop + alinhaTxtTop;
            var posTxtMasterLeft = posMasterLeft + alinhaTxtLeft;

            $('.DonatorEsqSup1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqSup1Top + 'px; left: ' + posDonatorEsqSup1Left + 'px;');
            $('.txtDonatorEsqSup1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqSup1Top + 'px; left: ' + posTxtDonatorEsqSup1Left + 'px;');

            $('.DonatorEsqSup2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqSup2Top + 'px; left: ' + posDonatorEsqSup2Left + 'px;');
            $('.txtDonatorEsqSup2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqSup2Top + 'px; left: ' + posTxtDonatorEsqSup2Left + 'px;');

            $('.DonatorEsqInf1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqInf1Top + 'px; left: ' + posDonatorEsqInf1Left + 'px;');
            $('.txtDonatorEsqInf1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqInf1Top + 'px; left: ' + posTxtDonatorEsqInf1Left + 'px;');

            $('.DonatorEsqInf2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorEsqInf2Top + 'px; left: ' + posDonatorEsqInf2Left + 'px;');
            $('.txtDonatorEsqInf2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorEsqInf2Top + 'px; left: ' + posTxtDonatorEsqInf2Left + 'px;');

            $('.DonatorDirSup1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirSup1Top + 'px; left: ' + posDonatorDirSup1Left + 'px;');
            $('.txtDonatorDirSup1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirSup1Top + 'px; left: ' + posTxtDonatorDirSup1Left + 'px;');

            $('.DonatorDirSup2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirSup2Top + 'px; left: ' + posDonatorDirSup2Left + 'px;');
            $('.txtDonatorDirSup2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirSup2Top + 'px; left: ' + posTxtDonatorDirSup2Left + 'px;');

            $('.DonatorDirInf1').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirInf1Top + 'px; left: ' + posDonatorDirInf1Left + 'px;');
            $('.txtDonatorDirInf1').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirInf1Top + 'px; left: ' + posTxtDonatorDirInf1Left + 'px;');

            $('.DonatorDirInf2').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posDonatorDirInf2Top + 'px; left: ' + posDonatorDirInf2Left + 'px;');
            $('.txtDonatorDirInf2').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtDonatorDirInf2Top + 'px; left: ' + posTxtDonatorDirInf2Left + 'px;');

            $('.IndicatorEsqSup').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorEsqSupTop + 'px; left: ' + posIndicatorEsqSupLeft + 'px;');
            $('.txtIndicatorEsqSup').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorEsqSupTop + 'px; left: ' + posTxtIndicatorEsqSupLeft + 'px;');

            $('.IndicatorEsqInf').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorEsqInfTop + 'px; left: ' + posIndicatorEsqInfLeft + 'px;');
            $('.txtIndicatorEsqInf').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorEsqInfTop + 'px; left: ' + posTxtIndicatorEsqInfLeft + 'px;');

            $('.IndicatorDirSup').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorDirSupTop + 'px; left: ' + posIndicatorDirSupLeft + 'px;');
            $('.txtIndicatorDirSup').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorDirSupTop + 'px; left: ' + posTxtIndicatorDirSupLeft + 'px;');

            $('.IndicatorDirInf').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posIndicatorDirInfTop + 'px; left: ' + posIndicatorDirInfLeft + 'px;');
            $('.txtIndicatorDirInf').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtIndicatorDirInfTop + 'px; left: ' + posTxtIndicatorDirInfLeft + 'px;');

            $('.CoordinatorEsq').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posCoordinatorEsqTop + 'px; left: ' + posCoordinatorEsqLeft + 'px;');
            $('.txtCoordinatorEsq').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtCoordinatorEsqTop + 'px; left: ' + posTxtCoordinatorEsqLeft + 'px;');

            $('.CoordinatorDir').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posCoordinatorDirTop + 'px; left: ' + posCoordinatorDirLeft + 'px;');
            $('.txtCoordinatorDir').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtCoordinatorDirTop + 'px; left: ' + posTxtCoordinatorDirLeft + 'px;');

            $('.Master').attr('style', 'height: @(ViewBag.height); width: @(ViewBag.width); position: absolute; top: ' + posMasterTop + 'px; left: ' + posMasterLeft + 'px;');
            $('.txtMaster').attr('style', 'max-width: @(ViewBag.txtMaxWidth); width: @(ViewBag.txtMaxWidth); position: absolute; top: ' + posTxtMasterTop + 'px; left: ' + posTxtMasterLeft + 'px;');

            $(".corner").addClass('hidden');
            $(".check").addClass('hidden');

            $("#cor_@idTabuleiro").removeClass('hidden');
            $("#chk_@idTabuleiro").removeClass('hidden');
            $("#tab_@idTabuleiro").addClass('selected');

        }

        function widthResizer() {
            width = window.innerWidth;
            position();
        }

        // Getting the width of the browser on load
        widthResizer()

        // Getting the width of the browser whenever the screen resolution changes.
        window.addEventListener('resize', widthResizer)

        $('.btnTabuleiro').on('click', function () {
            var idTarget = $(this).attr("data-id");
            var idTabuleiro = $('#tabuleiro').val();
            var nivel = $(this).attr("data-name");
            if (idTarget == $('#Master').attr("data-id") || $('#Master').attr("data-id") == @idUsuario) {
                $.ajax({
                    url: "@Url.Action("GetDados")",
                    type: "POST",
                    data: {
                        'usuarioID': '@(idUsuario)',
                        'targetID': idTarget,
                        'tabuleiroID': idTabuleiro,
                        'nivel': nivel,
                        'token': '@(ViewBag.Token)'
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#infoNome").html(data.Nome);
                            $("#infoCelular").html(data.Celular);
                            $("#qrCodePIX").attr('src', 'https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=' + data.Celular);
                            $("#infoTitulo").html('@(traducaoHelper["ALVO"])');

                            if (data.Carteira) {
                                $("#infoCripto").html(data.Carteira);
                                $("#carteiraHeader").show();
                                $("#infoCripto").show();
                                $("#qrCodeBTC").attr('src', 'https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=' + data.Carteira);
                            } else {
                                $("#carteiraHeader").html('@traducaoHelper["CARTEIRA_BTC_NAO_CADASTRADA"]');
                            }

                            if ($('#Master').attr("data-id") == @idUsuario) {
                                $(".panelBTC").hide();
                                $("#qrCodePIX").hide();
                            }

                            $('#modDados').modal('show');
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ALERTA"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["SEM_DADOS"]',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (thrownError.toString() == '@traducaoHelper["TOKEN_INVALIDO"]') {
                            //Reload page
                            location.reload();
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ERRO"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["ERRO"]:' + thrownError.toString(),
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                });
            }
        });

        $('.niveis').on('click', function () {
            var idTabuleiro = $(this).attr("data-id");

            if (idTabuleiro > 0) {
                $.ajax({
                    url: "@Url.Action("GetTabuleiro")",
                    type: "POST",
                    data: {
                        'usuarioID': '@(idUsuario)',
                        'tabuleiroID': idTabuleiro,
                        'token': '@(ViewBag.Token)'
                    },
                    success: function (data) {
                        if (data != null) {
                            $(".corner").addClass('hidden');
                            $(".check").addClass('hidden');
                            $(".tile").removeClass('selected');

                            $("#cor_" + idTabuleiro.toString()).removeClass('hidden');
                            $("#chk_" + idTabuleiro.toString()).removeClass('hidden');
                            $("#tab_" + idTabuleiro.toString()).addClass('selected');

                            //Master
                            $(".Master").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorEsq + ".png?v=" + @Helpers.Local.Versao))');
                            $("#Master").attr('data-id', '@(tabuleiro.Master)');
                            $("#Master").removeClass('btn-success');
                            $("#Master").removeClass('btn-warning');

                            if (data.Master == '@idUsuario') {
                                $("#Master").addClass('btn-warning');
                            } else {
                                $("#Master").addClass('btn-success');
                            }
                            if (data.PinMaster == '0') {
                                $("#Master").addClass('hidden');
                            }
                            //CoordinatorDir
                            $(".CoordinatorDir").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorEsq + ".png?v=" + @Helpers.Local.Versao))');
                            $("#CoordinatorDir").attr('data-id', '@(tabuleiro.CoordinatorDir)');
                            $("#CoordinatorDir").removeClass('btn-success');
                            $("#CoordinatorDir").removeClass('btn-info');

                            if (data.CoordinatorDir == '@idUsuario') {
                                $("#CoordinatorDir").addClass('btn-warning');
                            } else {
                                $("#CoordinatorDir").addClass('btn-info');
                            }
                            if (data.pinCoordinatorDir == 0) {
                                $("#CoordinatorDir").addClass('hidden');
                            }
                            //CoordinatorEsq
                            $(".CoordinatorEsq").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorEsq + ".png?v=" + @Helpers.Local.Versao))');
                            $("#CoordinatorEsq").attr('data-id', '@(tabuleiro.CoordinatorEsq)');
                            $("#CoordinatorEsq").removeClass('btn-success');
                            $("#CoordinatorEsq").removeClass('btn-info');

                            if (data.CoordinatorEsq == '@idUsuario') {
                                $("#CoordinatorEsq").addClass('btn-warning');
                            } else {
                                $("#CoordinatorEsq").addClass('btn-info');
                            }
                            if (data.PinCoordinatorEsq == '0') {
                                $("#CoordinatorEsq").addClass('hidden');
                            }
                            //IndicatorDirInf
                            $(".IndicatorDirInf").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirInf + ".png?v=" + @Helpers.Local.Versao))');
                            $("#IndicatorDirInf").attr('data-id', '@(tabuleiro.IndicatorDirInf)');
                            $("#IndicatorDirInf").removeClass('btn-success');
                            $("#IndicatorDirInf").removeClass('btn-info');

                            if (data.IndicatorDirInf == '@idUsuario') {
                                $("#IndicatorDirInf").addClass('btn-warning');
                            } else {
                                $("#IndicatorDirInf").addClass('btn-info');
                            }
                            if (data.pinIndicatorDirInf == 0) {
                                $("#IndicatorDirInf").addClass('hidden');
                            }
                            //IndicatorDirSup
                            $(".IndicatorDirSup").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirSup + ".png?v=" + @Helpers.Local.Versao))');
                            $("#IndicatorDirSup").attr('data-id', '@(tabuleiro.IndicatorDirSup)');
                            $("#IndicatorDirSup").removeClass('btn-success');
                            $("#IndicatorDirSup").removeClass('btn-info');

                            if (data.IndicatorDirSup == '@idUsuario') {
                                $("#IndicatorDirSup").addClass('btn-warning');
                            } else {
                                $("#IndicatorDirSup").addClass('btn-info');
                            }
                            if (data.PinIndicatorDirSup == '0') {
                                $("#IndicatorDirSup").addClass('hidden');
                            }
                            //IndicatorEsqInf
                            $(".IndicatorEsqInf").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqInf + ".png?v=" + @Helpers.Local.Versao))');
                            $("#IndicatorEsqInf").attr('data-id', '@(tabuleiro.IndicatorEsqInf)');
                            $("#IndicatorEsqInf").removeClass('btn-success');
                            $("#IndicatorEsqInf").removeClass('btn-info');

                            if (data.IndicatorEsqInf == '@idUsuario') {
                                $("#IndicatorEsqInf").addClass('btn-warning');
                            } else {
                                $("#IndicatorEsqInf").addClass('btn-info');
                            }
                            if (data.pinIndicatorEsqInf == 0) {
                                $("#IndicatorEsqInf").addClass('hidden');
                            }
                            //IndicatorEsqSup
                            $(".IndicatorEsqSup").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqSup + ".png?v=" + @Helpers.Local.Versao))');
                            $("#IndicatorEsqSup").attr('data-id', '@(tabuleiro.IndicatorEsqSup)');
                            $("#IndicatorEsqSup").removeClass('btn-success');
                            $("#IndicatorEsqSup").removeClass('btn-info');

                            if (data.IndicatorEsqSup == '@idUsuario') {
                                $("#IndicatorEsqSup").addClass('btn-warning');
                            } else {
                                $("#IndicatorEsqSup").addClass('btn-info');
                            }
                            if (data.PinIndicatorEsqSup == '0') {
                                $("#IndicatorEsqSup").addClass('hidden');
                            }
                            //DonatorDirInf2
                            $(".DonatorDirInf2").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf2 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorDirInf2").attr('data-id', '@(tabuleiro.DonatorDirInf2)');
                            $("#DonatorDirInf2").removeClass('btn-success');
                            $("#DonatorDirInf2").removeClass('btn-info');

                            if (data.DonatorDirInf2 == '@idUsuario') {
                                $("#DonatorDirInf2").addClass('btn-warning');
                            } else {
                                $("#DonatorDirInf2").addClass('btn-info');
                            }
                            if (data.pinDonatorDirInf2 == 0) {
                                $("#DonatorDirInf2").addClass('hidden');
                            }
                            //DonatorDirInf1
                            $(".DonatorDirInf1").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf1 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorDirInf1").attr('data-id', '@(tabuleiro.DonatorDirInf1)');
                            $("#DonatorDirInf1").removeClass('btn-success');
                            $("#DonatorDirInf1").removeClass('btn-info');

                            if (data.DonatorDirInf1 == '@idUsuario') {
                                $("#DonatorDirInf1").addClass('btn-warning');
                            } else {
                                $("#DonatorDirInf1").addClass('btn-info');
                            }
                            if (data.PinDonatorDirInf1 == '0') {
                                $("#DonatorDirInf1").addClass('hidden');
                            }
                            //DonatorDirSup2
                            $(".DonatorDirSup2").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup2 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorDirSup2").attr('data-id', '@(tabuleiro.DonatorDirSup2)');
                            $("#DonatorDirSup2").removeClass('btn-success');
                            $("#DonatorDirSup2").removeClass('btn-info');

                            if (data.DonatorDirSup2 == '@idUsuario') {
                                $("#DonatorDirSup2").addClass('btn-warning');
                            } else {
                                $("#DonatorDirSup2").addClass('btn-info');
                            }
                            if (data.pinDonatorDirSup2 == 0) {
                                $("#DonatorDirSup2").addClass('hidden');
                            }
                            //DonatorDirSup1
                            $(".DonatorDirSup1").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup1 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorDirSup1").attr('data-id', '@(tabuleiro.DonatorDirSup1)');
                            $("#DonatorDirSup1").removeClass('btn-success');
                            $("#DonatorDirSup1").removeClass('btn-info');

                            if (data.DonatorDirSup1 == '@idUsuario') {
                                $("#DonatorDirSup1").addClass('btn-warning');
                            } else {
                                $("#DonatorDirSup1").addClass('btn-info');
                            }
                            if (data.PinDonatorDirSup1 == '0') {
                                $("#DonatorDirSup1").addClass('hidden');
                            }
                            //DonatorEsqInf2
                            $(".DonatorEsqInf2").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf2 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorEsqInf2").attr('data-id', '@(tabuleiro.DonatorEsqInf2)');
                            $("#DonatorEsqInf2").removeClass('btn-success');
                            $("#DonatorEsqInf2").removeClass('btn-info');

                            if (data.DonatorEsqInf2 == '@idUsuario') {
                                $("#DonatorEsqInf2").addClass('btn-warning');
                            } else {
                                $("#DonatorEsqInf2").addClass('btn-info');
                            }
                            if (data.pinDonatorEsqInf2 == 0) {
                                $("#DonatorEsqInf2").addClass('hidden');
                            }
                            //DonatorEsqInf1
                            $(".DonatorEsqInf1").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf1 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorEsqInf1").attr('data-id', '@(tabuleiro.DonatorEsqInf1)');
                            $("#DonatorEsqInf1").removeClass('btn-success');
                            $("#DonatorEsqInf1").removeClass('btn-info');

                            if (data.DonatorEsqInf1 == '@idUsuario') {
                                $("#DonatorEsqInf1").addClass('btn-warning');
                            } else {
                                $("#DonatorEsqInf1").addClass('btn-info');
                            }
                            if (data.PinDonatorEsqInf1 == '0') {
                                $("#DonatorEsqInf1").addClass('hidden');
                            }
                            //DonatorEsqSup2
                            $(".DonatorEsqSup2").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup2 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorEsqSup2").attr('data-id', '@(tabuleiro.DonatorEsqSup2)');
                            $("#DonatorEsqSup2").removeClass('btn-success');
                            $("#DonatorEsqSup2").removeClass('btn-info');

                            if (data.DonatorEsqSup2 == '@idUsuario') {
                                $("#DonatorEsqSup2").addClass('btn-warning');
                            } else {
                                $("#DonatorEsqSup2").addClass('btn-info');
                            }
                            if (data.pinDonatorEsqSup2 == 0) {
                                $("#DonatorEsqSup2").addClass('hidden');
                            }
                            //DonatorEsqSup1
                            $(".DonatorEsqSup1").attr('src', '@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup1 + ".png?v=" + @Helpers.Local.Versao))');
                            $("#DonatorEsqSup1").attr('data-id', '@(tabuleiro.DonatorEsqSup1)');
                            $("#DonatorEsqSup1").removeClass('btn-success');
                            $("#DonatorEsqSup1").removeClass('btn-info');
                            if (data.DonatorEsqSup1 == '@idUsuario') {
                                $("#DonatorEsqSup1").addClass('btn-warning');
                            } else {
                                $("#DonatorEsqSup1").addClass('btn-info');
                            }
                            if (data.pinDonatorEsqSup1 == 0) {
                                $("#DonatorEsqSup1").addClass('hidden');
                            } else {
                                $("#DonatorEsqSup1").removeClass('hidden');
                            }
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ALERTA"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["SEM_DADOS"]',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (thrownError.toString() == '@traducaoHelper["TOKEN_INVALIDO"]') {
                            //Reload page
                            location.reload();
                        } else {
                            Swal.fire({
                                title: '@traducaoHelper["ERRO"]: ' + xhr.status + '!',
                                text: '@traducaoHelper["ERRO"]:' + thrownError.toString(),
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                });
            } else {
                 Swal.fire({
                     title: '@traducaoHelper["ALERTA"]: ' + xhr.status + '!',
                     text: 'target=',
                     icon: 'warning',
                     confirmButtonText: 'OK'
                });
            }
        });

        //Contador de tempo para pagamento
        const second = 1000;
        const minute = second * 60;
        const hour = minute * 60;
        let count_down = new Date('03/26/2024 18:30:00').getTime();
        let x = setInterval(() => countDown(), second);
        function countDown() {
            let now = new Date(Date.now()).getTime();
            let diff = count_down - now;
            if (diff > 0) {
                //document.getElementById('days').innerText = Math.floor(diff / day);
                //document.getElementById('hours').innerText = Math.floor(diff % day / hour);
                document.getElementById('minutes').innerText = Math.floor(diff % hour / minute);
                document.getElementById('seconds').innerText = Math.floor(diff % minute / second);

                $("#tempo").removeClass('hidden');
                $("#minutes").removeClass('hidden');
                $("#pontos").removeClass('hidden');
                $("#seconds").removeClass('hidden');
                $("#tempoEsgotado").addClass('hidden');
            } else {
                $("#tempo").removeClass('hidden');
                $("#minutes").addClass('hidden');
                $("#pontos").addClass('hidden');
                $("#seconds").addClass('hidden');
                $("#tempoEsgotado").removeClass('hidden');
            }
        }

    </script>
}

@section PageLevelScripts{
}

@section jQueryRead {
}

<!-- Header -->
<div class="portlet solid card-cor" style="max-width: 1600px;">
    <div class="portlet-body">
        <div class="page-head">
            <div class="row">
                <div class="column col-md-4" style="float: left; padding-left: 20px;">
                    <div class="page-title black">
                        <h2 class="black">@ViewBag.Title </h2>
                    </div>
                </div>
                <div class="column pull-right col-md-8" style="float: right;">
                    <span id="tempo" class="hidden" style="font-size: 14px; font-weight: 700;">@traducaoHelper["TEMPO_PARA_PAGAMENTO"]</span>
                    <span id="minutes" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                    <span id="pontos" class="hidden" style="font-size: 18px; font-weight: 500;">:</span>
                    <span id="seconds" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                    <span id="tempoEsgotado" class="hidden" style="font-size: 18px; font-weight: 500;">@traducaoHelper["TEMPO_ESGOTADO"]</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column" style="float: left; width: 50%; padding-left: 20px;">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">@ViewBag.Title</a>
                    </li>
                    
                </ul>
            </div>
            <div class="column" style="float: left; width: 50%; padding-left: 20px;">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <h6 class="txtTitle"></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Tabuleiro -->
<div class="portlet porTabuleiro" style="position: relative; padding: 0; padding-right: 10px; margin-bottom: 0; background-color: transparent; width: 980px; height: 680px;">
    <div class="portlet-body">
        <div class="row galaxy" style="width: 980px; height: 680px; background: url(@Url.Content("~/Arquivos/banners/" + Helpers.Local.Sistema + "/banner1.png")) no-repeat center center;">
            <input type="hidden" class="form-control" id="tabuleiro" value="@idTabuleiro" />

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup1 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorEsqSup1">
            <button id="DonatorEsqSup1" data-name="donator" data-id="@(tabuleiro.DonatorEsqSup1)" class="btn btn-circle btnTabuleiro txtDonatorEsqSup1 @(tabuleiro.DonatorEsqSup1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqSup1 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorEsqSup1</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqSup2 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorEsqSup2">
            <button id="DonatorEsqSup2" data-name="donator" data-id="@(tabuleiro.DonatorEsqSup2)" class="btn btn-circle btnTabuleiro txtDonatorEsqSup2 @(tabuleiro.DonatorEsqSup2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqSup2 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorEsqSup2</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf1 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorEsqInf1">
            <button id="DonatorEsqInf1" data-name="donator" data-id="@(tabuleiro.DonatorEsqInf1)" class="btn btn-circle btnTabuleiro txtDonatorEsqInf1 @(tabuleiro.DonatorEsqInf1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqInf1 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorEsqInf1</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorEsqInf2 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorEsqInf2">
            <button id="DonatorEsqInf2" data-name="donator" data-id="@(tabuleiro.DonatorEsqInf2)" class="btn btn-circle btnTabuleiro txtDonatorEsqInf2 @(tabuleiro.DonatorEsqInf2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorEsqInf2 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorEsqInf2</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup1 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorDirSup1">
            <button id="DonatorDirSup1" data-name="donator" data-id="@(tabuleiro.DonatorDirSup1)" class="btn btn-circle btnTabuleiro txtDonatorDirSup1 @(tabuleiro.DonatorDirSup1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirSup1 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorDirSup1</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirSup2 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorDirSup2">
            <button id="DonatorDirSup2" data-name="donator" data-id="@(tabuleiro.DonatorDirSup2)" class="btn btn-circle btnTabuleiro txtDonatorDirSup2 @(tabuleiro.DonatorDirSup2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirSup2 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorDirSup2</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf1 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorDirInf1">
            <button id="DonatorDirInf1" data-name="donator" data-id="@(tabuleiro.DonatorDirInf1)" class="btn btn-circle btnTabuleiro txtDonatorDirInf1 @(tabuleiro.DonatorDirInf1 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirInf1 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorDirInf1</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinDonatorDirInf2 + ".png?v=" + @Helpers.Local.Versao))' class="DonatorDirInf2">
            <button id="DonatorDirInf2" data-name="donator" data-id="@(tabuleiro.DonatorDirInf2)" class="btn btn-circle btnTabuleiro txtDonatorDirInf2 @(tabuleiro.DonatorDirInf2 == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinDonatorDirInf2 == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["CONVIDADO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoDonatorDirInf2</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqSup + ".png?v=" + @Helpers.Local.Versao))' class="IndicatorEsqSup">
            <button id="IndicatorEsqSup" data-name="indicator" data-id="@(tabuleiro.IndicatorEsqSup)" class="btn btn-circle btnTabuleiro txtIndicatorEsqSup @(tabuleiro.IndicatorEsqSup == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorEsqSup == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["ANFITRIAO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoIndicatorEsqSup</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorEsqInf + ".png?v=" + @Helpers.Local.Versao))' class="IndicatorEsqInf">
            <button id="IndicatorEsqInf" data-name="indicator" data-id="@(tabuleiro.IndicatorEsqInf)" class="btn btn-circle btnTabuleiro txtIndicatorEsqInf @(tabuleiro.IndicatorEsqInf == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorEsqInf == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["ANFITRIAO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoIndicatorEsqInf</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirSup + ".png?v=" + @Helpers.Local.Versao))' class="IndicatorDirSup">
            <button id="IndicatorDirSup" data-name="indicator" data-id="@(tabuleiro.IndicatorDirSup)" class="btn btn-circle btnTabuleiro txtIndicatorDirSup @(tabuleiro.IndicatorDirSup == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorDirSup == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["ANFITRIAO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoIndicatorDirSup</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinIndicatorDirInf + ".png?v=" + @Helpers.Local.Versao))' class="IndicatorDirInf">
            <button id="IndicatorDirInf" data-name="indicator" data-id="@(tabuleiro.IndicatorDirInf)" class="btn btn-circle btnTabuleiro txtIndicatorDirInf @(tabuleiro.IndicatorDirInf == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinIndicatorDirInf == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["ANFITRIAO"])</p><span style="font-size:12px;">@tabuleiro.ApelidoIndicatorDirInf</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorEsq + ".png?v=" + @Helpers.Local.Versao))' class="CoordinatorEsq">
            <button id="CoordinatorEsq" data-name="coordinator" data-id="@(tabuleiro.CoordinatorEsq)" class="btn btn-circle btnTabuleiro txtCoordinatorEsq @(tabuleiro.CoordinatorEsq == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinCoordinatorEsq == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@(traducaoHelper["SUPERVISOR"])</p><span style="font-size:12px;">@tabuleiro.ApelidoCoordinatorEsq</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinCoordinatorDir + ".png?v=" + @Helpers.Local.Versao))' class="CoordinatorDir">
            <button id="CoordinatorDir" data-name="coordinator" data-id="@(tabuleiro.CoordinatorDir)" class="btn btn-circle btnTabuleiro txtCoordinatorDir @(tabuleiro.CoordinatorDir == idUsuario ? "btn-warning" : "btn-info") btn-sm @(tabuleiro.pinCoordinatorDir == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@traducaoHelper["SUPERVISOR"]</p><span style="font-size:12px;">@tabuleiro.ApelidoCoordinatorDir</span></button>

            <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + tabuleiro.pinMaster + ".png?v=" + @Helpers.Local.Versao)' class="Master">
            <button id="Master" data-name="master" data-id="@(tabuleiro.Master)" class="btn btn-circle btnTabuleiro txtMaster @(tabuleiro.Master == idUsuario ? "btn-warning" : "btn-success") btn-sm @(tabuleiro.pinMaster == 0 ? "hidden" : "")"><p style="margin: 0; padding: 0; font-size:14px; font-weight:700;">@traducaoHelper["ALVO"]</p><span style="font-size:12px;">@tabuleiro.ApelidoMaster</span></button>

        </div>
    </div>
</div>

<!-- Convites -->
@if (tabuleiroNivelConvites != null)
{
    <div class="portlet" style="padding-left: 0; padding-right: 10px; background-color: transparent; max-width: 1600px;">
        <div class="portlet-body">
            <div class="row" style="max-width: 980px">
                <div class="col-md-12 padding-lateral-10">
                    <div class="portlet-body expand" style="padding:0px 0px 10px 0px!important;">
                        @foreach (var item in tabuleiroNivelConvites)
                        {
                            //CONVITE
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 " style="margin: 0px; padding: 0px 10px 0px 0px; background-color: transparent;">
                                <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Niveis/" + item.BoardID + ".png?v=" + @Helpers.Local.Versao))' style="vertical-align: top; height: 64px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="icon-bg">
                                <div class="card-frame card-home springgreen-card convite" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                    <div class="col-md-12 card-title-div"><span class="card-title-txt">@traducaoHelper["CONVITE"]</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content-txt">@(traducaoHelper[item.BoardNome])</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content2-txt">@(traducaoHelper[item.Posicao])</span></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Niveis -->
@if (tabuleiroNivelAtivos != null)
{
    <!-- Niveis -->
    <div class="portlet" style="padding-left: 0; padding-right: 10px; padding-top:0px; margin-top: 0; background-color: transparent; max-width: 1600px;">
        <div class="portlet-body">
            <div class="row" style="max-width: 980px">
                <div class="col-md-12 padding-lateral-10">
                    <div class="portlet-body expand" style="padding:0px 0px 10px 0px!important;">
                        <div class="tiles">
                            @foreach (var item in tabuleiroNivelAtivos)
                            {
                                switch (item.BoardNome.Substring(0, 3).ToLower())
                                {
                                    case "mer":
                                        planetaCor = "grey-card";
                                        break;
                                    case "sat":
                                        planetaCor = "green-card";
                                        break;
                                    case "mar":
                                        planetaCor = "red-card";
                                        break;
                                    case "jup":
                                        planetaCor = "pink-card";
                                        break;
                                    case "ven":
                                        planetaCor = "orange-card";
                                        break;
                                    case "ura":
                                        planetaCor = "blue-card";
                                        break;
                                    case "ter":
                                        planetaCor = "turquoise-card";
                                        break;
                                    case "sol":
                                        planetaCor = "gold-card";
                                        break;
                                    default:
                                        planetaCor = "orange-card";
                                        break;
                                }
                                //ATIVOS
                                <div id="tab_@item.TabuleiroID" class="tile double @(planetaCor) niveis" data-id="@(item.TabuleiroID)" style="max-height: 110px;">
                                    <div id="cor_@item.TabuleiroID" class="corner"></div>
                                    <div id="chk_@item.TabuleiroID" class="check"></div>
                                    <div class="tile-body" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                        <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Niveis/" + item.BoardID + ".png?v=" + @Helpers.Local.Versao))' style="vertical-align: top; height: 86px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="pull-right">
                                        <h3>@(traducaoHelper[item.BoardNome])</h3>
                                        <p>@traducaoHelper[item.Posicao]</p>
                                    </div>
                                    <div class="tile-object">
                                        <div class="name">
                                            @traducaoHelper["ATIVO"]
                                        </div>
                                        <div class="number"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Dados -->
<div id="modDados" class="modal fade modalPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #eee;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="infoTitulo"></h4>
            </div>
            <div class="modal-body" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="font-weight: 500;">@(traducaoHelper["NOME"])</h3>
                        <h3 style="padding-left: 10px;" id="infoNome"></h3>

                        <div class="panel-group accordion" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> @traducaoHelper["DADOS_PAGAMENTE_PIX"] </a>
                                    </h4>
                                </div>
                                <div id="collapse_1" class="panel-collapse in">
                                    <div class="panel-body" style="height:400px; overflow-y:auto; background-color: #eee;">
                                        <h3 style="font-weight: 500;">@(traducaoHelper["CELULAR"]) @(traducaoHelper["IDIOMA"] == "pt-BR" ? "(PIX)" : "")</h3>
                                        <h3 style="padding-left: 10px;" id="infoCelular"></h3>
                                        <img id="qrCodePIX" class="center" src="" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panelBTC">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> @traducaoHelper["DADOS_PAGAMENTE_BTC"] </a>
                                    </h4>
                                </div>
                                <div id="collapse_2" class="panel-collapse collapse">
                                    <div class="panel-body" style="height:400px; overflow-y:auto; background-color: #eee;">
                                        <h3 style="font-weight: 500;" id="carteiraHeader">@(traducaoHelper["CARTEIRA_BTC"])</h3>
                                        <h3 style="padding-left: 10px;" id="infoCripto"></h3>
                                        <img id="qrCodeBTC" class="center" src="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #eee;">
                <button data-dismiss="modal" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>
