@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region init

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    #endregion

    #region ViewBags

    var usuarioAtual = (Core.Entities.Usuario)ViewBag.Nivel1;

    ViewBag.Title = "Minha Rede".ToLower();

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelConvites = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelConvite;
    IEnumerable<Core.Models.TabuleiroNivelModel> tabuleiroNivelAtivos = (IEnumerable<Core.Models.TabuleiroNivelModel>)ViewBag.TabuleirosNivelAtivos;

    string planetaCor = "";

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/home")
    <link rel="stylesheet" href="~/Content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/home/styles.css">
}

@section head {
}

@section pageScripts {
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/countUp.js"></script>
}

@section PageLevelScripts{
}

@section jQueryRead {
}
<div class="portlet solid card-cor" style="max-width: 1600px;">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title black">
                <h2 class="black">@ViewBag.Title </h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet light" style="padding-left: 0; padding-right: 10px; background-color: transparent; max-width: 1600px;">
    <div class="portlet-body">

        <!--BANNER-->
        <div class="row" style="max-width: 1600px; height: 680px; background: url(@Url.Content("~/Arquivos/banners/" + Helpers.Local.Sistema + "/banner1.png")) no-repeat center center">

        </div>
        <div class="row" style="max-width: 1600px">
            <div class="col-md-12 padding-lateral-10">
                <div class="portlet-body expand" style="padding:0px 0px 10px 0px!important;">
                    @if (tabuleiroNivelConvites != null)
                    {
                        foreach (var item in tabuleiroNivelConvites)
                        {
                            //VERDE - CONVITE
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 top-bottom-margin">
                                <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + item.BoardID + ".png")' style="vertical-align: top; height: 64px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="icon-bg">
                                <div class="card-frame card-home springgreen-card convite" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                    <div class="col-md-12 card-title-div"><span class="card-title-txt">@traducaoHelper["CONVITE"]</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content-txt">@(traducaoHelper[item.BoardNome])</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content2-txt">@(traducaoHelper[item.Posicao])</span></div>
                                </div>
                            </div>
                        }
                    }

                    @if (tabuleiroNivelAtivos != null)
                    {
                        foreach (var item in tabuleiroNivelAtivos)
                        {
                            switch (item.BoardNome.Substring(0, 3).ToLower())
                            {
                                case "mer":
                                    planetaCor = "grey-card";
                                    break;
                                case "sat":
                                    planetaCor = "green-card";
                                    break;
                                case "mar":
                                    planetaCor = "red-card";
                                    break;
                                case "jup":
                                    planetaCor = "pink-card";
                                    break;
                                case "ven":
                                    planetaCor = "orange-card";
                                    break;
                                case "ura":
                                    planetaCor = "blue-card";
                                    break;
                                case "ter":
                                    planetaCor = "turquoise-card";
                                    break;
                                case "sol":
                                    planetaCor = "gold-card";
                                    break;
                                default:
                                    planetaCor = "orange-card";
                                    break;
                            }

                            //ROXO ATIVOS
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 top-bottom-margin">
                                <img src='@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Pins/" + item.BoardID + ".png")' style="vertical-align: top; height: 64px; padding: 0; margin: 0; padding-top: 5px; padding-left: 5px;" class="icon-bg">
                                <div class="card-frame card-home @(planetaCor) ativo" data-id="@(item.TabuleiroID)" id="cardGrid@(item.ID)">
                                    <div class="col-md-12 card-title-div"><span class="card-title-txt">@traducaoHelper["ATIVO"]</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content-txt">@(traducaoHelper[item.BoardNome])</span></div>
                                    <div class="col-md-12 card-title-div"><span class="card-content2-txt">@(traducaoHelper[item.Posicao])</span></div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

            <!-- END ACCORDION PORTLET-->
        </div>
    </div>
</div>