@using System.Web.Optimization
@{
    var idioma = (Core.Entities.Idioma)ViewBag.Idioma;
    var idiomas = (IEnumerable<Core.Entities.Idioma>)ViewBag.Idiomas;
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;

    var avisos = ViewBag.Avisos;

    DateTime dataFuzo = Core.Helpers.App.DateTimeZion;
    var dateTimeZion = dataFuzo.ToString("yyyy,") + (dataFuzo.Month - 1) + dataFuzo.ToString(",dd,HH,mm,ss,FF");

    Layout = null;

    var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
    usuarioBinder.Usuario = usuario;
    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    string foto = string.Empty;

    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("MENU_EXIBIR_ASSOCIADO"))
    {
        foto = usuarioBinder.Foto;
        if (String.IsNullOrEmpty(foto))
        {
            if (usuario != null)
            {
                foto = Url.Content("~/Content/img/" + (usuario.Sexo == "M" ? Helpers.Local.Sistema + "/Homem" : Helpers.Local.Sistema + "/Mulher") + ".png");
            }
            else
            {
                foto = Url.Content("~/Content/img/Homem.png");
            }
        }
        else
        {
            foto = Url.Content(foto);
        }
    }
    string background = "";
    if (ViewBag.Background != null)
    {
        background = ViewBag.Background;
    }
}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Helpers.Local.Cliente </title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/icons/Sistema/" + Helpers.Local.Sistema + "/favicon-32x32.png")?v=@Helpers.Local.Versao" sizes="32x32">

    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson)">
    <meta name="theme-color" content="#1E1E1E">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,300,600,700&subset=all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/css/theme/mandatory")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    @RenderSection("pageStyles", required: false)
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/css/theme/style")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME TYPE -->
    @Styles.Render("~/css/theme/type")
    <!-- END THEME TYPE -->
    <!-- BEGIN CUSTOM -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/pagetour")
    <!-- END CUSTOM -->

    <meta name="description" content="@ViewBag.Description">
    @if (ViewBag.Author != null)
    {
        <meta name="author" content="@ViewBag.Author">
    }
    @if (ViewBag.TwitterCard != null)
    {@Html.TwitterCard((TwitterCard)ViewBag.TwitterCard);
}
    @if (ViewBag.OpenGraph != null)
    {@Html.OpenGraph((OpenGraphMetadata)ViewBag.OpenGraph);
}
    @if (ViewBag.ReferrerMode != null)
    {@Html.ReferrerMeta((ReferrerMode)ViewBag.ReferrerMode);
}
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@Application.Name Feed" type="application/atom+xml">
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="ASP.NET MVC Boilerplate Search" type="application/opensearchdescription+xml">

    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/Favicon.ico")" />

    @RenderSection("head", required: false)

    <script type="text/javascript">
       var today = new Date(@dateTimeZion);

       function startTime() {
          today.setSeconds(today.getSeconds()+1);

          var d = checkTime(today.getDate());
          var M = checkTime(today.getMonth()+1);
          var y = today.getYear() - 100;
          var h = checkTime(today.getHours());
          var m = checkTime(today.getMinutes());
          var s = checkTime(today.getSeconds());

          document.getElementById('datahora').innerHTML = d + "/" + M + "/" + y + " " + h + ":" + m; // + ":" + s;

          t = setTimeout('startTime()', 1000);
       }

       function checkTime(i) {
          if (i < 10) {
              i = "0" + i;
          }
          return i;
        }

        /*$(document).ready(function () { $("input").attr("autocomplete", "off"); });*/
    </script>
</head>

<body class="page-header-fixed bodyColorBackground" onload="startTime()" style="@(background.IsEmpty() ? "" : background)">
    @*<body class="page-header-fixed " onload="startTime()" style="background-color: black; background: url(@Url.Content("~/Arquivos/banners/" + Helpers.Local.Sistema + "/fundo.jpg")) no-repeat center center">*@
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo" style="padding: 0px; margin: 0px;">
                <a href=".">
                    <img src="@Url.Content("~/Content/admin/img/" + Helpers.Local.Sistema + "/logo-sistema.png")?vre=@Helpers.Local.Versao" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler"></div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="col-md-12">
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">

                            <li class="separator hide">
                            </li>

                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            @*@if (Core.Helpers.ConfiguracaoHelper.GetBoolean("MENU_OFFICE_AVISO"))
                                {
                                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                        @if (avisos != null && avisos.Count > 0)
                                        {
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <i class="icon-bell"></i>
                                                <span class="badge badge-success"> @avisos.Count </span>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li class="external">
                                                    <h3>
                                                        <span class="bold">@avisos.Count</span> @traducaoHelper["AVISOS_NAO_LIDOS"]
                                                    </h3>*@
                            @*<a href="page_user_profile_1.html">view all</a>*@
                            @*</li>
                                                <li>
                                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                                        @foreach (var aviso in avisos)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("index", "avisos")">
                                                                    <span class="details">
                                                                        <span class="label label-sm label-icon label-info">
                                                                            <i class="fa fa-envelope"></i>
                                                                        </span> @aviso.Titulo
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        }
                                    </li>

                                }*@
                            <!-- END NOTIFICATION DROPDOWN -->

                            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-clock-o" title="@traducaoHelper["DATA_HORA_PAIS"]"></i> <small id="datahora"></small>
                                </a>
                            </li>

                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            @if (!Core.Helpers.ConfiguracaoHelper.GetBoolean("MENU_EXIBIR_ASSOCIADO"))
                            {
                                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="fa fa-user"></i> @if (!String.IsNullOrEmpty(Helpers.Local.nomeUsuario))
                                        {@Helpers.Local.nomeUsuario}
                                    </a>
                                </li>
                            }
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                                <a href="~/Account/Login/?Sair=true" class="dropdown-toggle" data-hover="dropdown"><i class="fa fa-sign-out"></i> @traducaoHelper["SAIR"] </a>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("MENU_EXIBIR_ASSOCIADO"))
                {
                    <div class="portlet light profile-sidebar-portlet margem-0 padding-top-0">
                        <div class="profile-userpic padding-10 margem-0 mt-element-ribbon text-center">
                            <div class="ribbon ribbon-shadow ribbon-sub ribbon-color-warning uppercase"><strong>@usuario.Nome</strong></div>
                            <img src="@foto" class="img-rounded " alt="" style="width: 100px; max-height: 100px; display:inline; margin-top: -10px;">
                        </div>
                    </div>

                    <div class="profile-usermenu margem-0 padding-lateral-10">
                        <ul class="nav margem-0 padding-0 ">
                            <li>
                                <span class="text-primary sizetxtuser">
                                    <i class="icon-star"></i>
                                    <strong>@traducaoHelper["STATUS"].ToLower(): </strong> @usuario.Status.ToString().ToLower()
                                </span>
                            </li>
                            @if (usuario.PatrocinadorDireto != null && usuario.PatrocinadorDiretoID.HasValue)
                            {
                                <li>
                                    <span class="text-primary sizetxtuser">
                                        <i class="icon-user"></i>
                                        @traducaoHelper["PATROCINADOR"].ToLower(): <strong> @usuario.PatrocinadorDireto.Login.ToLower()</strong>
                                    </span>
                                </li>
                            }
                            <li>
                                <span class="text-primary sizetxtuser">
                                    <i class="icon-notebook"></i>
                                    @traducaoHelper["DATA_CADASTRO"].ToLower(): <strong>@usuario.DataCriacao.ToString(ViewBag.MascaraData)</strong>
                                </span>
                            </li>
                            <li>
                                <span class="text-primary sizetxtuser">
                                    <i class="icon-like"></i>
                                    @if (usuario.DataAtivacao != null && usuario.DataAtivacao.Value != null)
                                    {
                                        <span>@traducaoHelper["DATA_ATIVACAO"].ToLower():<strong> @usuario.DataAtivacao.Value.ToString(ViewBag.MascaraData)</strong></span>
                                    }
                                    else
                                    {
                                        <span>@traducaoHelper["DATA_ATIVACAO"].ToLower(): <strong>Não ativo</strong></span>
                                    }
                                </span>
                            </li>
                            <li>
                                <span class="text-primary sizetxtuser">
                                    <i class="icon-calendar"></i>
                                    @traducaoHelper["DATA_DE_RENOVACAO"].ToLower(): <strong>@(usuario.DataRenovacao.HasValue ? usuario.DataRenovacao.Value.ToString(ViewBag.MascaraData) : "") </strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <hr />
                }
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    @if (Request.IsAuthenticated)
                    {
                        if (usuario.Status == Core.Entities.Usuario.TodosStatus.NaoAssociado)
                        {
                            @Html.Partial("_MenuUsuarioNaoAssociado")
                        }
                        else
                        {
                            @Html.Partial("_MenuUsuario")
                        }
                    }
                    else
                    {
                        @Html.Partial("_MenuAnonimo")
                    }
                    @RenderSection("sideBarExtra", required: false)
                </ul>
                <!-- END SIDEBAR MENU -->

            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            &copy; @Core.Helpers.App.DateTimeZion.Year - @Helpers.Local.Cliente - Todos os direitos reservados. @Helpers.Local.Versao @Helpers.Local.no
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!--BEGIN ALERTAS-->
    <!-- BEGIN MSG -->
    <div id="modMsg" class="modal fade modalPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">@ViewBag.PopupTitle</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-2">
                        <p class="popErr pull-left"><img src="~/Content/img/icon/check-64.png" /></p>
                    </div>
                    <div class="col-md-10">
                        @if (ViewBag.PopupMessage != null)
                        {
                            foreach (string strMsg in ViewBag.PopupMessage)
                            {
                                @strMsg<br />
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim MSG -->
    <!-- BEGIN ALTERT -->
    <div id="modAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">@ViewBag.PopupTitle</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-2">
                        <p class="popErr pull-left"><img src="~/Content/img/icon/attention.png" /></p>
                    </div>
                    <div class="col-md-10">
                        @if (ViewBag.PopupMessage != null)
                        {
                            foreach (string strMsg in ViewBag.PopupMessage)
                            {
                                @strMsg<br />
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim ALERT -->
    <!-- BEGIN ERRO -->
    <div id="modErr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">@ViewBag.PopupTitle</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-2">
                            <p class="popErr pull-left"><img src="~/Content/img/icon/stop_2.png" /></p>
                        </div>
                        <div class="col-md-10">
                            @if (ViewBag.PopupMessage != null)
                            {
                                foreach (string strMsg in ViewBag.PopupMessage)
                                {
                                    @strMsg<br />
                                }
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-success">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDesconectar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"> @traducaoHelper["DATA_CADASTRO"]</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <p class="desconectando-esconder">@Html.Raw(string.Format(traducaoHelper["DESCONECTAR_MENSAGEM"], "<span id='desconectar-segundos'></span>"))</p>
                            <div id="desconectando" class="hide">@traducaoHelper["DESCONECTANDO"]...</div><br />
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button id="btn-continuar-logado" class="btn btn-success  desconectando-esconder">@traducaoHelper["CONTINUAR_LOGADO"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim ERRO -->
    <!--END ALERTAS-->
    <!-- BEGIN CORE JQUERY -->
    @Scripts.Render("~/scripts/theme/jquery")
    <!-- END CORE JQUERY -->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/scripts/theme/core")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE SCRIPTS -->
    @RenderSection("PageScripts", required: false)
    <!-- END PAGE SCRIPTS -->
    <!-- BEGIN THEME TYPE -->
    @*@Scripts.Render("~/scripts/theme/type")*@
    <!-- END THEME TYPE -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @Scripts.Render("~/scripts/theme/themeglobal")
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/scripts/theme/themelayout")
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @RenderSection("PageLevelScripts", required: false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN CUSTOM -->
    @*@Scripts.Render("~/scripts/custom")*@
    @Scripts.Render("~/scripts/pagetour")
    <!-- END CUSTOM -->

    <script>
      jQuery(document).ready(function () {
         @RenderSection("jQueryRead", required: false)
      });
    </script>

    <!-- BEGIN POPUP -->
    @if (ViewBag.PopupMsg == "OK")
    {
        <script type="text/javascript">
            $('#modMsg').modal('show');
        </script>
        ViewBag.PopupMsg = "OK";
    }

    @if (ViewBag.PopupAlert == "OK")
    {
        <script type="text/javascript">
            $('#modAlert').modal('show');
        </script>
    }

    @if (ViewBag.PopupErr == "OK")
    {
        <script type="text/javascript">
            $('#modErr').modal('show');
        </script>
    }
    <!-- Fim POPUP -->
    @*@if (Helpers.Local.Ambiente != "dev")
        {
            <script type="text/javascript">

            var timeoutDesconetarEtapa1 = 0;
            var timeoutDesconetarEtapa2 = 0;

            var limiteContadorDeslogarSegundos = 10;
            var contadorDeslogarSegundos = 0
            const umsegundo = 60000

            var tempoParaExpirarSessao = umsegundo * @Core.Helpers.ConfiguracaoHelper.GetInt("MINUTOS_DESCONECTAR");

            $("#btn-continuar-logado").on("click", () => {
                console.log("sdfsdfsf")
                contadorParaDeslogarEtapa1();
            })

            function contadorParaDeslogarEtapa1() {

                contadorDeslogarSegundos = limiteContadorDeslogarSegundos;

                clearTimeout(timeoutDesconetarEtapa1);
                clearTimeout(timeoutDesconetarEtapa2);

                $("#modalDesconectar").modal("hide")

                timeoutDesconetarEtapa1 = setTimeout(() => {

                    $("#modalDesconectar").modal("show")

                    contadorParaDeslogarEtapa2();

                }, tempoParaExpirarSessao);
            }

            contadorParaDeslogarEtapa1();

            function contadorParaDeslogarEtapa2() {

                $("#desconectar-segundos").html(contadorDeslogarSegundos)

                timeoutDesconetarEtapa2 = setTimeout(() => {

                    clearTimeout(timeoutDesconetarEtapa2);

                    if (contadorDeslogarSegundos == 0) {
                        contadorDeslogarSegundos = limiteContadorDeslogarSegundos;

                        $(".desconectando-esconder").hide();
                        $("#desconectando").removeClass('hide');

                        location.href = '/Account/Login/?Sair=true';

                    }
                    else {
                        contadorDeslogarSegundos--;
                        contadorParaDeslogarEtapa2()
                    }

                }, 1000);

            }

            </script>
        }*@


</body>

</html>
