@model PagedList.IPagedList<Core.Models.StoredProcedures.spOC_US_ObtemAvisos>
@using PagedList.Mvc;

@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["AVISO"].ToString().ToLower();

    #endregion

    #region Variaveis

    #endregion
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>@traducaoHelper["AVISOS"]
        </div>
        <div class="tools">
            <a href='@Url.Action("Reload", "Avisos")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse" title="@traducaoHelper["FECHAR"]" />
        </div>
    </div>

    <div class="portlet-body">

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            @using (Html.BeginForm("Index", "Avisos", FormMethod.Get))
                            {
                                @Html.DropDownList("NumeroPaginas", null, htmlAttributes: new { @class = "form-control input-small input-inline marginB05" })
                                <input class="btn purple form-control input-small input-inline fontPlaceHolderIcon" id="Atualizar" name="Atualizar" value="&#xf021; @traducaoHelper["ATUALIZAR"]" type="submit" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @using (Html.BeginForm("Index", "Avisos", FormMethod.Get))
                    {
                        <div class="form-group pull-right">
                            <div class="input-group">
                                @Html.TextBox("ProcuraTitulo", ViewBag.CurrentProcuraDescricao as string, new { @class = "form-control input-small input-inline fontPlaceHolderIcon marginB05", @placeholder = traducaoHelper["TITULO"] })
                                <input class="btn blue-madison form-control input-small input-inline fontPlaceHolderIcon" id="Procura" name="Procura" value="&#xf002; @traducaoHelper["PROCURAR"]" type="submit" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SortOrder = ViewBag.CurrentSort, CurrentProcuraDescricao = ViewBag.CurrentProcuraDescricao, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"] @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"] @Model.PageCount &nbsp;</label>
                </div>
            </div>
        </div>

        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="min-width:30px; width:30px;">&nbsp;@traducaoHelper["ACOES"]</th>
                        <th scope="col">
                            @Html.ActionLink(traducaoHelper["TITULO"], "Index", new { SortOrder = ViewBag.FirstSortParm, CurrentProcuraTitulo = ViewBag.CurrentProcuraTitulo, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize })
                            @switch ((string)ViewBag.CurrentSort.ToString())
                            {
                                case "Titulo":
                                    {<i class="fa fa-chevron-down"></i>}
                                    break;
                                case "Titulo_desc":
                                    {<i class="fa fa-chevron-up"></i>}
                                    break;
                            }
                        </th>
                        <th scope="col">@traducaoHelper["TIPO"]</th>
                        <th scope="col">@traducaoHelper["URGENTE"]</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col" style="min-width:30px; width:30px;">&nbsp;@traducaoHelper["ACOES"]</th>
                        <th scope="col">
                            @Html.ActionLink(traducaoHelper["TITULO"], "Index", new { SortOrder = ViewBag.FirstSortParm, CurrentProcuraDescricao = ViewBag.CurrentProcuraDescricao, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize })
                            @switch ((string)ViewBag.CurrentSort.ToString())
                            {
                                case "Titulo":
                                    {<i class="fa fa-chevron-down"></i>}
                                    break;
                                case "Titulo_desc":
                                    {<i class="fa fa-chevron-up"></i>}
                                    break;
                            }
                        </th>
                        <th scope="col">@traducaoHelper["TIPO"]</th>
                        <th scope="col">@traducaoHelper["URGENTE"]</th>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.DataLeitura != null)
                                {
                                    @Html.ActionLink("Ler", "Ler", new { id = item.ID }, new { @class = "gridEnvelopeAberto", title = traducaoHelper["LER"] })
                                }
                                else
                                {
                                    @Html.ActionLink("Ler", "Ler", new { id = item.ID, avisoLido = 0 }, new { @class = "gridEnvelopeFechado", title = traducaoHelper["LER"] })
                                }
                            </td>

                            <td>
                                @if (item.DataLeitura != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                }
                                else
                                {
                                    <strong>@Html.DisplayFor(modelItem => item.Titulo)</strong>
                                }
                            </td>

                            <td>
                                @if (item.DataLeitura != null)
                                {
                                    @Html.DisplayFor(modelItem => item.TipoNome)
                                }
                                else
                                {
                                    <strong>@Html.DisplayFor(modelItem => item.TipoNome)</strong>
                                }
                            </td>

                            <td align="center">
                                @if (item.Urgente)
                                {
                                    <img src="~/Content/img/icon/check-64.png" width="20" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="border-gridFooter">
                <div class="col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SortOrder = ViewBag.CurrentSort, CurrentProcuraDescricao = ViewBag.CurrentProcuraDescricao, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"]  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"]  @Model.PageCount &nbsp;</label>
                </div>
            </div>
        </div>
    </div>
</div>
