@model Core.Entities.Aviso
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["LER"];

    #endregion

    #region Variaveis

    var blnLido = ViewBag.AvisoLido;

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/sweetAlert")
}

@section head {
}

@section pageScripts {

    <script type="text/javascript">

        function Alterar() {
             swal({
                title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                text: '@Html.Raw( (blnLido ? traducaoHelper["MARCAR_COMO_NAO_LIDO"] : traducaoHelper["MARCAR_COMO_LIDO"]) )',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                closeOnConfirm: false,
                closeOnCancel: false
             },
             function (isConfirm) {
                if (isConfirm) {
                   var cod = '@Model.ID';
                   $.ajax({
                      url: '@Url.Action("Alterar")',
                      type: 'POST',
                      data: { 'id': cod },
                      success: function (data) {
                         if (data == 'OK') {
                            swal('@Html.Raw(traducaoHelper["SUCESSO"])', '@Html.Raw(traducaoHelper["SOLICITACAO_EFETUADA_SUCESSO"])', 'success');
                            swal({
                               title: '@Html.Raw(traducaoHelper["SUCESSO"])',
                               text: '@Html.Raw(traducaoHelper["SOLICITACAO_EFETUADA_SUCESSO"])',
                               type: 'success'
                            },
                            function (isConfirm) {
                               if (isConfirm) {
                                  window.location.href = "@Url.Action("index", "Avisos")";
                               }
                            });
                         }
                         else {
                            swal('@Html.Raw(traducaoHelper["ERRO"] + " 1")', data, 'error');
                         }
                      },
                      error: function (data) {
                         swal('@Html.Raw(traducaoHelper["ERRO"] + " 2")', data, 'error');
                      }
                   });
                } else {
                   swal('@Html.Raw(traducaoHelper["CANCELADO"])', '@Html.Raw(traducaoHelper["SOLICITACAO_CANCELADA"])', 'error');
                };
             });
        };

    function Excluir() {
         swal({
            title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
            text: '@Html.Raw(traducaoHelper["EXCLUIR_AVISO"])',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
            cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
            closeOnConfirm: false,
            closeOnCancel: false
         },
         function (isConfirm) {
            if (isConfirm) {
               var cod = '@Model.ID';
               $.ajax({
                  url: '@Url.Action("Excluir")',
                  type: 'POST',
                  data: { 'id': cod },
                  success: function (data) {
                     if (data == 'OK') {
                        swal('@Html.Raw(traducaoHelper["SUCESSO"])', '@Html.Raw(traducaoHelper["SOLICITACAO_EFETUADA_SUCESSO"])', 'success');
                        swal({
                           title: '@Html.Raw(traducaoHelper["SUCESSO"])',
                           text: '@Html.Raw(traducaoHelper["SOLICITACAO_EFETUADA_SUCESSO"])',
                           type: 'success'
                        },
                        function (isConfirm) {
                           if (isConfirm) {
                              window.location.href = "@Url.Action("index", "Avisos")";
                           }
                        });
                     }
                     else {
                        swal('@Html.Raw(traducaoHelper["ERRO"] + " 1")', data, 'error');
                     }
                  },
                  error: function (data) {
                     swal('@Html.Raw(traducaoHelper["ERRO"] + " 2")', data, 'error');
                  }
               });
            } else {
               swal('@Html.Raw(traducaoHelper["CANCELADO"])', '@Html.Raw(traducaoHelper["SOLICITACAO_CANCELADA"])', 'error');
            };
         });
    };

    </script>
}

@section PageLevelScripts {
    @Scripts.Render("~/scripts/sweetAlert")
}

@section jQueryRead {
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Avisos")">@traducaoHelper["AVISO"]</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet box grey-gallery">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-envelope-o"></i>@traducaoHelper["AVISO"]
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-10"><h3>@Model.Titulo</h3></div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12">
                    @Html.DisplayFor(model => model.Texto)
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Video))
            {
                <hr />
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <iframe id="iframe-video" width="420" height="315" src="@Model.Video"></iframe>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
             }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color" style="margin-top:10px;">
                    <input type="button" value="@(traducaoHelper["EXCLUIR"])" class="btn btn-danger" onclick="return Excluir();" />
                </div>
            }
        </div>
    </div>
</div>
