@model PagedList.IPagedList<Sistema.Models.SuporteViewModel>
@using PagedList.Mvc;

@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = @traducaoHelper["SUPORTE"];

    #endregion

    #region Variaveis

    #endregion
}

@section pageStyles{
}

@section head{
}

@section PageScripts{
}

@section PageLevelScripts{
}

@section jQueryRead{
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
                <br />
                <a href="mailto:suporte@universol.global">@traducaoHelper["EMAIL"]: suporte@universol.global</a>
                <br />
                <br />
                <a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=5547997210089" target="_blank"><i class="fa fa-whatsapp"></i> Whatsapp (+5547997210089)</a>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>@traducaoHelper["MENSAGENS"]
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='@Url.Action("Enviar", "Suporte")' class="btn btn-sm green-meadow">
                <i class="fa fa-send"></i> @traducaoHelper["ENVIAR_MENSAGEM"]
            </a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">

        <div class="table-scrollable">


            <table class="table table-striped table-bordered table-hover" id="pontos">

                <thead>
                    <tr>
                        <th scope="col" style="min-width:30px; width:30px;">&nbsp;@traducaoHelper["ACOES"]</th>
                        <th>@traducaoHelper["DATA"]</th>
                        <th>@traducaoHelper["ASSUNTO"]</th>
                        <th>@traducaoHelper["STATUS"]</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th scope="col" style="min-width:30px; width:30px;">&nbsp;@traducaoHelper["ACOES"]</th>
                        <th>@traducaoHelper["DATA"]</th>
                        <th>@traducaoHelper["ASSUNTO"]</th>
                        <th>@traducaoHelper["STATUS"]</th>
                    </tr>
                </tfoot>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr @(item.Respondido ? "class=active" : "")>
                            <td>
                                @Html.ActionLink("Ler", "Ler", new { id = item.ID }, new { @class = "gridEnvelopeAberto", title = traducaoHelper["LER"] })
                            </td>
                            <td>@item.Data</td>
                            <td>@Html.Raw(item.Assunto)</td>
                            <td>@(item.Respondido ? traducaoHelper["RESPONDIDO"] :  traducaoHelper["AGUARDANDO"]) </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>


        <div class="row">
            <div class="border-gridFooter">
                <div class="col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SortOrder = ViewBag.CurrentSort, CurrentProcuraDescricao = ViewBag.CurrentProcuraDescricao, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"]  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"]  @Model.PageCount &nbsp;</label>
                </div>
            </div>
        </div>

    </div>

</div>
