@{
    Layout = null;
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
}
<li class="nav-item start">
    <a href="@Url.Action("index", "home", new { area = "" })" class="nav-link nav-toggle">
        <i class="fa fa-home"></i>
        <span class="title">
            @traducaoHelper["INICIO"]<label class="menuHome">&nbsp;</label>
        </span>
    </a>
</li>

@*FINANCEIRO*@
<li>
    <a href="javascript:;">
        <i class="fa fa-money"></i>
        <span class="title">
            @traducaoHelper["FINANCEIRO"]
        </span>
        <span class="arrow " />
    </a>
    <ul class="sub-menu">
        <li>
            <a href="@Url.Action("index", "Instituicoes", new { area = "" })">
                <i class="fa fa-th-large"></i>
                <span class="title">
                    @traducaoHelper["INSTITUICAO"]
                </span>
            </a>
        </li>
    </ul>
</li>

@*GLOBALIZACAO*@
<li>
    <a href="javascript:;">
        <i class="fa fa-globe"></i>
        <span class="title">
            @traducaoHelper["GLOBALIZACAO"]
        </span>
        <span class="arrow " />
    </a>
    <ul class="sub-menu">
        <li>
            <a href="@Url.Action("index", "Arquivo")">
                <i class="fa fa-file-o"></i>
                <span class="title">
                    @traducaoHelper["ARQUIVOS"]
                </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("index", "Traducoes", new { area = "" })">
                <i class="fa fa-newspaper-o"></i>
                <span class="title">
                    @traducaoHelper["TRADUCAO"]
                </span>
            </a>
        </li>
    </ul>
</li>

@*USUARIOS*@
<li>
    <a href="javascript:;">
        <i class="fa fa-users"></i>
        <span class="title">
            @traducaoHelper["USUARIOS"]
        </span>
        <span class="arrow " />
    </a>
    <ul class="sub-menu">
        <li>
            <a href="@Url.Action("Index", "Usuarios", new { area = "" })">
                <i class="fa fa-user"></i>
                <span class="title">
                    @traducaoHelper["CADASTRO"]
                </span>
            </a>
        </li>

        @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("ADM_MENU_AVISO"))
        {
            <li>
                <a href="@Url.Action("Index", "Avisos", new { area = "" })">
                    <i class="fa fa-bell-o"></i>
                    <span class="title">
                        @traducaoHelper["AVISO"]
                    </span>
                </a>
            </li>
        }
    </ul>
</li>

<li>
    <a href="@Url.Action("GoogleAuthenticator", "Seguranca")">
        <i class="fa fa-lock"></i>
        <span class="title">
            @traducaoHelper["SEGURANCA"]
        </span>
    </a>
</li>

<li>
    <a href="@Url.Action("Index", "AlterarSenha")">
        <i class="fa fa-key"></i>
        <span class="title">
            @traducaoHelper["ALTERAR_SENHA"]
        </span>
    </a>
</li>

<li class="last ">
    <a href="~/Suporte">
        <i class="fa fa-life-ring"></i>
        <span class="title">
            @traducaoHelper["SUPORTE"]
        </span>
    </a>
</li>

<li class="last ">
    <a href="~/Account/Login/?Sair=true">
        <i class="fa fa-sign-out"></i>
        <span class="title">
            @traducaoHelper["SAIR"]
        </span>
    </a>
</li>
