@model Core.Entities.ConfiguracaoBonusDiario

@{
   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["EDITAR"];
   Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript">
    function mascara(o,f){
        v_obj = o;
        v_fun = f;
        setTimeout("execmascara()", 1);
    };

    function execmascara(){
        v_obj.value = v_fun(v_obj.value);
    };

    function mvirgula(v){
        v = v.replace(/[^\d,]/g, "");
        return v;
    };
</script>

<div class="portlet box grey-gallery">

   <div class="portlet-title">
      <div class="caption">
         <i class="fa fa-pencil"></i>@traducaoHelper["EDITAR"]
      </div>
      <div class="tools">
         <a href="javascript:;" class="collapse"></a>
      </div>
   </div>

   <div class="portlet-body form">
      <!-- BEGIN FORM-->
      @using (Html.BeginForm())
      {
         @Html.AntiForgeryToken()
         <div class="form-body">
             <div class="form-horizontal">
                 <div class="row">
                     <div class="col-md-10"><h4>@traducaoHelper["BONUS_DIARIO"]</h4></div>
                     <div class="col-md-2">@Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })</div>
                 </div>
                 <hr />
                 @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 @Html.HiddenFor(model => model.ID)

                 @if (User.IsInRole("perfilMaster"))
                 {
                 }
                 <div class="form-group">
                     <label class="control-label col-md-2" for="atualizacao">@traducaoHelper["DATA_REFERENCIA"]</label>
                     <div class="col-md-10">
                         @Html.HiddenFor(model => model.ID)
                         @Html.EditorFor(model => model.DataReferencia, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.DataReferencia, "", new { @class = "text-danger" })
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-md-2" for="atualizacao">@traducaoHelper["VALOR"] BTC</label>
                     <div class="col-md-10">
                         @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control", @onkeypress = "mascara(this,mvirgula);" } })
                         @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-md-2" style="padding-top:0px;" for="atualizacao">@traducaoHelper["PERCENTUAL"]</label>
                     <div class="col-md-10">
                         @Html.CheckBoxFor(model => model.IsPercentual, new { htmlAttributes = new { @class = "form-control" } })
                     </div>
                 </div>

                 <div class="form-group">
                     <label class="control-label col-md-2" for="atualizacao">@traducaoHelper["PACOTE"]</label>
                     <div class="col-md-10">

                         <select name="AssociacaoID" id="AssociacaoID" class="form-control">

                             <option value=""></option>

                             @foreach (var item in ViewBag.Associacoes)
                             {
                                 <option value="@item.ID"  @(Model.AssociacaoID == item.ID ? "SELECTED": "")   >@item.Nome</option>
                             }

                         </select>

                     </div>
                 </div>


                 <div class="form-group">
                     <div class="col-md-offset-2 col-md-10">
                         <input type="submit" value="@traducaoHelper["EDITAR"]" class="btn green-haze" />
                     </div>
                 </div>
             </div>
         </div>
      }
   </div>

</div>

