@model PagedList.IPagedList<Core.Models.Relatorios.RelatorioPontosBinarioModel>
@using PagedList.Mvc;
@{
    #region Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
    #endregion

    #region ViewBags
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["BINARIO_ACUMULADO"];
    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion

    #region ViewBags

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/dateRangePicker")
    @Styles.Render("~/Content/sweetAlert")
}

@section head {
}

@section pageScripts {
    @Scripts.Render("~/scripts/dataPicker")
}

@section PageLevelScripts {
    @Scripts.Render("~/scripts/dataTimePickerComponent")
}

@section jQueryRead {
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i> @traducaoHelper["BINARIO_ACUMULADO"]</div>
        <div class="tools">
            <a href="javascript:;" class="collapse" title="@traducaoHelper["FECHAR"]" />
            <a href='@Url.Action("Reload", "relatorios", new {@acao = "AcumuladoBinario"})' class="atualizar" title="@traducaoHelper["RELER"]" />
        </div>
        <div class="actions">
            <a href='@Url.Action("AcumuladoBinarioExcel", "relatorios", new { ProcuraDtIni = ViewBag.CurrentProcuraDtIni, ProcuraDtFim = ViewBag.CurrentProcuraDtFim} )' class="btn btn-sm yellow-casablanca hidden" >
                <i class="fa fa-file-excel-o"></i> Excel
            </a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                @using (Html.BeginForm("AcumuladoBinario", "relatorios", FormMethod.Get))
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.DropDownList("NumeroPaginas", null, htmlAttributes: new { @class = "form-control input-small input-inline marginB05", @style = "width:70px !important;" })
                                <input class="btn purple form-control input-small input-inline fontPlaceHolderIcon" id="Atualizar" name="Atualizar" value="&#xf021; @traducaoHelper["ATUALIZAR"]" type="submit" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="pull-right">
                            <div class="form-group input-group ">
                                <div class="input-group date-picker input-daterange " data-date="10/11/2012" data-date-format="dd/mm/yyyy">
                                    @Html.TextBox("ProcuraDtIni", ViewBag.CurrentProcuraDtIni as string, new { @class = "form-control input-small input-inline fontPlaceHolderIcon marginB05", @autocomplete = "off", @style = "width:120px !important;" })
                                    @Html.Label("LabelAte", traducaoHelper["ATE"], new { @class = "form-control input-small input-inline fontPlaceHolderIcon marginB05", @style = "background-color:#ddd; width:55px !important; padding: 6px 12px; font-size:14px !important; text-align:center !important;" })
                                    @Html.TextBox("ProcuraDtFim", ViewBag.CurrentProcuraDtFim as string, new { @class = "form-control input-small input-inline fontPlaceHolderIcon marginB05", @autocomplete = "off", @style = "width:120px !important;" })                                  
                                </div>                               
                            </div>
                        </div>
                    </div>*@
                    @*<div class="col-md-2">
                        <div class="pull-right">
                                <input class="btn blue-madison form-control input-small input-inline fontPlaceHolderIcon" id="Procura" name="Procura" value="&#xf002; @traducaoHelper["PROCURAR"]" type="submit" />
                        </div>
                    </div>*@
                }
            </div>

            <div class="row">
                <div class="col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("AcumuladoBinario", new { page, SortOrder = ViewBag.CurrentSort, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"] @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"] @Model.PageCount &nbsp;</label>
                </div>
            </div>
        </div>

        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["DATA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["USUARIO"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PRODUTO"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PONTOS_ESQUERDA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PONTOS_DIREITA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["VALOR_ESQUERDA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["VALOR_DIREITA"]&nbsp;</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["DATA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["USUARIO"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PRODUTO"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PONTOS_ESQUERDA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["PONTOS_DIREITA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["VALOR_ESQUERDA"]&nbsp;</th>
                        <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["VALOR_DIREITA"]&nbsp;</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        switch (item.tipoRg)
                        {
                            case 1:
                                {
                                    <tr>
                                        <td>@item.dataCriacao.ToString(ViewBag.MascaraData) </td>
                                        <td>@Html.DisplayFor(modelItem => item.login) </td>
                                        <td>@Html.DisplayFor(modelItem => item.produtoNome) </td>
                                        <td class="text-right">@item.pontosEsqueda.ToString("N0")</td>
                                        <td class="text-right">@item.pontosDireita.ToString("N0")</td>
                                        <td class="text-right">@moedaPadrao.Simbolo @item.valorEsqueda.ToString(moedaPadrao.MascaraOut)</td>
                                        <td class="text-right">@moedaPadrao.Simbolo @item.valorDireita.ToString(moedaPadrao.MascaraOut)</td>
                                    </tr>
                                }
                                break;
                            case 5:
                                {
                                    <tr>
                                        <td bgcolor="Gainsboro"> </td>
                                        <td bgcolor="Gainsboro"> </td>
                                        <td bgcolor="Gainsboro"> <b>@traducaoHelper["SUBTOTAL"]</b> </td>
                                        <td bgcolor="Gainsboro" class="text-right cm-strong"><b>@item.pontosEsqueda.ToString("N0")</b></td>
                                        <td bgcolor="Gainsboro" class="text-right cm-strong"><b>@item.pontosDireita.ToString("N0")</b></td>
                                        <td bgcolor="Gainsboro" class="text-right cm-strong"><b>@moedaPadrao.Simbolo @item.valorEsqueda.ToString(moedaPadrao.MascaraOut)</b></td>
                                        <td bgcolor="Gainsboro" class="text-right cm-strong"><b>@moedaPadrao.Simbolo @item.valorDireita.ToString(moedaPadrao.MascaraOut)</b></td>
                                    </tr>
                                }
                                break;
                            case 9:
                                {
                                    <tr>
                                        <td bgcolor="silver"> </td>
                                        <td bgcolor="silver"> </td>
                                        <td bgcolor="silver"> <b>@traducaoHelper["TOTAL"]</b></td>
                                        <td bgcolor="silver" class="text-right"><b>@item.pontosEsqueda.ToString("N0")</b></td>
                                        <td bgcolor="silver" class="text-right"><b>@item.pontosDireita.ToString("N0")</b></td>
                                        <td bgcolor="silver" class="text-right"><b>@moedaPadrao.Simbolo @item.valorEsqueda.ToString(moedaPadrao.MascaraOut)</b></td>
                                        <td bgcolor="silver" class="text-right"><b>@moedaPadrao.Simbolo @item.valorDireita.ToString(moedaPadrao.MascaraOut)</b></td>
                                    </tr>
                                }
                                break;
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="border-gridFooter">
                <div class="col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("AcumuladoBinario", new { page, SortOrder = ViewBag.CurrentSort, CurrentProcuraNome = ViewBag.CurrentProcuraNome, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"]  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"]  @Model.PageCount &nbsp;</label>
                </div>
            </div>
        </div>

    </div>

</div>
