@model Core.Entities.PedidoPagamento
@{

   #region Layout

   Layout = "~/Views/Shared/_Cadastro.cshtml";

   #endregion

   #region ViewBags

   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["SUCESSO"].ToString().ToLower();

   #endregion

   #region Variaveis

   #endregion

}

<div class="portlet solid grey-cararra">
   <div class="portlet-body">

      <div class="page-head">
         <!-- BEGIN PAGE TITLE -->
         <div class="page-title">
            <h2>@ViewBag.Title <small></small></h2>
         </div>
         <!-- END PAGE TITLE -->
      </div>

      <ul class="page-breadcrumb breadcrumb">
         <li>
            <a href="@Url.Action("Index", "Home")">home</a>
            <i class="fa fa-angle-right"></i>
         </li>
         <li>
            <a href="#">@ViewBag.Title</a>
         </li>
      </ul>
   </div>
</div>

<div class="box" style="background:#ffffff !important;">
   <h1 class="cor">@traducaoHelper["OBRIGADO_INSCRICAO"]</h1>
   <span class="label">
      @traducaoHelper["OBRIGADO_SUA_INSCRICAO"]
      <br /><br />
      <a href="/Login" class="button" style="width:250px;">Login</a>
   </span>
</div>
