@model Core.Entities.Pais

@{
   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["DETALHES"];
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box grey-gallery">

   <div class="portlet-title">
      <div class="caption">
         <i class="fa fa-book "></i>@traducaoHelper["DETALHES"]
      </div>
      <div class="tools">
         <a href="javascript:;" class="collapse"></a>
      </div>
   </div>

   <div class="portlet-body form">

      <div class="form-body">
         <div class="row">
            <div class="col-md-10"><h4>@traducaoHelper["PAIS"]</h4></div>
            <div class="col-md-2">
               @Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })
               @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "Editar pull-right", title = traducaoHelper["EDITAR"] })
            </div>
         </div>
         <hr />
         <dl class="dl-horizontal">
             <dt>@traducaoHelper["SIGLA"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Sigla)
             </dd>
             <dt>@traducaoHelper["NOME"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Nome)
             </dd>
             <dt>@traducaoHelper["BLOCO"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Bloco.Nome)
             </dd>
             <dt>@traducaoHelper["LANGUAGE"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Idioma.Sigla)
             </dd>
             <dt>@traducaoHelper["MOEDA"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Moeda.Simbolo)
             </dd>
             <dt>@traducaoHelper["MASCARA_TELEFONE"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.MascaraTel)
             </dd>
             <dt>@traducaoHelper["MASCARA_CELULAR"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.MascaraCel)
             </dd>
             <dt>@traducaoHelper["MASCARA_CEP"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.MascaraCep)
             </dd>
             <dt>@traducaoHelper["PADRAO"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Padrao)
             </dd>
             <dt>@traducaoHelper["DISPONIVEL"]</dt>
             <dd>
                 @Html.DisplayFor(model => model.Disponivel)
             </dd>
             <dd>
             </dd>
         </dl>
      </div>
   </div>
</div>
