
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["ENVIAR_MENSAGEM"];

    #endregion

    #region Variaveis

    #endregion

}

@section pageStyles {
    <link href="~/Content/scripts/uploadfile/uploadfile.css" rel="stylesheet">
}


@section pageScripts {

    <script>

        function abrirAnexos(stringImagens) {
            var imagens = stringImagens.split(';')
            $("#anexos-itens").html('');
            for (var i = 0; i < imagens.length; i++) {
                $("#anexos-itens").append("<img src='" + imagens[i] + "' style='max-width:850px' />");
                $("#anexos-itens").append("<br />");
            }
            $("#Anexos").modal('show');
        }


        $(function () {

            $("#fileuploader").uploadFile({
                url: "/suporte/upload",
                fileName: "myfile",
                returnType: "json",
                showDelete: true,
                acceptFiles: "image/*",
                showPreview: true,
                formData: { "Guid": "@ViewBag.Guid" },
                previewHeight: "100px",
                previewWidth: "100px",
                deleteCallback: function (data, pd) {

                    console.log(">>>", data)

                    $.post("/suporte/uploaddelete", data,
                            function (resp, textStatus, jqXHR) {
                                console.log("File Deleted", resp);
                            });

                    pd.statusbar.hide(); //You choice.

                },
            });


            $("#btn-add-image").on("click", (e) => {

                e.preventDefault();

                $("#row-upload-link").hide();
                $("#row-upload-form").fadeIn();
            });

        })


    </script>


}

@section PageLevelScripts {
    <script src="~/Content/scripts/uploadfile/jquery.uploadfile.min.js"></script>

}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Suporte")">@traducaoHelper["SUPORTE"]</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption">
                <i class="fa fa-send"></i>@traducaoHelper["ENVIAR_MENSAGEM"]
            </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body form">
        <!-- Inicio FORM-->
        @using (Html.BeginForm("Enviar", "Suporte", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-body">
            <div class="row">
                <div class="col-md-10"><h4>@traducaoHelper["NOVA"]</h4></div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })
                </div>
            </div>
            <hr />
            <input type="hidden" name="Guid" value="@ViewBag.Guid" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-md-line-input form-md-floating-label ">
                        <input type="text" class="form-control form-md-line-input form-md-floating-label has-info" name="assunto" id="assunto" maxlength="100" value="@ViewBag.Assunto">
                        <label for="assunto">@traducaoHelper["ASSUNTO"]</label>
                    </div>
                </div>

                <hr />

                <div class="col-md-12" id="row-upload-link">
                    <a href="#" id="btn-add-image">@traducaoHelper["ANEXAR_IMAGENS"]</a>
                </div>

                <div class="col-md-12" id="row-upload-form" style="display:none;">
                    <div class="col-md-12">
                        <div id="fileuploader">@traducaoHelper["SELECIONAR_IMAGENS"]</div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <textarea class="form-control" name="conteudo" id="conteudo" rows="5" placeholder="@traducaoHelper["TEXTO"]">@ViewBag.Conteudo</textarea>
                </div>

                @*<div class="col-md-12">
                <div class="form-group form-md-line-input form-md-floating-label ">
                    <textarea class="form-control form-md-line-input form-md-floating-label has-info" name="conteudo" id="conteudo" rows="3" placeholder="">@ViewBag.Conteudo</textarea>
                    <label for="conteudo">@Idiomas.resGlobal.texto</label>
                </div>
            </div>*@

                <div class="col-md-12"><br /></div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value=@traducaoHelper["ENVIAR"] class="btn green-haze pull-right" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        }
        <!-- Fim FORM-->
    </div>
</div>
