@model Core.Entities.ContaDeposito
@{
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = ViewBag.Title = traducaoHelper["EXCLUIR"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-eraser"></i>@traducaoHelper["EXCLUIR"]
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-10"><h4>Conta Depósito</h4></div>
                <div class="col-md-2">@Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })</div>
            </div>
            <h3 class="text-danger">@traducaoHelper["TEM_CERTEZA_QUE_DESEJA_EXLUIR_ESTE_ITEM"]</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>Agência</dt>
                <dd>
                    @Html.DisplayFor(model => model.Agencia)
                </dd>
                <dt>Conta</dt>
                <dd>
                    @Html.DisplayFor(model => model.Conta)
                </dd>
                <dt>Dígito</dt>
                <dd>
                    @Html.DisplayFor(model => model.DigitoConta)
                </dd>
                <dt>Proprietário</dt>
                <dd>
                    @Html.DisplayFor(model => model.ProprietarioConta)
                </dd>
                <dt>Identificação Proprietario</dt>
                <dd>
                    @Html.DisplayFor(model => model.IdentificacaoProprietario)
                </dd>
                <dt>Data Criação</dt>
                <dd>
                    @Html.DisplayFor(model => model.DataCriacao)
                </dd>
                <dt>CPF</dt>
                <dd>
                    @Html.DisplayFor(model => model.CPF) &nbsp;
                </dd>
                <dt>CNPJ</dt>
                <dd>
                    @Html.DisplayFor(model => model.CNPJ) &nbsp;
                </dd>
                <dt>Instituição</dt>
                <dd>
                    @Html.DisplayFor(model => model.Instituicao.Descricao)
                </dd>
                <dt>Tipo de Conta</dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoConta.Descricao)
                </dd>
                <dt>Usuário</dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </dd>
                <dt>Meio de Pag.</dt>
                <dd>
                    @Html.DisplayFor(model => model.MeioPagamento.Descricao)
                </dd>
                <dt>Skrill</dt>
                <dd>
                    @Html.DisplayFor(model => model.Litecoin)
                </dd>
                <dt>@traducaoHelper["CRIPTOMOEDA"]</dt>
                <dd>
                    @Html.DisplayFor(model => model.Bitcoin)
                </dd>
                <dd>
                    &nbsp;
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="@traducaoHelper["EXCLUIR"]" class="btn btn-danger" id="confirm_button" />
                </div>
            }
        </div>
    </div>
</div>