@model Core.Entities.Usuario
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["CADASTROS_PENDENTES"].ToString().ToLower();

    #endregion

    #region Variaveis

    var pendentes = Model.PatrocinadosDireto.Where(u => u.StatusID == (int)Core.Entities.Usuario.TodosStatus.NaoAssociado).OrderByDescending(u => u.DataCriacao);
    var ExibeLadoDerramamento = ViewBag.ExibeLadoDerramamento ?? false;

    List<SelectListItem> listaDerramamento = (List<SelectListItem>)ViewBag.ListaDerramamento;

    #endregion

    #region ViewBags

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/table")
}

@section head {

}

@section pageScripts {
    @Scripts.Render("~/scripts/table")
}

@section PageLevelScripts{

    <script type="text/javascript">

      var TableLocal = function () {

         var initTabela = function () {

            var table = $('#tabela');

            /* Fixed header extension: http://datatables.net/extensions/keytable/ */

            var oTable = table.dataTable({
               // Internationalisation. For more info refer to http://datatables.net/manual/i18n
               "language": {
                  "aria": {
                     "sortAscending": ": activate to sort column ascending",
                     "sortDescending": ": activate to sort column descending"
                  },
                  "emptyTable": "@traducaoHelper["TABELA_SEM_DADOS"]",
                  "info": "@traducaoHelper["EXIBINDO_DE"] _START_ @traducaoHelper["ATE"] _END_ @traducaoHelper["DE"] _TOTAL_ @traducaoHelper["REGISTROS"]",
                  "infoEmpty": "@traducaoHelper["SEM_DADOS"]",
                  "infoFiltered": "(@traducaoHelper["FILTRADO"])",
                  "lengthMenu": "_MENU_",
                  "search": "",
                  "zeroRecords": "@traducaoHelper["TABELA_SEM_DADOS"]"
               },
               "order": [
                   [0, 'asc']
               ],
               "lengthMenu": [
                   [5, 10, 15, 20, -1],
                   [5, 10, 15, 20, "All"] // change per page values here
               ],
               "pageLength": 10, // set the initial value,
               "columnDefs": [{  // set default column settings
                  'orderable': false,
                  'targets': [0]
               }, {
                  "searchable": false,
                  "targets": [0]
               }],
               "order": [
                   [1, "asc"]
               ]
            });

            var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

            var tableWrapper = $('#tabela_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            //tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
         }

         return {
            init: function () {
               if (!jQuery().dataTable) {
                  return;
               }
               initTabela();
            }
         };
      }();

      function Pagar(id) {
         $('#Pagar').modal();
         $('#Pagar div.modal-footer a').attr('href', '@Url.Action("pagar", "meus-pedidos")/' + id);
      }

      function Entrada(usuarioID, entradaID) {
         $.post('@Url.Action("lado")', { usuarioID: usuarioID, entradaID: entradaID }, function () { });
      }

    </script>

}

@section jQueryRead {
    TableLocal.init();
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@ViewBag.Title' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        @if (pendentes.Any())
        {
            <table class="table table-striped table-bordered table-hover" id="tabela">
                <thead>
                    <tr>
                        <th>@traducaoHelper["LOGIN"]</th>
                        <th>@traducaoHelper["NOME"]Nome</th>
                        <th>@traducaoHelper["DATA_CADASTRO"]</th>
                        @if (ExibeLadoDerramamento)
                        {
                            <th style="width: 150px;">@traducaoHelper["LADO_ENTRADA"]</th>
                        }
                        <th style="width:30px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var active = false;
                    }
                    @foreach (var usuario in pendentes)
                    {
                        <tr>
                            <td>@usuario.Login</td>
                            <td>@usuario.Nome</td>
                            <td>@usuario.DataCriacao.ToString(ViewBag.MascaraData)</td>
                            @if (ExibeLadoDerramamento)
                            {
                                <td>
                                    <div class="form-group form-md-line-input form-md-floating-label has-info" style="margin: 0; padding:0;">
                                        <select class="form-control" onchange="Entrada(@usuario.ID, this.value)" style="margin: 0; padding:0;">
                                            @foreach (var item in listaDerramamento)
                                            {
                                                <option class="text-primary" value="@item.Value" @(usuario.DerramamentoID.ToString() == item.Value ? "selected=selected" : "")>@item.Text</option>
                                            }


                                            @*<option value="@((int)Core.Entities.Usuario.Derramamentos.Esquerda)" @(usuario.Entrada == Core.Entities.Usuario.Derramamentos.Esquerda ? "selected=selected" : "")>@traducaoHelper["ESQUERDA"]</option>
                                            <option value="@((int)Core.Entities.Usuario.Derramamentos.Direita)" @(usuario.Entrada == Core.Entities.Usuario.Derramamentos.Direita ? "selected=selected" : "")>@traducaoHelper["DIREITA"]</option>*@
                                        </select>
                                    </div>
                                </td>
                            }
                            <td>
                                <a href="@Url.Action("detalhes", "usuario", new { id = usuario.ID })" class="btn btn-icon-only btn-circle yellow tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["VER_DETALHES"]"><i class="fa fa-search"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
                        }
                        else
                        {
                            <h3>@traducaoHelper["CADASTRO_MENSAGEM"]</h3>
                        }

    </div>

</div>
