@{

   #region Layout

   Layout = "~/Views/Shared/_Layout.cshtml";

   #endregion

   #region ViewBags

   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["MEUS_DIRETOS"].ToString().ToLower();

   var meusDiretos = ViewBag.MeusDiretos;
   int intN = 0;

   #endregion

   #region Variaveis

   #endregion

}


@section pageStyles {

}

@section head {

}

@section pageScripts {

}

@section PageLevelScripts{

}

@section jQueryRead {

}

<div class="portlet solid grey-cararra">
   <div class="portlet-body">

      <div class="page-head">
         <!-- BEGIN PAGE TITLE -->
         <div class="page-title">
            <h2>@ViewBag.Title <small></small></h2>
         </div>
         <!-- END PAGE TITLE -->
      </div>

      <ul class="page-breadcrumb breadcrumb">
         <li>
            <a href="@Url.Action("Index", "Home")">home</a>
            <i class="fa fa-angle-right"></i>
         </li>
         <li>
            <a href="#">@ViewBag.Title</a>
         </li>
      </ul>
   </div>
</div>


<div class="portlet light">

   @*<div class="portlet-title">
         <div class="caption"></div>
         <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
         </div>
         <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
         </div>
      </div>*@

   <div class="portlet-body">
      <div class="row">
         <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
               @for (int i = 1; i <= ViewBag.QuantidadeNiveis; i++)
               {
               <li class="@(i==1 ? "active" : "")">

                  <a data-toggle="tab" href="@("#tab_" + @i)">
                     <i class="fa fa-play"></i> @(i)º @traducaoHelper["NIVEL"]
                  </a>
                  @if (i == 1)
                     {
                     <span class="after">
                     </span>
                     }
               </li>
               }
            </ul>
         </div>

         <div class="col-md-9">
            <div class="tab-content">
               @if (meusDiretos != null)
               {
                  foreach (var nivel in meusDiretos)
                  {
                     intN++;
                     <div id="@("tab_" + intN)" class="tab-pane @(intN == 1 ? "active" : "")">
                        @if (nivel != null)
                        {
                           int intD = 0;
                           foreach (var item in nivel as IEnumerable<Core.Models.StoredProcedures.spC_ObtemDiretos>)
                           {
                              intD++;
                              <div id="n@(intN)_d@(intD)" class="panel-group" style="margin-bottom: 5px;">
                                 <div class="panel panel-success">
                                    <div class="panel-heading">
                                       <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#n@(intN)_d@(intD)" href="#n@(intN)_d@(intD)_det">
                                             @item.Login
                                          </a>
                                       </h4>
                                    </div>

                                    <div id="n@(intN)_d@(intD)_det" class="panel-collapse collapse">
                                       <div class="panel-body">
                                          <table class="table table-bordered table-striped">
                                             <tr>
                                                <td><strong>@traducaoHelper["PATROCINADOR"]</strong></td>
                                                <td>@item.LoginPatrocinadorDireto</td>
                                             </tr>
                                             <tr>
                                                <td><strong>@traducaoHelper["ATIVACAO"]</strong></td>
                                                <td>@item.DataAtivacao</td>
                                             </tr>
                                             <tr>
                                                <td><strong>@traducaoHelper["ASSOCIACAO"]</strong></td>
                                                <td>@item.NomeAssociacao</td>
                                             </tr>
                                             <tr>
                                                <td><strong>@traducaoHelper["DETALHES"]</strong></td>
                                                <td>
                                                   <a href="@Url.Action("detalhes", "usuario", new { id = item.IDAfiliado })">
                                                      <i class="icon-tag"></i>
                                                      @traducaoHelper["DETALHES"]
                                                   </a>
                                                </td>
                                             </tr>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           }
                        }
                     </div>
                  }
               }
            </div>
         </div>
      </div>

   </div>
</div>
