@model IEnumerable<Core.Entities.Lancamento>
@{
    ViewBag.Title = "Saques";
    ///ViewBag.Menu = Admin.Controllers.Menu.Movimentos;
    ViewBag.MenuIndex = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Movimentações
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("index", "home")">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:void(0);">Movimentações</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div>
    <a href="@Url.Action("Incluir", "Movimentacoes")">Incluir Movimentação</a>
</div>

<!--form id="Busca" method="post">
    <span>Buscar Pedido (Nome ou Login): </span>
    <input id="loginBusca" name="loginBusca" type="text" value="@ViewBag.Busca" />
    <input type="submit" value="Buscar" />
</form>
<br /-->

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Login</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Data</th>
            <th class="text-center">Valor</th>
            <th style="width:30px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model)
        {
            var label = l.Valor > 0 ? "label-default" : "label-danger";

            <tr>
                <td class="text-center">@l.ID</td>
                <td>@l.Usuario.Login</td>
                <td class="text-center">@l.Tipo</td>
                <td class="text-center">@l.Categoria.Nome</td>
                <td class="text-center">@l.DataLancamento.ToShortDateString()</td>
                <td class="text-center">
                    <span class="label label-sm @label">
                       @moedaPadrao.Simbolo @l.Valor.Value.ToString(moedaPadrao.MascaraOut)                       
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>