@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region init

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    #endregion

    #region ViewBags

    ViewBag.Description = traducaoHelper["SISTEMA"];
    ViewBag.Author = "";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("");
    ViewBag.Title = "home";
    var usuarioContainer = (Sistema.Containers.UsuarioContainer)ViewBag.UsuarioContainer;
    var usuario = usuarioContainer.Usuario;
    Boolean blnExibeBanner = ViewBag.ExibeBanners ?? true;
    IList<Core.Entities.Arquivo> banners = ViewBag.Banners;
    
    ViewBag.OpenGraph = new OpenGraphWebsite(ViewBag.Title, new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };

    ViewBag.RedeTabuleiro = true;
    
    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null || ViewBag.MascaraData == "[MASCARA_DATA]")
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion

    #region Variaveis

    DateTime data;
    
    var valorZerado = 0;

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
    usuarioBinder.Usuario = usuario;
    var foto = usuarioBinder.Foto;

    if (String.IsNullOrEmpty(foto))
    {
        foto = Url.Content("~/Content/img/" + (usuario.Sexo == "M" ? Helpers.Local.Sistema + "/Homem" : Helpers.Local.Sistema + "/Mulher") + ".png");
    }
    else
    {
        foto = Url.Content(foto);
    }

    bool ExibeDataAtivacao = (usuario.DataAtivacao == null || usuario.DataAtivacao.Value == DateTime.Parse("1900-01-01 00:00:00.000")) ? false : true;
    bool BolqueioRenovacao = (ViewBag.BolqueioRenovacao == "true") ? true : false;

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/home")
    <link rel="stylesheet" href="~/Content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/global/plugins/bootstrap-toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/Content/home/styles.css">
    <style>
        .container {
            background: url('@Url.Content("~/Arquivos/banners/" + Helpers.Local.Sistema + "//logo-vertical.png?v=" + @Helpers.Local.Versao)') no-repeat center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 1024px;
            max-width: 1000px;
        }
    </style>
}

@section head {
}

@section pageScripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var btnCopiarCadastro = $("#cadastroLinkCopiar");
            var copiado = $("#copiado");
            var copiadoTemp = 0;
            copiado.hide();
            btnCopiarCadastro.on('click', function () {
                var el = document.createElement('textarea');

                el.value = '@(Core.Helpers.ConfiguracaoHelper.GetString("DOMINIO") + "p/" + Helpers.Local.nomeUsuario)';

                el.setAttribute('readonly', '');
                el.style = { position: 'absolute', left: '-9999px' };
                document.body.appendChild(el);

                el.select();

                document.execCommand('copy');

                copiado.fadeIn();
                clearTimeout(copiadoTemp);
                copiadoTemp = setTimeout(function () { copiado.fadeOut(); }, 1000);

                document.body.removeChild(el);
            });

            @if (ViewBag.Avisos != null)
            {
                <text>toastr.info('@traducaoHelper["VOCE_POSSUI_NOVOS_AVISOS"]');</text>
            }

        });
    </script>

    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/countUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Content/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
    <script src="~/Content/pages/scripts/ui-general.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
}

@section PageLevelScripts{
    @if (!ViewBag.RedeTabuleiro)
    {
        <script type="text/javascript">
          function Derramamento(id) {
             $.post('@Url.Action("derramamento")', { id: id }, function () { });
          }
        </script>
    }
}

@section jQueryRead {
}

<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<!-- Header -->
<div class="portlet solid grey-cararra" style="max-width: 1600px;">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="row">
                <div class="column col-md-10">
                    <div class="page-title">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>
                <div class="column col-md-2">
                    <div class="page-title">
                        <span id="minutes" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                        <span id="pontos" class="hidden" style="font-size: 18px; font-weight: 500;">:</span>
                        <span id="seconds" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                    </div>
                </div>
            </div>

            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="">@ViewBag.Title</a>
            </li>
            <li>
                <a href="" class="txtTitle"></a>
            </li>
        </ul>
    </div>
</div>

@if (usuario.Status == Core.Entities.Usuario.TodosStatus.NaoAssociado)
{
    <div class="portlet aba box backWrite grey-gallery">
        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
            </div>
            <div class="actions">
                <a href='#'>&nbsp;</a>
                <label>&nbsp;</label>
            </div>
        </div>
        <div class="portlet-body">
            <h3>@traducaoHelper["EMAIL_NAO_CONFIRMADO_1"]</h3>
            <br />
            <h4>@traducaoHelper["EMAIL_NAO_CONFIRMADO_2"]</h4>
            <h4>@traducaoHelper["EMAIL_NAO_CONFIRMADO_3"]</h4>
            <br />
            <a href="@Url.Action("EnviarValidacaoEmail", "Home")" class="button fundo" style="width:800px;">@traducaoHelper["ENVIAR_NOVAMENTE_ATIVACAO"]</a>
        </div>
    </div>
}
else
{
    <div class="portlet solid grey-cararra container">
        <div class="portlet-body content">
            <div class="row" style="padding: 10px;">
                <div class="col-md-12 padding-lateral-10">
                    <div class="col-md-2 padding-Right-0" style="width: 111px !important; padding-top: 9px;">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="title">
                            @traducaoHelper["LINK_CADASTRO"]:
                        </span>
                    </div>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" id="cadastroLinkURL" data-provide="typeahead" disabled class="form-control" placeholder="" value="@(Core.Helpers.ConfiguracaoHelper.GetString("DOMINIO") + "p/" + Helpers.Local.nomeUsuario)">
                            <span class="input-group-btn" style="padding-left: 10px;">
                                <input class="btn btn-info" id="cadastroLinkCopiar" value="@traducaoHelper["COPIAR"]">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span id="copiado">@traducaoHelper["COPIANDO"]</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<!-- END PAGE CONTENT-->

@Html.Partial("_avisos", (List<Core.Models.StoredProcedures.spOC_US_ObtemAvisoNaoLidos>)ViewBag.Avisos)
@Html.Partial("_limite-bonus-arbitragem")
@Html.Partial("_aviso-migracao")
