@model Core.Entities.ProdutoValor
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    var produtos = ViewBag.ProdutoID;
    var Opcoes = ViewBag.OpcaoID;

    Model.Valor = Model.Valor * 100;
    Model.VlrBonusAdicionalVenda = Model.VlrBonusAdicionalVenda * 100;
    Model.VlrBonusVenda = Model.VlrBonusVenda * 100;
    Model.Bonificacao = Model.Bonificacao * 100;

    ViewBag.Title = traducaoHelper["EDITAR"];

    #endregion



    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();
    var strMascara = moedaPadrao.Simbolo + moedaPadrao.MascaraIn;

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/cadastro")
}

@section head {
}

@section pageScripts {

    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-be.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-ru.js"></script>

    @Scripts.Render("~/scripts/cadastro")

    <script type="text/javascript">
        $(document).ready(function () {
          $('#Valor').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#Bonificacao').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#VlrBonusVenda').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#VlrBonusAdicionalVenda').inputmask('@strMascara', { numericInput: true, reverse: true });
      });
    </script>
}

@section PageLevelScripts {
    @Scripts.Render("~/scripts/validationScript")
}

@section jQueryRead {
}

<div class="portlet box grey-gallery">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>@traducaoHelper["EDITAR"]
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body" id="produto">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm())
        {
            <div class="form-body">
                <div class="row">
                    <div class="col-md-10"><h4> @traducaoHelper["PRECO_PRODUTO"] </h4></div>
                    <div class="col-md-2">@Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })</div>
                </div>
                <hr />

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-body">
                    <div class="row">                   
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" name="SKU" id="SKU" value="@Model.Produto.SKU" disabled>
                                <label for="ID">@traducaoHelper["SKU"]</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" name="ProdutoNome" id="ProdutoNome" value="@Model.Produto.Nome" disabled>
                                <label for="ID">@traducaoHelper["PRODUTO"]</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                                <label for="Valor">@traducaoHelper["VALOR"]</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                @Html.EditorFor(model => model.Bonificacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bonificacao, "", new { @class = "text-danger" })
                                <label for="Bonificacao">@traducaoHelper["BONIFICACAO"]</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                @Html.EditorFor(model => model.VlrBonusVenda, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VlrBonusVenda, "", new { @class = "text-danger" })
                                <label for="BonificacaoAdicional">@traducaoHelper["BONUS_VENDA"]</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                @Html.EditorFor(model => model.VlrBonusAdicionalVenda, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VlrBonusAdicionalVenda, "", new { @class = "text-danger" })
                                <label for="BonificacaoAdicional">@traducaoHelper["BONUS_VENDA_ADCIONAL"]</label>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <select class="form-control" name="OpcaoID">
                                @foreach (var item in Opcoes)
                                        {
                                        <option value="@item.Value">@item.Text</option>
                                        }
                            </select>
                            <label for="OpcaoID">@traducaoHelper["OPCAO"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="ContaIDs" id="ContaIDs" value="@Model.ContaIDs">
                            <label for="ContaIDs">@traducaoHelper["CONTAS"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="AssociacaoIDs" id="AssociacaoIDs" value="@Model.AssociacaoIDs">
                            <label for="AssociacaoIDs">@traducaoHelper["ASSOCIACOES"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="ClassificacaoIDs" id="ClassificacaoIDs" value="@Model.ClassificacaoIDs">
                            <label for="ClassificacaoIDs">@traducaoHelper["CLASSIFICACOES"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="BlocoIDs" id="BlocoIDs" value="@Model.BlocoIDs">
                            <label for="BlocoIDs">@traducaoHelper["BLOCOS"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="PaisIDs" id="PaisIDs" value="@Model.PaisIDs">
                            <label for="PaisIDs">@traducaoHelper["PAISES"]</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label" hidden>
                            <input type="text" class="form-control" name="ID" id="ID" value="@Model.ID">
                            <label for="ID">@traducaoHelper["ID"]</label>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <input type="text" class="form-control" name="ProdutoID" id="ProdutoID" value="@Model.ProdutoID">
                        <label for="ID">@traducaoHelper["ProdutoID"]</label>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="@traducaoHelper["EDITAR"]" class="btn btn-success" />          
                        </div>
                    </div>

                </div>
            </div>
        }
        <!-- Fim FORM-->
    </div>
</div>
