@model Sistema.Containers.UsuarioContainer

@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["DETALHES"].ToString().ToLower();
    var usuario = Model.Usuario;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    var classe = "";
    switch (Model.Usuario.Status)
    {
        case Core.Entities.Usuario.TodosStatus.Indefinido:
        case Core.Entities.Usuario.TodosStatus.NaoAssociado:
            classe = "warning";
            break;
        case Core.Entities.Usuario.TodosStatus.Bloqueado:
            classe = "danger";
            break;
        case Core.Entities.Usuario.TodosStatus.Associado:
            classe = "success";
            break;
    }

    var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
    usuarioBinder.Usuario = Model.Usuario;
    var foto = usuarioBinder.Foto;

    if (String.IsNullOrEmpty(foto))
    {
        foto = Url.Content("~/Content/img/" + (usuario.Sexo == "M" ? "homem" : "mulher") + ".png");
    }
    else
    {
        foto = Url.Content(foto);
    }

    var produtos = (IEnumerable<Core.Entities.Produto>)ViewBag.Produtos;
    if (Model.Usuario.Status == Core.Entities.Usuario.TodosStatus.Associado)
    {
        produtos = produtos.Where(p => p.Tipo == Core.Entities.Produto.Tipos.Upgrade);
    }
    else
    {
        produtos = produtos.Where(p => p.Tipo == Core.Entities.Produto.Tipos.Associacao);
    }
    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/detalhes")
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/datatable/TableTools.css")">
}

@section pageScripts {
    @Scripts.Render("~/scripts/detalhes")
}

@section PageLevelScripts {

    <script type="text/javascript">
      $(document).ready(function () {
          $("#Valor").inputmask('@moedaPadrao.Simbolo @moedaPadrao.MascaraIn', { numericInput: true });
      });

      function Transferir() {
         var valor = $('#Valor').inputmask('unmaskedvalue');
         if(valor != ''){
            $('#Transferencia').modal();
            $('#Transferencia div.modal-footer').hide();
            $.post('@Url.Action("transferir")', { id: @Model.Usuario.ID, valor: valor }, function (data) {
               $('#Transferencia div.modal-footer').show();
               if (data == 'OK') {
                  $('#Transferencia div.modal-body p').html('@traducaoHelper["TRANSFERENCIA_REALIZADA_SUCESSO"]');
               } else {
                  $('#Transferencia div.modal-body p').html(data);
               }
            });
         }
      }

      @*function Comprar(franqueadoID, produtoID, nome) {
         $('#Ativacao').modal();
         $('#Ativacao div.modal-footer').hide();
         $.post('@Url.Action("comprar")', { franqueadoID: franqueadoID, produtoID: produtoID }, function (data) {
            $('#Ativacao').modal();
            $('#Ativacao div.modal-footer').show();
            if (data == 'OK') {
               $('#Ativacao div.modal-body p').html('@traducaoHelper["ATIVACAO_PLANO"] ' + nome.toUpperCase() + ' @traducaoHelper["REALIZADA_SUCESSO"]');
            } else {
               $('#Ativacao div.modal-body p').html(data);
            }
         });
      }*@
    </script>
}

@section jQueryRead {
    Profile.init();
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="@foto" class="img-responsive" style="max-width: 300px;" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Usuario.Nome
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.Usuario.Login
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#home" data-toggle="tab">
                                <i class="icon-tag"></i>
                                @traducaoHelper["DETALHES"]
                            </a>
                        </li>
                        @if (false) //Nao usado
                        {
                            <li>
                                <a href="#transferir" data-toggle="tab">
                                    <i class="icon-refresh"></i>
                                    @traducaoHelper["TRANSFERIR"]
                                </a>
                            </li>
                        }
                        @if (ViewBag.AtivarSaldo)
                        {
                            <li>
                                <a href="#ativar" data-toggle="tab">
                                    <i class="icon-check"></i>
                                    @traducaoHelper["ATIVAR"]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->

        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light">

                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane in active" id="home">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">@traducaoHelper["DETALHES"]</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td>
                                                <strong>@traducaoHelper["ASSOCIACAO"]</strong>
                                            </td>
                                            <td>
                                                @ViewBag.Associacao
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>@traducaoHelper["PLANO_CARREIRA"]</strong>
                                            </td>
                                            <td>
                                                @ViewBag.Classificacao
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td>
                                                <strong>Email</strong>
                                            </td>
                                            <td>
                                                @Model.Usuario.Email
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td>
                                                <strong>@traducaoHelper["LOGIN"]</strong>
                                            </td>
                                            <td>
                                                @Model.Usuario.Login
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>@traducaoHelper["STATUS"]</strong>
                                            </td>
                                            <td>
                                                @Model.Usuario.Status
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>@traducaoHelper["PATROCINADOR"]</strong>
                                            </td>
                                            <td>
                                                @(Model.Usuario.PatrocinadorDireto != null ? Model.Usuario.PatrocinadorDireto.Login : "")
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @*
                            <div class="tab-pane" id="transferir">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">@traducaoHelper["TRANSFERIR"]</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    @if (Model.Usuario.Status != Core.Entities.Usuario.TodosStatus.Associado)
                                    {
                                        <p>@traducaoHelper["TRANSFERENCIA_INDISPONIVEL"]</p>
                                    }
                                    else
                                    {
                                        <div class="control-group">
                                            <div class="controls">
                                                <label class="control-label">@traducaoHelper["DIGITE_VALOR_TRANSFERIR"]:</label>
                                                <div>
                                                    <input type="text" class="form-control" name="Valor" id="Valor" style="width:auto;float:left;">
                                                    <a href="javascript:void(0);" onclick="Transferir()" class="btn btn-success"><i class="icon-ok"></i>&nbsp; @traducaoHelper["TRANSFERIR"]</a>
                                                </div>

                                                <p>(@traducaoHelper["SALDO_DISPONIVEL"]: <b>@ViewBag.Saldo</b>)</p>

                                                <div class="help-block">
                                                    @traducaoHelper["SERA_COBRADO_TAXA"].
                                                    <br />
                                                    @traducaoHelper["VALOR_MINIMO_TRANSFERENCIA"].
                                                    <br />
                                                    @traducaoHelper["BENEFICIARIO_VALOR_MINIMO"].
                                                </div>
                                            </div>
                                        </div>

                                        <div id="Transferencia" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="modalTransferencia">@traducaoHelper["TRANSFERIR"]</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>@traducaoHelper["AGUARDE"]...</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button data-dismiss="modal" class="btn blue" onclick="window.location = '@Url.Action("detalhes", new { id = Model.Usuario.ID })'">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            *@
                            <div class="tab-pane" id="ativar">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">@traducaoHelper["ATIVAR"]</span>
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    @if (Model.Usuario.Status == Core.Entities.Usuario.TodosStatus.Bloqueado)
                                    {
                                        <p>@traducaoHelper["ASSOCIADO_BLOQUEADO"]</p>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-6"><p>@traducaoHelper["ATIVAR_MENSAGEM"]</p></div>
                                            <div class="col-md-6"><p class="pull-right">@traducaoHelper["SALDO_DISPONIVEL"]: <b>@ViewBag.Saldo</b></p></div>
                                        </div>

                                        <div class="tiles">
                                            @foreach (var produto in produtos)
                                            {
                                                var valorProduto = produto.ValorMinimo(Model.Usuario);
                                                var fotoProduto = produto.Fotos.FirstOrDefault();
                                                if (valorProduto != null)
                                                {
                                                    <div class="tile double bg-grey-cascade">
                                                        <div class="tile-body">
                                                            <h3>@produto.Nome</h3>
                                                            @if (foto != null)
                                                            {
                                                                <img src="@fotoProduto" alt="@produto.Nome" class="pull-right" style="max-width: 64px;">
                                                            }

                                                            @if (valorProduto != null)
                                                            {
                                                                <p>&nbsp;</p>
                                                                <p>
                                                                    @moedaPadrao.Simbolo @valorProduto.Valor.Value.ToString(moedaPadrao.MascaraOut)
                                                                </p>
                                                            }

                                                        </div>
                                                        <div class="tile-object">
                                                            <div class="name">
                                                                <button class="btn green" onclick="Comprar(@Model.Usuario.ID, @produto.ID, '@produto.Nome');">@traducaoHelper["ATIVAR"]</button>
                                                            </div>
                                                            <div class="number">
                                                                <i class="fa  fa-gift hide"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <div id="Ativacao" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="modalAtivacao">@traducaoHelper["ATIVACAO"]</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>@traducaoHelper["AGUARDE"]...</p>
                                                    </div>
                                                    <div class="modal-footer" style="display: none;">
                                                        <button data-dismiss="modal" class="btn blue" onclick="window.location = '@Url.Action("detalhes", new { id = Model.Usuario.ID })'">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
            </div>

        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

