@model Core.Entities.Paginacao

@{
   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   ViewBag.Title = traducaoHelper["DETALHES"];
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box grey-gallery">

   <div class="portlet-title">
      <div class="caption">
         <i class="fa fa-book "></i>@traducaoHelper["DETALHES"]
      </div>
      <div class="tools">
         <a href="javascript:;" class="collapse"></a>
      </div>
   </div>

   <div class="portlet-body form">

      <div class="form-body">
         <div class="row">
            <div class="col-md-10"><h4>@traducaoHelper["PAGINACAO"]</h4></div>
            <div class="col-md-2">
               @Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })
               @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "Editar pull-right", title = traducaoHelper["EDITAR"] })
            </div>
         </div>
         <hr />
         <dl class="dl-horizontal">
            <dt>@traducaoHelper["NOME"]</dt>
            <dd>
               @Html.DisplayFor(model => model.nome)
            </dd>
            <dt>@traducaoHelper["VALOR"]</dt>
            <dd>
               @Html.DisplayFor(model => model.valor)
            </dd>
            <dt>@traducaoHelper["ATUALIZACAO"]</dt>
            <dd>
               @Html.DisplayFor(model => model.atualizacao)
            </dd>
            <dd>
            </dd>
         </dl>
      </div>
   </div>
</div>
