@model  Sistema.Models.Relatorio.RelatorioPagamentoPaginacaoModel

@using Core.Models.Relatorios
@using PagedList.Mvc;

@{
    #region Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
    #endregion

    #region ViewBags
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    ViewBag.Title = traducaoHelper["PAGAMENTO"];
    #endregion

    #region Variaveis

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/dateRangePicker")
    @Styles.Render("~/Content/sweetAlert")
}

@section head {
}


@section pageScripts {
    @Scripts.Render("~/scripts/dataPicker")
    @Scripts.Render("~/scripts/sweetAlert")

}

@section PageLevelScripts {
    @Scripts.Render("~/scripts/dataTimePickerComponent")
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
}

@section jQueryRead {
}

<div class="portlet box grey-gallery">

    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i> @traducaoHelper["PAGAMENTO"]</div>
        <div class="tools">
            <a href="javascript:;" class="collapse" title="@traducaoHelper["FECHAR"]" />
            <a href='@Url.Action("ReloadPagamento", "Relatorios")' class="atualizar" title="@traducaoHelper["RELER"]" />
        </div>
        <div class="actions">
            <a href='@Url.Action("ExcelPagamento", "Relatorios")' class="btn btn-sm yellow-casablanca">
                <i class="fa fa-file-excel-o"></i> Excel
            </a>
            <label>&nbsp;</label>
        </div>
        <div class="actions pagar" style="display:none;">
            <a class="btn btn-sm yellow-casablanca resumo" data-toggle="modal" href="#resumo">
                <i class="fa fa-money"></i> Pagar
            </a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-toolbar">

            <div class="row">

                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group">
                            @using (Html.BeginForm("Pagamento", "Relatorios", FormMethod.Get))
                            {
                                @Html.DropDownList("NumeroPaginas", null, htmlAttributes: new { @class = "form-control input-small input-inline marginB05" })
                                <input class="btn purple form-control input-small input-inline fontPlaceHolderIcon" id="Atualizar" name="Atualizar" value="&#xf021; @traducaoHelper["ATUALIZAR"]" type="submit" />
                            }
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("Pagamento", "Relatorios", FormMethod.Get))
                {
                    <div class="col-md-7">

                        <div class="form-group">
                            <input type="hidden" name="Page" value="1" />
                            <div class="input-group  pull-right">
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4  date-picker input-daterange" data-date="10/11/2012" data-date-format="dd/mm/yyyy">
                                    @Html.TextBox("DataInicio", ((DateTime)ViewBag.DataInicio).ToShortDateString(), new { @class = "form-control input-inline fontPlaceHolderIcon marginB05", @placeholder = string.Concat(traducaoHelper["DE"], " *") })
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4  date-picker input-daterange" data-date="10/11/2012" data-date-format="dd/mm/yyyy">
                                    @Html.TextBox("DataFim", ((DateTime)ViewBag.DataFim).ToShortDateString(), new { @class = "form-control input-inline fontPlaceHolderIcon marginB05", @placeholder = string.Concat(traducaoHelper["ATE"], " *") })
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <input class="btn blue-madison form-control input-inline fontPlaceHolderIcon" id="Procura" name="Procura" value="&#xf002; @traducaoHelper["PROCURAR"]" type="submit" />
                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-md-10">
                    @Html.PagedListPager(Model.Itens, page => Url.Action("Pagamento", new { page, SortOrder = ViewBag.CurrentSort, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"] @(Model.Itens.PageCount < Model.Itens.PageNumber ? 0 : Model.Itens.PageNumber) @traducaoHelper["DE"] @Model.Itens.PageCount &nbsp;</label>
                </div>
            </div>

        </div>
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;">@traducaoHelper["USUARIO"]</th>
                        @*<th style="text-align:center;">@traducaoHelper["CELULAR"]</th>*@
                        <th style="text-align:center;">@traducaoHelper["PRODUTO"]</th>
                        <th style="text-align:center;">@traducaoHelper["DATA_PAGAMENTO"]</th>
                        <th style="text-align:center;">@traducaoHelper["CODIGO"]</th>
                        <th style="text-align:center;">@traducaoHelper["VALOR"] (@moedaPadrao.Simbolo)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Itens)
                    {
                        <tr>
                            <td class="text-center">
                                @item.Nome<br />
                                <i>@item.Login</i>
                            </td>
                            @*<td class="text-center">@item.Celular</td>*@
                            <td class="text-center">
                                @item.Produto<br />
                                <i>@item.SKU</i>
                            </td>
                            <td class="text-center">@item.DataPagamento</td>
                            <td class="text-center">@item.Codigo</td>
                            <td class="text-center">@item.Total.ToString(moedaPadrao.MascaraOut)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-10">
                    @Html.PagedListPager(Model.Itens, page => Url.Action("Pagamento", new { page, SortOrder = ViewBag.CurrentSort, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
                </div>
                <div class="col-md-2">
                    <label class="pull-right">@traducaoHelper["PAG"] @(Model.Itens.PageCount < Model.Itens.PageNumber ? 0 : Model.Itens.PageNumber) @traducaoHelper["DE"] @Model.Itens.PageCount &nbsp;</label>
                </div>
            </div>
        </div>
    </div>
</div>