@model Core.Models.Loja.CarrinhoModel
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["FINALIZAR_COMPRA"].ToString().ToLower();
    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;

    #endregion

    #region Variaveis

    Boolean blnEnderecoAlternativo = (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO_ALTERNATIVO") == "true");

    #endregion

}

@section pageStyles {

}

@section head {

}

@section pageScripts {

}

@section PageLevelScripts{
    <script type="text/javascript">
      $(document).ready(function () {

      });

      function Selecionar(enderecoID, tipo) {
         $.post('@Url.Action("selecionar-endereco")', { enderecoID: enderecoID, tipo: tipo }, function () { });
      }

        function removeOption(enderecoID, blnEnderecoAlternativo) {
         var temp = new Array();
         temp = $('#end' + enderecoID).text().split(":");
         var str = temp[0] + ': <br>' + temp[1];

         var isNotVisible = $("#dvlbEndEntregaAlter").is(":hidden");
         if (isNotVisible) {
            Selecionar(enderecoID, 'entrega');

            $('#lbEndEntrega').html(str);
            $('#pagamento').show();
            $('#dvBotaoLimpar').show();
            if (blnEnderecoAlternativo) {
               $('#dvlbEndEntregaAlter').show();
               $('#h4TituloEnd').html('@traducaoHelper["SELECIONE_ENDERECO_ENTREGA_ALTERNATIVO"]');
            }
            else {
               $('#dvListaEnd').hide();
            }
         }
         else {
            Selecionar(enderecoID, 'faturamento');

            $('#lbEndEntregaAlter').html(str);
            $('#dvListaEnd').hide();
         }

         $('#end' + enderecoID).hide();
      }

    </script>

    <!--Alertas-->
    @if (ViewBag.AlertErro != null)
    {
        <script>
         errorAlert('@ViewBag.AlertErroTitulo', '@ViewBag.AlertErro');
        </script>
    }

    @if (ViewBag.AlertSucesso != null)
    {
        <script>
         successAlert('@ViewBag.AlertSucessoTitulo', '@ViewBag.AlertSucesso');
        </script>
    }

    @if (ViewBag.AlertInfo != null)
    {
        <script>
         infoAlert('@ViewBag.AlertInfoTitulo', '@ViewBag.AlertInfo');
        </script>
    }
    <!--Fim Alertas-->
}

@section jQueryRead {

}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("EntregaEFaturamento")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row padding-lateral-20">
            @Html.Partial("_Menu", 2)
        </div>

        @if (blnEnderecoAlternativo)
        {
            <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify; line-height:20px;">@traducaoHelper["TEXTO_ALTERNATIVO"]  </h5>
            <br>
        }

        <div class="row ">
            <div class="col-md-7">
                <div class="portlet bg-grey-cararra">
                    <div class="portlet-title padding-lateral-20">
                        <div class="caption font-green">
                            <i class="fa fa-reorder font-green"></i>
                            <span class="caption-subject bold uppercase">@traducaoHelper["ENDERECOS"]</span>
                        </div>
                        <div class="actions">
                            <a href="@Url.Action("Endereco")" class="btn btn-circle green btn-outline btn-sm">
                                <i class="fa fa-pencil"></i> @traducaoHelper["EDITAR_LISTA"]
                            </a>
                        </div>
                    </div>

                    <div class="portlet-body form padding-lateral-20">
                        <div class="form-group form-md-radios" id="dvListaEnd">
                            <h4 class="bold" id="h4TituloEnd">@traducaoHelper["SELECIONE_ENDERECO_ENTREGA"]</h4>

                            <div class="md-radio-list">
                                @foreach (var endereco in usuario.Enderecos)
                                {
                                    <div class="md-radio" id="@("end" + @endereco.ID)">
                                        <input type="radio" id="@("rd" + endereco.ID)" name="EnderecoEntrega" class="md-radiobtn" onclick="removeOption(@endereco.ID, @blnEnderecoAlternativo)">
                                        <label for="@("rd" + endereco.ID)">
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <strong>@endereco.Nome:</strong> <br> @endereco.EnderecoCompleto - @endereco.Cidade.Nome/@endereco.Estado.Sigla - @endereco.CodigoPostal
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="portlet bg-grey-cararra">
                    <div class="portlet-title padding-lateral-20">
                        <div class="caption font-green">
                            <i class="fa fa-tag font-green"></i>
                            <span class="caption-subject bold uppercase"> @traducaoHelper["ENDERECO_ENTREGA"]</span>
                        </div>
                    </div>
                    <div class="portlet-body  padding-lateral-20">
                        <label id="lbEndEntrega">
                        </label>
                    </div>
                </div>

                <div class="portlet bg-grey-cararra" id="dvlbEndEntregaAlter" hidden>
                    <div class="portlet-title padding-lateral-20 ">
                        <div class="caption font-green">
                            <i class="fa fa-tag font-green"></i>
                            <span class="caption-subject bold uppercase">@traducaoHelper["ENDERECO_ENTREGA_ALTERNATIVO"]</span>
                        </div>
                    </div>
                    <div class="portlet-body padding-lateral-20">
                        <label id="lbEndEntregaAlter">
                        </label>
                    </div>
                </div>

                <div id="dvBotaoLimpar" hidden>
                    <a href="@Url.Action("EntregaEFaturamento")" class="btn btn-success btn" style="color: #ffffff; margin: 10px; float: right;">@traducaoHelper["LIMPAR"]</a>
                </div>
            </div>
        </div>

        <div class="row padding-lateral-20">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6" id="voltar">
                    <a href="@Url.Action("resumo")" class="btn btn-lg btn-info" style="color:#ffffff;margin:10px;">@traducaoHelper["VOLTAR_RESUMO"]</a>
                </div>
                <div class="col-md-6" id="pagamento" hidden>
                    <a href="@Url.Action("pagamento")" class="btn btn-success btn-lg" style="color: #ffffff; margin: 10px; float: right;">@traducaoHelper["REALIZAR_PAGAMENTO"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
