@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    ViewBag.Title = "Admin";
    ViewBag.Description = "Sistema";
    ViewBag.Author = "Nextter Digital";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@marcelo");

    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    var usuariosNivel = ViewBag.UsuariosNivel;
    var usuariosAssocDia = ViewBag.UsuariosAssocDia;
    var usuariosAssocDiaPer = ViewBag.UsuariosAssocDiaPer;

    #endregion

}

@section pageStyles {}

@section head {}

@section pageScripts {}

@section PageLevelScripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        if ('@usuariosNivel' != null) {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChartUsuariosNivel);
        }
        function drawChartUsuariosNivel() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Nivel');
            data.addColumn('number', 'Qtde');

            var dados = JSON.parse('@Html.Raw(Json.Encode(@usuariosNivel))')
            var total = 0;

            for (var i = 0; i < dados.Data.length; i++) {
                data.addRow([dados.Data[i].Name, dados.Data[i].Value]);
                total = total + dados.Data[i].Value;
            }

            var options = {
                title: '@traducaoHelper["TOTAL_USUARIOS"]' +  ' ' + total,
                legend: 'bottom',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chartUsuarioNivel'));
            chart.draw(data, options);
        }


        if ('@usuariosAssocDiaPer' != null) {
            google.charts.load('current', { 'packages': ['line'] });
            google.charts.setOnLoadCallback(drawChartUsuariosAssocDia);
        }
        function drawChartUsuariosAssocDia() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', '@usuariosAssocDiaPer' );
            data.addColumn('number', '');

            var dados = JSON.parse('@Html.Raw(Json.Encode(@usuariosAssocDia))')

            for (var i = 0; i < dados.Data.length; i++) {
                data.addRow([dados.Data[i].Name, dados.Data[i].Value]);
            }

            var options = {
                //chart: {
                //    title: 'Box Office Earnings in First Two Weeks of Opening',
                //    //subtitle: 'in millions of dollars (USD)'
                //},

                //width: 900,
                //height: 500
            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        };

    </script>
}

@section jQueryRead {}

<div class="portlet solid grey-cararra" style="max-width: 1600px;">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="row">
                <div class="column col-md-10">
                    <div class="page-title">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>
                <div class="column col-md-2">
                    <div class="page-title">
                        <span id="minutes" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                        <span id="pontos" class="hidden" style="font-size: 18px; font-weight: 500;">:</span>
                        <span id="seconds" class="hidden" style="font-size: 18px; font-weight: 500;">00</span>
                    </div>
                </div>
            </div>

            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="">@ViewBag.Title</a>
            </li>
            <li>
                <a href="" class="txtTitle"></a>
            </li>
        </ul>
    </div>
</div>
