@model Core.Entities.Pedido
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["COMPRA_FINALIZADA"].ToString().ToLower();

    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion

}

@section pageStyles {}

@section head {}

@section pageScripts {}

@section PageLevelScripts{

    <!--Alertas-->
    @if (ViewBag.AlertErro != null)
    {
        <script>
          @*errorAlert('@ViewBag.AlertErroTitulo', '@ViewBag.AlertErro');*@
          $('#mensagensErro').modal('show');
        </script>
    }

    @if (ViewBag.AlertSucesso != null)
    {
        <script>
          @*successAlert('@ViewBag.AlertSucessoTitulo', '@ViewBag.AlertSucesso');*@
          $('#mensagensSucesso').modal('show');
        </script>
    }

    @if (ViewBag.AlertInfo != null)
    {
        <script>
          @*infoAlert('@ViewBag.AlertInfoTitulo', '@ViewBag.AlertInfo');*@
          $('#mensagensInfo').modal('show');
        </script>
    }
    <!--Fim Alertas-->
}

@section jQueryRead {

}


<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row padding-20">
            @Html.Partial("_Menu", 4)
        </div>
        <div class="row padding-20">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                        {
                            <tr>
                                <th width="52%">@traducaoHelper["PRODUTO"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["QUANTIDADE"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["VALOR_UNITARIO"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["TOTAL"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["PONTOS"]</th>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th width="64%">@traducaoHelper["PRODUTO"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["QUANTIDADE"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["VALOR_UNITARIO"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["TOTAL"]</th>
                            </tr>
                        }

                    </thead>
                    <tbody>
                        @{
                            var contador = 1;
                            var totBonus = 0.00;
                        }
                        @foreach (var item in Model.PedidoItem)
                        {
                            <tr>
                                <td>
                                    <div class="product-name">
                                        <div class="product-num">@contador</div>
                                        <h4>@item.Produto.Nome</h4>
                                        <small>@item.Produto.Chamada</small>
                                    </div>
                                </td>
                                <td style="text-align:center;">@item.Quantidade</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @item.ValorUnitario.Value.ToString(moedaPadrao.MascaraOut)</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @((item.Quantidade * item.ValorUnitario).Value.ToString(moedaPadrao.MascaraOut))</td>
                                @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                {
                                    totBonus = totBonus + (item.Quantidade * item.Produto.ProdutoValor.FirstOrDefault().Bonificacao).Value;
                                    <td style="text-align:center;">@((item.Quantidade * item.Produto.ProdutoValor.FirstOrDefault().Bonificacao).Value.ToString(moedaPadrao.MascaraOut))</td>
                                }
                            </tr>
                            contador++;
                        }
                        <tr></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                            <td colspan="1">@traducaoHelper["SUBTOTAL"]</td>
                            <td style="text-align:center;">@moedaPadrao.Simbolo @Model.Subtotal.Value.ToString(moedaPadrao.MascaraOut)</td>
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                            {
                                <td style="text-align:center;">@(totBonus.ToString(moedaPadrao.MascaraOut))</td>
                            }
                        </tr>
                        @foreach (var taxa in Model.PedidoTaxa.Where(t => t.Valor != 0))
                        {
                            <tr>
                                <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                                <td colspan="1">@taxa.Taxa.Nome</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @taxa.Valor.Value.ToString(moedaPadrao.MascaraOut)</td>
                            </tr>
                        }
                        @if (@Model.Total.Value > 0 && @Core.Helpers.ConfiguracaoHelper.TemChave("FRETE_HABILITADO") && @Core.Helpers.ConfiguracaoHelper.GetBoolean("FRETE_HABILITADO"))
                        {
                            <tr>
                                <td class="noborders" colspan="2" rowspan="1"><h4 style="margin: 0px !important; padding-left: 60px;">@traducaoHelper["PRAZO_ENTREGA"]: @ViewBag.DiasFrete @traducaoHelper["DIAS"].</h4></td>
                                <td colspan="1">@traducaoHelper["FRETE"]</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @ViewBag.ValorFrete.ToString(moedaPadrao.MascaraOut)</td>
                            </tr>
                        }
                        <tr>
                            <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                            <td colspan="1">@traducaoHelper["TOTAL"]</td>
                            <td style="text-align:center;">@moedaPadrao.Simbolo @Model.Total.Value.ToString(moedaPadrao.MascaraOut)</td>
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                            {
                                <td style="text-align:center;">@(totBonus.ToString(moedaPadrao.MascaraOut))</td>
                            }
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-lg-12 remittance">
                        <div class="col col-md-4">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_SOLICITA_ENDERECO"))
                            {
                                <h5>@traducaoHelper["ENDERECO_ENTREGA"]:</h5>
                                <ul class="list-unstyled">
                                    @*<li><b>@Model.EnderecoEntrega.Nome</b></li>*@
                                    <li>@Model.EnderecoEntrega.EnderecoCompleto</li>
                                    <li>@Model.EnderecoEntrega.Distrito - @Model.EnderecoEntrega.CodigoPostal</li>
                                    <li>@Model.EnderecoEntrega.Cidade.Nome/@Model.EnderecoEntrega.Estado.Sigla</li>
                                </ul>
                                <h5 style="margin-top:25px;">Endereço de Faturamento:</h5>
                                <ul class="list-unstyled">
                                    @*<li><b>@Model.EnderecoFaturamento.Nome</b></li>*@
                                    <li>@Model.EnderecoFaturamento.EnderecoCompleto</li>
                                    <li>@Model.EnderecoFaturamento.Distrito - @Model.EnderecoFaturamento.CodigoPostal</li>
                                    <li>@Model.EnderecoFaturamento.Cidade.Nome/@Model.EnderecoFaturamento.Estado.Sigla</li>
                                </ul>
                            }
                        </div>
                        <div class="col col-md-4" style="text-align:center;padding-top:10px;">
                            @{
                                var pagamento = Model.PedidoPagamento.FirstOrDefault();
                            }
                            @if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Boleto)
                            {
                                <a href="@Url.Action("gerar", "boleto", new { area = "", pagamentoID = pagamento.ID })" target="_blank" class="btn btn-lg btn-success">@traducaoHelper["GERAR_BOLETO"]</a>
                                <p style="padding:10px;"></p>
                            }
                            @if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Deposito)
                            {
                                <p style="padding:10px;font-size:15px">@Html.Raw(traducaoHelper["DADOS_DEPOSITO"].Replace("[PEDIDO]", Model.ID.ToString()))</p>

                            }
                        </div>
                        <div class="col col-md-4" style="text-align:center;padding-top:60px;">
                            @if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Deposito)
                            {
                                <img src="@Url.Content("~/Content/admin/img/" + Helpers.Local.Sistema + "/qrCode.png")?vre=@Helpers.Local.Versao" alt="" class="logo-default" />
                            }
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("index", "meus-pedidos", new { area = "" })" class="btn btn-lg btn-info pull-right">@traducaoHelper["MEUS_PEDIDOS"]</a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

    </div>

    <div id="mensagensErro" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
        <div class="modal-dialog modal-sm" style="min-width: 380px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.Raw(ViewBag.AlertErroTitulo)</h4>
                </div>
                <div class="modal-body">
                    <div class="conteudo">
                        <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@Html.Raw(ViewBag.AlertErro)</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>

    <div id="mensagensSucesso" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
        <div class="modal-dialog modal-sm" style="min-width: 380px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.Raw(ViewBag.AlertSucessoTitulo)</h4>
                </div>
                <div class="modal-body">
                    <div class="conteudo">
                        <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@Html.Raw(ViewBag.AlertSucesso)</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>

    <div id="mensagensInfo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
        <div class="modal-dialog modal-sm" style="min-width: 380px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@Html.Raw(ViewBag.AlertInfoTitulo)</h4>
                </div>
                <div class="modal-body">
                    <div class="conteudo">
                        <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@Html.Raw(ViewBag.AlertInfo)</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>

</div>
