@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["LOJA"].ToString().ToLower();

    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;
    var upgrades = (IEnumerable<Core.Entities.Produto>)ViewBag.Upgrades;
    var produtos = (IEnumerable<Core.Entities.Produto>)ViewBag.Produtos;
    var renovacao = (IEnumerable<Core.Entities.Produto>)ViewBag.Renovacao;
    var ativacao = (IEnumerable<Core.Entities.Produto>)ViewBag.Ativacao;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion
}

@section pageStyles {
    <style>
        .bg-new-cascade {
            background: #484848 !important;
        }

        .aumentadiv {
            height: 200px !important;
        }
    </style>
}

@section head {
    <link rel="stylesheet" href="~/Content/global/plugins/fancybox/source/jquery.fancybox.css" type="text/css" media="screen">
}

@section pageScripts {
    <script type="text/javascript" src="~/Content/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
}

@section PageLevelScripts{
    <script type="text/javascript" src="@Url.Content("~/Content/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript">
        function Adicionar(id) {
            var valor = $("#idValor").val();
            $.post('@Url.Action("adicionarvalor", "carrinho")', { id: id, valor: valor}, function (result) {
                if (result.ok) {
                    $('#Adicionado').modal();
                }
                else if (result.valorInvalido) {
                    $('#msgValorInvalido').text(result.msg);
                    $('#valorInvalido').modal();
                } else if (result.pedidoExiste) {
                    $('#ProdutoExistente').modal();
                } else if (alerta != "") {
                    //ToDo Alert
                }
            });
        }

        $(document).ready(function () {
            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA").Trim().Length' != 0) {
                $('#idValor').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true});
            }
            $("a#single_image").fancybox();
            if ($('#Upgrades div.alternative').children().length == 0) {
               $('#Upgrades').hide();
            }
            if ($('#Produtos div.alternative').children().length == 0) {
               $('#Produtos').hide();
            }
            if ('@ViewBag.BoasVindas' == 'True') {
                $('#modalBoasVindas').modal('show');
            }
      });

    </script>
}

@section jQueryRead {}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href="@Url.Action("index", "carrinho")" class="btn btn-success">
                <i class="fa fa-shopping-cart"></i> @traducaoHelper["IR_CARRINHO"]
            </a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">

        @if (renovacao != null)
        {
            <div class="tiles">
                @foreach (var item in renovacao)
                {
                    <div id="modalListaProdutos@(item.ID)" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">@item.Nome</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@item.Descricao</p>
                                    @if (item.Composto)
                                    {
                                        <p class="h5">@traducaoHelper["COMPOSICAO"]:</p>
                                        <div class="scroller" style="height:250px">
                                            @if (item.ProdutoItem != null)
                                            {
                                                foreach (var i in item.ProdutoItem)
                                                {
                                                    <span style="font-size:11px">&nbsp;&nbsp;@i.Quantidade.ToString("00") @i.Produto1.Nome</span><br />
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@traducaoHelper["FECHAR"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    var valorMinimo = item.ValorMinimo(usuario);
                    var pontos = item.ValorMaximo(usuario).Bonificacao;
                    var foto = item.Fotos.FirstOrDefault();

                    <div class="col-md-3 col-sm-3 cardsLoja mt-element-ribbon">
                        <div class="lojadiv text-center">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE") && valorMinimo != null)
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome - @pontos @traducaoHelper["PONTOS"] </div>
                            }
                            else
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome</div>
                            }
                            @if (foto != null)
                            {
                                <a id="single_image" class="fancybox" href="@foto" title="@item.Nome">
                                    <div class="divImagemProdutoLoja" style="background-image: url('@foto');"></div>
                                </a>
                            }
                            else
                            {
                                <a id="single_image" class="fancybox" href="@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg")"><div class="divImagemProdutoLoja" style="background-image: url('@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg") " );'></div></a>
                            }
                            <div class="divMaskProdutoLoja"><span class="tituloProdutoLoja">@item.Nome</span></div>
                            <div class="divMaskProdutoLoja"><span class="descricaoProdutoLoja">@item.Chamada</span></div>

                            @if (item.Composto)
                            {
                                <div class="divComposicaoLoja"><a class="btn btn-link btn-xs botaoComposicaoLoja" href="#modalListaProdutos@(item.ID)" role="button" data-toggle="modal">@traducaoHelper["VER_COMPOSICAO"]</a></div>
                            }
                            else
                            {
                                <div class="divComposicaoLoja"></div>
                            }
                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_VALOR_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@moedaPadrao.Simbolo @valorMinimo.Valor.Value.ToString(moedaPadrao.MascaraOut)</span>
                                        </div>
                                    }
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@pontos @traducaoHelper["PTS"]</span>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12 colunaPrecoLoja"><button class="btn btn-success btn-block" onclick="Adicionar(@item.ID);"><i class="fa fa-shopping-cart"></i>&nbsp;@traducaoHelper["CONTRATAR"]</button></div>
                                }
                                else
                                {
                                    <span class="indisponivel">@traducaoHelper["INDISPONIVEL"]</span>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
        }

        @if (ativacao != null)
        {
            <div class="tiles">
                @foreach (var item in ativacao)
                {
                    <div id="modalListaProdutos@(item.ID)" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">@item.Nome</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@item.Descricao</p>
                                    @if (item.Composto)
                                    {
                                        <p class="h5">@traducaoHelper["COMPOSICAO"]:</p>
                                        <div class="scroller" style="height:250px">
                                            @if (item.ProdutoItem != null)
                                            {
                                                foreach (var i in item.ProdutoItem)
                                                {
                                                    <span style="font-size:11px">&nbsp;&nbsp;@i.Quantidade.ToString("00") @i.Produto1.Nome</span><br />
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-intern" data-dismiss="modal">@traducaoHelper["FECHAR"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    double? pontos = 0.0;
                    var valorMinimo = item.ValorMinimo(usuario);
                    if (item != null && item.ValorMaximo(usuario) != null)
                    {
                        pontos = item.ValorMaximo(usuario).Bonificacao;
                    }

                    var foto = item.Fotos.FirstOrDefault();

                    <div class="col-md-3 col-sm-3 cardsLoja mt-element-ribbon">
                        <div class="lojadiv text-center">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE") && valorMinimo != null)
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome - @pontos @traducaoHelper["PONTOS"] </div>
                            }
                            else
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome</div>
                            }
                            @if (foto != null)
                            {
                                <a id="single_image" class="fancybox" href="@foto" title="@item.Nome">
                                    <div class="divImagemProdutoLoja" style="background-image: url('@foto');"></div>
                                </a>
                            }
                            else
                            {
                                <a id="single_image" class="fancybox" href="@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg")">
                                    <div class="divImagemProdutoLoja" style="background-image: url('@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg") " );'></div>
                                </a>
                            }
                            <div class="divMaskProdutoLoja"><span class="tituloProdutoLoja">@item.Nome</span></div>
                            <div class="divMaskProdutoLoja"><span class="descricaoProdutoLoja">@item.Chamada</span></div>

                            @if (item.Composto)
                            {
                                <div class="divComposicaoLoja"><a class="btn btn-link btn-xs botaoComposicaoLoja" href="#modalListaProdutos@(item.ID)" role="button" data-toggle="modal">@traducaoHelper["VER_COMPOSICAO"]</a></div>
                            }
                            else
                            {
                                <div class="divComposicaoLoja"></div>
                            }

                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_VALOR_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@moedaPadrao.Simbolo @valorMinimo.Valor.Value.ToString(moedaPadrao.MascaraOut)</span>
                                        </div>
                                    }
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@pontos @traducaoHelper["PTS"]</span>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12 colunaPrecoLoja"><button class="btn btn-success btn-block" onclick="Adicionar(@item.ID);"><i class="fa fa-shopping-cart"></i>&nbsp;@traducaoHelper["COMPRAR"]</button></div>
                                }
                                else
                                {
                                    <span class="indisponivel">@traducaoHelper["INDISPONIVEL"]</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        @if (upgrades != null)
        {
            <div class="tiles">
                @foreach (var item in upgrades)
                {
                    <div id="modalListaProdutos@(item.ID)" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">@item.Nome</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@item.Descricao</p>
                                    @if (item.Composto)
                                    {
                                        <p class="h5">@traducaoHelper["COMPOSICAO"]:</p>
                                        <div class="scroller" style="height:250px">
                                            @if (item.ProdutoItem != null)
                                            {
                                                foreach (var i in item.ProdutoItem)
                                                {
                                                    <span style="font-size:11px">&nbsp;&nbsp;@i.Quantidade.ToString("00") @i.Produto1.Nome</span><br />
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@traducaoHelper["FECHAR"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    var valorMinimo = item.ValorMinimo(usuario);
                    long pontos = 0;
                    if (item.ValorMaximo(usuario) != null)
                    {
                        pontos = Convert.ToInt64(item.ValorMaximo(usuario).Bonificacao);
                    }

                    var foto = item.Fotos.FirstOrDefault();

                    <div class="col-md-3 col-sm-3 cardsLoja mt-element-ribbon">
                        <div class="lojadiv text-center">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE") && valorMinimo != null)
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome - @pontos @traducaoHelper["PONTOS"] </div>
                            }
                            else
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome</div>
                            }
                            @if (foto != null)
                            {
                                <a id="single_image" class="fancybox" href="@foto" title="@item.Nome">
                                    <div class="divImagemProdutoLoja" style="background-image: url('@foto');"></div>
                                </a>
                            }
                            else
                            {
                                <a id="single_image" class="fancybox" href="@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg")"><div class="divImagemProdutoLoja" style="background-image: url('@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg") " );'></div></a>
                            }
                            <div class="divMaskProdutoLoja"><span class="tituloProdutoLoja">@item.Nome</span></div>
                            <div class="divMaskProdutoLoja"><span class="descricaoProdutoLoja">@item.Chamada</span></div>

                            @if (item.Composto)
                            {
                                <div class="divComposicaoLoja"><a class="btn btn-link btn-xs botaoComposicaoLoja" href="#modalListaProdutos@(item.ID)" role="button" data-toggle="modal">@traducaoHelper["VER_COMPOSICAO"]</a></div>
                            }
                            else
                            {
                                <div class="divComposicaoLoja"></div>
                            }

                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_VALOR_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@moedaPadrao.Simbolo @valorMinimo.Valor.Value.ToString(moedaPadrao.MascaraOut)</span>
                                        </div>
                                    }
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@pontos @traducaoHelper["PTS"]</span>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12 colunaPrecoLoja"><button class="btn btn-success btn-block" onclick="Adicionar(@item.ID);"><i class="fa fa-shopping-cart"></i>&nbsp;@traducaoHelper["COMPRAR"]</button></div>
                                }
                                else
                                {
                                    <span class="indisponivel">@traducaoHelper["INDISPONIVEL"]</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        @if (produtos != null)
        {
            <div class="tiles">
                @foreach (var item in produtos)
                {
                    <div id="modalListaProdutos@(item.ID)" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">@item.Nome</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@item.Descricao</p>
                                    @if (item.Composto)
                                    {
                                        <p class="h5">@traducaoHelper["COMPOSICAO"]:</p>
                                        <div class="scroller" style="height:250px">
                                            @if (item.ProdutoItem != null)
                                            {
                                                foreach (var i in item.ProdutoItem)
                                                {
                                                    <span style="font-size:11px">&nbsp;&nbsp;@i.Quantidade.ToString("00") @i.Produto1.Nome</span><br />
                                                }
                                            }
                                        </div>
                                    }

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-intern" data-dismiss="modal">@traducaoHelper["FECHAR"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    var valorMinimo = item.ValorMinimo(usuario);
                    var pontos = item.ValorMaximo(usuario).Bonificacao;
                    var foto = item.Fotos.FirstOrDefault();

                    <div class="col-md-3 col-sm-3 cardsLoja mt-element-ribbon">
                        <div class="lojadiv text-center">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE") && valorMinimo != null)
                            {
                                <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome - @pontos @traducaoHelper["PONTOS"] </div>
                            }
                            else
                            {
                                if (!Core.Helpers.ConfiguracaoHelper.GetBoolean("PRODUTO_VALOR_VARIAVEL"))
                                {
                                    <div class="ribbon ribbon-color-card ribbon-right ribbon-shadow ribbon-round ribbon-texto">@item.ProdutoTipo.Nome</div>
                                }
                            }
                            @if (foto != null)
                            {
                                <a id="single_image" class="fancybox" href="@foto" title="@item.Nome">
                                    <div class="divImagemProdutoLoja" style="background-image: url('@foto');"></div>
                                </a>
                            }
                            else
                            {
                                <a id="single_image" class="fancybox" href="@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg")"><div class="divImagemProdutoLoja" style="background-image: url('@Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/produtoPadrao2.jpg") " );'></div></a>
                            }
                            <div class="divMaskProdutoLoja"><span class="tituloProdutoLoja">@item.Nome</span></div>
                            <div class="divMaskProdutoLoja"><span class="descricaoProdutoLoja">@String.Format(item.Chamada, ViewBag.ValorMinimo)</span></div>

                            @if (item.Composto)
                            {
                                <div class="divComposicaoLoja"><a class="btn btn-link btn-xs botaoComposicaoLoja" href="#modalListaProdutos@(item.ID)" role="button" data-toggle="modal">@traducaoHelper["VER_COMPOSICAO"]</a></div>
                            }

                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_VALOR_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@moedaPadrao.Simbolo @valorMinimo.Valor.Value.ToString(moedaPadrao.MascaraOut)</span>
                                        </div>
                                    }
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("PRODUTO_VALOR_VARIAVEL"))
                                    {
                                        <div class="col-md-12 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@traducaoHelper["VALOR_ATUAL"]: @moedaPadrao.Simbolo @(ViewBag.ValorAtual != null ? ViewBag.ValorAtual.ToString(moedaPadrao.MascaraOut) : 0)</span>
                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <div class="input-group" style="width: 100%;">
                                                <input id="idValor" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_ADICIONAR"] @moedaPadrao.Simbolo" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span>&nbsp;</span>
                                        </div>
                                    }
                                    if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                    {
                                        <div class="col-md-6 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@pontos @traducaoHelper["PTS"]</span>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="grupoBotoes">
                                @if (valorMinimo != null)
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12 colunaPrecoLoja"><button class="btn btn-success btn-block" onclick="Adicionar(@item.ID);"><i class="fa fa-shopping-cart"></i>&nbsp;@traducaoHelper["COMPRAR"]</button></div>
                                }
                                else
                                {
                                    <span class="indisponivel">@traducaoHelper["INDISPONIVEL"]</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>

<div id="Adicionado" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="min-width: 330px; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["PRODUTO_ADICIONADO"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-md-6">
                            <button class="btn btn-info btn-sm" data-dismiss="modal" aria-hidden="true">@traducaoHelper["CONTINUAR_COMPRANDO"]</button>
                        </div>*@

                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("index", "carrinho")" class="btn btn-intern btn-sm" aria-hidden="true">@traducaoHelper["FINALIZAR_CONTRATO"]</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ProdutoExistente" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="min-width: 330px; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["PEDIDO_JA_EXISTENTE"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        @Html.Raw(traducaoHelper["PEDIDO_JA_EXISTENTE_MENSAGEM"])<br /><br />
                        @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("PRODUTO_VALOR_VARIAVEL"))
                        {
                            <p>@Html.Raw(traducaoHelper["STATUS"] + ": " + traducaoHelper["AGUARDANDO_PAGAMENTO"] + " " + traducaoHelper["OU"] + " " + traducaoHelper["AGUARDANDO_CONFIRMACAO"])</p>
                        }
                        <a href="@Url.Content("~/MeusPedidos/index")" class="btn btn-intern btn-sm" aria-hidden="true">@traducaoHelper["MEUS_PEDIDOS"]</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="valorInvalido" class="modal modalPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">@traducaoHelper["ALERTA"]</h2>
            </div>
            <div class="modal-body">
                <div class="box" style="background:#ffffff !important;">
                    <h4 class="cor" id="msgValorInvalido"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-intern">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBoasVindas" class="modal modalPosition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">@ViewBag.BemVindo!</h2>
            </div>
            <div class="modal-body">
                <div class="box" style="background:#ffffff !important;">
                    <h3 class="modal-title">@ViewBag.Obrigado!</h3>
                    <h4 class="cor">@ViewBag.CorpoPopUp</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-intern">OK</button>
            </div>
        </div>
    </div>
</div>

