@model PagedList.IPagedList<Core.Entities.Departamento>
@using PagedList.Mvc;

@{
   ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
}

<div class="portlet box grey-gallery">

   <div class="portlet-title">
      <div class="caption"><i class="fa fa-reorder"></i> @traducaoHelper["DEPARTAMENTO"]</div>
      <div class="tools">
         <a href="javascript:;" class="collapse" title="@traducaoHelper["FECHAR"]" />
         @*<a href='@Url.Action("Reload", "Departamentos")' class="atualizar" title="@traducaoHelper["RELER"]" />*@
      </div>
      <div class="actions">
         <a href='@Url.Action("Create", "Departamentos", new {@id = 0})' class="btn green-meadow">
            <i class="fa fa-plus"></i> @traducaoHelper["NOVO"]
         </a>
         @*<a href='@Url.Action("Excel", "Departamentos")' class="btn btn-sm yellow-casablanca">
            <i class="fa fa-file-excel-o"></i> Excel
         </a>*@
         <label>&nbsp;</label>
      </div>
   </div>

   <div class="portlet-body">

      <div class="table-toolbar">
         <div class="row">
            <div class="col-md-4">
               <div class="form-group">
                  <div class="input-group">
                     @using (Html.BeginForm("Index", "Departamentos", FormMethod.Get))
                     {
                        @Html.DropDownList("NumeroPaginas", null, htmlAttributes: new { @class = "form-control input-small input-inline marginB05" })
                        <input class="btn purple form-control input-small input-inline fontPlaceHolderIcon" id="Atualizar" name="Atualizar" value="&#xf021; @traducaoHelper["ATUALIZAR"]" type="submit" />
                     }
                  </div>
               </div>
            </div>
            <div class="col-md-8">
               @using (Html.BeginForm("Index", "Departamentos", FormMethod.Get))
               {
                  <div class="form-group pull-right">
                     <div class="input-group">
                        @Html.TextBox("ProcuraNome", ViewBag.CurrentProcuraNome as string, new { @class = "form-control input-small input-inline fontPlaceHolderIcon marginB05", @placeholder = traducaoHelper["NOME"] })
                        <input class="btn blue-madison form-control input-small input-inline fontPlaceHolderIcon" id="Procura" name="Procura" value="&#xf002; @traducaoHelper["PROCURAR"]" type="submit" />
                     </div>
                  </div>
               }
            </div>
         </div>
         <div class="row">
            <div class="col-md-10">
               @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SortOrder = ViewBag.CurrentSort, ProcuraSKU = ViewBag.CurrentProcuraSKU, CurrentProcuraNome = ViewBag.CurrentProcuraNome, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
            </div>
            <div class="col-md-2">
               <label class="pull-right">@traducaoHelper["PAG"] @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"] @Model.PageCount &nbsp;</label>
            </div>
         </div>
      </div>

      <div class="table-scrollable">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr>
                  <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["ACOES"]&nbsp;</th>
                  
                  <th scope="col">
                     @Html.ActionLink(traducaoHelper["NOME"], "Index", new { SortOrder = ViewBag.FirstSortParm, CurrentProcuraSKU = ViewBag.CurrentProcuraSKU, CurrentProcuraNome = ViewBag.CurrentProcuraNome, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize })
                     @switch ((string)ViewBag.CurrentSort.ToString())
                     {
                        case "Nome":
                           {<i class="fa fa-chevron-down"></i>}
                           break;
                        case "Nome_desc":
                           {<i class="fa fa-chevron-up"></i>}
                           break;
                     }
                  </th>
                  <th scope="col">@traducaoHelper["PAI"]</th>
                  <th scope="col">@traducaoHelper["ORDEM"]</th>
                  <th scope="col">@traducaoHelper["DISPONIVEL"]</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th scope="col" style="min-width:80px; width:80px;">&nbsp;@traducaoHelper["ACOES"]&nbsp;</th>
                
                  <th scope="col">
                     @Html.ActionLink(traducaoHelper["NOME"], "Index", new { SortOrder = ViewBag.FirstSortParm, CurrentProcuraSKU = ViewBag.CurrentProcuraSKU, CurrentProcuraNome = ViewBag.CurrentProcuraNome, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize })
                     @switch ((string)ViewBag.CurrentSort.ToString())
                     {
                        case "Nome":
                           {<i class="fa fa-chevron-down"></i>}
                           break;
                        case "Nome_desc":
                           {<i class="fa fa-chevron-up"></i>}
                           break;
                     }
                  </th>
                  <th scope="col">@traducaoHelper["PAI"]</th>
                  <th scope="col">@traducaoHelper["ORDEM"]</th>
                  <th scope="col">@traducaoHelper["DISPONIVEL"]</th>
               </tr>
            </tfoot>
            <tbody>
               @foreach (var item in Model)
               {
                  <tr>
                     <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "gridEdit", title = traducaoHelper["EDITAR"] })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "gridDetail", title = traducaoHelper["DETALHES"] })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "gridDelete", title = traducaoHelper["EXCLUIR"] })
                     </td>
            
                     <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                     </td>
                     <td>
                        @Html.DisplayFor(model => item.Departamento2.Nome)
                     </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Ordem)
                     <td>
                        @Html.DisplayFor(modelItem => item.Disponivel)
                     </td>

                  </tr>
               }
            </tbody>
         </table>
      </div>

      <div class="row">
         <div class="border-gridFooter">
            <div class="col-md-10">
               @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SortOrder = ViewBag.CurrentSort, CurrentProcuraSKU = ViewBag.CurrentProcuraSKU, CurrentProcuraNome = ViewBag.CurrentProcuraNome, NumeroPaginas = ViewBag.CurrentNumeroPaginas, PageSize = ViewBag.PageSize }))
            </div>
            <div class="col-md-2">
               <label class="pull-right">@traducaoHelper["PAG"]  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @traducaoHelper["DE"]  @Model.PageCount &nbsp;</label>
            </div>
         </div>
      </div>

   </div>

</div>
