@{
    #region Layout

    Layout = "~/Views/Shared/_Cadastro.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["CADASTRESE"].ToString().ToLower();
    string dtMax = Core.Helpers.App.DateTimeZion.Date.ToString("yyyy-MM-dd");
    var cepBuscaEndereco = Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_CEP_BUSCA_ENDERECO");
    var blnPermitePJ = Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_PERMITE_PJ");
    var tipoPessoa = (@ViewBag.TipoPessoa == null || ViewBag.TipoPessoa == "F") ? "F" : "J";
    var paises = ViewBag.Paises != null ? (IEnumerable<Core.Entities.Pais>)ViewBag.Paises : null;
    var pais = ViewBag.Pais != null ? (Core.Entities.Pais)ViewBag.Pais : null;
    var estados = ViewBag.Estados != null ? (IEnumerable<Core.Entities.Estado>)ViewBag.Estados : null;
    var patrocinador = ViewBag.Patrocianador;

    bool exibeRedeSocial = Core.Helpers.ConfiguracaoHelper.GetBoolean("EXIBE_REDES_SOCIAIS");
    
    exibeRedeSocial = false;

    #endregion

    #region Variaveis
    var captchaKey = Core.Helpers.ConfiguracaoHelper.GetString("RECAPTCHA_SITE_KEY"); @*"6LegpsUUAAAAACAAg-PdfR7OZE-N2cp1-XtA8JKd";*@

    #endregion

}

@section pageStyles {
    <!--BEGIN Cadastro-->
    @Styles.Render("~/Content/cadastro")
    <!--END Cadastro-->
}

@section head {
}

@section pageScripts {
    <!--BEGIN Cadastro-->
    @Scripts.Render("~/scripts/cadastro")
    <!--END Cadastro-->
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-be.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-ru.js"></script>
}

@section PageLevelScripts{

    @if (@pais.Idioma.Sigla == "pt-BR")
    {
        <script type="text/javascript">

            $(document).ready(function () {

            });

            $('#Login').on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

                if (navigator.userAgent.includes("Firefox")) {
                    if (key == '\u0008' || key == '\u0000') // Left / Up / Right / Down Arrow, Backspace, Delete, Tab keys
                        return;
                }

                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });

            $('#Login').bind('paste', function (event) {
                event.preventDefault();
            })

            $('#Nome').on('keypress', function (event) {
                var regex = new RegExp("^[A-z À-ú]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

                if (navigator.userAgent.includes("Firefox")) {
                    if (key == '\u0008' || key == '\u0000') // Left / Up / Right / Down Arrow, Backspace, Delete, Tab keys
                        return;
                }

                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
        </script>
    }

    @if (ViewBag.Patrocinador != null)
    {
        Core.Entities.Usuario getPatrocinador = (Core.Entities.Usuario)ViewBag.Patrocinador;

        var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
        usuarioBinder.Usuario = getPatrocinador;

        string foto = "";

        if (String.IsNullOrEmpty(foto))
        {
            foto = Url.Content("~/Content/img/" + (getPatrocinador.Sexo == "M" ? Helpers.Local.Sistema + "/Homem" : Helpers.Local.Sistema + "/Mulher") + ".png");
        }

        var p = String.Format("ID:{0}, Foto:'{1}', Apelido: '{2}', Nome: '{3}', Login: '{4}', NomeFantasia: '{5}', Celular: '{6}'", getPatrocinador.ID, foto, getPatrocinador.Apelido, getPatrocinador.Nome, getPatrocinador.Login, getPatrocinador.NomeFantasia, getPatrocinador.Celular);

        <script type="text/javascript">
            //Mudar patrociandor
            function Mudar(patrocinador) {
                $('#Buscar').hide();
                $('#Resultado').hide();
                $('#Cadastro').show();
                $('#Patrocinador img').attr('src', patrocinador.Foto);
                $('#Patrocinador span.CadastroNome').html(patrocinador.Login);
                $('#PatrocinadorID').val(patrocinador.ID);
                $('#FormPais-PatrocinadorID').val(patrocinador.ID);
            }
        </script>

        ViewContext.Writer.Write("<script>Mudar({" + p + "});</script>");
    }

    <script type="text/javascript">

        $('#CodigoPostal').inputmask('@pais.MascaraCep');
        $('#CodigoPostal2').inputmask('@pais.MascaraCep');

        //Trocar
        function Trocar() {
            $('#Buscar').show();
            $('#Resultado').show();
            $('#Cadastro').hide();
        }
        //Fim Trocar

        //Selecionar
        function Selecionar(patrocinador) {
            $('#Buscar').hide();
            $('#Resultado').hide();
            $('#Cadastro').show();
            $('#Patrocinador img').attr('src', patrocinador.Foto);
            $('#Patrocinador span.CadastroApelido').html(patrocinador.Apelido);
            $('#Patrocinador span.CadastroNome').html(patrocinador.Nome);
            $('#Patrocinador span.CadastroLogin').html(patrocinador.Login);
            $('#Patrocinador span.CadastroFantasia').html(patrocinador.NomeFantasia);
            $('#PatrocinadorID').val(patrocinador.ID);
            $('#FormPais-PatrocinadorID').val(patrocinador.ID);
        }
        //fim selecionar

        //Buscar
        function Buscar() {
            var fPatrocinador = $('#patrocinador').val();
            var fPais = $('#sigla').val();
            if (fPais.length == '') {
            infoAlert('@traducaoHelper["ALERTA"]', '@traducaoHelper["PAIS_NAO_INFORMADO"]');
            }
            else {
            if (fPatrocinador == '') {
                infoAlert('@traducaoHelper["ALERTA"]', '@traducaoHelper["PATROCINADOR_NAO_INFORMADO"]');
            }
            else {
                $('#Resultado').show();
                $('#Resultado').html('<label class="label">@traducaoHelper["BUSCANDO"]...</label>');
                $.post('@Url.Action("buscar", "cadastro")', { sigla: $('#sigla').val(), termo: $('#patrocinador').val() }, function (data) {
                    $('#Resultado').html(data);
                });
            }
            }
        }

        //fim buscar

        function QuantidadeRepeticaoDocumento(documento) {
            $.post('@Url.Action("QuantidadeRepeticaoDocumento", "cadastro")', { strDocumento: documento }, function (data) {
                if (data == 0) {
                    $('#DocPFInfo').text("");
                    $('#DocPJInfo').text("");
                }
                else {
                    $('#DocPFInfo').text(data + ' ' + '@traducaoHelper["REGISTRO_REALIZADO_COM_DOCUMENTO"].ToLower()');
                    $('#DocPJInfo').text(data + ' ' + '@traducaoHelper["REGISTRO_REALIZADO_COM_DOCUMENTO"].ToLower()');
                }
            });
        }

        function Cidades(tipoCidade) {

            if (tipoCidade == 1) {
                var estado = $('#EstadoID').val();
                //$("#CodigoPostal").val('');
            }
            else {
                var estado = $('#EstadoID2');
                //$("#CodigoPostal2").val('');
            }

            if (estado != '') {
            $.post('@Url.Action("cidades", "cadastro")', { estadoID: estado }, function (data) {
                var html = '<option value="">Selecione uma opção</option>';
                for (var i in data) {
                    html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                }

                if (tipoCidade == 1) {
                    $("#CidadeIDInput").hide();
                    $("#CidadeID").show();
                    $('#CidadeID').html(html);
                    //window.setTimeout(function () {
                        //Metronic.unblockUI('#divCidade');
                    //}, 2000);
                }
                else {
                    $("#CidadeIDInput2").hide();
                    $("#CidadeID2").show();
                    $('#CidadeID2').html(html);
                    //window.setTimeout(function () {
                        //Metronic.unblockUI('#divCidade2');
                    //}, 2000);
                }
            });
            }

            if (tipoCidade == 1) {
                $('#lblCidade').html('@traducaoHelper["CIDADE"].ToLower()');
                //window.setTimeout(function () {
                    //Metronic.unblockUI('#divCidade');
                //}, 22000);
            }
            else {
                $('#lblCidade2').html('@traducaoHelper["CIDADE"].ToLower()');
                //window.setTimeout(function () {
                    //Metronic.unblockUI('#divCidade2');
                //}, 22000);
            }
        }

        $('#pais').on('change', function () {
            var currentVal = $(this).val();
            localStorage.setItem('selectVal', currentVal);
        });

    </script>

    <script type="text/javascript">
        //Read
        $(document).ready(function () {

            if (localStorage.selectVal) {
                // Select the value stored
                $('#pais').val(localStorage.selectVal);
            }

            $('#Busca').keyup(function (e) {
            var code = e.which;
            if (code == 32 || code == 13 || code == 188 || code == 186) {
                Buscar();
            }
            });

            $("#EstadoID").on("change paste keyup", function () {
            Cidades(1);
            });

            $("#EstadoID2").on("change paste keyup", function () {
                Cidades(2);
            });

              //Validacao Inicio

            $.validator.addMethod("password", function (value) {
            return (/[A-Z]/.test(value) && // Maiusucula

                    /[a-z]/.test(value) && // Minuscula

                    /\d/.test(value) && // digito

                    /[!?@@#$%&*()--+=|\\/:.,_;]/.test(value)) // caracteres especiais

                    || !ViewBag.SenhaComplexa
                ;
            },
                $.validator.format('@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]')
            );


            $('#form-cadastro').validate({
            errorElement: 'span',
            rules: {
                Nome: {
                    required: true,
                    minlength: 3
                },
                DataNascimento: {
                    required: true,
                    remote: '@Url.Action("DataValidar", "cadastro")'
                },
                @*Documento: {
                    required: true,
                    remote: '@Url.Action("DocumentoValidar", "cadastro")'
                },*@
                //EstadoID: 'required',
                //CidadeID: 'required',
                //Logradouro: 'required',
                Celular: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true,
                    remote: '@Url.Action("EmailValidar", "cadastro")'
                },
                ConfirmarEmail: {
                    equalTo: '#Email'
                },
                Login: {
                    required: true,
                    minlength: 3,
                    remote: '@Url.Action("LoginValidar", "cadastro")'
                },
                Senha: {
                    required: true,
                    minlength: 6,
                    password: true
                },
                ConfirmarSenha: {
                    equalTo: '#Senha'
                },
                Observacoes2: {
                    required: true
                },
                Numero2: {
                    required: true
                }
            },
            messages: {
                Nome: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    minlength: '@traducaoHelper["MINIMO_3_CARACTERES"]'
                },
                DataNascimento: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    remote: '@traducaoHelper["DATA_INVALIDA"]'
                },
                @*Documento: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    remote: 'CPF em uso'
                },*@
                @*EstadoID: '@traducaoHelper["CAMPO_REQUERIDO"]',
                CidadeID: '@traducaoHelper["CAMPO_REQUERIDO"]',
                Logradouro: '@traducaoHelper["CAMPO_REQUERIDO"]',*@
                Celular: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]'
                },
                Email: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    email: '@traducaoHelper["DIGITE_EMAIL_VALIDO"]',
                    remote: '@traducaoHelper["EMAIL_EM_USO"]'
                },
                ConfirmarEmail: {
                    email: '@traducaoHelper["DIGITE_EMAIL_VALIDO"]',
                    equalTo: '@traducaoHelper["DIGITE_MESMO_EMAIL"]'
                },
                Login: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    minlength: '@traducaoHelper["MINIMO_3_CARACTERES"]',
                    remote: '@traducaoHelper["LOGIN_EM_USO"]'
                },
                Senha: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    minlength: '@traducaoHelper["SENHA_DEVE_CONTER_6_CARACTERES"]',
                    password: '@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]'
                },
                ConfirmarSenha: {
                    equalTo: '@traducaoHelper["DIGITE_MESMA_SENHA"]',
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    minlength: '@traducaoHelper["SENHA_DEVE_CONTER_6_CARACTERES"]',
                    password: '@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]'
                },
                Observacoes2: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]'
                },
                Numero2: {
                    required: '@traducaoHelper["CAMPO_REQUERIDO"]'
                }
            },
            errorPlacement: function (error, element) {
                error.addClass("help-block");
                error.insertAfter(element);
            }

            });
            //Validacao Fim

          });

      //fim Read
    </script>

    @if (@cepBuscaEndereco == true)
    {
        <script type="text/javascript">
            //Quando o campo cep perde o foco.

            $("#CodigoPostal").blur(function () {
            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {
                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {
                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                        var est = 0;
                        //Atualiza os campos com os valores da consulta.
                        $("#Logradouro").val(dados.logradouro);
                        $("#Bairro").val(dados.bairro);
                        $("#Bairro").focus();
                        $("#Logradouro").focus();
                        $.post('@Url.Action("estadoID", "cadastro", new { area = "" })', { uf: dados.uf }, function (data) {
                            $("#EstadoID").val(data);
                            est = $('#EstadoID').val();
                        });

                        $.post('@Url.Action("CidadesToUF", "cadastro")', { uf: dados.uf, cidade: dados.localidade }, function (data) {
                            $('#CidadeID').html(data);
                            //window.setTimeout(function () {
                            //   Metronic.unblockUI('#divCidade');
                            //}, 2000);
                        });

                        //Atribui a cidade encontrada ao campo input de Cidade e oculta a lista de cidades do estado.
                        $("#CidadeID").hide();
                        $("#CidadeIDInput").show();
                        $("#CidadeIDInput").val(dados.localidade);

                        } //end if.
                        else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
            });

            $("#CodigoPostal2").blur(function () {
            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {
                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {
                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                        var est = 0;
                        //Atualiza os campos com os valores da consulta.
                        $("#Logradouro2").val(dados.logradouro);
                        $("#Bairro2").val(dados.bairro);
                        $("#Bairro2").focus();
                        $("#Logradouro2").focus();
                        $.post('@Url.Action("estadoID", "cadastro", new { area = "" })', { uf: dados.uf }, function (data) {
                            $("#EstadoID2").val(data);
                            est = $('#EstadoID2').val();
                        });

                        $.post('@Url.Action("CidadesToUF", "cadastro")', { uf: dados.uf, cidade: dados.localidade }, function (data) {
                            $('#CidadeID2').html(data);
                            //window.setTimeout(function () {
                            //   Metronic.unblockUI('#divCidade2');
                            //}, 2000);
                        });

                        //Atribui a cidade encontrada ao campo input de Cidade e oculta a lista de cidades do estado.
                        $("#CidadeID2").hide();
                        $("#CidadeID2Input").show();
                        $("#CidadeID2Input").val(dados.localidade);

                        } //end if.
                        else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
            });

            function ExibirListaCidades2() {
                $("#CidadeID2Input").hide();
                $("#CidadeID2").show();
            }

            function ExibirListaCidades() {
                $("#CidadeIDInput").hide();
                $("#CidadeID").show();
            }

            function CarregaCEP(campo) {

                var cep = $(campo).val().replace(/\D/g, '');

                if (campo == '#CodigoPostal')
                    var tipo = '';
                else
                    var tipo = '2';

            //Verifica se campo cep possui valor informado.
            if (cep != "") {
                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {
                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            var est = 0;

                        //Atualiza os campos com os valores da consulta.
                        $("#Logradouro" + tipo).val(dados.logradouro);
                        $("#Bairro" + tipo).val(dados.bairro);
                        $("#Bairro" + tipo).focus();
                        $("#Logradouro" + tipo).focus();
                        $.post('@Url.Action("estadoID", "cadastro", new { area = "" })', { uf: dados.uf }, function (data) {
                            $("#EstadoID" + tipo).val(data);
                            est = $('#EstadoID' + tipo).val();
                        });

                        $.post('@Url.Action("CidadesToUF", "cadastro")', { uf: dados.uf, cidade: dados.localidade }, function (data) {
                            $('#CidadeID' + tipo).html(data);
                            //window.setTimeout(function () {
                            //   Metronic.unblockUI('#divCidade');
                            //}, 2000);
                        });

                        //Atribui a cidade encontrada ao campo input de Cidade e oculta a lista de cidades do estado.
                        $("#CidadeID" + tipo).hide();
                        $("#CidadeID" + tipo + "Input").show();
                        $("#CidadeID" + tipo + "Input").val(dados.localidade);

                        } //end if.
                        else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
            };

            $('input[name="TipoPessoa"]').change(function () {
                if ($('input[name="TipoPessoa"]:checked').val() === "F") {
                    $('.divSexo').show();
                    $('.divDocPF').show();
                    $('.divDocPJ').hide();
                    $("#lblDataNascimento").text("@traducaoHelper["DATA_NASCIMENTO"].ToLower()");
                    $("#DocPJ").text("");

                } else {
                    $('.divSexo').hide();
                    $('.divDocPF').hide();
                    $('.divDocPJ').show();
                    $("#lblDataNascimento").text("@traducaoHelper["DATA_ABERTURA"].ToLower()");
                    $("#DocPF").text("");
                }
            });

        </script>
    }
}

@section jQueryRead {
    FormValidation.init();
}

<div class="row">
    <div class="col-md-12 ">
        <div class="portlet solid grey-cararra">
            <div class="portlet-title">
                <div class="caption padding-Left-20">
                    <i class="fa fa-user"></i>@traducaoHelper["CADASTRO"]
                </div>
            </div>
            <div class="portlet-body">
                <div class="row padding-lateral-20" id="Buscar">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12" id="boasvindas">
                                @if (traducaoHelper["BOAS_VINDAS_NOVO_ASSOCIADO"] != "[BOAS_VINDAS_NOVO_ASSOCIADO]")
                                {
                                    <h4>@traducaoHelper["BOAS_VINDAS_NOVO_ASSOCIADO"]</h4>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @using (Html.BeginForm("Pais_Changed", "cadastro", FormMethod.Post, new { id = "form-pais", name = "form-pais" }))
                        {

                            if (Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_PAIS_FIXO") == "true")
                            {
                                <h2>@traducaoHelper["ENTRE_PATROCINADOR"]</h2>
                                <div class="hide">
                                    <div class="form-group form-md-line-input has-info">
                                        <select class="form-control dropone" id="sigla" name="sigla" onchange="form.submit()">
                                            <option value="">Selecione sua cidade</option>
                                            @foreach (var _pais in paises)
                                            {
                                                <option value="@_pais.Sigla" @Html.Raw(_pais.Sigla == pais.Sigla ? "selected=\"selected\"" : "")>@_pais.Nome</option>
                                            }
                                        </select>
                                        <label for="sigla">@traducaoHelper["PAIS"].ToLower()</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h2>@traducaoHelper["SELECIONE_PAIS_DIGITE_PATROCINADOR"]</h2>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input has-info">
                                        <select class="form-control dropone" id="sigla" name="sigla" onchange="form.submit()">
                                            <option value="">Selecione o Patrocinador</option>
                                            @foreach (var _pais in paises)
                                            {
                                                <option value="@_pais.Sigla" @Html.Raw(_pais.Sigla == pais.Sigla ? "selected=\"selected\"" : "")>@_pais.Nome</option>
                                            }
                                        </select>
                                        <label for="sigla">@traducaoHelper["PAIS"].ToLower()</label>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-group">
                                <div class="input-group-control">
                                    <input type="text" class="form-control" id="patrocinador" name="patrocinador">
                                    <label for="patrocinador">@traducaoHelper["ENTRE_PATROCINADOR"].ToLower()</label>
                                </div>
                                <span class="input-group-btn btn-left">
                                    <button class="btn blue-madison" type="button" onclick="Buscar()">
                                        <span>
                                            @traducaoHelper["BUSCAR"].ToLower()
                                        </span>
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row padding-lateral-20" id="Resultado" style="display:none;"></div>
                <div class="row padding-lateral-20" id="Cadastro" style="display: none;">

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center margem-0"><b>@traducaoHelper["FACA_SEU_REGISTRO_AGORA"]</b></h3>
                        </div>
                    </div>

                    <div class="row padding-20">

                        <div class="col-md-12 well bg-grey-steel">

                            <div class="col-md-3 padding-0">
                                <div class="row well bg-grey-cascade margem-5" id="Patrocinador">
                                    <h3 class="text margem-0"><b>@traducaoHelper["PATROCINADOR"]</b></h3><br />
                                    <div class="center">
                                        <img src="@Url.Content("~/Content/img/none.png")" class="img-responsive" /><br />
                                    </div>
                                    <p><span class="CadastroNome"></span></p>
                                    @if (ViewBag.Patrocinador == null)
                                    {
                                        <span class="input-group-btn btn-left">
                                            <button class="btn purple pull-right" type="button" onclick="Trocar()">
                                                <span>
                                                    @traducaoHelper["TROCAR"].ToLower()
                                                </span>
                                                <i class="m-icon-swapright m-icon-white"></i>
                                            </button>
                                        </span>
                                    }

                                </div>
                            </div>

                            @using (Html.BeginForm("Pais_MeusDados_Changed", "cadastro", FormMethod.Post, new { id = "form-cadastro", name = "form-cadastro" }))
                            {
                                <input id="FormPais-PatrocinadorID" name="PatrocinadorID" type="hidden" />

                                <div class="col-md-9 padding-0">

                                    <div class="row well bg-grey-cararra margem-5">

                                        <div class="form-group form-md-line-input has-info">
                                            <select class="form-control dropone" name="pais" id="pais" onchange="form.submit()">
                                                @foreach (var _pais in paises)
                                                {
                                                    <option value="@_pais.ID" @Html.Raw(_pais.Sigla == pais.Sigla ? "selected=\"selected\"" : "")>@_pais.Nome</option>
                                                }
                                            </select>
                                            <label for="sigla1">@traducaoHelper["PAIS"].ToLower()</label>
                                        </div>
                                    </div>

                                </div>
                            }


                            <div class="col-md-9 padding-0">

                                @using (Html.BeginForm("salvar", "cadastro", FormMethod.Post, new { id = "form-cadastro", name = "form-cadastro" }))
                                {
                                    <input id="PatrocinadorID" name="PatrocinadorID" type="hidden" />
                                    <input id="PaisID" name="PaisID" type="hidden" value="@pais.ID" />
                                    <input id="Idioma" name="Idioma" type="hidden" value="@pais.Idioma.Sigla" />
                                    <div class="row well bg-grey-cararra margem-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="text-center margem-0"><b>@traducaoHelper["MEUS_DADOS"]</b></h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="@(blnPermitePJ ? "col-md-8" : "col-md-12")">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="text" class="form-control" id="Nome" name="Nome" value="@ViewBag.Nome">
                                                    <label id="lblNome" name="lblNome" for="nome">@traducaoHelper["NOME"].ToLower()</label>
                                                </div>
                                            </div>

                                            <div class="col-md-4  @(blnPermitePJ ? "" : "hidden") ">
                                                <div class="form-group form-md-radios">
                                                    <label>@traducaoHelper["TIPO_PESSOA"].ToLower()</label>
                                                    <div class="md-radio-inline">
                                                        <div class="md-radio">
                                                            <input type="radio" id="Fisica" name="TipoPessoa" value="F" class="md-radiobtn" @(tipoPessoa == "F" ? "checked" : "")>
                                                            <label for="Fisica">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @traducaoHelper["FISICA"]
                                                            </label>
                                                        </div>
                                                        <div class="md-radio">
                                                            <input type="radio" id="Juridica" name="TipoPessoa" value="J" class="md-radiobtn" @(tipoPessoa == "J" ? "checked" : "")>
                                                            <label for="Juridica">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @traducaoHelper["JURIDICA"]
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 divSexo">
                                                <div class="form-group form-md-radios">
                                                    <label>@traducaoHelper["SEXO"].ToLower()</label>
                                                    <div class="md-radio-inline">
                                                        <div class="md-radio">
                                                            <input type="radio" id="Masculino" name="sexo" value="M" class="md-radiobtn" @(ViewBag.Sexo != "F" ? "checked" : "")>
                                                            <label for="Masculino">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @traducaoHelper["MASCULINO"]
                                                            </label>
                                                        </div>
                                                        <div class="md-radio">
                                                            <input type="radio" id="Feminino" name="sexo" value="F" class="md-radiobtn" @(ViewBag.Sexo == "F" ? "checked" : "")>
                                                            <label for="Feminino">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @traducaoHelper["FEMININO"]
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="tel" class="form-control" id="Celular" name="Celular" maxlength="20" value="@ViewBag.Celular">
                                                    <label id="lblCelular" name="lblCelular" for="Celular">@traducaoHelper["CELULAR"].ToLower()</label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="text" class="form-control" id="Login" name="Login" maxlength="20" value="@ViewBag.Login">
                                                    <label id="lblLogin" name="lblLogin" for="Login">@traducaoHelper["LOGIN"].ToLower()</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="email" class="form-control" id="Email" name="Email" value="@ViewBag.Email">
                                                    <label id="lblEmail" name="lblEmail" for="Email">@traducaoHelper["EMAIL"].ToLower()</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="email" class="form-control" id="ConfirmarEmail" name="ConfirmarEmail" value="@ViewBag.ConfirmarEmail">
                                                    <label id="lblConfirmarEmail" name="lblConfirmarEmail" for="ConfirmarEmail">@traducaoHelper["CONFIRME_EMAIL"].ToLower()</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="password" class="form-control" id="Senha" name="Senha" value="@ViewBag.Senha">
                                                    <label id="lblSenha" name="lblSenha" for="Senha">@traducaoHelper["SENHA"].ToLower()</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="password" class="form-control" id="ConfirmarSenha" name="ConfirmarSenha" value="@ViewBag.ConfirmarSenha">
                                                    <label id="lblConfirmarSenha" name="lblConfirmarSenha" for="ConfirmarSenha">@traducaoHelper["CONFIRME_SENHA"].ToLower()</label>
                                                </div>
                                            </div>
                                            <div class="col=md-4"></div>
                                        </div>

                                        <br>

                                        @if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO") == "true")
                                        {
                                            <div class="row">
                                                <h4 style="padding-left:1.4%;">@traducaoHelper["ENDERECO_ENTREGA"]</h4>
                                                <div class="col-md-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="CodigoPostal" name="CodigoPostal" formnovalidate="formnovalidate" maxlength="9" value="@ViewBag.CodigoPostal">
                                                        <label id="lblCodigoPostal" name="lblCodigoPostal" for="CodigoPostal">@traducaoHelper["CODIGO_POSTAL"].ToLower()</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="Logradouro" name="Logradouro" value="@ViewBag.Logradouro">
                                                        <label id="lblLogradouro" name="lblLogradouro" for="Logradouro">@traducaoHelper["LOGRADOURO"].ToLower()</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="Numero" name="Numero" maxlength="6" value="@ViewBag.Numero">
                                                        <label id="lblNumero" name="lblNumero" for="Numero">@traducaoHelper["NUMERO"].ToLower()</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="Complemento" name="Complemento" value="@ViewBag.Complemento">
                                                        <label id="lblComplemento" name="lblComplemento" for="Complemento">@traducaoHelper["COMPLEMENTO"].ToLower()</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="Bairro" name="Bairro" value="@ViewBag.Bairro">
                                                        <label id="lblBairro" name="lblBairro" for="Bairro">@traducaoHelper["BAIRRO"].ToLower()</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group form-md-line-input has-info">
                                                        <select class="form-control dropone" id="EstadoID" name="EstadoID">
                                                            <option value="">Selecione seu Estado</option>
                                                            @foreach (var estado in estados)
                                                            {
                                                                <option value="@estado.ID">@estado.Nome</option>
                                                            }
                                                        </select>
                                                        <label for="EstadoID">@traducaoHelper["ESTADO"].ToLower()</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group form-md-line-input has-info" id="divCidade">
                                                        <select class="form-control dropone" id="CidadeID" name="CidadeID"></select>
                                                        <input type="text" class="form-control" id="CidadeIDInput" name="CidadeIDInput" value="@ViewBag.CidadeID">
                                                        <label id="lblCidade" for="CidadeID">@traducaoHelper["CIDADE"].ToLower()</label>
                                                    </div>
                                                </div>
                                            </div>

                                            if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO_ALTERNATIVO") == "true")
                                            {
                                                <div class="row">
                                                    <h4 style="padding-left:1.4%;">@traducaoHelper["ENDERECO_ALTERNATIVO"]</h4>
                                                    <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@traducaoHelper["TEXTO_ALTERNATIVO"]</h5>
                                                    <div class="col-md-2">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="CodigoPostal2" name="CodigoPostal2" maxlength="9" value="@ViewBag.CodigoPostal2">
                                                            <label id="lblCodigoPostal2" name="lblCodigoPostal2" for="CodigoPostal2">@traducaoHelper["CODIGO_POSTAL"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="Logradouro2" name="Logradouro2" value="@ViewBag.Logradouro2">
                                                            <label id="lblLogradouro2" name="lblLogradouro2" for="Logradouro2">@traducaoHelper["LOGRADOURO"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="Numero2" name="Numero2" maxlength="6" value="@ViewBag.Numero2">
                                                            <label id="lblNumero2" name="lblNumero2" for="Numero2">@traducaoHelper["NUMERO"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="Complemento2" name="Complemento2" value="@ViewBag.Complemento2">
                                                            <label id="lblComplemento2" name="lblComplemento2" for="Complemento2">@traducaoHelper["COMPLEMENTO"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="Bairro2" name="Bairro2" value="@ViewBag.Bairro2">
                                                            <label id="lblBairro2" name="lblBairro2" for="Bairro2">@traducaoHelper["BAIRRO"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group form-md-line-input has-info">
                                                            <select class="form-control dropone" id="EstadoID2" name="EstadoID2">
                                                                <option value="">Selecione seu Estado</option>
                                                                @foreach (var estado in estados)
                                                                {
                                                                    <option value="@estado.ID">@estado.Nome</option>
                                                                }
                                                            </select>
                                                            <label for="EstadoID2">@traducaoHelper["ESTADO"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="form-group form-md-line-input has-info" id="divCidade2">
                                                            <select class="form-control dropone" id="CidadeID2" name="CidadeID2"></select>
                                                            <input type="text" class="form-control" id="CidadeID2Input" name="CidadeID2Input" value="@ViewBag.CidadeID2">
                                                            <label id="lblCidade2" for="CidadeID2">@traducaoHelper["CIDADE"].ToLower()</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <textarea rows="2" cols="200" type="text" class="form-control" id="Observacoes2" name="Observacoes2" maxlength="200">@ViewBag.Observacoes2</textarea>
                                                            <label id="lblObservacao2" name="lblObservacao2" for="Observacoes2">@traducaoHelper["OBSERVACOES"]</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                         
                                        <div class="row">

                                            <div class="col-md-12">
                                                @if (Helpers.Local.Ambiente != "dev" && Core.Helpers.ConfiguracaoHelper.GetBoolean("RECAPTCHA_CADASTRO_ATIVO"))
                                                {
                                                    <div class="form-group">
                                                        <div class="g-recaptcha" data-sitekey="@captchaKey"></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <label @(Core.Helpers.ConfiguracaoHelper.GetString("TERMO_ACEITE_ATIVO") == "true" ? "" : "hidden")>
                                                    <input type="checkbox" id="chkTermos" name="chkTermos" />
                                                    @traducaoHelper["ACEITA_TERMOS"] <a href="@traducaoHelper["ACEITA_TERMOS_URL"]" target="_blank"><b>@traducaoHelper["ACEITA_TERMOS_TERMO"]</b> <i class="fa fa-download"></i></a>
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="@traducaoHelper["SALVAR"].ToLower()" class="btn green-haze pull-right" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @if (exibeRedeSocial)
                    {
                        <div class="row padding-0 margem-0 padding-top-20">
                            <div class="col-md-12 well bg-blue-hoki">
                                <div class="col-md-6 padding-10">
                                    <h3 class="margem-0">@traducaoHelper["REDES_SOCIAIS"]</h3>
                                </div>
                                <div class="col-md-6 padding-10">
                                    <ul class="social-icons pull-right margem-0">
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_FEED")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_FEED")" data-original-title="Feed" class="rss">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_INSTAGRAM")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_INSTAGRAM")" data-original-title="Instagran" class="instagram">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_FACEBOOK")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_FACEBOOK")" data-original-title="Facebook" class="facebook">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_TWITTER")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_TWITTER")" data-original-title="Twitter" class="twitter">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_GOOGLE_PLUS")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_GOOGLE_PLUS")" data-original-title="Google Plus" class="googleplus">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_YOUTUBE")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_YOUTUBE")" data-original-title="YouTube" class="youtube">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_PINTEREST")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_PINTEREST")" data-original-title="Pinterest" class="pintrest">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_LINKEDIN")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_LINKEDIN")" data-original-title="Linkedin" class="linkedin">
                                                </a>
                                            </li>
                                        }
                                        @if (!String.IsNullOrEmpty(Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_VIMEO")))
                                        {
                                            <li>
                                                <a href="@Core.Helpers.ConfiguracaoHelper.GetString("REDES_SOCIAIS_URL_VIMEO")" data-original-title="Vimeo" class="vimeo">
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
