@model Sistema.Models.ForgotPasswordViewModel
@{
   ViewBag.Title = "Esqueceu";
   Layout = "~/Views/Shared/_Login.cshtml";
}



@*<h2>@ViewBag.Title.</h2>
   @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
   {
      @Html.AntiForgeryToken()
      <h4>Enter your email.</h4>
      <hr />
      @Html.ValidationSummary("", new { @class = "text-danger" })
      <div class="form-group">
         @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
         <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
         </div>
      </div>
      <div class="form-group">
         <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
         </div>
      </div>
   }*@



<!-- BEGIN FORGOT PASSWORD FORM -->
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   @Html.AntiForgeryToken()
   <h3>Esqueceu a senha?</h3>
   <p>
      Entre com seu email para receber sua senha.
   </p>
      <div class="form-group">
         <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
         </div>
      </div>
      @:
   if (Helpers.Local.Ambiente != "dev")
   {
      <div class="form-group">
         <div class="g-recaptcha" data-sitekey="6LfKeScTAAAAALztwomWJFjUBEOf4b_w2Qj5TtXm"></div>
      </div>
   }
   <div class="form-actions">
      <button type="button" id="back-btn" class="btn btn-default" onclick="window.location.href='/account/login'">
         <i class="m-icon-swapleft"></i> Voltar
      </button>
      <button type="submit" class="btn btn-info pull-right">
         Enviar
      </button>
   </div>
}

<!-- Inicio Alert -->
<div id="modAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" runat="server">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@ViewBag.PopupTitle</h4>
         </div>
         <div class="modal-body">
            <p>
               @ViewBag.PopupMessage
            </p>
         </div>
         <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-success">OK</button>
         </div>
      </div>
   </div>
</div>
<!-- Fim ALERT -->
<!-- Fim FORGOT PASSWORD FORM  -->


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
