@model Sistema.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4 class="form-title text-center">@traducaoHelper["ACESSO_AREA_ADM"].ToUpper()</h4>
    <div class="alert alert-danger display-hide">
        @*<button class="close" data-close="alert"></button>*@
        <span>
            @traducaoHelper["INFORME_LOGIN_SENHA"]
        </span>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Usuário</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @id = "nome", @autofocus = "" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Senha</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @id = "senha" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    @:
    if (Helpers.Local.Ambiente != "dev" && Helpers.Local.Ambiente != "hom")
    {
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="@Core.Helpers.ConfiguracaoHelper.GetString("RECAPTCHA_SITE_KEY")"></div>
        </div>
    }
    <div class="form-actions" style="height: 46px;">
        <button type="submit" class="btn green-haze pull-right" id="Entrar">
            @traducaoHelper["ENTRAR"] <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>

    @*<div class="forget-password">
           <h4>@traducaoHelper["ESQUECEU_SUA_SENHA"]</h4>
           <p>
              @traducaoHelper["NAO_SE_PREOCUPE"] @Html.ActionLink(@traducaoHelper["AQUI"], "Index", "Account/ForgotPassword", routeValues: null, htmlAttributes: new { title = "click" })
              @traducaoHelper["PARA_ENVIAR_POR_EMAIL"]
           </p>
        </div>*@

}
