@model Core.Entities.Suporte
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["SUPORTE"];

    #endregion

    #region Variaveis
    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/sweetAlert")
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
}

@section head {

}

@section pageScripts {

    <script>

        function abrirAnexos(stringImagens) {
            var imagens = stringImagens.split(';')
            $("#anexos-itens").html('');
            for (var i = 0; i <  imagens.length; i++) {
                $("#anexos-itens").append("<img src='"+imagens[i]+"' />");
                $("#anexos-itens").append("<br />");
            }
            $("#Anexos").modal('show');
        }

        $(function () {

            $("#fileuploader").uploadFile({
                url: "/suporte/upload",
                fileName: "myfile",
                returnType: "json",
                showDelete: true,
                acceptFiles: "image/*",
                showPreview: true,
                formData: { "Guid": "@ViewBag.Guid" },
                previewHeight: "100px",
                previewWidth: "100px",
                deleteCallback: function (data, pd) {

                    console.log(">>>", data)

                    $.post("/suporte/uploaddelete", data,
                            function (resp, textStatus, jqXHR) {
                                console.log("File Deleted", resp);
                            });

                    pd.statusbar.hide(); //You choice.

                },
            });


            $("#btn-add-image").on("click", (e) => {

                e.preventDefault();

                $("#row-upload-link").hide();
                $("#row-upload-form").fadeIn();
            });

        })


    </script>

}

@section PageLevelScripts {
    @Scripts.Render("~/scripts/sweetAlert")
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
}

@section jQueryRead {
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

    </div>
</div>


<div class="portlet box grey-gallery">
    <div class="portlet-title">
        <div class="caption">
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-10"><h3>@Html.Raw(Model.Assunto)</h3></div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })
                </div>
            </div>

            @foreach (var item in Model.SuporteMensagem.OrderBy(o => o.ID))
            {
                <hr />
                <div class="row">
                    <div class="col-md-9">
                        @if (item.AdministradorID.HasValue)
                        {
                            <b>@traducaoHelper["SUPORTE_RETORNO"]</b>
                        }
                        else
                        {
                            <b>@Model.Usuario.Nome</b> <span>(@Model.Usuario.Login)</span>
                        }
                    </div>
                    <div class="col-md-3">
                        <i class="right">@item.Data</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        @Html.Raw(item.Texto.Replace(Environment.NewLine, "<br/>"))
                    </div>
                </div>

                if (item.Imagens.Any())
                {
                    <div class="row">
                        <div class="col-lg-12">
                            @{
                                var imagensString = String.Join(";", item.Imagens);

                                foreach (var imagem in item.Imagens)
                                {
                                    <img src="@imagem" width="100" class="anexo-img" style="cursor:pointer" onclick="abrirAnexos('@imagensString')" />
                                }
                            }
                        </div>
                    </div>
                }
            }

            <hr />

            <div class="row" id="row-upload-link">
                <div class="col-md-12">
                    <a href="#" id="btn-add-image">@traducaoHelper["ANEXAR_IMAGENS"]</a>
                </div>
            </div>

            <div class="row" id="row-upload-form" style="display:none">
                <div class="col-md-12">
                    <div id="fileuploader">@traducaoHelper["SELECIONAR_IMAGENS"]</div>
                </div>
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="Guid" value="@ViewBag.Guid" />
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" name="conteudo" id="conteudo" rows="5" placeholder="@traducaoHelper["TEXTO"]">@ViewBag.Conteudo</textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10" style="padding-top: 10px;">
                                <input type="submit" value=@traducaoHelper["ENVIAR"] class="btn green-haze pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div id="Anexos" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["ANEXOS"]</h4>
            </div>
            <div class="modal-body" id="anexos-itens">
            </div>
        </div>
    </div>
</div>