@{
    ViewBag.Title = "GoogleAuthenticator";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["SEGURANCA"].ToString().ToLower();
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-body">

        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/global/img/google-authenticator.jpg" width="55" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span id="result"></span>
            </div>
        </div>

        <div class="row hide" id="desabilitar-content">

            <div class="col-md-3">
                <b>@traducaoHelper["TOKEN_ATIVO"].ToString()</b><br />
                <p>@traducaoHelper["TOKEN_DESABILITAR"].ToString()</p>
                <input type="text" id="TokenDesabilitarText" name="TokenDesabilitarText" class="form-control " placeholder="Token" required /><br />
                <span id="result"></span>
                <input type="button" id="btnDesabilitar" value="@traducaoHelper["DESABILITAR"].ToString()" style="width: 100%;" class="btn btn-login" />
            </div>
        </div>

        <div class="row hide" id="habilitar-content">

            <div class="col-md-4"  id="validacao-explicacao">
                <ul>
                    <li>1 - Instale o aplicativo Google Authenticator no seu celular;</li>
                    <li>2 - Pelo aplicativo, leia o QrCode;</li>
                    <li>3 - Insira o token que está aparecendo no aplicativo, no campo ao lado;</li>
                </ul>
            </div>

            <div class="col-md-3">
                <div id="validacao-form" class="form-group form-md-line-input form-md-floating-label text-center">
                    <img id="QCodeImg" path="http://qrcode.kaywa.com/img.php?s=4&d=" /><br />
                    <input type="text" id="TokenText" name="TokenText" class="form-control" placeholder="@traducaoHelper["TOKEN_INSIRA_LABEL"].ToString()"  required /><br />
                    <input type="button" id="btnValidar" value="@traducaoHelper["VALIDAR"].ToString()" style="width: 100%;" class="btn btn-login" />
                </div>
                <div id="validacao-sucesso" class="hide">
                    @traducaoHelper["AUTENTICACAO_2F_SUCESSO"].ToString()
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
            </div>
        </div>

    </div>


</div>

@section PageLevelScripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $("#result").html("");

            $.init = function (enabled)
            {
                $("#desabilitar-content").addClass("hide");
                $("#habilitar-content").addClass("hide");

                if (enabled)
                {
                    $("#desabilitar-content").removeClass("hide");
                }
                else {
                    $("#habilitar-content").removeClass("hide");
                }
            }

            $.secretkey = '';

            var url = '@Url.Action("HabilitarGoogleAuthenticator")';

            $.get(url, function (response) {
                if (response && response.Ok) {
                    var img = $("#QCodeImg");
                    var path = img.attr("path");
                    $("#QCodeImg").attr("src", path + response.QrCodeImage)

                    $.init(response.TwoFactorEnabled);

                    $.secretkey = response.Secretkey;
                }
                else {
                    $("#result").html(response.Mensagem);
                }
            })
            .fail(function () {
                console.log("error");
            });

            $("#btnValidar").on("click", function () {

                var _telefone = $("#TelefoneText").val();
                var _token = $("#TokenText").val();

                $("#result").html("");

                var url = '@Url.Action("validar")';

                $.post(url, { telefone: _telefone, token: _token, Secretkey : $.secretkey }, function (response) {
                    if (response.Ok) {
                        $("#validacao-form").addClass('hide');
                        $("#validacao-explicacao").addClass('hide');
                        $("#validacao-sucesso").removeClass('hide');
                    }
                    else {
                        $("#result").html(response.Mensagem);
                    }
                })

            });

            $("#btnDesabilitar").on("click", function () {

                var _token = $("#TokenDesabilitarText").val();

                $("#result").html("");

                var url = '@Url.Action("desabilitargoogleauthenticator")';

                $.post(url, { token: _token }, function (response) {
                    if (response.Ok) {
                        $.init(false);
                    }
                    else {
                        $("#result").html(response.Mensagem);
                    }
                })

            });

        });

    </script>

}