@model Core.Entities.ProdutoValor
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;



    var produtos = ViewBag.ProdutoID;
    var Opcoes = ViewBag.OpcaoID;

    ViewBag.Title = traducaoHelper["CRIAR"];

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();
    var strMascara = moedaPadrao.Simbolo + moedaPadrao.MascaraIn;

    #endregion

}

@section pageStyles {
   @Styles.Render("~/Content/cadastro")
}

@section head {

}

@section pageScripts {

<script src="~/Content/global/plugins/Inputmask-4.x1111/dist/jquery.inputmask.bundle.js"></script>
<script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone.js"></script>
<script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-be.js"></script>
<script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-ru.js"></script>

   @*@Scripts.Render("~/scripts/validationPlugin")*@
   @Scripts.Render("~/scripts/cadastro")

   <script type="text/javascript">

      $(document).ready(function () {
         $('#produto form').validate({
            errorElement: 'span',
            rules: {
               ProdutoID: 'required',
               Valor: 'required',
               //Bonificacao: 'required',
               //VlrBonusVenda: 'required',
               //VlrBonusAdicionalVenda : 'required'

            },
            messages: {
               ProdutoID: '@traducaoHelper["NOME_REQUERIDO"]',
               Valor: '@traducaoHelper["NOME_REQUERIDO"]',
               @*Bonificacao: '@traducaoHelper["BONIFICACAO_REQUERIDA"]',
               VlrBonusVenda: '@traducaoHelper["BONUS_VENDA_REQUERIDA"]',
               VlrBonusAdicionalVenda: '@traducaoHelper["BONUS_ADICINAL_VENDA_REQUERIDA"]'*@
            },
            errorPlacement: function (error, element) {
               error.addClass("help-block");
               error.insertAfter(element);
            }
         });
      });
   </script>

   <script type="text/javascript">
      $(document).ready(function () {
          $('#Valor').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#Bonificacao').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#VlrBonusVenda').inputmask('@strMascara', { numericInput: true, reverse: true });
          $('#VlrBonusAdicionalVenda').inputmask('@strMascara', { numericInput: true, reverse: true });
      });
   </script>

}

@section PageLevelScripts {
   @Scripts.Render("~/scripts/validationScript")
}

@section jQueryRead {
}

<div class="portlet box grey-gallery">
   <div class="portlet-title">
      <div class="caption">
         <i class="fa fa-plus"></i>@traducaoHelper["CRIAR"]
      </div>
      <div class="tools">
         <a href="javascript:;" class="collapse"></a>
      </div>
   </div>

   <div class="portlet-body" id="produto">
      <!-- BEGIN FORM-->
      @using (Html.BeginForm())
      {
         <div class="form-body">
            <div class="row">
               <div class="col-md-10"><h4> @traducaoHelper["PRECO_PRODUTO"] </h4></div>
               <div class="col-md-2">@Html.ActionLink("Back to List", "Index", new { id = 0 }, new { @class = "Voltar pull-right", title = traducaoHelper["VOLTAR_PARA_A_LISTA"] })</div>
            </div>
            <hr />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-body">
               <div class="row">
                  <div class="col-md-12">
                     <div class="form-group form-md-line-input form-md-floating-label">
                        <select class="form-control" required name="ProdutoID">                       
                           @foreach (var item in produtos)
                           {
                              <option value="@item.Value">@item.Text</option>
                           }
                        </select>
                        <label for="ProdutoID">@traducaoHelper["PRODUTO"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <select class="form-control" name="OpcaoID">
                           @foreach (var item in Opcoes)
                           {
                           <option value="@item.Value">@item.Text</option>
                           }
                           
                        </select>
                        <label for="OpcaoID">@traducaoHelper["OPCAO"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                         <input type="text" class="form-control"  name="ContaIDs" id="ContaIDs">
                        <label for="ContaIDs">@traducaoHelper["CONTAS"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <input type="text" class="form-control"  name="AssociacaoIDs" id="AssociacaoIDs">
                        <label for="AssociacaoIDs">@traducaoHelper["ASSOCIACOES"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <input type="text" class="form-control"  name="ClassificacaoIDs" id="ClassificacaoIDs">
                        <label for="ClassificacaoIDs">@traducaoHelper["CLASSIFICACOES"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <input type="text" class="form-control"  name="BlocoIDs" id="BlocoIDs">
                        <label for="BlocoIDs">@traducaoHelper["BLOCOS"]</label>
                     </div>
                     <div class="form-group form-md-line-input form-md-floating-label" hidden>
                        <input type="text" class="form-control"  name="PaisIDs" id="PaisIDs">
                        <label for="PaisIDs">@traducaoHelper["PAISES"]</label>
                     </div>
              
                  </div>
                  <div class="col-md-3">
                     <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" required name="Valor" id="Valor">
                        <label for="Valor">@traducaoHelper["VALOR"]</label>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group form-md-line-input">
                        <input type="text" class="form-control"  name="Bonificacao" id="Bonificacao">
                        <label for="Bonificacao">@traducaoHelper["BONIFICACAO"]</label>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group form-md-line-input">
                        <input type="text" class="form-control"  name="VlrBonusVenda" id="VlrBonusVenda">
                        <label for="BonificacaoAdicional">@traducaoHelper["BONUS_VENDA"]</label>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group form-md-line-input">
                        <input type="text" class="form-control"  name="VlrBonusAdicionalVenda" id="VlrBonusAdicionalVenda">
                        <label for="BonificacaoAdicional">@traducaoHelper["BONUS_VENDA_ADCIONAL"]</label>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-12">
                     <input type="submit" value="@traducaoHelper["CRIAR"]" class="btn btn-success" />
                     <button type="reset" class="btn default">@traducaoHelper["LIMPAR"]</button>
                  </div>
               </div>
            </div>
         </div>
      }
      <!-- Fim FORM-->
   </div>
</div>
