@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["MEUS_PEDIDOS"].ToString().ToLower();

    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion

    #region ViewBags

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion

}

@section pageStyles {
    @Styles.Render("~/Content/table")
}

@section head {

}

@section pageScripts {
    @Scripts.Render("~/scripts/table")
}

@section PageLevelScripts{

    <script>

      var TableLocal = function () {

         var initTabela = function () {

            var table = $('#tabela');

            /* Fixed header extension: http://datatables.net/extensions/keytable/ */

            var oTable = table.dataTable({
               // Internationalisation. For more info refer to http://datatables.net/manual/i18n
               "language": {
                  "aria": {
                     "sortAscending": ": activate to sort column ascending",
                     "sortDescending": ": activate to sort column descending"
                  },
                  "emptyTable": "@traducaoHelper["TABELA_SEM_DADOS"]",
                  "info": "@traducaoHelper["EXIBINDO_DE"] _START_ @traducaoHelper["ATE"] _END_ @traducaoHelper["DE"] _TOTAL_ @traducaoHelper["REGISTROS"]",
                  "infoEmpty": "@traducaoHelper["SEM_DADOS"]",
                  "infoFiltered": "(@traducaoHelper["FILTRADO"])",
                  "lengthMenu": "_MENU_",
                  "search": "",
                  "zeroRecords": "@traducaoHelper["TABELA_SEM_DADOS"]"
               },
               "order": [
                   [0, 'asc']
               ],
               "lengthMenu": [
                   [5, 10, 15, 20, -1],
                   [5, 10, 15, 20, "All"] // change per page values here
               ],
               "pageLength": 10, // set the initial value,
               "columnDefs": [{  // set default column settings
                  'orderable': false,
                  'targets': [0]
               }, {
                  "searchable": false,
                  "targets": [0]
               }],
               "order": [
                   [1, "asc"]
               ]
            });

            var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

            var tableWrapper = $('#tabela_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            //tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
         }

         return {
            init: function () {
               if (!jQuery().dataTable) {
                  return;
               }
               initTabela();
            }
         };
      }();

    </script>

    <script type="text/javascript">

    @* function Pagar2FA(id) {
           $('#Pagar').modal();
           $('#divPedidoID').val(id);
           $('#Pagar div.modal-footer a').hide();
           $('#Pagar div.modal-footer button.btn-success').show();
       }
       function Pagar(id) {
           $('#Pagar').modal();
           $('#Pagar div.modal-footer a').show();
           $('#Pagar div.modal-footer a').attr('href', '@Url.Action("pagar", "meus-pedidos")/' + id);
           $('#Pagar div.modal-footer button.btn-success').hide();
       }
       function AbrirConfirmacao2FA() {
           $("#Pagar").modal('hide');
           $("#TokenText").val('');
           $("#tokeninvalido").addClass("hide");
           $("#tokeninforma").removeClass("hide");
           $('#Confirmacao2FA').modal();
       }
       $("#btnValidar").on('click', function () {
            var id = $('#divPedidoID').val();
            var _token2FA = $("#TokenText").val();
            var acao = $("#pagarSaldo")[0];
            acao.href = '/meus-pedidos/pagar/?id=' + id + '&token2FA=' + _token2FA;
            acao.click();
       })
    *@
        function ConfirmarCancelamento(id) {
            $('#Cancelamento').modal('show');
            $('#pedidoIDCancelamento').val(id);
        }

        function Cancelamento() {
            var id = $('#pedidoIDCancelamento').val()
            $.ajax({
                url: 'Cancelar/' + id,
                type: "GET"
            })
            $('#Cancelamento').modal('hide');
            location.reload();
        }

    </script>
}

@section jQueryRead {
    TableLocal.init();
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <input type="hidden" name="pedidoIDCancelamento" id="pedidoIDCancelamento" />

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        @if (usuario.Pedido.Any())
        {
            <table class="table table-striped table-bordered table-hover" id="tabela">
                <thead>
                    <tr>
                        <th>@traducaoHelper["CODIGO"]</th>
                        <th>@traducaoHelper["DATA_CRIACAO"]</th>
                        <th>@traducaoHelper["TIPO"]</th>
                        <th>@traducaoHelper["MEIO_PAGAMENTO"]</th>
                        <th>@traducaoHelper["DATA_PAGAMENTO"]</th>
                        <th>@traducaoHelper["TOTAL"] (@moedaPadrao.Simbolo)</th>
                        <th>@traducaoHelper["STATUS"]</th>
                        <th style="width:140px;">@traducaoHelper["DETALHES"]</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in usuario.Pedido.OrderByDescending(p => p.DataCriacao))
                    {
                        if (pedido.PedidoPagamento.Count > 0)
                        {
                            var pagamento = pedido.PedidoPagamento.OrderByDescending(p => p.UltimoStatus.StatusID).FirstOrDefault();
                            var dtPagamento = "";
                            if (pagamento.PedidoPagamentoStatus.Where(Pag => Pag.StatusID.Equals(3)).Count() > 0)
                            {
                                dtPagamento = pagamento.PedidoPagamentoStatus.Where(Pag => Pag.StatusID.Equals(3)).FirstOrDefault().Data.ToString(ViewBag.MascaraData);
                            }
                            <tr>
                                <td>@pedido.Codigo</td>
                                <td>@pedido.DataCriacao.ToString(ViewBag.MascaraData)</td>
                                <td>@(pedido.PedidoItem.Count > 0 ? pedido.PedidoItem.FirstOrDefault().Produto.Tipo : 0)</td>
                                <td>@pagamento.MeioPagamento.ToString()</td>
                                <td>@dtPagamento</td>
                                <td>@pedido.PedidoPagamento.Where(w => w.Valor.HasValue).Sum(s => s.Valor).Value.ToString(moedaPadrao.MascaraOut) </td>
                                @{
                                    var label = "label-default";
                                    switch (pedido.StatusAtual)
                                    {
                                        case Core.Entities.PedidoPagamentoStatus.TodosStatus.PagamentoParcial:
                                        case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoConfirmacao:
                                        case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento:
                                            label = "label-warning";
                                            break;
                                        case Core.Entities.PedidoPagamentoStatus.TodosStatus.Cancelado:
                                            label = "label-danger";
                                            break;
                                        case Core.Entities.PedidoPagamentoStatus.TodosStatus.Pago:
                                            label = "label-success";
                                            break;
                                    }
                                }
                                <td><span class="label @(label)">@pedido.StatusAtual.ToString()</span></td>
                                <td>
                                    <a href="@Url.Action("detalhes", "meus-pedidos", new { id = pedido.ID })" class="btn btn-icon-only btn-circle yellow tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["VER_DETALHES"]"><i class="fa fa-search"></i></a>
                                    @*@if (pedido.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento)
                                        {
                                            if (pedido.PedidoPagamento.FirstOrDefault().MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Boleto)
                                            {
                                                <a href="@Url.Action("gerar", "boleto", new { pagamentoID = pedido.PedidoPagamento.FirstOrDefault().ID })" target="_blank" class="btn btn-icon-only btn-circle blue tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["GERAR_BOLETO"]"><i class="fa fa-barcode"></i></a>
                                            }
                                            if (pedido.PedidoPagamento.FirstOrDefault().Valor <= usuario.Lancamento.Where(l => l.ContaID == 1).Sum(l => l.Valor))
                                            {
                                                if (@Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                                                {
                                                    <a href="javascript:void(0);" onclick="Pagar2FA(@pedido.ID)" class="btn btn-icon-only btn-circle green tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["PAGAR_COM_SALDO"]"><i class="fa fa-money"></i></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0);" onclick="Pagar(@pedido.ID)" class="btn btn-icon-only btn-circle green tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["PAGAR_COM_SALDO"]"><i class="fa fa-money"></i></a>
                                                }
                                            }
                                        }*@

                                    @*int quantidade = pedido.QuantidadeAgendamento.HasValue == false ? 0 : pedido.QuantidadeAgendamento.Value;
                                        int quantidadePorPedido = pedido.PedidoItem.FirstOrDefault().Produto.LimitePorPedido.HasValue? pedido.PedidoItem.FirstOrDefault().Produto.LimitePorPedido.Value : 0;
                                        if (pedido.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.Pago && quantidade < quantidadePorPedido)
                                        {
                                        <a href="@Url.Action("agendar", "agendamento", new { id = pedido.ID })" class="btn btn-icon-only btn-circle yellow tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["VER_DETALHES"]"><i class="fa fa-calendar"></i></a>
                                            }
                                        }*@
                                </td>

                                <td>

                                    @if (pedido.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento)
                                    {
                                        <a class="gridDelete" title="@traducaoHelper["CANCELAR"]" onclick="ConfirmarCancelamento(@pedido.ID)"></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>@traducaoHelper["NENHUM_PEDIDO"].</h3>
        }

    </div>

</div>

@*<div id="Pagar" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@traducaoHelper["CONFIRMACAO"]</h4>
                </div>
                <div class="modal-body text-center">@traducaoHelper["DESEJA_PAGAR_PEDIDO"]</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" style="float:left;">@traducaoHelper["NAO"]</button>
                    <button class="btn btn-success" onclick="AbrirConfirmacao2FA();">@traducaoHelper["SIM"]</button>
                    <a href="" class="btn btn-success" hidden>@traducaoHelper["SIM"]</a>
                </div>
            </div>
        </div>
    </div>

    <div id="Confirmacao2FA" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="border-radius: 7px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="form-title text-center">
                        <img src="~/Content/global/img/google-authenticator.jpg" width="80" /><br />
                        <b>Google Authenticator</b>
                    </h4>
                </div>
                <div class="modal-body" id="Formulario">
                    <div class="form-group">
                        <div>
                            <input type="hidden" id="typeTab" value="" />
                            <span id="tokeninforma" class="center-block text-center text-info">Para esta alteração é necessário informar o token de validação</span>
                            <span id="tokeninvalido" class="hide center-block text-center text-danger">@traducaoHelper["TOKEN_INVALIDO"]</span><br />
                            <input type="hidden" id="divPedidoID" name="divPedidoID" />
                            <span>@traducaoHelper["TOKEN_INSIRA"]</span>
                            <input type="text" id="TokenText" name="TokenText" class="form-control placeholder-no-fix" placeholder="Token" required /><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions" style="height: 46px;">
                        <button id="btnValidar" class="btn btn-success">OK<i class="m-icon-swapright m-icon-white"></i></button>
                        <a id="pagarSaldo" name="pagarSaldo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
<div id="Cancelamento" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-sm" style="min-width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["CONFIRMACAO"]</h4>
            </div>
            <div class="modal-body">
                <div class="conteudo">
                    <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@traducaoHelper["CANCELAR_PEDIDO_USUARIO"]</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" onclick="Cancelamento()">@traducaoHelper["CONFIRMAR"]</button>
            </div>
        </div>
    </div>
</div>


