@model Core.Models.Loja.CarrinhoModel
@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["FINALIZAR_COMPRA"].ToString().ToLower();

    var usuarioContainer = (Sistema.Containers.UsuarioContainer)ViewBag.UsuarioContainer;
    var usuario = usuarioContainer.Usuario;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();
    var SaldoRentabilidade = usuarioContainer.SaldoRentabilidade;
    var SaldoBonus = usuarioContainer.SaldoBonus;
    var SaldoTransferencias = usuarioContainer.SaldoTransferencias;
    var SaldoInvestimento = usuarioContainer.SaldoInvestimento;

    #endregion
}

@section pageStyles {}

@section head {}

@section pageScripts {}

@section PageLevelScripts{
    <script type="text/javascript" src="@Url.Content("~/Content/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>
    @*<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>*@

    <script type="text/javascript">
        @* function cartaoPagar(tipoCartao) {
        $('#tipoPagamento').hide();
        $('#dadosCartao').show();
        if (tipoCartao == 'CIELO') {
            $('#tipoPagtoCartao').val('@Core.Entities.PedidoPagamento.MeiosPagamento.Cartao');
            $('#ccDadosComplementares').hide();
            $('#ccParcela').hide();
        }

        if (tipoCartao == 'VIVIPAY') {
            $('#tipoPagtoCartao').val('@Core.Entities.PedidoPagamento.MeiosPagamento.ViviPay');
            $('#ccDadosComplementares').show();

            if ('@Core.Helpers.ConfiguracaoHelper.GetString("PARCELAMENTO_VIVIPAY_ATIVO")' == 'true')
                $('#ccParcela').show();
        }
    }
    *@

    function criptoPagar(siglaCripto, nomeCripto) {
        $('#tipoPagamento').hide();
        $('#dadosSaldo').hide();
        $('#dadosCripto').show();
        $('#qrCode').hide();
        $('#loadingCripto').show();

        $.ajax({
            url: '@Url.Action("CriaPedidoCriptoAsync", "Pedido")?cripto=' + siglaCripto,
            type: 'GET',
            success: function (data) {
                if (data.erro == undefined) {
                    document.getElementById('qrCode').src = 'https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=' + data.numero;
                    document.getElementById('enderecoBitCoin').value = data.numero;
                    $('#qrCode').show();
                    $('#loadingCripto').hide();
                    $('#erroTitulo').html('@traducaoHelper["CRIPTOMOEDA"]' + ' ' + nomeCripto);
                    $('#erroConteudo').html(data.mensagem);
                    $('#btcValor').html(nomeCripto + ' ' + data.valor);
                    $('#mensagensErro').modal();
                    $('#footerErro').val('Error 1')
                }
                else {
                    $('#dadosCripto').hide();
                    $('#tipoPagamento').show();
                    $('#erroTitulo').html('@traducaoHelper["CRIPTOMOEDA"]' + ' ' + nomeCripto);
                    $('#erroConteudo').html(data.erro);
                    $('#mensagensErro').modal();
                    $('#footerErro').val('Error 2')
                }
            }
        });
    }

    @*function cartaoVoltar() {
        $('#tipoPagamento').show();
        $('#dadosCartao').hide();
        return false;
    }*@

    $(document).ready(function () {
       @* $('#ccNumero').inputmask({ mask: "9999 9999 9999 9999", placeholder: '' });
        $('#ccCodSeguranca').inputmask({ mask: "999", placeholder: '' });

        if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPF_ENTRADA").Trim().Length' != 0) {
            $('#ccCpf').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPF_ENTRADA")');
        }

        $("#ccTelefone").inputmask({
            mask: ["(99) 9999-9999", "(99) 99999-9999",],
            keepStatic: true
        });

        *@
        $('#idValorRendimento').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true });
        $('#idValorBonus').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true });
        $('#idValorTransferencia').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true});

        $('#btnVoltar').click(function (e) {
            $('#tipoPagamento').show();
            @*$('#dadosCartao').hide();*@
            e.preventDefault();
        });

        $('#btnVoltarBitCoin').click(function (e) {
            $('#tipoPagamento').show();
            $('#dadosCripto').hide();
            e.preventDefault();
        });

        @*var codePag = '@ViewBag.CodePagSeguro';
        //Código para utilização do PagSeguro via frame
        if (codePag != '') {
            PagSeguroLightbox({ code: codePag },
            {
                success: function(transactionCode) {
                    alert("success - " + transactionCode);
                },
                abort: function() {
                    alert("abort");
                }
            });
        };

        var idBackToShop = document.getElementById('backToShop');

        if (idBackToShop != undefined) {
            document.getElementById('UolPS-application-close-btn').setAttribute('onClick', 'javascript: BotaoFecharPagSeguro();');
        }*@
    });

    @*
        $('#ccNome').on('keypress', function (event) {
            var regex = new RegExp("^[A-z À-ú]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

            if (navigator.userAgent.includes("Firefox")) {
                if (key == '\u0008' || key == '\u0000') // Left / Up / Right / Down Arrow, Backspace, Delete, Tab keys
                    return;
            }

            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

        function CarregaParcelamentos(id) {
            if (document.getElementById('tipoPagtoCartao').value == '@Core.Entities.PedidoPagamento.MeiosPagamento.ViviPay') {
                $('#ccParcelamento').empty();
                $('#ccParcelamento').attr('disabled', true);
                var total = '@Model.Total';
                $.ajax({
                    url: '@Url.Action("ParcelamentosDisponiveisViviPay", "Pedido")',
                    data: { bandeira: id.value, valor: total.replace(',', '.')},
                    type: 'GET',
                    success: function (retorno) {
                        if (retorno.data) {
                            for (i = 0; i <= retorno.data.length - 1; i++) {
                                addOption(retorno.data[i]);
                            }
                            $('#ccParcelamento').attr('disabled', false);
                        }
                        else if (retorno.erro) {
                            $('#erroTitulo').html('@traducaoHelper["CARTAO"]');
                            $('#erroConteudo').html(retorno.erro);
                            $('#mensagensErro').modal();
                            $('#footerErro').val('Error 3')
                        }
                    }
                });
            }
            else {
                event.preventDefault();
                return false;
            }
        }

        function addOption(valor) {
            var option = document.createElement("option");
            option.text = valor.Text;
            option.value = valor.Value
            var select = document.getElementById('ccParcelamento');
            select.options.add(option, valor.Value);
        }
     *@

        $("#cadastroLinkCopiar").on('click', function () {
            var copiadoTemp = 0;
            var el = document.createElement('textarea');
            el.value = document.getElementById('enderecoBitCoin').value;
            el.setAttribute('readonly', '');
            el.style = { position: 'absolute', left: '-9999px' };
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            $("#copiado").fadeIn();
            clearTimeout(copiadoTemp);
            copiadoTemp = setTimeout(function () { $("#copiado").fadeOut(); }, 1000);
            document.body.removeChild(el);
        });

        function AbrirConfirmacao2FASaldo() {
            $("#TokenText").val('');
            $("#tokeninvalido").addClass("hide");
            $("#tokeninforma").removeClass("hide");
            $('#Confirmacao2FA').modal();
        };

        function SaldoPagar() {
            $('#dadosCripto').hide();
            $('#dadosSaldo').show();
        };

        $("#btnValidar").on('click', function () {
            var _token2FA = $("#TokenText").val();
            var _valorRendimento = $("#idValorRendimento").val();
            var _valorBonus = $("#idValorBonus").val();
            var _valorTransferencia = $("#idValorTransferencia").val();
            var acao = $("#pagarSaldo")[0];
            acao.href = '/loja/pedido/pagar/?meioPagamento=Saldo&token2FA=' + _token2FA + '&rendimento=' + _valorRendimento + '&bonus=' + _valorBonus + '&transferencia=' + _valorTransferencia + '&chamada=pagamento' + '&pedidoID=0';
            acao.click();
        });
    </script>

    @*
        @if (ViewBag.ShowCartao != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#tipoPagamento').hide();
                    $('#dadosCartao').show();
                    if ('@ViewBag.TipoPagtoCartao' == 'ViviPay') {
                        $('#ccDadosComplementares').show();
                        $('#ccParcela').show();
                    }
                });
            </script>
        }
        else
        {
            <script>
                $(document).ready(function () {
                    $('#tipoPagamento').show();
                    $('#dadosCartao').hide();
                });
            </script>
        }
    *@

    @if (ViewBag.ShowCripto != null)
    {
        <script>
            $(document).ready(function () {
                $('#tipoPagamento').hide();
                $('#dadosCripto').show();
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('#tipoPagamento').show();
                $('#dadosCripto').hide();
                $('#dadosSaldo').hide();
            });
        </script>
    }

    <!--Alertas-->
    @if (ViewBag.AlertErro != null)
    {
        <script>
            @*errorAlert('@ViewBag.AlertErroTitulo', '@ViewBag.AlertErro');*@
            $('#erroTitulo').val('@ViewBag.AlertErroTitulo');
            $('#erroConteudo').val('@ViewBag.AlertErro');
            $('#footerErro').val('Error 4')
            $('#mensagensErro').modal('show');
        </script>
    }

    @if (ViewBag.AlertSucesso != null)
    {
        <script>
            @*successAlert('@ViewBag.AlertSucessoTitulo', '@ViewBag.AlertSucesso');*@
            $('#footerSucesso').val('Success 1')
            $('#mensagensSucesso').modal('show');
        </script>
    }

    @if (ViewBag.AlertInfo != null)
    {
        <script>
            @*infoAlert('@ViewBag.AlertInfoTitulo', '@ViewBag.AlertInfo');*@
            $('#footerInfo').val('Info 1')
            $('#mensagensInfo').modal('show');
        </script>
    }
    <!--Fim Alertas-->
}

@section jQueryRead {}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row padding-20">
            @Html.Partial("_Menu", 3)
        </div>
        <div class="row padding-20">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                        {
                            <tr>
                                <th width="52%">@traducaoHelper["PRODUTO"]</th>
                                <th width="12%" style="text-align:center;"></th>
                                <th width="12%" style="text-align:center;"></th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["QUANTIDADE"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["PONTOS"]</th>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th width="64%">@traducaoHelper["PRODUTO"]</th>
                                <th width="12%" style="text-align:center;">@traducaoHelper["QUANTIDADE"]</th>
                                @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("PRODUTO_VALOR_VARIAVEL"))
                                {
                                    <th width="12%" style="text-align:center;">@traducaoHelper["VALOR"]</th>
                                }
                                else
                                {
                                    <th width="12%" style="text-align:center;">@traducaoHelper["VALOR_UNITARIO"]</th>
                                }
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @{
                            var contador = 1;
                            var totBonus = 0.00;
                        }
                        @foreach (var item in Model.Itens)
                        {
                            double valor = item.Valor.Valor.HasValue ? Convert.ToDouble(item.Valor.Valor) : 0;
                            <tr>
                                <td>
                                    <div class="product-name">
                                        <div class="product-num">@contador</div>
                                        <h4>@item.Produto.Nome</h4>
                                        <small>@String.Format(@item.Produto.Chamada, ViewBag.ValorMinimo)</small>
                                    </div>
                                </td>
                                <td style="text-align:center;">@item.Quantidade</td>
                                <td style="text-align:center;">
                                    @moedaPadrao.Simbolo @(item.Valor.Valor.HasValue ? valor.ToString(moedaPadrao.MascaraOut) : "0")
                                </td>
                                @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                                {
                                    totBonus = totBonus + (item.Quantidade * item.Produto.ProdutoValor.FirstOrDefault().Bonificacao).Value;
                                    <td style="text-align:center;">@((item.Quantidade * item.Produto.ProdutoValor.FirstOrDefault().Bonificacao).Value.ToString(moedaPadrao.MascaraOut))</td>
                                }
                            </tr>
                            contador++;
                        }
                        <tr></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                            <td style="text-align:center;"></td>
                            <td colspan="1">@traducaoHelper["TOTAL"]</td>
                            @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("LOJA_BONUS_EXIBE"))
                            {
                                <td style="text-align:center;">@(totBonus.ToString(moedaPadrao.MascaraOut))</td>
                            }
                            @if (Model.Total > 0)
                            {
                                <td style="text-align:center;">@moedaPadrao.Simbolo @(Model.Total.ToString(moedaPadrao.MascaraOut))</td>
                            }
                        </tr>

                        @if (!Core.Helpers.ConfiguracaoHelper.GetBoolean("TAXAS_PAGAMENTO_PRODUTO_ATIVO"))
                        {
                            foreach (var taxa in Model.Taxas.Where(t => t.Valor != 0))
                            {
                                <tr>
                                    <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                                    <td colspan="1">@taxa.Taxa.Nome</td>
                                    <td style="text-align:center;">@moedaPadrao.Simbolo @taxa.Valor.ToString(moedaPadrao.MascaraOut)</td>
                                </tr>
                            }
                        }

                        @if (@Model.Total > 0 && @Core.Helpers.ConfiguracaoHelper.TemChave("FRETE_HABILITADO") && @Core.Helpers.ConfiguracaoHelper.GetBoolean("FRETE_HABILITADO"))
                        {
                            <tr>
                                <td class="noborders" colspan="2" rowspan="1"><h4 style="margin: 0px !important; padding-left: 60px;">@traducaoHelper["PRAZO_ENTREGA"]: @Model.Frete.PrazoDias @traducaoHelper["DIAS"].</h4></td>
                                <td colspan="1">@traducaoHelper["FRETE"]</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @Model.ValorFrete.ToString(moedaPadrao.MascaraOut)</td>
                            </tr>
                        }

                        @if (ViewBag.DiferencaValorUpgrade != null)
                        {
                            <tr>
                                <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                                <td colspan="2">@traducaoHelper["DIFERENCA_UPGRADE"]</td>
                                @*<td style="text-align:center;"></td>*@
                                <td style="text-align:center;">@ViewBag.DiferencaValorUpgrade.ToString(moedaPadrao.MascaraOut)</td>
                            </tr>
                        }

                        @if (@Core.Helpers.ConfiguracaoHelper.GetBoolean("TAXAS_PAGAMENTO_PRODUTO_ATIVO"))
                        {
                            <tr>
                                <td class="noborders" colspan="2" rowspan="1">&nbsp;</td>
                                <td colspan="1">@traducaoHelper["TAXA"]</td>
                                <td style="text-align:center;"></td>
                                <td style="text-align:center;">USD @(@Core.Helpers.ConfiguracaoHelper.GetDecimal("TAXAS_PAGAMENTO_PRODUTO_XSINERGIA").ToString(moedaPadrao.MascaraOut))</td>

                            </tr>
                        }

                    </tfoot>
                </table>

                <div>
                    <div class="col-lg-12 remittance">
                        <div class="col col-md-4" style="padding-top:30px;">
                            @if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO") == "true")
                            {
                                <div class="col col-md-10">
                                    <h5><strong>@traducaoHelper["ENDERECO_ENTREGA"]</strong></h5>
                                    <ul class="list-unstyled">
                                        <li>@Model.EnderecoEntrega.EnderecoCompleto</li>
                                        <li>@Model.EnderecoEntrega.Distrito - @Model.EnderecoEntrega.CodigoPostal</li>
                                        <li>@Model.EnderecoEntrega.Cidade.Nome/@Model.EnderecoEntrega.Estado.Sigla</li>
                                    </ul>
                                    <h5 style="margin-top:25px;"><strong>@traducaoHelper["ENDERECO_FATURAMENTO"]</strong></h5>
                                    @if (Model.EnderecoFaturamento != null && Model.EnderecoFaturamento.ID != 0)
                                    {
                                        <ul class="list-unstyled">
                                            <li>@Model.EnderecoFaturamento.EnderecoCompleto</li>
                                            <li>@Model.EnderecoFaturamento.Distrito - @Model.EnderecoFaturamento.CodigoPostal</li>
                                            <li>@Model.EnderecoFaturamento.Cidade.Nome/@Model.EnderecoFaturamento.Estado.Sigla</li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="list-unstyled">
                                            <li>@Model.EnderecoEntrega.EnderecoCompleto</li>
                                            <li>@Model.EnderecoEntrega.Distrito - @Model.EnderecoEntrega.CodigoPostal</li>
                                            <li>@Model.EnderecoEntrega.Cidade.Nome/@Model.EnderecoEntrega.Estado.Sigla</li>
                                        </ul>
                                    }
                                </div>
                            }
                            <a href="@Url.Action("resumo")" class="btn btn-lg btn-success" style="color:#ffffff;margin:10px;">@traducaoHelper["VOLTAR_RESUMO"]</a>
                        </div>

                        <div class="col col-md-8">
                            <div class="row" id="tipoPagamento">
                                <div class="col col-md-12">
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_BOLETO_ATIVO") == "true")
                                    {
                                        <div class="col col-md-4" style="text-align:center;padding-top:60px;">
                                            <a href="@Url.Action("pagar", "pedido", new { meioPagamento = Core.Entities.PedidoPagamento.MeiosPagamento.Boleto })" class="btn btn-lg btn-success">@traducaoHelper["PAGAR_BOLETO"]</a>
                                            <p style="padding:10px;">@traducaoHelper["CLIQUE_AQUI_BOLETO"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_CIELO_ATIVO") == "true")
                                    {
                                        <div class="col col-md-4" style="text-align:center;padding-top:60px;">
                                            <a href="#" class="btn btn-lg btn-success" onclick="cartaoPagar('CIELO')">@traducaoHelper["CARTAO_CREDITO"]</a>
                                            <p style="padding:10px;">@traducaoHelper["CLIQUE_PAGAMENTO_CIELO"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_VIVIPAY_ATIVO") == "true")
                                    {
                                        <div class="col col-md-4" style="text-align:center;padding-top:60px;">
                                            <a href="#" style="height:46px; width:182px;" class="btn btn-lg btn-success" onclick="cartaoPagar('VIVIPAY')">Bank</a>
                                            <p style="padding:10px;">@traducaoHelper["CLIQUE_PAGAMENTO_CIELO"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_PAGSEGURO_ATIVO") == "true")
                                    {
                                        <div class="col col-md-4" style="text-align:center; padding-top:60px;">
                                            <a style="height:46px; width:182px;" href="@Url.Action("PagSeguro", "pedido", new { meioPagamento = Core.Entities.PedidoPagamento.MeiosPagamento.PagSeguro })" class="btn btn-lg btn-success">PagSeguro</a>
                                            <!--<input style="height:46px; width:182px;" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/180x25-pagar.gif" name="pagSeguro" onclick="PagSeguro()" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />-->
                                            <p style="margin-top:9px; padding-left:20px;">@traducaoHelper["CLIQUE_PAGAMENTO_PAGSEGURO"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_PAYPAL_ATIVO") == "true")
                                    {
                                        <div class="col col-md-4" style="text-align:center;padding-top:60px;">
                                            <a href="@Url.Action("pagar", "pedido", new { meioPagamento = Core.Entities.PedidoPagamento.MeiosPagamento.PayPal })" class="btn btn-lg btn-success">PayPal</a>
                                            <p style="padding:10px;">@traducaoHelper["CLIQUE_PAGAMENTO_PAYPAL"]</p>
                                        </div>
                                    }
                                </div>
                                <div class="col col-md-12">
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_DEPOSITO_ATIVO") == "true")
                                    {
                                        <div class="col col-md-3" style="text-align:center;padding-top:60px;">
                                            <a href="@Url.Action("pagar", "pedido", new { meioPagamento = Core.Entities.PedidoPagamento.MeiosPagamento.Deposito })" class="btn btn-lg btn-success">@traducaoHelper["DEPOSITO_CONTA"]</a>
                                            <p style="padding:10px;">@traducaoHelper["PAGAR"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_BITCOIN_ATIVO") == "true")
                                    {
                                        <div class="col col-md-2" style="text-align:center;padding-top:60px;">
                                            <a href="javascript:criptoPagar('BTC', 'BitCoin')" class="btn btn-lg btn-success">@traducaoHelper["BITCOIN"]</a>
                                            <p style="padding:10px;">@traducaoHelper["PAGAMENTO_BITCOIN"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_LITECOIN_ATIVO") == "true")
                                    {
                                        <div class="col col-md-2" style="text-align:center;padding-top:60px;">
                                            <a href="javascript:criptoPagar('LTC', 'LiteCoin')" class="btn btn-lg btn-success">@traducaoHelper["LITECOIN"]</a>
                                            <p style="padding:10px;">@traducaoHelper["PAGAMENTO_LITECOIN"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_TETHER_ATIVO") == "true")
                                    {
                                        <div class="col col-md-2" style="text-align:center;padding-top:60px;">
                                            <a href="javascript:criptoPagar('USDT.TRC20', 'Tether')" class="btn btn-lg btn-success">@traducaoHelper["TETHER"]</a>
                                            <p style="padding:10px;">@traducaoHelper["PAGAMENTO_TETHER"]</p>
                                        </div>
                                    }
                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEIO_PGTO_SALDO_ATIVO") == "true")
                                    {
                                        <div class="col col-md-3" style="text-align:center;padding-top:60px; padding-left: 30px;">
                                            @if ((SaldoRentabilidade + SaldoTransferencias + SaldoBonus) >= (double)Model.Total)
                                            {
                                                if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                                                {
                                                    <a href="#" class="btn btn-lg btn-success" onclick="SaldoPagar()">@traducaoHelper["PAGAR_SALDO"]</a>
                                                    <p style="padding:10px;">@traducaoHelper["SALDO"]: @moedaPadrao.Simbolo @((SaldoRentabilidade + SaldoBonus + SaldoTransferencias).ToString(moedaPadrao.MascaraOut))</p>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("pagar", "pedido", new { meioPagamento = Core.Entities.PedidoPagamento.MeiosPagamento.Saldo, contaId = (int)Core.Entities.Conta.Contas.Transferencias  })" class="btn btn-lg btn-success">@traducaoHelper["PAGAR_SALDO"]</a>
                                                    <p style="padding:10px;">@traducaoHelper["SALDO"]: @moedaPadrao.Simbolo @((SaldoRentabilidade + SaldoBonus + SaldoTransferencias).ToString(moedaPadrao.MascaraOut))</p>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" class="btn btn default btn-disabled" style="border-radius: 20px !important;">@traducaoHelper["PAGAR_SALDO"]</a>
                                                <p style="padding:10px;">
                                                    @traducaoHelper["SALDO_INSUFICIENTE"] <br />
                                                    (@traducaoHelper["SALDO_ATUAL"]: @moedaPadrao.Simbolo @(SaldoRentabilidade + SaldoBonus + SaldoTransferencias).ToString(moedaPadrao.MascaraOut) )
                                                </p>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="row">&nbsp;</div>
                            @*
                                <div class="row" id="dadosCartao" style="padding: 10px; background-color:#eee; border: 1px solid #ccc;">
                                    <form action="@Url.Action("PagamentoCartao", "Pedido")" method="post">
                                        <fieldset>
                                            <div class="row" style="padding-left: 16px; padding-bottom: 10px;">
                                                <h4>@traducaoHelper["CARTAO_CREDITO_DADOS"]</h4>
                                            </div>
                                            <div class="row" style="padding-left: 20px;">
                                                <div class="col-md-6" style="padding: 0px 0px 15px 0px !important;">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label" style="padding-left: 11px;">@traducaoHelper["CARTAO_CREDITO_BANDEIRA"]</label>
                                                        <p class="col col-md-10" style="margin-bottom: 10px; padding-left: 20px;">
                                                            <img src="~/Content/img/cc/ico-visa.png" width="41" height="25" alt="" />
                                                            <img src="~/Content/img/cc/ico-mastercard.png" width="41" height="25" alt="" />
                                                            <img src="~/Content/img/cc/ico-american-express.png" width="41" height="25" alt="" />
                                                            <img src="~/Content/img/cc/ico-elo.png" width="41" height="25" alt="" />
                                                            <img src="~/Content/img/cc/ico-diners.jpg" width="41" height="25" alt="" />
                                                        </p>
                                                        <div style="padding-left: 10px; width: 91%;">
                                                            @Html.DropDownList("ccBandeira", null, "Selecione um cartão", htmlAttributes: new { @class = "form-control", @onchange = "CarregaParcelamentos(this)" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-md-6" style="padding-top: 9px !important;">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-6" style="padding: 0px 10px 0px 10px !important;">
                                                                <label class="control-label">@traducaoHelper["MES"] @traducaoHelper["VALIDADE"]</label>
                                                                @Html.DropDownList("ccMes", null, htmlAttributes: new { @class = "form-control" })
                                                            </div>
                                                            <div class="col-md-5 nopaddingRight" style="padding-left: 0px !important; width: 45%;">
                                                                <label class="control-label">@traducaoHelper["ANO"] @traducaoHelper["VALIDADE"]</label>
                                                                @Html.DropDownList("ccAno", null, htmlAttributes: new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-md-12">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-5" style="padding: 0px 10px 0px 0px;">
                                                            <label class="control-label">@traducaoHelper["CARTAO_CREDITO_NUMERO"]</label>
                                                            <input required type="text" class="form-control" name="ccNumero" id="ccNumero" value="@ViewBag.CartaoNumero" />
                                                        </div>

                                                        <div class="col-md-3" style="padding: 0px 15px 0px 10px;">
                                                            <label class="control-label">@traducaoHelper["CARTAO_CREDITO_COD_SEGURANCA"]</label>
                                                            <input required type="text" maxlength="3" style="text-align:center;" class="form-control" name="ccCodSeguranca" id="ccCodSeguranca" value="@ViewBag.CartaoCodSeguranca" />
                                                        </div>
                                                        <div class="col-md-4" id="ccParcela" name="ccParcela" hidden style="padding: 0px 15px 0px 10px;">
                                                            <label class="control-label">Parcelamento</label>
                                                            @Html.DropDownList("ccParcelamento", null, htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-body">
                                                        <div class="form-group" style="padding: 15px 15px 0px 0px;">
                                                            <label class="control-label">@traducaoHelper["CARTAO_CREDITO_NOME"]</label>
                                                            <input required type="text" class="form-control" id="ccNome" name="ccNome" value="@ViewBag.CartaoNome">
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="form-control" name="tipoPagtoCartao" id="tipoPagtoCartao" value="@ViewBag.TipoPagtoCartao" />
                                                <div class="row" id="ccDadosComplementares" name="ccDadosComplementares" hidden>
                                                    <div class="form-group">
                                                        <div class="col-md-3" style="padding: 0px 5px 0px 0px;">
                                                            <label class="control-label">@traducaoHelper["CPF"]</label>
                                                            <input type="text" class="form-control" name="ccCpf" id="ccCpf" value="@ViewBag.CartaoCPF" />
                                                        </div>

                                                        <div class="col-md-3" style="padding: 0px 5px 0px 10px;">
                                                            <label class="control-label">@traducaoHelper["TELEFONE"]</label>
                                                            <input type="text" class="form-control" name="ccTelefone" id="ccTelefone" value="@ViewBag.CartaoTelefone" />
                                                        </div>
                                                        <div class="col-md-6" style="padding: 0px 5px 0px 10px; width:48.5%">
                                                            <label class="control-label">@traducaoHelper["EMAIL"]</label>
                                                            <input type="text" maxlength="50" class="form-control" name="ccEmail" id="ccEmail" value="@ViewBag.CartaoEmail" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                        </fieldset>
                                        <footer>
                                            <div class="row">
                                                <div class="form-actions">
                                                    <span class="pull-right" style="padding-right: 16px;">
                                                        <button id="btnVoltar" name="btnVoltar" class="btn btn-warning btn-lg"><i class="fa fa-arrow-left"></i> &nbsp; @traducaoHelper["VOLTAR"]</button>
                                                        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> &nbsp; @traducaoHelper["ENVIAR"]</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </footer>
                                    </form>
                                </div>
                            *@

                            <div class="row" id="dadosCripto" style="padding: 10px; background-color:#eee; border: 1px solid #ccc;">
                                <form action="@Url.Action("Pagar", "Pedido")" method="post">
                                    <fieldset>
                                        <div class="row text-center" style="margin: 5px;">
                                            <h4>@traducaoHelper["CRIPTOMOEDA_DADOS"]</h4>
                                            <h4 style="font-weight: bold;" id="btcValor"></h4>
                                        </div>
                                        <div class="row">&nbsp;</div>
                                        <div class="col col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12 text-center">
                                                        <img id="loadingCripto" src="~/Content/global/img/loading-spinner-default.gif" />
                                                        <img id="qrCode" src="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row padding-Left-20">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span class="title">@traducaoHelper["ENDERECO_PAGAMENTO"]:</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-7 padding-0">
                                                        <div class="input-group" style="width: 100%;">
                                                            <input id="enderecoBitCoin" type="text" data-provide="typeahead" disabled class="form-control" placeholder="" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" style="padding-left: 0px;">
                                                        <span class="input-group-btn">
                                                            <input class="btn btn-success" style="width: 80%; margin-left: 20px;" id="cadastroLinkCopiar" value=" @traducaoHelper["COPIAR"]">
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span id="copiado" hidden>@traducaoHelper["COPIANDO"]</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                        </div>
                                    </fieldset>
                                    <footer>
                                        <div class="row">
                                            <div class="form-actions">
                                                <span class="pull-right" style="padding-right: 16px;">
                                                    @*<button type="button" id="btnVoltarBitCoin" name="btnVoltarBitCoin" class="btn btn-lg btn-info" style="border-radius: 20px !important;"><i class="fa fa-arrow-left"></i> &nbsp; @traducaoHelper["VOLTAR"]</button>*@
                                                    <a href="@Url.Action("index", "meus-pedidos", new { area = "" })" class="btn btn-lg btn-info pull-right" style="margin-left:10px;">@traducaoHelper["MEUS_PEDIDOS"]</a>
                                                </span>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </div>

                            <div class="row" id="dadosSaldo" style="padding: 10px; background-color:#eee; border: 1px solid #ccc;">
                                <form action="@Url.Action("Pagar", "Pedido")" method="post">
                                    <fieldset>
                                        <div class="row text-center" style="margin: 5px;">
                                            <h4>@traducaoHelper["DADOS_PAGAMENTO_SALDO"]</h4>
                                            <h4 style="font-weight: bold;" id="btcValor"></h4>
                                        </div>
                                        <div class="row">&nbsp;</div>
                                        <div class="col-md-12 col-sm-6 col-xs-6 colunaPrecoLoja">
                                            <span class="precoProdutoLoja">@traducaoHelper["SALDO_TOTAL"]: @moedaPadrao.Simbolo @((SaldoRentabilidade + SaldoBonus + SaldoTransferencias).ToString(moedaPadrao.MascaraOut))</span>
                                        </div>
                                        <div class="col col-md-12">
                                            <div class="row">&nbsp;</div>
                                            <div class="row padding-Left-20">
                                                <span class="title">@traducaoHelper["PAGAR_COM_RENDIMENTO"]  </span>
                                            </div>
                                            <div class="row padding-Left-20">
                                                <input id="idValorRendimento" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_RENDIMENTO"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                            </div>
                                            <div class="row padding-Left-20">
                                                <span class="title"> @traducaoHelper["SALDO_RENDIMENTO"]:  @moedaPadrao.Simbolo @((SaldoRentabilidade).ToString(moedaPadrao.MascaraOut))</span>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row padding-Left-20">
                                                <span class="title">@traducaoHelper["PAGAR_COM_BONUS"]</span>
                                            </div>
                                            <div class="row padding-Left-20">
                                                <input id="idValorBonus" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_BONUS"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                            </div>
                                            <div class="row padding-Left-20">
                                                @traducaoHelper["SALDO_BONUS"]:  @moedaPadrao.Simbolo @((SaldoBonus).ToString(moedaPadrao.MascaraOut))
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row padding-Left-20">
                                                <span class="title">@traducaoHelper["PAGAR_COM_TRANSFERENCIA"]</span>
                                            </div>
                                            <div class="row padding-Left-20">
                                                <input id="idValorTransferencia" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_TRANSFERENCIA"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                            </div>
                                            <div class="row padding-Left-20">
                                                @traducaoHelper["SALDO_TRANSFERENCIA"]:  @moedaPadrao.Simbolo @((SaldoTransferencias).ToString(moedaPadrao.MascaraOut))
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="row" style="padding-left: 240px;">
                                                <a href="javascript:AbrirConfirmacao2FASaldo()" class="btn btn-success" style="margin-left:10px;">@traducaoHelper["PAGAR"]</a>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                        </div>
                                    </fieldset>
                                    <footer>
                                        <div class="row">
                                            <div class="form-actions">
                                                <span class="pull-right" style="padding-right: 16px;">
                                                    <a href="@Url.Action("index", "meus-pedidos", new { area = "" })" class="btn btn-lg btn-info pull-right" style="margin-left:10px;">@traducaoHelper["MEUS_PEDIDOS"]</a>
                                                </span>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="mensagensErro" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-sm" style="min-width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="erroTitulo" class="modal-title">@ViewBag.AlertErroTitulo</h4>
            </div>
            <div class="modal-body">
                <div class="conteudo">
                    <h5 id="erroConteudo" class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@ViewBag.AlertErro</h5>
                </div>
            </div>
            <div class="modal-footer">
                <h4><span id="footerErro"></span></h4>
            </div>
        </div>
    </div>
</div>

<div id="mensagensSucesso" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-sm" style="min-width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@ViewBag.AlertSucessoTitulo</h4>
            </div>
            <div class="modal-body">
                <div class="conteudo">
                    <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@ViewBag.AlertSucesso</h5>
                </div>
            </div>
            <div class="modal-footer">
                <h4><span id="footerSucesso"></span></h4>
            </div>
        </div>
    </div>
</div>

<div id="mensagensInfo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-sm" style="min-width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@ViewBag.AlertInfoTitulo</h4>
            </div>
            <div class="modal-body">
                <div class="conteudo">
                    <h5 class="help-block" style="padding: 0% 1.4% 0% 1.4%; text-align:justify;">@ViewBag.AlertInfo</h5>
                </div>
            </div>
            <div class="modal-footer">
                <h4><span id="footerInfo"></span></h4>
            </div>
        </div>
    </div>
</div>

<div id="Confirmacao2FA" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="border-radius: 7px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="form-title text-center">
                    <img src="~/Content/global/img/google-authenticator.jpg" width="80" /><br />
                    <b>Google Authenticator</b>
                </h4>
            </div>
            <div class="modal-body" id="Formulario">
                <div class="form-group">
                    <div>
                        <span id="tokeninforma" class="center-block text-center text-info">Para esta alteração é necessário informar o token de validação</span>
                        <span id="tokeninvalido" class="hide center-block text-center text-danger">@traducaoHelper["TOKEN_INVALIDO"]</span><br />
                        <span>@traducaoHelper["TOKEN_INSIRA"]</span>
                        <input type="text" id="TokenText" name="TokenText" class="form-control placeholder-no-fix" placeholder="Token" required /><br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions" style="height: 46px;">
                    <button id="btnValidar" class="btn green-haze pull-right">OK&nbsp;<i class="m-icon-swapright m-icon-white"></i></button>
                    <a id="pagarSaldo" name="pagarSaldo"></a>
                </div>
            </div>
        </div>
    </div>
</div>


