<div style="height:auto;min-height:400px;margin-top:-4px;background-color:#ffffff;z-index:-1;">
    <span>Nível @ViewBag.SeqNivelAtual</span>
    <table class="table table-striped table-bordered table-hover table-responsive-lg">
        <thead class="card-dash txtdash3">
            <tr>
                <th># </th>
                <th>NÍVEL </th>
                <th>LOGIN </th>
                <th>NOME </th>
                @*<th>STATUS </th>*@

            </tr>
        </thead>
        <tbody>
            @{
                var iCount = 1;
                foreach (var direto in ViewBag.NivelAtual)
                {
                    <tr>
                        <td>@iCount </td>
                        <td>@direto.Nivel </td>
                        <td>
                            <a href="@Url.Action("Unilevel", "MinhaRede", new { chave = ViewBag.Chave, topo = direto.IDAfiliado })">
                                @direto.Login.ToLower()
                            </a>
                        </td>
                        <td>@direto.Nome</td>
                        @*<td>OK </td>*@
                    </tr>
                    iCount++;
                }
            }
        </tbody>
    </table>
</div>
