@using Sistema.Controllers
@{
    #region Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
    #endregion

    #region ViewBags
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    List<Core.Entities.Saque> contaRentabilidade = ViewBag.SaquesContaRentabilidade;
    List<Core.Entities.Saque> contaBonus = ViewBag.SaquesContaBonus;
    List<Core.Entities.Saque> contaInvest = ViewBag.SaquesContaInvest;

    var SolicitarSaqueRentabilidade = ViewBag.SolicitarSaqueRentabilidade;
    var SolicitarSaqueBonus = ViewBag.SolicitarSaqueBonus;
    var SolicitarSaqueInvest = ViewBag.SolicitarSaqueInvest;

    ViewBag.Title = traducaoHelper["SAQUES"].ToString().ToLower();
    #endregion

    #region Variaveis
    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();
    String conta = "";
    if (ViewBag.ContaDeposito == "BTC")
    {
        conta = traducaoHelper["CONTA"] + " BTC: " + ViewBag.ContaBTC;
    }
    else if (ViewBag.ContaDeposito == "LTC")
    {
        conta = traducaoHelper["CONTA"] + " LTC: " + ViewBag.ContaLTC;
    }
    else if (ViewBag.ContaDeposito == "USDT")
    {
        conta = traducaoHelper["CONTA"] + " USDT: " + ViewBag.ContaUSDT;
    }
    var msgSaque = traducaoHelper["SOLICITACAO_SAQUE_CONFIRMACAO"] + @"\n\n" + conta;

    var saldoInvestimento = ViewBag.SaldoInvestimento;
    var msgRenovacao = traducaoHelper["SOLICITACAO_RENOVACAO_CONFIRMACAO"];
    var msgRenovacaoAutomatica = traducaoHelper["SOLICITACAO_RENOVACAO_AUTOMATICA_CONFIRMACAO"];
    var msgCancelarRenovacaoAutomatica = traducaoHelper["SOLICITACAO_CANCELAR_AUTOMATICA_CONFIRMACAO"];

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/table")
    @Styles.Render("~/Content/sweetAlert")
}

@section head {}

@section pageScripts {
    @Scripts.Render("~/scripts/table")
    @Scripts.Render("~/scripts/dataPiker")
    @Scripts.Render("~/scripts/sweetAlert")
}

@section PageLevelScripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wallet-address-validator@0.2.4/dist/wallet-address-validator.min.js"></script>

    <script type="text/javascript">
        var TableLocal = function () {
            var initTabela = function () {
                var table = $('#tabela');
                var oTable = table.dataTable({
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "@traducaoHelper["TABELA_SEM_DADOS"]",
                        "info": "@traducaoHelper["EXIBINDO_DE"] _START_ @traducaoHelper["ATE"] _END_ @traducaoHelper["DE"] _TOTAL_ @traducaoHelper["REGISTROS"]",
                        "infoEmpty": "@traducaoHelper["SEM_DADOS"]",
                        "infoFiltered": "(@traducaoHelper["FILTRADO"])",
                        "lengthMenu": "_MENU_",
                        "search": "",
                        "zeroRecords": "@traducaoHelper["TABELA_SEM_DADOS"]"
                    },
                    "order": [
                        [0, 'asc']
                    ],
                    "lengthMenu": [
                        [5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "All"] // change per page values here
                    ],
                    "pageLength": 10, // set the initial value,
                    "columnDefs": [{  // set default column settings
                        'orderable': false,
                        'targets': [0]
                    }, {
                        "searchable": false,
                        "targets": [0]
                    }],
                    "order": [
                        [1, "asc"]
                    ]
                });
                var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);
                var tableWrapper = $('#tabela_wrapper');
            }
            return {
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }
                    initTabela();
                }
            };
        }();

        function Pagar(id) {
            $('#Pagar').modal();
            $('#Pagar div.modal-footer a').attr('href', '@Url.Action("pagar", "meus-pedidos")/' + id);
        }

        $(document).ready(function () {
            $("#idSaldoRentabilidade").text("@ViewBag.SaldoRentabilidade");
            $("#idSaldoBonus").text("@ViewBag.SaldoBonus");
            $("#idSaldoInvestimento").text("@ViewBag.SaldoInvestimento");

            $("#valorTrasferenciaRentabilidade").inputmask('@moedaPadrao.Simbolo @moedaPadrao.MascaraIn', { numericInput: true });
            $("#valorTrasferenciaBonus").inputmask('@moedaPadrao.Simbolo @moedaPadrao.MascaraIn', { numericInput: true });
            $("#valorTrasferenciaInvestimento").inputmask('@moedaPadrao.Simbolo @moedaPadrao.MascaraIn', { numericInput: true });

            $("#valorRentabilidade").inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true});
            $("#valorBonus").inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true });
            $("#valorInvest").inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true});

            $(".solicitarRentabilidade").click(function () {
                var valorRentabilidade = $("#valorRentabilidade").val();
                var senhaRentabilidade = $("#senhaRentabilidade").val();
                var tokenRentabilidade = $("#token2FARentabilidade").val();
                var error = false;

                if (valorRentabilidade.replace(/\D/g, '') == '') {
                    $("#validaValorRentabilidade").css('display', 'block');
                    $("#validaValorRentabilidade").text('Valor em branco!');
                    error = true;
                }
                else {
                    $("#validaValorRentabilidade").css('display', 'none');
                }
                if (tokenRentabilidade == '') {
                    $("#validaToken2FARentabilidade").css('display', 'block');
                    $("#validaToken2FARentabilidade").text('Token em branco!');
                    error = true;
                }
                if (senhaRentabilidade == '') {
                    $("#validaSenhaRentabilidade").css('display', 'block');
                    $("#validaSenhaRentabilidade").text('Senha em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#saqueRentabilidade").modal('hide');
                    swal({
                    title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                            text: '@Html.Raw(msgSaque)',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                            cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                            closeOnConfirm: true,
                            closeOnCancel: true
                         },
                         function (isconfirm) {
                            if (isconfirm) {
                                SacarRentabilidade(valorRentabilidade, senhaRentabilidade, tokenRentabilidade);
                            }
                            $("#valorRentabilidade").val("");
                            $("#senhaRentabilidade").val("");
                            $("#token2FARentabilidade").val("");
                        });
                    }
            });
            $(".solicitarBonus").click(function () {
                var valorBonus = $("#valorBonus").val();
                var senhaBonus = $("#senhaBonus").val();
                var tokenBonus = $("#token2FABonus").val();
                var error = false;

                if (valorBonus.replace(/\D/g, '') == '') {
                    $("#validaValorBonus").css('display', 'block');
                    $("#validaValorBonus").text('Valor em branco!');
                    error = true;
                }
                else {
                    $("#validaValorBonus").css('display', 'none');
                }
                if (tokenBonus == '') {
                    $("#validaToken2FABonus").css('display', 'block');
                    $("#validaToken2FABonus").text('Token em branco!');
                    error = true;
                }
                if (senhaBonus == '') {
                    $("#validaSenhaBonus").css('display', 'block');
                    $("#validaSenhaBonus").text('Senha em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#saqueBonus").modal('hide');
                    swal({
                    title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                            text: '@Html.Raw(msgSaque)',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                            cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                            closeOnConfirm: true,
                            closeOnCancel: true
                         },
                         function (isconfirm) {
                            if (isconfirm) {
                                SacarBonus(valorBonus, senhaBonus, tokenBonus);
                            }
                            $("#valorBonus").val("");
                            $("#senhaBonus").val("");
                            $("#token2FABonus").val("");
                        });
                    }
            });
            $(".solicitarInvest").click(function () {
                var valorInvest = $("#valorInvest").val();
                var senhaInvest = $("#senhaInvest").val();
                var tokenInvest = $("#token2FAInvest").val();
                var error = false;

                if (valorInvest.replace(/\D/g, '') == '') {
                    $("#validaValorInvest").css('display', 'block');
                    $("#validaValorInvest").text('Valor em branco!');
                    error = true;
                }
                else {
                    $("#validaValorInvest").css('display', 'none');
                }
                if (tokenInvest == '') {
                    $("#validaToken2FAInvest").css('display', 'block');
                    $("#validaToken2FAInvest").text('Token em branco!');
                    error = true;
                }
                if (senhaInvest == '') {
                    $("#validaSenhaInvest").css('display', 'block');
                    $("#validaSenhaInvest").text('Senha em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#saqueInvest").modal('hide');
                    swal({
                    title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                            text: '@Html.Raw(msgSaque)',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                            cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                            closeOnConfirm: true,
                            closeOnCancel: true
                         },
                         function (isconfirm) {
                            if (isconfirm) {
                                SacarInvest(valorInvest, senhaInvest, tokenInvest);
                            }
                            $("#valorInvest").val("");
                            $("#senhaInvest").val("");
                            $("#token2FAInvest").val("");
                        });
                    }
            });

            $(".solicitarRenovacao").click(function () {
                var tokenRenovacao = $("#token2FARenovacao").val();
                var valorRenovacao = $("#valorRenovacao").val();
                var error = false;
                if (tokenRenovacao == '') {
                    $("#validaToken2FARenovacao").css('display', 'block');
                    $("#validaToken2FARenovacao").text('Token em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#modalRenovacao").modal('hide');
                    swal({
                        title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                        text: '@Html.Raw(msgRenovacao)',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                        cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isconfirm) {
                        if (isconfirm) {
                            efetuarRenovacao(valorRenovacao, tokenRenovacao);
                        }
                        $("#token2FARenovacao").val("");
                    });
                }
            });
            $(".solicitarRenovacaoAutomatica").click(function () {
                var tokenRenovacaoAutomatica = $("#token2FARenovacaoAutomatica").val();
                var valorRenovacaoAutomatica = $("#valorRenovacaoAutomatica").val();
                var error = false;
                if (tokenRenovacaoAutomatica == '') {
                    $("#validaToken2FARenovacaoAutomatica").css('display', 'block');
                    $("#validaToken2FARenovacaoAutomatica").text('Token em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#modalRenovacaoAutomatica").modal('hide');
                    swal({
                        title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                        text: '@Html.Raw(msgRenovacaoAutomatica)',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                        cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isconfirm) {
                        if (isconfirm) {
                            efetuarRenovacaoAutomatica(valorRenovacaoAutomatica, tokenRenovacaoAutomatica);
                        }
                        $("#token2FARenovacaoAutomatica").val("");
                    });
                }
            });
            $(".solicitarCancelarRenovacaoAutomatica").click(function () {
                var tokenCancelarRenovacaoAutomatica = $("#token2FACancelarRenovacaoAutomatica").val();
                var valorCancelarRenovacaoAutomatica = $("#valorCancelarRenovacaoAutomatica").val();
                var error = false;
                if (tokenCancelarRenovacaoAutomatica == '') {
                    $("#validaToken2FACancelarRenovacaoAutomatica").css('display', 'block');
                    $("#validaToken2FACancelarRenovacaoAutomatica").text('Token em branco!');
                    error = true;
                }
                if (error) {
                    return;
                }
                else {
                    $("#modalCancelarRenovacaoAutomatica").modal('hide');
                    swal({
                        title: '@Html.Raw(traducaoHelper["TEM_CERTEZA"])',
                        text: '@Html.Raw(msgCancelarRenovacaoAutomatica)',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@Html.Raw(traducaoHelper["SIM"])',
                        cancelButtonText: '@Html.Raw(traducaoHelper["NAO"])',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isconfirm) {
                        if (isconfirm) {
                            efetuarCancelarRenovacaoAutomatica(valorCancelarRenovacaoAutomatica, tokenCancelarRenovacaoAutomatica);
                        }
                        $("#token2FACancelarRenovacaoAutomatica").val("");
                    });
                }
            });

        });

        var atualizar = true;

        function DadosPago(hash) {
            $('#dadosPago-hash').text(hash);
            $('#dadosPago-hash').attr('href', "https://www.blockchain.com/btc/tx/" + hash);
            $('#dadosPago').modal('show');
        }

        function Cancelar(id) {
            $('#cancelar').modal();
            $('#cancelar div.modal-footer a').attr('href', '@Url.Action("cancelar", "saque")/' + id);
        };

        function SacarRentabilidade(valor, senha, token) {
            $('#formularioRentabilidade').hide();
            $("#saqueRentabilidade").modal('show');
            $('#mensagemRentabilidade').show();
            $('#mensagemRentabilidade p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitar")', { valor: valor, senha: senha, token: token, tipo: '1'}, function (data) {
                if (data == 'OK') {
                    $('#mensagemRentabilidade p').html('@traducaoHelper["SAQUE_SOLICITADO_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemRentabilidade p').html(data);
                    atualizar = false;
                }
                $('#saqueRentabilidade div.modal-footer').show();
            });
        };

        function SacarBonus(valor, senha, token) {
            $('#formularioBonus').hide();
            $("#saqueBonus").modal('show');
            $('#mensagemBonus').show();
            $('#mensagemBonus p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitar")', { valor: valor, senha: senha, token: token, tipo: '2' }, function (data) {
                if (data == 'OK') {
                    $('#mensagemBonus p').html('@traducaoHelper["SAQUE_SOLICITADO_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemBonus p').html(data);
                    atualizar = false;
                }
                $('#saqueBonus div.modal-footer').show();
            });
        };

        function SacarInvest(valor, senha, token) {
            $('#formularioInvest').hide();
            $("#saqueInvest").modal('show');
            $('#mensagemInvest').show();
            $('#mensagemInvest p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitar")', { valor: valor, senha: senha, token: token, tipo: '3' }, function (data) {
                if (data == 'OK') {
                    $('#mensagemInvest p').html('@traducaoHelper["SAQUE_SOLICITADO_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemInvest p').html(data);
                    atualizar = false;
                }
                $('#saqueInvest div.modal-footer').show();
            });
        };

        function AbrirRentabilidade() {
            $('#saqueRentabilidade').modal();
            $('#formularioRentabilidade').show();
            $('#mensagemRentabilidade').hide();
            $('#saque div.modal-footer').hide();
            $('#valorRentabilidade').val('');
            $('#senhaRentabilidade').val('');
            $('#token2FARentabilidade').val('');
            $('#validaValorRentabilidade').text('');
            $('#validaValorRentabilidade').css('display', 'none');
            $('#validaSenhaRentabilidade').text('');
            $('#validaSenhaRentabilidade').css('display', 'none');
            $('#validaToken2FARentabilidade').text('');
            $('#validaToken2FARentabilidade').css('display', 'none');
        };

        function AbrirBonus() {
            $('#saqueBonus').modal();
            $('#formularioBonus').show();
            $('#mensagemBonus').hide();
            $('#saqueBonus div.modal-footer').hide();
            $('#valorBonus').val('');
            $('#senhaBonus').val('');
            $('#token2FABonus').val('');
            $('#validaValorBonus').text('');
            $('#validaValorBonus').css('display', 'none');
            $('#validaSenhaBonus').text('');
            $('#validaSenhaBonus').css('display', 'none');
            $('#validaToken2FABonus').text('');
            $('#validaToken2FABonus').css('display', 'none');
        };

        function AbrirInvest() {
            $('#saqueInvest').modal();
            $('#formularioInvest').show();
            $('#mensagemInvest').hide();
            $('#saqueInvest div.modal-footer').hide();
            $('#valorInvest').val('');
            $('#senhaInvest').val('');
            $('#token2FAInvest').val('');
            $('#validaValorInvest').text('');
            $('#validaValorInvest').css('display', 'none');
            $('#validaSenhaInvest').text('');
            $('#validaSenhaInvest').css('display', 'none');
            $('#validaToken2FAInvest').text('');
            $('#validaToken2FAInvest').css('display', 'none');
        };

        function Fechar() {
            if (atualizar) {
                window.location = window.location;
            }
        };

        function TransferirRentabilidade() {
            var valor = $('#valorTrasferenciaRentabilidade').inputmask('unmaskedvalue');
            var login = $('#LoginUsuarioRentabilidade').val();
            var tokenTransferirRentabilidade = $("#token2FATransferirRentabilidade").val();
            $('#mensagemRentabilidade').show();
            $('#mensagemRentabilidade p').html('@traducaoHelper["AGUARDE"]...');
            if(valor != ''){
                $.post('@Url.Action("transferirRentabilidade")', { login: login, valor: valor, token: tokenTransferirRentabilidade }, function (data) {
                    if (data == 'OK') {
                       swal('@Html.Raw(traducaoHelper["SUCESSO"])', '@Html.Raw(traducaoHelper["TRANSFERENCIA_REALIZADA_SUCESSO"])', 'success');
                    } else {
                        swal('@Html.Raw(traducaoHelper["ALERTA"])', data, 'info');
                    }
                });
            }
        }

        function TransferirBonus() {
            var valor = $('#valorTrasferenciaBonus').inputmask('unmaskedvalue');
            var login = $('#LoginUsuarioBonus').val();
            var tokenTransferirBonus = $("#token2FATransferirBonus").val();
            $('#mensagemBonus').show();
            $('#mensagemBonus p').html('@traducaoHelper["AGUARDE"]...');
            if(valor != ''){
                $.post('@Url.Action("transferirBonus")', { login: login, valor: valor, token: tokenTransferirBonus }, function (data) {
                    if (data == 'OK') {
                       swal('@Html.Raw(traducaoHelper["SUCESSO"])', '@Html.Raw(traducaoHelper["TRANSFERENCIA_REALIZADA_SUCESSO"])', 'success');
                    } else {
                        swal('@Html.Raw(traducaoHelper["ALERTA"])', data, 'info');
                    }
                });
            }
        }

        function AbrirRenovacao() {
            $('#modalRenovacao').modal();
            $('#formularioRenovacao').show();
            $('#mensagemRenovacao').hide();
            $('#token2FARenovacao').val('');
            $('#validaToken2FARenovacao').text('');
            $('#validaToken2FARenovacao').css('display', 'none');
            $('#modalRenovacao div.modal-footer').hide();
        };

        function AbrirRenovacaoAutomatica() {
            $('#modalRenovacaoAutomatica').modal();
            $('#formularioRenovacaoAutomatica').show();
            $('#mensagemRenovacaoAutomatica').hide();
            $('#token2FARenovacaoAutomatica').val('');
            $('#validaToken2FARenovacaoAutomatica').text('');
            $('#validaToken2FARenovacaoAutomatica').css('display', 'none');
            $('#modalRenovacaoAutomatica div.modal-footer').hide();
        };

        function CancelarRenovacaoAutomatica() {
            $('#modalCancelarRenovacaoAutomatica').modal();
            $('#formularioCancelarRenovacaoAutomatica').show();
            $('#mensagemCancelarRenovacaoAutomatica').hide();
            $('#token2FACancelarRenovacaoAutomatica').val('');
            $('#validaToken2FACancelarRenovacaoAutomatica').text('');
            $('#validaToken2FACancelarRenovacaoAutomatica').css('display', 'none');
            $('#modalCancelarRenovacaoAutomatica div.modal-footer').hide();
        };

        function efetuarRenovacao(valor, token) {
            $('#formularioRenovacao').hide();
            $("#modalRenovacao").modal('show');
            $('#mensagemRenovacao').show();
            $('#mensagemRenovacao p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitarRenovacao")', {valor: valor, token: token}, function (data) {
                if (data == 'OK') {
                    $('#mensagemRenovacao p').html('@traducaoHelper["RENOVACAO_SOLICITADA_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemRenovacao p').html(data);
                    atualizar = false;
                }
                $('#modalRenovacao div.modal-footer').show();
            });
        };

        function efetuarRenovacaoAutomatica(valor, token) {
            $('#formularioRenovacaoAutomatica').hide();
            $("#modalRenovacaoAutomatica").modal('show');
            $('#mensagemRenovacaoAutomatica').show();
            $('#mensagemRenovacaoAutomatica p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitarRenovacaoAutomatica")', {valor: valor, token: token}, function (data) {
                if (data == 'OK') {
                    $('#mensagemRenovacaoAutomatica p').html('@traducaoHelper["RENOVACAO_AUTOMATICA_SOLICITADA_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemRenovacaoAutomatica p').html(data);
                    atualizar = false;
                }
                $('#modalRenovacaoAutomatica div.modal-footer').show();
            });
        };

        function efetuarCancelarRenovacaoAutomatica(valor, token) {
            $('#formularioCancelarRenovacaoAutomatica').hide();
            $("#modalCancelarRenovacaoAutomatica").modal('show');
            $('#mensagemCancelarRenovacaoAutomatica').show();
            $('#mensagemCancelarRenovacaoAutomatica p').html('@traducaoHelper["AGUARDE"]...');

            $.post('@Url.Action("solicitarCancelarRenovacaoAutomatica")', {valor: valor, token: token}, function (data) {
                if (data == 'OK') {
                    $('#mensagemCancelarRenovacaoAutomatica p').html('@traducaoHelper["RENOVACAO_AUTOMATICA_SOLICITADA_SUCESSO"]');
                    atualizar = true;
                } else {
                    $('#mensagemCancelarRenovacaoAutomatica p').html(data);
                    atualizar = false;
                }
                $('#modalCancelarRenovacaoAutomatica div.modal-footer').show();
            });
        };

    </script>
}

@section jQueryRead {
    TableLocal.init();
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs tabContatos">
    <li class="active"><a href="#rentabilidade" data-toggle="tab"><i class="fa fa-money"></i> @traducaoHelper["RENTABILIDADE"]</a></li>
    <li><a href="#bonus" data-toggle="tab"><i class="fa fa-plus"></i> @traducaoHelper["BONUS"]</a></li>
    <li><a href="#investimento" data-toggle="tab"><i class="fa fa-plus"></i> @traducaoHelper["INVESTIMENTO"]</a></li>
</ul>

<div class="tab-content">

    <div id="rentabilidade" class="tab-pane active">
        <div class="portlet aba box backWrite grey-gallery">
            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href="#transferirRentabilidade" data-toggle="tab" class="btn green">
                        <i class="icon-refresh"></i>
                        @traducaoHelper["TRANSFERIR"] &nbsp;
                    </a>
                    @if (SolicitarSaqueRentabilidade == SolicitacaoSaqueStatus.DiaNaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_DIA_SEMANA"]</a>
                    }
                    else if (SolicitarSaqueRentabilidade == SolicitacaoSaqueStatus.NaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    else if (SolicitarSaqueRentabilidade == SolicitacaoSaqueStatus.JaSacou)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_JA_SACOU"]</a>
                    }
                    else if (SolicitarSaqueRentabilidade == SolicitacaoSaqueStatus.Pode)
                    {
                        <a href="javascript:void(0);" onclick="AbrirRentabilidade()" class="btn green">
                            <i class="fa fa-money"></i> @traducaoHelper["SOLICITAR_SAQUE"]
                        </a>
                    }
                    else
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    <label>&nbsp;</label>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane" id="transferirRentabilidade">
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">
                                                    @traducaoHelper["TRANSFERIR"] @traducaoHelper["RENTABILIDADE"]
                                                    <a href="#EsconderRentabilidade" data-toggle="tab" class="btn btn-transparent" style="padding-right: 10px; padding-left: 150px;">
                                                        <i class="icon-close font-dark"></i>
                                                        <span class="font-dark">@traducaoHelper["FECHAR"]</span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <br />
                                                    <span class="caption-subject font-blue-madison bold uppercase">
                                                        @traducaoHelper["SALDO"]: @ViewBag.SaldoRentabilidade
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label class="control-label">@traducaoHelper["USUARIO_PARA_TRANSFERIR"]:</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="LoginUsuarioRentabilidade" id="LoginUsuarioRentabilidade" style="width:auto;float:left; padding-right: 10px;">&nbsp;
                                                    </div>
                                                    <br />
                                                    <label class="control-label">@traducaoHelper["DIGITE_VALOR_TRANSFERIR"]:</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="valorTrasferenciaRentabilidade" id="valorTrasferenciaRentabilidade" style="width:auto;float:left; padding-right: 10px;">&nbsp;
                                                    </div>
                                                    <br />
                                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                                                    {
                                                        <div>
                                                            <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                                            <input type="text" class="form-control" name="token2FATransferirRentabilidade" id="token2FATransferirRentabilidade" style="max-width: 200px;">
                                                            <a id="validaToken2FARentabilidade" style="display:none; color: red;"></a>
                                                        </div>
                                                        <br />
                                                    }
                                                    <div>
                                                        <a href="javascript:void(0);" onclick="TransferirRentabilidade()" class="btn btn-success" style="padding-right: 10px; padding-left: 10px;">
                                                            <i class="icon-refresh"></i>
                                                            @traducaoHelper["TRANSFERIR"]
                                                        </a>
                                                    </div>
                                                    <br /> <br />
                                                    <div class="help-block">
                                                        @traducaoHelper["SERA_COBRADO_TAXA"]
                                                        <br />
                                                        @traducaoHelper["VALOR_MINIMO_TRANSFERENCIA"]
                                                        <br />
                                                        @traducaoHelper["BENEFICIARIO_VALOR_MINIMO"]
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="EsconderRentabilidade">
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                </div>
                <h3>@traducaoHelper["SALDO"]: @ViewBag.SaldoRentabilidade</h3>
                <br />
                <!-- END PROFILE CONTENT -->
                @if (!contaRentabilidade.Any())
                {

                    <h3>@traducaoHelper["SAQUE_VAZIO"]</h3>
                }
                else
                {
                    <table class="table table-striped table-bordered table-hover" id="tabela">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">@traducaoHelper["DATA"]</th>
                                <th class="text-center">@traducaoHelper["LIQUIDO"]</th>
                                <th class="text-center">@traducaoHelper["TAXA"]</th>
                                <th class="text-center">@traducaoHelper["TOTAL"]</th>
                                <th class="text-center">@traducaoHelper["CONTA"]</th>
                                <th class="text-center">@traducaoHelper["STATUS"]</th>
                                <th style="width: 70px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var saque in contaRentabilidade.OrderByDescending(p => p.ID))
                            {
                                <tr>
                                    <td>
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Pago)
                                        {
                                            <a href="javascript:void(0)" onclick="DadosPago('@saque.StatusAtual.Mensagem')" class="gridDetail" title=@traducaoHelper["DETALHES"]><i class="fa fa-search"></i></a>
                                        }
                                    </td>
                                    <td class="text-center">@saque.StatusInicial.Data.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Liquido.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Taxas.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Total.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    @{
                                        var label = "label-default";
                                        switch (saque.StatusAtual.Status)
                                        {
                                            case Core.Entities.SaqueStatus.TodosStatus.Processando:
                                            case Core.Entities.SaqueStatus.TodosStatus.Indefinido:
                                            case Core.Entities.SaqueStatus.TodosStatus.Solicitado:
                                                label = "label-warning";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Cancelado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Estornado:
                                                label = "label-danger";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Efetuado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Pago:
                                                label = "label-success";
                                                break;
                                        }
                                    }
                                    <td class="text-center">@(ViewBag.ContaDeposito == "BTC" ? "BTC: " + saque.Carteira : ViewBag.ContaDeposito == "LTC" ? "LTC: " + saque.Carteira : "")</td>
                                    <td class="text-center"><span class="label @(label)">@saque.StatusAtual.Status.ToString()</span></td>
                                    <td class="text-center">
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Solicitado || saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Indefinido)
                                        {
                                            <a href="javascript:void(0);" onclick="Cancelar(@saque.ID)" class="btn btn-circle red" data-toggle="tootip" data-original-title="@traducaoHelper["CANCELAR_SOLICITACAO_SAQUE"]">@traducaoHelper["CANCELAR"]</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

    <div id="bonus" class="tab-pane">
        <div class="portlet aba box backWrite grey-gallery">
            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href="#transferirBonus" data-toggle="tab" class="btn green">
                        <i class="icon-refresh"></i>
                        @traducaoHelper["TRANSFERIR"] &nbsp;
                    </a>
                    @if (SolicitarSaqueBonus == SolicitacaoSaqueStatus.DiaNaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_DIA_SEMANA"]</a>
                    }
                    else if (SolicitarSaqueBonus == SolicitacaoSaqueStatus.NaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    else if (SolicitarSaqueBonus == SolicitacaoSaqueStatus.JaSacou)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_JA_SACOU"]</a>
                    }
                    else if (SolicitarSaqueBonus == SolicitacaoSaqueStatus.Pode)
                    {
                        <a href="javascript:void(0);" onclick="AbrirBonus()" class="btn green">
                            <i class="fa fa-money"></i> @traducaoHelper["SOLICITAR_SAQUE"]
                        </a>
                    }
                    else
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body">
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane" id="transferirBonus">
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">
                                                    @traducaoHelper["TRANSFERIR"] @traducaoHelper["BONUS"]
                                                    <a href="#EsconderBonus" data-toggle="tab" class="btn btn-transparent" style="padding-right: 10px; padding-left: 150px;">
                                                        <i class="icon-close font-dark"></i>
                                                        <span class="font-dark">@traducaoHelper["FECHAR"]</span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <br />
                                                    <span class="caption-subject font-blue-madison bold uppercase">
                                                        @traducaoHelper["SALDO"]: @ViewBag.SaldoBonus
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <label class="control-label">@traducaoHelper["USUARIO_PARA_TRANSFERIR"]:</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="LoginUsuarioBonus" id="LoginUsuarioBonus" style="width:auto;float:left; padding-right: 10px;">&nbsp;
                                                    </div>
                                                    <br />
                                                    <label class="control-label">@traducaoHelper["DIGITE_VALOR_TRANSFERIR"]:</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="valorTrasferenciaBonus" id="valorTrasferenciaBonus" style="width:auto;float:left; padding-right: 10px;">&nbsp;
                                                    </div>
                                                    <br />
                                                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                                                    {
                                                        <div>
                                                            <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                                            <input type="text" class="form-control" name="token2FATransferirBonus" id="token2FATransferirBonus" style="max-width: 200px;">
                                                            <a id="validaToken2FABonus" style="display:none; color: red;"></a>
                                                        </div>
                                                        <br />
                                                    }
                                                    <div>
                                                        <a href="javascript:void(0);" onclick="TransferirBonus()" class="btn btn-success" style="padding-right: 10px; padding-left: 10px;">
                                                            <i class="icon-refresh"></i>
                                                            @traducaoHelper["TRANSFERIR"]
                                                        </a>
                                                    </div>
                                                    <br /> <br />
                                                    <div class="help-block">
                                                        @traducaoHelper["SERA_COBRADO_TAXA"]
                                                        <br />
                                                        @traducaoHelper["VALOR_MINIMO_TRANSFERENCIA"]
                                                        <br />
                                                        @traducaoHelper["BENEFICIARIO_VALOR_MINIMO"]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="EsconderBonus">
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                </div>
                <h3>@traducaoHelper["SALDO"]: @ViewBag.SaldoBonus</h3>
                <br />
                <!-- END PROFILE CONTENT -->
                @if (!contaBonus.Any())
                {
                    <h3>@traducaoHelper["SAQUE_VAZIO"]</h3>
                }
                else
                {
                    <table class="table table-striped table-bordered table-hover" id="tabela">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">@traducaoHelper["DATA"]</th>
                                <th class="text-center">@traducaoHelper["LIQUIDO"]</th>
                                <th class="text-center">@traducaoHelper["TAXA"]</th>
                                <th class="text-center">@traducaoHelper["TOTAL"]</th>
                                <th class="text-center">@traducaoHelper["CONTA"]</th>
                                <th class="text-center">@traducaoHelper["STATUS"]</th>
                                <th style="width: 70px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var saque in contaBonus.OrderByDescending(p => p.ID))
                            {
                                <tr>
                                    <td>
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Pago)
                                        {
                                            <a href="javascript:void(0)" onclick="DadosPago('@saque.StatusAtual.Mensagem')" class="gridDetail" title=@traducaoHelper["DETALHES"]><i class="fa fa-search"></i></a>
                                        }
                                    </td>
                                    <td class="text-center">@saque.StatusInicial.Data.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Liquido.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Taxas.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Total.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    @{
                                        var label = "label-default";
                                        switch (saque.StatusAtual.Status)
                                        {
                                            case Core.Entities.SaqueStatus.TodosStatus.Processando:
                                            case Core.Entities.SaqueStatus.TodosStatus.Indefinido:
                                            case Core.Entities.SaqueStatus.TodosStatus.Solicitado:
                                                label = "label-warning";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Cancelado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Estornado:
                                                label = "label-danger";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Efetuado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Pago:
                                                label = "label-success";
                                                break;
                                        }
                                    }
                                    <td class="text-center">@(ViewBag.ContaDeposito == "BTC" ? "BTC: " + saque.Carteira : ViewBag.ContaDeposito == "LTC" ? "LTC: " + saque.Carteira : "")</td>
                                    <td class="text-center"><span class="label @(label)">@saque.StatusAtual.Status.ToString()</span></td>
                                    <td class="text-center">
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Solicitado || saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Indefinido)
                                        {
                                            <a href="javascript:void(0);" onclick="Cancelar(@saque.ID)" class="btn btn-circle red" data-toggle="tootip" data-original-title="@traducaoHelper["CANCELAR_SOLICITACAO_SAQUE"]">@traducaoHelper["CANCELAR"]</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

    <div id="investimento" class="tab-pane">
        <div class="portlet aba box backWrite grey-gallery">
            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    @if (ViewBag.ExibeBotaoRenovacao)
                    {
                        <a href="javascript:void(0);" onclick="AbrirRenovacao()" class="btn green">
                            <i class="fa fa-recycle"></i> @traducaoHelper["RENOVACAO"]
                        </a>
                    }
                    @if (ViewBag.ExibeBotaoRenovacaoAutomatica)
                    {
                        <a href="javascript:void(0);" onclick="AbrirRenovacaoAutomatica()" class="btn green">
                            <i class="fa fa-recycle"></i> @traducaoHelper["RENOVACAO_AUTOMATICA"]
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" onclick="CancelarRenovacaoAutomatica()" class="btn red">
                            <i class="fa fa-recycle"></i> @traducaoHelper["CANCELAR_RENOVACAO_AUTOMATICA"]
                        </a>
                    }

                    @if (SolicitarSaqueInvest == SolicitacaoSaqueStatus.DiaNaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_DIA_SEMANA"]</a>
                    }
                    else if (SolicitarSaqueInvest == SolicitacaoSaqueStatus.NaoPermitido)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    else if (SolicitarSaqueInvest == SolicitacaoSaqueStatus.JaSacou)
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_JA_SACOU"]</a>
                    }
                    else if (SolicitarSaqueInvest == SolicitacaoSaqueStatus.Pode)
                    {
                        <a href="javascript:void(0);" onclick="AbrirInvest()" class="btn green">
                            <i class="fa fa-money"></i> @traducaoHelper["SOLICITAR_SAQUE"]
                        </a>
                    }
                    else
                    {
                        <a href='#' class="btn white">@traducaoHelper["SAQUE_SOLICITACAO_NAO_PERMITIDO"]</a>
                    }
                    <label>&nbsp;</label>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane" id="EsconderInvestimento">
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
                <h3>@traducaoHelper["SALDO"]: @ViewBag.SaldoInvestimento</h3>
                <br />
                @if (!contaInvest.Any())
                {
                    <h3>@traducaoHelper["SAQUE_VAZIO"]</h3>
                }
                else
                {
                    <table class="table table-striped table-bordered table-hover" id="tabela">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">@traducaoHelper["DATA"]</th>
                                <th class="text-center">@traducaoHelper["LIQUIDO"]</th>
                                <th class="text-center">@traducaoHelper["TAXA"]</th>
                                <th class="text-center">@traducaoHelper["TOTAL"]</th>
                                <th class="text-center">@traducaoHelper["CONTA"]</th>
                                <th class="text-center">@traducaoHelper["STATUS"]</th>
                                <th style="width: 70px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var saque in contaInvest.OrderByDescending(p => p.ID))
                            {
                                <tr>
                                    <td>
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Pago)
                                        {
                                            <a href="javascript:void(0)" onclick="DadosPago('@saque.StatusAtual.Mensagem')" class="gridDetail" title=@traducaoHelper["DETALHES"]><i class="fa fa-search"></i></a>
                                        }
                                    </td>
                                    <td class="text-center">@saque.StatusInicial.Data.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Liquido.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Taxas.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    <td class="text-center">@moedaPadrao.Simbolo @saque.Total.Value.ToString(@moedaPadrao.MascaraOut)</td>
                                    @{
                                        var label = "label-default";
                                        switch (saque.StatusAtual.Status)
                                        {
                                            case Core.Entities.SaqueStatus.TodosStatus.Processando:
                                            case Core.Entities.SaqueStatus.TodosStatus.Indefinido:
                                            case Core.Entities.SaqueStatus.TodosStatus.Solicitado:
                                                label = "label-warning";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Cancelado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Estornado:
                                                label = "label-danger";
                                                break;
                                            case Core.Entities.SaqueStatus.TodosStatus.Efetuado:
                                            case Core.Entities.SaqueStatus.TodosStatus.Pago:
                                                label = "label-success";
                                                break;
                                        }
                                    }
                                    <td class="text-center">@(ViewBag.ContaDeposito == "BTC" ? "BTC: " + saque.Carteira : ViewBag.ContaDeposito == "LTC" ? "LTC: " + saque.Carteira : "")</td>
                                    <td class="text-center"><span class="label @(label)">@saque.StatusAtual.Status.ToString()</span></td>
                                    <td class="text-center">
                                        @if (saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Solicitado || saque.StatusAtual.Status == Core.Entities.SaqueStatus.TodosStatus.Indefinido)
                                        {
                                            <a href="javascript:void(0);" onclick="Cancelar(@saque.ID)" class="btn btn-circle red" data-toggle="tootip" data-original-title="@traducaoHelper["CANCELAR_SOLICITACAO_SAQUE"]">@traducaoHelper["CANCELAR"]</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

</div>

<div id="dadosPago" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-lg" style="min-width: 380px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["DADOS_DO_PAGAMENTO"]</h4>
            </div>
            <div class="modal-body">
                <b>@traducaoHelper["HASH_PAGAMENTO"]</b><br />
                <a href="" id="dadosPago-hash" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<div id="cancelar" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["CONFIRMACAO"]</h4>
            </div>
            <div class="modal-body text-center">@traducaoHelper["DESEJA_CANCELAR_SAQUE"]</div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="float:left;">@traducaoHelper["NÃO"]</button>
                <a href="" class="btn btn-success" aria-hidden="true">@traducaoHelper["SIM"]</a>
            </div>
        </div>
    </div>
</div>

<div id="saqueRentabilidade" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["SOLICITAR_SAQUE"]  @traducaoHelper["CONTA_SALDO_DESCRICAO"]</h4>
                <h2><span id="idSaldoRentabilidade" name="idSaldoRentabilidade"></span></h2>
            </div>
            <div class="modal-body" id="formularioRentabilidade">
                <div class="control-group">
                    <b>@Html.Raw(string.Format(traducaoHelper["INSTRUCOES_SAQUE"], ViewBag.ValorMinimoSaqueRentabilidade, ViewBag.TaxaSaqueRentabilidade))</b>
                </div>
                <br />
                <div class="row">
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label for="valorRentabilidade">@traducaoHelper["VALOR_SAQUE"]</label>
                            <input type="text" class="form-control" name="valorRentabilidade" id="valorRentabilidade">
                            <a id="validaValorRentabilidade" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label>Senha Sistema</label>
                            <input type="password" class="form-control" name="senhaRentabilidade" id="senhaRentabilidade">
                            <a id="validaSenhaRentabilidade" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FARentabilidade" id="token2FARentabilidade">
                                <a id="validaToken2FARentabilidade" style="display:none; color: red;"></a>
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarRentabilidade"><i class="icon-ok"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemRentabilidade" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>

<div id="saqueBonus" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["SOLICITAR_SAQUE"] @traducaoHelper["BONUS"]</h4>
                <h2><span id="idSaldoBonus" name="idSaldoBonus"></span></h2>
            </div>
            <div class="modal-body" id="formularioBonus">
                <div class="control-group">
                    <b>@Html.Raw(string.Format(traducaoHelper["INSTRUCOES_SAQUE"], ViewBag.ValorMinimoSaqueBonus, ViewBag.TaxaSaqueBonus))</b>
                </div>
                <br />
                <div class="row">
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label for="valorBonus">@traducaoHelper["VALOR_SAQUE"]</label>
                            <input type="text" class="form-control" name="valorBonus" id="valorBonus">
                            <a id="validaValorBonus" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label>Senha Sistema</label>
                            <input type="password" class="form-control" name="senhaBonus" id="senhaBonus">
                            <a id="validaSenhaBonus" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FABonus" id="token2FABonus">
                                <a id="validaToken2FABonus" style="display:none; color: red;"></a>
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarBonus"><i class="icon-ok"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemBonus" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>

<div id="saqueInvest" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["SOLICITAR_SAQUE"] @traducaoHelper["INVESTIMENTO"]</h4>
                <h2><span id="idSaldoInvestimento" name="idSaldoInvestimento"></span></h2>
            </div>
            <div class="modal-body" id="formularioInvest">
                <div class="control-group">
                    <b>@Html.Raw(string.Format(traducaoHelper["INSTRUCOES_SAQUE"], ViewBag.ValorMinimoSaqueInvest, ViewBag.TaxaSaqueInvest))</b>
                </div>
                <br />
                <div class="row">
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label for="valorInvest">@traducaoHelper["VALOR_SAQUE"]</label>
                            <input type="text" class="form-control" name="valorInvest" id="valorInvest">
                            <a id="validaValorInvest" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="col-sm-12" style="margin-bottom: 2%;">
                            <label>Senha Sistema</label>
                            <input type="password" class="form-control" name="senhaInvest" id="senhaInvest">
                            <a id="validaSenhaInvest" style="display:none; color: red;"></a>
                        </div>
                    </div>
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FAInvest" id="token2FAInvest">
                                <a id="validaToken2FAInvest" style="display:none; color: red;"></a>
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarInvest"><i class="icon-ok"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemInvest" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>

<div id="modalRenovacao" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["RENOVACAO"]</h4>
                <h2><span id="idTotalRenovacao" name="idTotalRenovacao">@saldoInvestimento</span></h2>
            </div>
            <div class="modal-body" id="formularioRenovacao">
                <div class="control-group">
                    <b>@traducaoHelper["INSTRUCOES_RENOVACAO"]</b>
                </div>
                <br />
                <div class="row">
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FARenovacao" id="token2FARenovacao">
                                <a id="validaToken2FARenovacao" style="display:none; color: red;"></a>
                                <input type="hidden" class="form-control" name="valorRenovacao" id="valorRenovacao" value="@saldoInvestimento">
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarRenovacao"><i class="icon-ok"></i> @traducaoHelper["RENOVAR"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemRenovacao" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>

<div id="modalRenovacaoAutomatica" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["RENOVACAO_AUTOMATICA"]</h4>
                <h2><span id="idTotalRenovacaoAutomatica" name="idTotalRenovacaoAutomatica">@saldoInvestimento</span></h2>
            </div>
            <div class="modal-body" id="formularioRenovacaoAutomatica">
                <div class="control-group">
                    <b>@traducaoHelper["INSTRUCOES_RENOVACAO_AUTOMATICA"]</b>
                </div>
                <br />
                <div class="row">
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FARenovacaoAutomatica" id="token2FARenovacaoAutomatica">
                                <a id="validaToken2FARenovacaoAutomatica" style="display:none; color: red;"></a>
                                <input type="hidden" class="form-control" name="valorRenovacaoAutomatica" id="valorRenovacaoAutomatica" value="@saldoInvestimento">
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarRenovacaoAutomatica"><i class="icon-ok"></i> @traducaoHelper["CONFIRMAR"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemRenovacaoAutomatica" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>

<div id="modalCancelarRenovacaoAutomatica" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@traducaoHelper["CANCELAR_RENOVACAO_AUTOMATICA"]</h4>
                <h2><span id="idTotalCancelarRenovacaoAutomatica" name="idTotalCancelarRenovacaoAutomatica">@saldoInvestimento</span></h2>
            </div>
            <div class="modal-body" id="formularioCancelarRenovacaoAutomatica">
                <div class="control-group">
                    <b>@traducaoHelper["INSTRUCOES_CANCELAR_RENOVACAO_AUTOMATICA"]</b>
                </div>
                <br />
                <div class="row">
                    @if (Core.Helpers.ConfiguracaoHelper.GetString("AUTENTICACAO_DOIS_FATORES") == "true")
                    {
                        <div class="controls">
                            <div class="col-sm-12" style="margin-bottom: 2%;">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="20" style="margin-bottom: 3px; margin-right: 5px;" />Token Google Authenticator<br />
                                <input type="text" class="form-control" name="token2FACancelarRenovacaoAutomatica" id="token2FACancelarRenovacaoAutomatica">
                                <a id="validaToken2FACancelarRenovacaoAutomatica" style="display:none; color: red;"></a>
                                <input type="hidden" class="form-control" name="valorCancelarRenovacaoAutomatica" id="valorCancelarRenovacaoAutomatica" value="@saldoInvestimento">
                            </div>
                        </div>
                    }
                    <div class="controls">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success solicitarCancelarRenovacaoAutomatica"><i class="icon-ok"></i> @traducaoHelper["CONFIRMAR"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mensagemCancelarRenovacaoAutomatica" class="modal-body" style="display:none;">
                <p></p>
            </div>
            <div class="modal-footer" style="display: none;">
                <button data-dismiss="modal" class="btn blue" onclick="Fechar()"> @traducaoHelper["FECHAR"]</button>
            </div>
        </div>
    </div>
</div>






