@model Core.Entities.Usuario
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["MEUS_DADOS"]  + " - " + traducaoHelper["VALIDACAO"];

    var conta = (Core.Entities.ContaDeposito)ViewBag.Conta;
    if (conta == null)
    {
        conta = new Core.Entities.ContaDeposito()
        {
            Agencia = String.Empty,
            CNPJ = String.Empty,
            Conta = String.Empty,
            CPF = String.Empty,
            DigitoConta = String.Empty,
            IdentificacaoProprietario = String.Empty,
            ProprietarioConta = String.Empty,
            IDInstituicao = 1,
            MoedaIDCripto = 4,
            Instituicao = new Core.Entities.Instituicao()
            {
                Descricao = "-"
            }
        };
    }

    var blnPermitePJ = Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_PERMITE_PJ");

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion

    #region Variaveis

    var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
    usuarioBinder.Usuario = Model;

    var enderecoPrincipal = Model.EnderecoPrincipal;
    if (enderecoPrincipal == null)
    {
        enderecoPrincipal = new Core.Entities.Endereco()
        {
            Cidade = new Core.Entities.Cidade(),
            Estado = new Core.Entities.Estado()
        };
    }

    var dados = conta.Conta.Split('|');
    var tipo = dados.Length > 0 ? dados[0] : "";
    var numero = dados.Length > 1 ? dados[1] : conta.Conta;
    var active = true;


    var twoFactorEnabled = ViewBag.TwoFactorEnabled == null ? false : ViewBag.TwoFactorEnabled;
    var validado = ViewBag.Validado == null ? false : ViewBag.Validado;

    #endregion

}

@section pageStyles {
    <!--BEGIN mesuDados-->
    @*@Styles.Render("~/Content/meusDados")*@
    @Styles.Render("~/Content/cadastro")
    <!--END MeusDados-->
    <!--BEGIN CROP-->
    @Styles.Render("~/Content/crop")
    <!--END CROP-->
}

@section head {}

@section pageScripts {
    <!--BEGIN Meus Dados-->
    @*@Scripts.Render("~/scripts/meusDados")*@
    @Scripts.Render("~/scripts/cadastro")
    <!--END Meus Dados-->
}

@section PageLevelScripts{
}

@section jQueryRead {
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">


    <div class="portlet box backWrite grey-gallery">

        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="collapse white" title="@traducaoHelper["FECHAR"]" />
                @if (ViewBag.JavaScriptPtMarcador != null && Core.Helpers.ConfiguracaoHelper.GetBoolean("PAGE_TOUR_MARCADOR_ATIVO"))
                {
                    <a class="ajuda StartPtMarcador0" title=@traducaoHelper["AJUDA"]></a>
                }
            </div>
            <div class="actions">
                <a href='#'>&nbsp;</a>
            </div>
        </div>

        <div class="portlet-body form">

            <div class="row">

                <div class="col-md-12" style="padding:35px">

                    @if (!twoFactorEnabled && validado)
                    {
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/global/img/google-authenticator.jpg" width="55" />
                            </div>
                            <div class="col-md-11">
                                <b>@traducaoHelper["GOOGLE_AUTH_PARA_EDICAO_CADASTRO"]<br /></b>
                                <a href="/seguranca/googleauthenticator" title="@traducaoHelper["GOOGLE_AUTH_PARA_EDICAO_CADASTRO"] - @traducaoHelper["GOOGLE_AUTH_PARA_EDICAO_CADASTRO_LINK"]">@traducaoHelper["GOOGLE_AUTH_PARA_EDICAO_CADASTRO_LINK"]</a>
                            </div>
                        </div>
                        <hr />
                    }

                    <div class="row">
                        <div class="col-md-6">
                            <label for="form_control_1">@traducaoHelper["NOME_FANTASIA"]</label>
                            <br /><b>@Model.NomeFantasia</b>
                        </div>
                        <div class="col-md-6">
                            <label for="form_control_1">@traducaoHelper["APELIDO"]</label>
                            <br /><b>@(string.IsNullOrEmpty(Model.Apelido) ? "-" : Model.Apelido)</b>
                        </div>
                    </div><br />

                    <div class="row">
                        <div class="@(blnPermitePJ ? "col-md-8" : "col-md-12")">
                            <label for="form_control_1">@traducaoHelper["NOME"]</label>
                            <br /><b>@Model.Nome</b>
                        </div>

                        <div class="col-md-4  @(blnPermitePJ ? "" : "hidden") ">
                            <label>@traducaoHelper["TIPO_PESSOA"]</label>

                            <label>@traducaoHelper["TIPO_PESSOA"]</label>
                            <br /><b>@(ViewBag.TipoPessoa == "F" ? traducaoHelper["FISICA"] : traducaoHelper["JURIDICA"])</b>


                        </div>
                    </div><br />

                    <div class="row">
                        <div class="col-md-6 divDocPF">
                            <label id="lblCPF" name="lblDocPF" for="DocPF">@traducaoHelper["DOCUMENTO_IDENTIFICACAO"]</label>
                            <br /><b>@Model.Documento</b>
                            <span class="help-block-info" id="DocPFInfo" name="DocPFInfo"></span>
                        </div>

                        <div class="col-md-6">
                            <label id="lblDataNascimento" name="lblDataNascimento" for="DataNascimento">@traducaoHelper["DATA_NASCIMENTO"]</label>
                            <br /><b>@Model.DataNascimento.ToString(ViewBag.MascaraData)</b>
                        </div>

                    </div><br />

                    <div class="row">
                        <div class="col-md-4 divSexo">
                            <label>@traducaoHelper["SEXO"]</label>
                            <br /><b>@(Model.Sexo == "M" ? traducaoHelper["MASCULINO"] : (Model.Sexo == "F" ? traducaoHelper["FEMININO"] : "-"))</b>
                        </div>
                    </div><br />

                    @if (Core.Helpers.ConfiguracaoHelper.GetString("MEUS_DADOS_CONTA_CRIPTOMOEDA") == "true")
                    {

                        <br /><h4><b>@traducaoHelper["CONTA_CRIPTOMOEDA"]</b></h4>
                        <hr />

                        <div class="row">
                            <div class="col-md-6">
                                <label for="IdentificacaoProprietario">@traducaoHelper["CONTA_CRIPTOMOEDA"]</label>
                                <br /><b>@conta.Bitcoin</b>
                            </div>

                            @*<div class="col-md-6">
                                <label for="InstituicaoID">@traducaoHelper["INSTITUICAO"]</label>
                                <br /><b>@conta.Instituicao.Descricao</b>
                            </div>*@
                        </div><br />

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <label for="InstituicaoID">@traducaoHelper["INSTITUICAO"]</label>
                                <br /><b>@conta.Instituicao.Descricao</b>
                            </div>
                            <div class="col-md-6">
                                <label for="Proprietario">@traducaoHelper["PROPRIETARIO"]</label>
                                <br /><b>@conta.ProprietarioConta</b>
                            </div>
                        </div><br />


                        <div class="row">
                            <div class="col-md-6">
                                <label for="CPF">@traducaoHelper["CPF"]</label>
                                <br /><b>@conta.CPF.Trim()</b>
                            </div>
                            <div class="col-md-6">
                                <label for="CNPJ">@traducaoHelper["CNPJ"]</label>
                                <br /><b>@conta.CNPJ.Trim()</b>
                            </div>
                        </div><br />

                        <div class="row">
                            <div class="col-md-3">
                                <label for="Agencia">@traducaoHelper["AGENCIA"]</label>
                                <br /><b>@conta.Agencia</b>
                            </div>
                            <div class="col-md-3">
                                <label for="Conta">@traducaoHelper["CONTA"]</label>
                                <br /><b>@numero</b>
                            </div>
                            <div class="col-md-2">
                                <label for="DigitoConta">@traducaoHelper["DIGITO"]</label>
                                <br /><b>@conta.DigitoConta</b>
                            </div>
                            <div class="col-md-4">
                                <label for="TipoConta">@traducaoHelper["TIPO_CONTA"]</label>
                                <br /><b>@(tipo == "1" ? traducaoHelper["CONTA_CORRENTE"] : (tipo == "2" ? traducaoHelper["CONTA_POUPANCA"] : ""))</b>
                            </div>
                        </div><br />


                        <div class="row">
                            <div class="col-md-4">
                                <label for="IdentificacaoProprietario">@traducaoHelper["IDENTIFICACAO_PROPRIETARIO"]</label>
                                <br /><b>@conta.IdentificacaoProprietario</b>
                            </div>
                        </div><br />
                    }

                    <br /><h4><b>@traducaoHelper["ENDERECO_PRINCIPAL"]</b></h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-2">
                            <label for="CodigoPostal">@traducaoHelper["CODIGO_POSTAL"]</label>
                            <br /><b>@Model.EnderecoPrincipal.CodigoPostal</b>
                        </div>
                    </div><br />


                    <div class="row">
                        <div class="col-md-4">
                            <label for="Logradouro">@traducaoHelper["ENDERECO_CONTATO"]</label>
                            <br /><b>@(Model.EnderecoPrincipal.Logradouro) </b>
                        </div>
                        <div class="col-md-2">
                            <label for="Distrito">@traducaoHelper["NUMERO"]</label>
                            <br /><b>@Model.EnderecoPrincipal.Numero</b>
                        </div>
                        <div class="col-md-2">
                            <label for="Distrito">@traducaoHelper["COMPLEMENTO"]</label>
                            <br /><b>@Model.EnderecoPrincipal.Complemento</b>
                        </div>
                    </div><br />


                    <div class="row">

                        <div class="col-md-4">
                            <label for="Distrito">@traducaoHelper["BAIRRO"]</label>
                            <br /><b>@Model.EnderecoPrincipal.Distrito</b>
                        </div>

                        <div class="col-md-2">
                            <label for="CidadeID">@traducaoHelper["CIDADE"]</label>
                            <br /><b>@(Model.EnderecoPrincipal.Cidade == null ? "-" : Model.EnderecoPrincipal.Cidade.Nome)</b>
                        </div>

                        <div class="col-md-2">
                            <label for="EstadoID">@traducaoHelper["ESTADO"]</label>
                            <br /><b>@(Model.EnderecoPrincipal.Estado == null ? "-" : Model.EnderecoPrincipal.Estado.Nome)</b>
                        </div>


                    </div><br />


                    <br /><h4><b>@traducaoHelper["TELEFONE"]</b></h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <label for="Telefone">@traducaoHelper["TELEFONE"]</label>
                            <br /><b>@Model.Telefone</b>
                        </div>
                        <div class="col-md-6">
                            <label for="Celular">@traducaoHelper["CELULAR"]</label>
                            <br /><b>@Model.Celular</b>
                        </div>
                    </div><br />



                    @if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO_ALTERNATIVO") == "true")
                    {
                        <br /><h4><b>@traducaoHelper["ENDERECO_ALTERNATIVO"]</b></h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <label for="CodigoPostal">@traducaoHelper["CODIGO_POSTAL"]</label>
                                <br /><b>@Model.EnderecoAlternativo.CodigoPostal</b>
                            </div>
                        </div><br />


                        <div class="row">
                            <div class="col-md-4">
                                <label for="Logradouro">@traducaoHelper["ENDERECO_CONTATO"]</label>
                                <br /><b>@(Model.EnderecoAlternativo.Logradouro) </b>
                            </div>
                            <div class="col-md-2">
                                <label for="Distrito">@traducaoHelper["NUMERO"]</label>
                                <br /><b>@Model.EnderecoAlternativo.Numero</b>
                            </div>
                            <div class="col-md-2">
                                <label for="Distrito">@traducaoHelper["COMPLEMENTO"]</label>
                                <br /><b>@Model.EnderecoAlternativo.Complemento</b>
                            </div>
                        </div><br />


                        <div class="row">

                            <div class="col-md-4">
                                <label for="Distrito">@traducaoHelper["BAIRRO"]</label>
                                <br /><b>@Model.EnderecoAlternativo.Distrito</b>
                            </div>

                            <div class="col-md-2">
                                <label for="CidadeID">@traducaoHelper["CIDADE"]</label>
                                <br /><b>@(Model.EnderecoAlternativo.Cidade == null ? "-" : Model.EnderecoAlternativo.Cidade.Nome)</b>
                            </div>

                            <div class="col-md-2">
                                <label for="EstadoID">@traducaoHelper["ESTADO"]</label>
                                <br /><b>@(Model.EnderecoAlternativo.Estado == null ? "-" : Model.EnderecoAlternativo.Estado.Nome)</b>
                            </div>


                        </div><br />


                        <div class="row">
                            <div class="col-md-12">
                                <label for="Observacoes2">@traducaoHelper["OBSERVACOES"]</label>
                                <br /><b>@Model.EnderecoAlternativo.Observacoes</b>
                            </div>
                        </div><br />

                    }

                    <br /><h4><b>@traducaoHelper["DADOS_ACESSO"]</b></h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <label for="Email">@traducaoHelper["EMAIL"]</label>
                            <br /><b>@Model.Email</b>
                        </div>
                        <div class="col-md-6">
                            <label for="Login">@traducaoHelper["LOGIN"]</label>
                            <br /><b>@Model.Login</b>
                        </div>
                    </div><br />

                    <br /><h4><b>@traducaoHelper["DOCUMENTOS"]</b></h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Documentos.Any())
                            {
                                <table class="table table-condensed table-bordered margin-0px">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">@traducaoHelper["TIPO"]</th>
                                            <th style="text-align:center;">@traducaoHelper["VALIDADO"]</th>
                                            <th style="text-align:center;">@traducaoHelper["DATA_ENVIO"]</th>
                                            <th style="text-align: center; width: 30px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var documento in Model.Documentos.OrderByDescending(d => d.DataEnvio))
                                        {
                                            <tr @(active ? "class=active" : "")>
                                                <td style="text-align:center; padding: 12px;">@Core.Helpers.EnumHelper.GetDescription(documento.Tipo)</td>
                                                <td style="text-align:center; padding: 12px;">
                                                    @if (documento.Validado)
                                                    {
                                                        <label class="label label-success">@traducaoHelper["SIM"]</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="label label-danger">@traducaoHelper["NÃO"]</label>
                                                    }
                                                </td>
                                                <td style="text-align:center; padding: 12px;">@documento.DataEnvio.ToString(ViewBag.MascaraData)</td>
                                                <td style="text-align:center;">
                                                    <a href="@documento.CaminhoVirtual" target="_blank" class="btn btn-sm btn-success tooltiped" data-toggle="tooltip" data-original-title="download"><i class="fa fa-download"></i></a>
                                                </td>
                                            </tr>
                                            active = !active;
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>@traducaoHelper["SEM_ENVIO_ARQUIVO"]</p>
                            }
                        </div>
                    </div>

                </div>

            </div>

            <hr />

            @if (!ViewBag.Validado)
            {
                <div class="row" style="padding:35px">

                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        @using (Html.BeginForm("ValidacaoDados", "MeusDados", FormMethod.Post))
                        {
                            <input type="hidden" name="ok" value="true" />
                            <input type="submit" class="btn btn-primary" value="@traducaoHelper["VALIDO"]" />
                        }
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        @using (Html.BeginForm("ValidacaoDados", "MeusDados", FormMethod.Post))
                        {
                            <input type="hidden" name="ok" value="false" />
                            <input type="submit" class="btn btn-danger" value="@traducaoHelper["INVALIDO"]" />
                        }
                    </div>

                    <div class="col-md-2"></div>

                </div>

            }
            else
            {
                <div class="row" style="padding:35px">
                    <div class="col-md-12 center">
                        <h4 style="text-align:center">@traducaoHelper["VALIDADO"]</h4>
                    </div>
                </div>

            }

        </div>

    </div>
</div>

