@model Core.Entities.Usuario
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    var paises = ViewBag.Paises != null ? (List<Core.Entities.Pais>)ViewBag.Paises : new List<Core.Entities.Pais>();
    var pais = ViewBag.Pais != null ? (Core.Entities.Pais)ViewBag.Pais : null;
    ViewBag.Title = traducaoHelper["MEUS_DADOS"].ToString().ToLower();
    var tab = Sistema.Controllers.MeusDadosController.Tabs.InformacoesPessoais;
    if (ViewBag.Tab != null)
    {
        tab = (Sistema.Controllers.MeusDadosController.Tabs)ViewBag.Tab;
    }

    var cepBuscaEndereco = Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_CEP_BUSCA_ENDERECO");

    var estados = (IEnumerable<Core.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Core.Entities.Cidade>)ViewBag.Cidades;
    var filiais = (IEnumerable<Core.Entities.Filial>)ViewBag.Filiais;
    var conta = (Core.Entities.ContaDeposito)ViewBag.Conta;
    if (conta == null)
    {
        conta = new Core.Entities.ContaDeposito()
        {
            Agencia = String.Empty,
            CNPJ = String.Empty,
            Conta = String.Empty,
            CPF = String.Empty,
            DigitoConta = String.Empty,
            IdentificacaoProprietario = String.Empty,
            ProprietarioConta = String.Empty,
            IDInstituicao = 1,
            MoedaIDCripto = 4
        };
    }

    var _instituicoes = (IEnumerable<Core.Entities.Instituicao>)ViewBag.Instituicoes;
    var instituicoes = new SelectList(_instituicoes.OrderBy(i => i.Descricao), "ID", "Descricao", conta.IDInstituicao);
    switch (conta.IDInstituicao)
    {
        case 107:
            ViewBag.CriptoAtual = "Litcoin";
            break;
        case 108:
            ViewBag.CriptoAtual = "Bitcoin";
            break;
        default:
            ViewBag.CriptoAtual = "Tether";
            break;
    }

    var blnPermitePJ = Core.Helpers.ConfiguracaoHelper.GetBoolean("CADASTRO_PERMITE_PJ");

    #endregion

    #region Variaveis

    var usuarioBinder = new Sistema.ModelBinders.UsuarioBinder();
    usuarioBinder.Usuario = Model;

    var enderecoPrincipal = Model.EnderecoPrincipal;
    if (enderecoPrincipal == null)
    {
        enderecoPrincipal = new Core.Entities.Endereco()
        {
            Cidade = new Core.Entities.Cidade(),
            Estado = new Core.Entities.Estado()
        };
    }

    var dataString = "";
    switch (Model.Pais.IdiomaID)
    {
        case 2: //Espanhol
            dataString = Model.DataNascimento.ToString("dd/MM/yyyy");
            break;
        case 3: //Ingles
            dataString = Model.DataNascimento.ToString("MM/dd/yyyy");
            break;
        default: //Portugues
            dataString = Model.DataNascimento.ToString("dd/MM/yyyy");
            break;
    }

    var dataNascimento = "";
    var slashDate = "";

    foreach (var item in dataString.Split('/'))
    {
        dataNascimento += slashDate + item.PadLeft(2, '0');
        slashDate = "/";
    }

    var dados = conta.Conta.Split('|');
    var tipo = dados.Length > 0 ? dados[0] : "";
    var numero = dados.Length > 1 ? dados[1] : conta.Conta;
    //var active = true;

    //var formatDate = traducaoHelper["FORMAT_DATE"];

    #endregion

    #region ViewBags

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion
}

@section pageStyles {
    <!--BEGIN mesuDados-->
    @*@Styles.Render("~/Content/meusDados")*@
    @Styles.Render("~/Content/cadastro")
    <!--END MeusDados-->
    <!--BEGIN CROP-->
    @Styles.Render("~/Content/crop")
    <!--END CROP-->
}

@section head {}

@section pageScripts {
    <!--BEGIN Meus Dados-->
    @*@Scripts.Render("~/scripts/meusDados")*@
    @Scripts.Render("~/scripts/cadastro")
    <!--END Meus Dados-->
    <!--BEGIN CROP-->
    @Scripts.Render("~/scripts/crop")
    <!--END CROP-->

    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-be.js"></script>
    <script src="~/Content/global/plugins/Inputmask-4.x1111/dist/inputmask/phone-codes/phone-ru.js"></script>

    <script type="text/javascript">

        function linkUp(unusedIndex, container) {

            //Altura e lagura imagem final
            var largura = 800;
            var altura = 800;
            var larguraPreview = 400;
            var alturaPreview = 400;

            container = $(container); //jquery object

            //a img scr deve ter na class image, essa é q que será manipulada
            var image = container.find("img.image");

            //Ratio q a imagem deve ter
            var originalRatio = (largura / altura);
            //Força a manter um ratio
            var keepRatio = true;
            var forcedRatio = keepRatio ? originalRatio : null;

            //Obtem a url da imagem sem a querystring.
            var path = image.attr('src');
            if (path.indexOf('?') > 0) path = path.substr(0, path.indexOf('?'));
            if (path.indexOf(';') > 0) path = path.substr(0, path.indexOf(';'));
            var cloudFront = image.attr('src').indexOf(';') > -1;

            //Verifica se ha div preview, onde será exibida a imagem
            var divPreview = container.find("div.preview");

            //Tamanho da preview se não informado no style da div
            var previewFallbackWidth = 100;
            var previewFallbackHeight = 100;
            //Caso informado no style altera o widht e height da div do preview
            var previewMaxWidth = (divPreview.attr('style') != null && divPreview.attr('style').indexOf('width') > -1) ? divPreview.width() : previewFallbackWidth;
            var previewMaxHeight = (divPreview.attr('style') != null && divPreview.attr('style').indexOf('height') > -1) ? divPreview.height() : previewFallbackHeight;
            divPreview.css({
                width: previewMaxWidth + 'px',
                height: previewMaxHeight + 'px',
                overflow: 'hidden'
            });

            //Cria outra div para jogar a img do preview
            var innerPreview = $('<div />').css({
                overflow: 'hidden'
            }).addClass('innerPreview').appendTo(divPreview);
            //Joga a img do preview na nova div
            $('<img />').attr('src', image.attr('src')).appendTo(innerPreview);

            //Procura a href que tenha result, é um link para exibir a imagem resultante do crop
            var links = container.find('a.result');
            //Procura input que tenha result, o input submet um form para captura da imagem resultante do crop
            var inputs = container.find('input.result');


            //Essa função irá dar o update no link, no input e na div de preview da imagem
            var update = function (coords) {
                if (parseInt(coords.w) <= 0 || parseInt(coords.h) <= 0) return; //width e height devem ser validos

                //Ratio para o cropping rectangle
                var cropRatio = keepRatio ? originalRatio : (coords.w / coords.h);

                //Para o ratio changes, the preview clipping area has to also.
                //Calculate the width and height.

                var innerWidth = cropRatio >= (previewMaxWidth / previewMaxHeight) ? previewMaxWidth : previewMaxHeight * cropRatio;
                var innerHeight = cropRatio < (previewMaxWidth / previewMaxHeight) ? previewMaxHeight : previewMaxWidth / cropRatio;

                innerPreview.css({
                    width: Math.ceil(innerWidth) + 'px',
                    height: Math.ceil(innerHeight) + 'px',
                    marginTop: (previewMaxHeight - innerHeight) / 2 + 'px',
                    marginLeft: (previewMaxWidth - innerWidth) / 2 + 'px',
                    overflow: 'hidden'
                });
                //Set the outer div's padding so it stays centered
                divPreview.css({

                });

                //Calculate how much we are shrinking the image inside the preview window
                var scalex = innerWidth / coords.w;
                var scaley = innerHeight / coords.h;

                //Set the width and height of the image so the right areas appear at the right scale appear.
                innerPreview.find('img').css({
                    width: Math.round(scalex * image.width()) + 'px',
                    height: Math.round(scaley * image.height()) + 'px',
                    marginLeft: '-' + Math.round(scalex * coords.x) + 'px',
                    marginTop: '-' + Math.round(scaley * coords.y) + 'px'
                });

                //Calculate the querystring
                var query = '?';
                var query = '?';
                query += 'imagePath=' + path + '&';
                query += 'x1=' + coords.x + '&';
                query += 'y1=' + coords.y + '&';
                query += 'x2=' + coords.x2 + '&';
                query += 'y2=' + coords.y2 + '&';
                query += 'largura=' + largura + '&';
                query += 'altura=' + altura + '&';
                query += 'larguraPreview=' + larguraPreview + '&';
                query += 'alturaPreview=' + alturaPreview + '&';
                query += 'larguraImagem=' + image.width() + '&';
                query += 'alturaImagem=' + image.height() + '&';
                query += 'coordsw=' + coords.w + '&';
                query += 'coordsh=' + coords.h + '&';
                query += 'cropRatio=' + cropRatio;

                //Add crop rectangle
                //query += 'crop=(' + coords.x + ',' + coords.y + ',' + coords.x2 + ',' + coords.y2 + ')&cropxunits=' + image.width() + '&cropyunits=' + image.height()
                //Replace ? and & with ; if using Amazon Cloudfront

                if (cloudFront) query = query.replace(/\?\&/g, ';');

                //Chamada da action para salvar imagem crop
                var pathCrop = '@Url.Action("CropImage", "MeusDados")';
                //Now, update the links and input values.
                links.attr('href', pathCrop + query);
                inputs.attr('value', query);

            }

            //Start up jCrop
            var jcrop_reference = $.Jcrop(image);
            jcrop_reference.setOptions({
                onChange: update,
                onSelect: update,
                aspectRatio: forcedRatio,
                bgColor: 'black',
                bgOpacity: 0.6

            });

            //Call the function to init the preview windows
            update({ x: 0, y: 0, x2: image.width(), y2: image.height(), w: image.width(), h: image.height() });

        }

        // Remember to invoke within jQuery(window).load(...)
        // If you don't, Jcrop may not initialize properly
        jQuery(window).load(function () {
            $('.image-cropper').each(linkUp);
        });

        $(document).ready(function () {

             $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                  $('.form-control~label').css('top', 0);
             });

            $('#EstadoID').change(function () {
                var estado = $('#EstadoID').val();
                $('#CidadeID').html('');

                if (estado != '') {
                    $.post('@Url.Action("cidades", "cadastro")', { estadoID: estado }, function (data) {
                        var html = '<option value="">@traducaoHelper["SELECIONE"]</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#CidadeID').html(html);
                    });
                }
            });

            if ('@ViewBag.TipoPessoa' == "J") {
                $('.divSexo').hide();
                $('.divDocPF').hide();
                $('.divDocPJ').show();
                $("#lblDataNascimento").text("@traducaoHelper["DATA_ABERTURA"]");
                $("#DocPF").text("");
            } else {
                $('.divSexo').show();
                $('.divDocPF').show();
                $('.divDocPJ').hide();
                $("#lblDataNascimento").text("@traducaoHelper["DATA_NASCIMENTO"]");
                $("#DocPJ").text("");
            }

            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPF_ENTRADA").Trim().Length' != 0) {
                $('#DocPF').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPF_ENTRADA")');
            }
            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CNPJ_ENTRADA").Trim().Length' != 0) {
                $('#DocPJ').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CNPJ_ENTRADA")');
            }

           // $('#Documento').inputmask('999.999.999-99');
            @*if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_DOCUMENTO_ITENTIFICACAO_ENTRADA").Length' != 0) {
                $('#Documento').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_DOCUMENTO_ITENTIFICACAO_ENTRADA")');
            }*@

            $('#DataNascimento').inputmask('99/99/9999');

            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_TELEFONE_ENTRADA").Length' != 0) {
                 $('#Telefone').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_TELEFONE_ENTRADA")');
            }

            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CELULAR_ENTRADA").Length' != 0) {
                 $('#Celular').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CELULAR_ENTRADA")');
            }

            @*if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPJ_ENTRADA").Length' != 0) {
                $('#CPF').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CPJ_ENTRADA")');
            }*@

            if ('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CNPJ_ENTRADA").Length' != 0) {
                $('#CNPJ').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MASCARA_CNPJ_ENTRADA")');
            }

            $.validator.addMethod(
                'password',
                function (value, element, params) {
                    var valid = true;
                    if (!/\d/.test(value)) {
                        valid = false;
                    }
                    if (!/[a-z]/.test(value) && !/[A-Z]/.test(value)) {
                        valid = false;
                    }
                    return valid;
                },
                $.validator.format('@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]')
            );

            $('#EnderecoContato form').validate({
                errorPlacement: function (e, t) {
                    e.insertAfter(t.parent());
                },
                rules: {
                    EstadoID: 'required',
                    CidadeID: 'required',
                    CodigoPostal: 'required',
                    Logradouro: 'required',
                    Numero: 'required',
                    Distrito: 'required',
                    Telefone: 'required',
                    Celular: 'required'
                },
                messages: {
                    EstadoID: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    CidadeID: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    CodigoPostal: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    Logradouro: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    Numero: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    Distrito: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    Telefone: '@traducaoHelper["CAMPO_REQUERIDO"]',
                    Celular: '@traducaoHelper["CAMPO_REQUERIDO"]'
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).removeClass(errorClass);
                    $(element.form).find(".error").css('color', 'red');
                    $(element.form).find(".error").css('position', 'relative');
                    $(element.form).find(".error").css('top', '-25px');
                    $(element.form).find(".error").css('font-weight', 'bold');
                },
              });

            $('#DadosDeAcesso form').validate({
                errorPlacement: function (e, t) {
                    e.insertAfter(t.parent());
                },
                rules: {
                    NovaSenha: {
                        required: true,
                        minlength: 6,
                        password: true
                    },
                    ConfirmacaoNovaSenha: {
                        equalTo: '#NovaSenha'
                    }
                },
                messages: {
                    NovaSenha: {
                        required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                        minlength: '@traducaoHelper["SENHA_DEVE_CONTER_6_CARACTERES"]',
                        password: '@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]'
                    },
                    ConfirmacaoNovaSenha: {
                        equalTo: '@traducaoHelper["DIGITE_MESMA_SENHA"]',
                        required: '@traducaoHelper["CAMPO_REQUERIDO"]',
                        minlength: '@traducaoHelper["SENHA_DEVE_CONTER_6_CARACTERES"]',
                        password: '@traducaoHelper["SENHA_DEVE_CONTER_LETRA_NUMERO"]'
                    }
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).removeClass(errorClass);
                    $(element.form).find(".error").css('color', 'red');
                    $(element.form).find(".error").css('position', 'relative');
                    $(element.form).find(".error").css('top', '-25px');
                    $(element.form).find(".error").css('font-weight', 'bold');
                },
            });

            $('#EnvioDocumentos form').validate({
                errorPlacement: function (e, t) {
                    e.insertAfter(t.parent());
                },
                rules: {
                    TipoID: 'required'
                },
                messages: {
                    TipoID: '@traducaoHelper["CAMPO_REQUERIDO"]'
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).removeClass(errorClass);
                    $(element.form).find(".error").css('color', 'red');
                    $(element.form).find(".error").css('position', 'relative');
                    $(element.form).find(".error").css('top', '-25px');
                    $(element.form).find(".error").css('font-weight', 'bold');
                },
            });

        });

        $('#Observacoes2').mouseenter(function () {
            $('#Observacoes2').tooltip({ 'title': 'Preencha detalhes de quem pode receber na sua ausência' });
        });

        $('input[name="TipoPessoa"]').change(function () {
            if ($('input[name="TipoPessoa"]:checked').val() === "J") {
                $('.divSexo').hide();
                $('.divDocPF').hide();
                $('.divDocPJ').show();
                $("#lblDataNascimento").text("@traducaoHelper["DATA_ABERTURA"]");
                $("#DocPF").text("");
            } else {
                $('.divSexo').show();
                $('.divDocPF').show();
                $('.divDocPJ').hide();
                $("#lblDataNascimento").text("@traducaoHelper["DATA_NASCIMENTO"]");
                $("#DocPJ").text("");
            }
        });

        function AbrirConfirmacao2FA(tab) {
            $("#TokenText").val('');
            $("#typeTab").val(tab);
            $("#tokeninvalido").addClass("hide");
            $("#tokeninforma").removeClass("hide");
            $('#Confirmacao2FA').modal();
        };

        $(document).ready(function () {
            $("#btnValidar").on("click", function () {
                var tab = $("#typeTab").val();
                var _token = $("#TokenText").val();
                $(tab + 'Token').val(_token);
                $(tab).submit();
                $('#Confirmacao2FA').modal('hide');
            });
        });

        function InstituicaoChange(val) {
            $('#Bitcoin').val(val);
            if (val == 108) {
                $('#Bitcoin').val('@ViewBag.Bitcoin');
            }
            if (val == 107) {
                $('#Bitcoin').val('@ViewBag.Litecoin');
            }
            Alert(val);
        }

    </script>

    @if (@cepBuscaEndereco == true)
    {
        <script type="text/javascript">
            //Quando o campo cep perde o foco.

            $("#CodigoPostal").blur(function () {
                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {
                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                var est = 0;
                                //Atualiza os campos com os valores da consulta.
                                $("#Logradouro").val(dados.logradouro);
                                $("#Distrito").val(dados.bairro);
                                $("#Distrito").focus();

                                $.post('@Url.Action("estadoID", "cadastro", new { area = "" })', { uf: dados.uf }, function (data) {
                                    $("#EstadoID").val(data);
                                    est = $('#EstadoID').val();
                                });
                                $("#EstadoID").focus();

                                $.post('@Url.Action("CidadesToUF", "cadastro")', { uf: dados.uf, cidade: dados.localidade }, function (data) {
                                    $('#CidadeID').html(data);
                                    window.setTimeout(function () {
                                        Metronic.unblockUI('#divCidade');
                                    }, 2000);
                                });
                                $("#CidadeID").focus();
                                $("#Logradouro").focus();
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });

            $("#CodigoPostal2").blur(function () {
                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {
                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                var est = 0;
                                //Atualiza os campos com os valores da consulta.
                                $("#Logradouro2").val(dados.logradouro);
                                $("#Distrito2").val(dados.bairro);
                                $("#Distrito2").focus();

                                $.post('@Url.Action("estadoID", "cadastro", new { area = "" })', { uf: dados.uf }, function (data) {
                                    $("#EstadoID2").val(data);
                                    est = $('#EstadoID2').val();
                                });
                                $("#EstadoID2").focus();

                                $.post('@Url.Action("CidadesToUF", "cadastro")', { uf: dados.uf, cidade: dados.localidade }, function (data) {
                                    $('#CidadeID2').html(data);
                                    window.setTimeout(function () {
                                        Metronic.unblockUI('#divCidade2');
                                    }, 2000);
                                });
                                $("#CidadeID2").focus();
                                $("#Logradouro2").focus();
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        </script>
    }

    @Html.Raw(ViewBag.JavaScriptPtMarcador)

}

@section PageLevelScripts{
}

@section jQueryRead {
    @*FormFileUpload.init();*@
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs tabContatos">
    <li class="@(tab == Sistema.Controllers.MeusDadosController.Tabs.InformacoesPessoais ? "active" : "")"><a class="tab-lista-dados" href="#InformacoesPessoais" data-toggle="tab"><i class="fa fa-user"></i> @traducaoHelper["INFORMACOES_PESSOAIS"]</a></li>
    <li class="@(tab == Sistema.Controllers.MeusDadosController.Tabs.DadosBancarios ? "active" : "")"><a class="tab-lista-dados" href="#DadosBancarios" data-toggle="tab"><i class="fa fa-money"></i>&nbsp; @(Core.Helpers.ConfiguracaoHelper.GetString("MEUS_DADOS_CONTA_CRIPTOMOEDA") == "true" ? traducaoHelper["CONTA_CRIPTOMOEDA"] : traducaoHelper["DADOS_BANCARIOS"])</a></li>
    <li class="@(tab == Sistema.Controllers.MeusDadosController.Tabs.EnderecoContato ? "active" : "")"><a class="tab-lista-dados" href="#EnderecoContato" data-toggle="tab"><i class="fa fa-building"></i> @traducaoHelper["ENDERECO_CONTATO"]</a></li>
    <li class="@(tab == Sistema.Controllers.MeusDadosController.Tabs.DadosDeAcesso ? "active" : "")"><a class="tab-lista-dados" href="#DadosDeAcesso" data-toggle="tab"><i class="fa fa-lock"></i> @traducaoHelper["DADOS_ACESSO"]</a></li>
    @*<li class="@(tab == Sistema.Controllers.MeusDadosController.Tabs.EnvioDeDocumentos ? "active" : "")"><a class="tab-lista-dados" href="#EnvioDocumentos" data-toggle="tab"><i class="fa fa-briefcase"></i> @traducaoHelper["ENVIO_DE_DOCUMENTOS"]</a></li>*@
</ul>

<div class="tab-content">

    <div id="InformacoesPessoais" class="tab-pane @(tab == Sistema.Controllers.MeusDadosController.Tabs.InformacoesPessoais ? "active" : "")">
        <div class="portlet box backWrite grey-gallery">

            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse white" title="@traducaoHelper["FECHAR"]" />
                    @if (ViewBag.JavaScriptPtMarcador != null && Core.Helpers.ConfiguracaoHelper.GetBoolean("PAGE_TOUR_MARCADOR_ATIVO"))
                    {
                        <a class="ajuda StartPtMarcador0" title=@traducaoHelper["AJUDA"]></a>
                    }
                </div>
                <div class="actions">
                    <a href='#'>&nbsp;</a>
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body form">
                @using (Html.BeginForm("Salvar", "MeusDados", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formInformacoesPessoais" }))
                {
                    <div class="col-md-12 padding-20 widget-bg-color-white">

                        <input id="Tab" name="Tab" type="hidden" value="@Sistema.Controllers.MeusDadosController.Tabs.InformacoesPessoais" />
                        <input type="hidden" id="formInformacoesPessoaisToken" name="formInformacoesPessoaisToken" class="form-control" value="" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" required id="NomeFantasia" name="NomeFantasia" value="@Model.NomeFantasia">
                                    <label for="form_control_1">@traducaoHelper["NOME_FANTASIA"]</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" maxlength="15" class="form-control" required id="Apelido" name="Apelido" value="@Model.Apelido">
                                    <label for="form_control_1">@traducaoHelper["APELIDO"] @traducaoHelper["MAXIMO_12_CARACTERES"]</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="@(blnPermitePJ ? "col-md-8" : "col-md-12")">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" required id="Nome" name="Nome" value="@Model.Nome">
                                    <label for="form_control_1">@traducaoHelper["NOME"]</label>
                                </div>
                            </div>

                            <div class="col-md-4  @(blnPermitePJ ? "" : "hidden") ">
                                <div class="form-group form-md-radios">
                                    <label>@traducaoHelper["TIPO_PESSOA"]</label>
                                    <div class="md-radio-inline">
                                        <div class="md-radio">
                                            <input type="radio" id="Fisica" name="TipoPessoa" value="F" class="md-radiobtn" @(ViewBag.TipoPessoa == "F" ? "checked" : "")>
                                            <label for="Fisica">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @traducaoHelper["FISICA"]
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            <input type="radio" id="Juridica" name="TipoPessoa" value="J" class="md-radiobtn" @(ViewBag.TipoPessoa == "J" ? "checked" : "")>
                                            <label for="Juridica">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @traducaoHelper["JURIDICA"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 divDocPF">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" maxlength="30" class="form-control" id="DocPF" name="DocPF" value="@Model.Documento" onblur="QuantidadeRepeticaoDocumento(this.value)">
                                    <label id="lblCPF" name="lblDocPF" for="DocPF">@traducaoHelper["DOCUMENTO_IDENTIFICACAO"]</label>
                                    <span class="help-block-info" id="DocPFInfo" name="DocPFInfo"></span>
                                </div>
                            </div>

                            <div class="col-md-4 divDocPJ">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" id="DocPJ" name="DocPJ" value="@Model.Documento" onblur="QuantidadeRepeticaoDocumento(this.value)">
                                    <label id="lblDocPJ" name="lblDocPJ" for="DocPJ">@traducaoHelper["DOCUMENTO_IDENTIFICACAO"]</label>
                                    <span class="help-block-info" id="DocPJInfo" name="DocPJInfo"></span>
                                </div>
                            </div>

                            @*<div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" required id="Documento" name="Documento" value="@Model.Documento">
                                    <label for="form_control_1">@traducaoHelper["DOCUMENTO_IDENTIFICACAO"]</label>
                                </div>
                            </div>*@

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" required id="DataNascimento" name="DataNascimento" value="@dataNascimento">
                                    <label id="lblDataNascimento" name="lblDataNascimento" for="DataNascimento">@traducaoHelper["DATA_NASCIMENTO"]</label>
                                </div>
                            </div>

                            <div class="col-md-4 divSexo">
                                <div class="form-group form-md-radios">
                                    <label>@traducaoHelper["SEXO"]</label>
                                    <div class="md-radio-inline">
                                        <div class="md-radio">
                                            <input type="radio" id="SexoM" name="Sexo" class="md-radiobtn" value="M" @(Model.Sexo == "M" ? "checked" : "")>
                                            <label for="SexoM">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @traducaoHelper["MASCULINO"]
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            <input type="radio" id="SexoF" name="Sexo" class="md-radiobtn" value="F" @(Model.Sexo == "F" ? "checked" : "")>
                                            <label for="SexoF">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @traducaoHelper["FEMININO"]
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="form-control dropone" id="pais" name="pais">
                                        @foreach (var _pais in paises)
                                        {
                                            <option value="@_pais.ID" @Html.Raw(_pais.Sigla == pais.Sigla ? "selected=\"selected\"" : "")>@_pais.Nome</option>
                                        }
                                    </select>
                                    <label for="sigla1">@traducaoHelper["PAIS"].ToLower()</label>
                                </div>
                            </div>
                        </div>

                        <div class="row hide">
                            <div class="col-md-6">

                                <div class="form-group form-md-line-input form-md-floating-label has-info">
                                    <select class="form-control" id="FilialID" name="FilialID">
                                        @foreach (var filial in filiais)
                                        {
                                            <option value="@filial.ID" @(filial.ID == Model.FilialID ? "selected=selected" : "")>@filial.Nome</option>
                                        }
                                    </select>
                                    <label for="FilialID">@traducaoHelper["FILIAL"]</label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                &nbsp;
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 padding-0">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                    {
                                        <input type="button" onclick="AbrirConfirmacao2FA('#formInformacoesPessoais');" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }

                @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("MEUS_DADOS_IMAGEM"))
                {
                    using (Html.BeginForm("Gravar", "MeusDados", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formImagensPessoais" }))
                    {
                        <div class="form-body" id="foto">
                            <div class="form-horizontal">
                                <div class="form-group image-cropper">
                                    <div class="col-md-12"><h3>@traducaoHelper["IMAGEM"]</h3></div>
                                    <div class="col-md-6">
                                        <h4>@traducaoHelper["TRABALHE_IMAGEM"]</h4>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="padding:0;">
                                                @if (String.IsNullOrEmpty(ViewBag.Foto))
                                                {
                                                    <img src="@Url.Content("~/Arquivos/perfil/000000.jpg")" alt="" class="image" id="fotoMeusDados" style="background-color:#ddd; height: 400px; " />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content(ViewBag.Foto)" alt="" class="image" id="fotoMeusDados" style="background-color:#ddd; height: 400px; " />
                                                }
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="height: 400px;"></div>
                                            <div>
                                                <span class="btn default btn-file">
                                                    <span class="fileinput-new">
                                                        @traducaoHelper["ESCOLHA_IMAGEM"]
                                                    </span>
                                                    <span class="fileinput-exists">
                                                        @traducaoHelper["MUDAR_IMAGEM"]
                                                    </span>
                                                    <input type="file" id="imgFoto" name="imgFoto">
                                                </span>
                                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                    @traducaoHelper["REMOVER_IMAGEM"]
                                                </a>
                                                <input type="hidden" id="formImagensPessoaisToken" name="formImagensPessoaisToken" class="form-control" value="" />
                                                @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                                {
                                                    <input type="button" onclick="AbrirConfirmacao2FA('#formImagensPessoais');" value="Obter" class="btn btn-info pull-right fileinput-exists" />
                                                }
                                                else
                                                {
                                                    <input type="submit" value="Obter" class="btn btn-info pull-right fileinput-exists" />
                                                }
                                                <a class="btn btn-info pull-right fileinput-new result" href="">@traducaoHelper["SALVAR_IMAGEM"]</a>
                                            </div>
                                        </div>
                                        <p>&nbsp;</p>

                                    </div>
                                    <div class="col-md-6">
                                        <h4>Preview</h4>
                                        <div class="preview" style="width: 233px; height: 200px; border: 1px solid #eee;"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="help-block">
                                            <span class="label label-danger">
                                                @traducaoHelper["ALERTA"] <i class="fa fa-exclamation"></i>
                                            </span>
                                            <p style="padding-top: 5px;">@traducaoHelper["MENSAGEM1_IMAGEM"]</p>
                                            <p>@traducaoHelper["MENSAGEM2_IMAGEM"]</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
                </div>
        </div>
    </div>

    <div id="DadosBancarios" class="tab-pane @(tab == Sistema.Controllers.MeusDadosController.Tabs.DadosBancarios ? "active" : "")">
        <div class="portlet box backWrite grey-gallery">

            <div class="portlet-title">
                <div class="captionx"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href='#'>&nbsp;</a>
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body">

                @using (Html.BeginForm("Salvar", "MeusDados", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formDadosBancarios" }))
                {
                    <div class="row">
                        <div class="col-md-12 padding-20">
                            <input id="Tab" name="Tab" type="hidden" value="@Sistema.Controllers.MeusDadosController.Tabs.DadosBancarios" />
                            <input type="hidden" id="formDadosBancariosToken" name="formDadosBancariosToken" class="form-control" value="" />

                            @if (Core.Helpers.ConfiguracaoHelper.GetString("MEUS_DADOS_CONTA_CRIPTOMOEDA") == "true")
                            {
                                <div class="col-md-12"><h3>@traducaoHelper["MEIO_PAGAMENTO_PREFERENCIAL"]</h3></div>
                                <br />
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        @Html.DropDownList("InstituicaoID", instituicoes, new { @class = "form-control form-md-line-input form-md-floating-label has-info", @onchange = "InstituicaoChange(this.value)" })<i></i>
                                        <label for="InstituicaoID">@traducaoHelper["TIPO"]</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Bitcoin" name="Bitcoin" maxlength="100" value="@(ViewBag.CriptoAtual == "Bitcoin" ? ViewBag.Bitcoin : ViewBag.CriptoAtual == "Litcoin" ? ViewBag.Litecoin : ViewBag.Tether)">
                                            <label for="IdentificacaoProprietario">@traducaoHelper["CONTA_CRIPTOMOEDA"]</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                            @Html.DropDownList("InstituicaoID", instituicoes, new { @class = "form-control form-md-line-input form-md-floating-label has-info" })<i></i>
                                            <label for="InstituicaoID">@traducaoHelper["INSTITUICAO"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Proprietario" name="Proprietario" value="@conta.ProprietarioConta">
                                            <label for="Proprietario">@traducaoHelper["PROPRIETARIO"]</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" id="CPF" name="CPF" value="@conta.CPF.Trim()">
                                            <label for="CPF">@traducaoHelper["CPF"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" id="CNPJ" name="CNPJ" value="@conta.CNPJ.Trim()">
                                            <label for="CNPJ">@traducaoHelper["CNPJ"]</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 padding-0">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="Agencia" name="Agencia" maxlength="15" value="@conta.Agencia">
                                                <label for="Agencia">@traducaoHelper["AGENCIA"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="Conta" name="Conta" maxlength="30" value="@numero">
                                                <label for="Conta">@traducaoHelper["CONTA"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="DigitoConta" name="DigitoConta" maxlength="3" value="@conta.DigitoConta">
                                                <label for="DigitoConta">@traducaoHelper["DIGITO"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                <select class="form-control" id="TipoConta" name="TipoConta">
                                                    <option value="1" @(tipo == "1" ? "selected=selected" : "")>@traducaoHelper["CONTA_CORRENTE"]</option>
                                                    <option value="2" @(tipo == "2" ? "selected=selected" : "")>@traducaoHelper["CONTA_POUPANCA"]</option>
                                                </select>
                                                <label for="TipoConta">@traducaoHelper["TIPO_CONTA"]</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="IdentificacaoProprietario" name="IdentificacaoProprietario" maxlength="100" value="@conta.IdentificacaoProprietario">
                                            <label for="IdentificacaoProprietario">@traducaoHelper["IDENTIFICACAO_PROPRIETARIO"]</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                        {
                                            <input type="button" onclick="AbrirConfirmacao2FA('#formDadosBancarios');" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>

    <div id="EnderecoContato" class="tab-pane @(tab == Sistema.Controllers.MeusDadosController.Tabs.EnderecoContato ? "active" : "")">
        <div class="portlet box backWrite grey-gallery">

            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href='#'>&nbsp;</a>
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body">

                @using (Html.BeginForm("Salvar", "MeusDados", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formEnderecoContato" }))
                {
                    <div class="row">

                        <div class="col-md-12 padding-20">

                            <input id="Tab" name="Tab" type="hidden" value="@Sistema.Controllers.MeusDadosController.Tabs.EnderecoContato" />
                            <input type="hidden" id="formEnderecoContatoToken" name="formEnderecoContatoToken" class="form-control" value="" />

                            <div class="portlet aba box backWrite grey-cararra">

                                <div class="row">
                                    <h4 style="padding-left:1.4%;">@traducaoHelper["ENDERECO_PRINCIPAL"]</h4>
                                    <div class="col-md-2">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="CodigoPostal" name="CodigoPostal" maxlength="8" value="@Model.EnderecoPrincipal.CodigoPostal">
                                            <label for="CodigoPostal">@traducaoHelper["CODIGO_POSTAL"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Logradouro" name="Logradouro" maxlength="40" value="@Model.EnderecoPrincipal.Logradouro">
                                            <label for="Logradouro">@traducaoHelper["ENDERECO_CONTATO"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Numero" name="Numero" maxlength="5" value="@Model.EnderecoPrincipal.Numero">
                                            <label for="Numero">@traducaoHelper["NUMERO"]</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" id="Complemento" name="Complemento" maxlength="20" value="@Model.EnderecoPrincipal.Complemento">
                                            <label for="Complemento">@traducaoHelper["COMPLEMENTO"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Distrito" name="Distrito" maxlength="30" value="@Model.EnderecoPrincipal.Distrito">
                                            <label for="Distrito">@traducaoHelper["BAIRRO"]</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group form-md-line-input  has-info">
                                            <select class="form-control" id="EstadoID" name="EstadoID">
                                                <option value="">@traducaoHelper["SELECIONE_SEU_ESTADO"]</option>
                                                @foreach (var estado in estados)
                                                {
                                                    <option value="@estado.ID" @(estado.ID == Model.EnderecoPrincipal.EstadoID ? "selected=selected" : "")>@estado.Nome</option>
                                                }
                                            </select>
                                            <label for="EstadoID">@traducaoHelper["ESTADO"]</label>
                                        </div>
                                    </div>

                                    @*<div class="col-md-7">
                                           <div class="form-group form-md-line-input has-info" id="divCidade">
                                              <select class="form-control dropone" id="CidadeID" name="CidadeID"></select>
                                              <label id="lblCidade" for="CidadeID">@traducaoHelper["CIDADE"].ToLower()</label>
                                           </div>
                                    </div>*@

                                    <div class="col-md-7">
                                        <div class="form-group form-md-line-input has-info" id="divCidade">
                                            <select class="form-control dropone" id="CidadeID" name="CidadeID">
                                                <option value=""></option>
                                                @foreach (var cidade in cidades)
                                                {
                                                    <option value="@cidade.ID" @(cidade.ID == Model.EnderecoPrincipal.CidadeID ? "selected=selected" : "")>@cidade.Nome</option>
                                                }
                                            </select>
                                            <label for="CidadeID">@traducaoHelper["CIDADE"]</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Telefone" name="Telefone" maxlength="20" value="@Model.Telefone">
                                            <label for="Telefone">@traducaoHelper["TELEFONE"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" required id="Celular" name="Celular" maxlength="20" value="@Model.Celular">
                                            <label for="Celular">@traducaoHelper["CELULAR"]</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            @if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO_ALTERNATIVO") == "true")
                            {
                                <div class="portlet aba box backWrite grey-cararra">

                                    <div class="row">
                                        <h4 style="padding-left:1.4%;">@traducaoHelper["ENDERECO_ALTERNATIVO"]</h4>
                                        <h5 class="help-block" style="padding: 0% 3% 1% 3%; text-align:justify;">@traducaoHelper["TEXTO_ALTERNATIVO"]</h5>
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="CodigoPostal2" name="CodigoPostal2" maxlength="8" value="@Model.EnderecoAlternativo.CodigoPostal">
                                                <label for="CodigoPostal2">@traducaoHelper["CODIGO_POSTAL"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="Logradouro2" name="Logradouro2" maxlength="40" value="@Model.EnderecoAlternativo.Logradouro">
                                                <label for="Logradouro2">@traducaoHelper["ENDERECO_CONTATO"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="Numero2" name="Numero2" maxlength="5" value="@Model.EnderecoAlternativo.Numero">
                                                <label for="Numero2">@traducaoHelper["NUMERO"]</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" id="Complemento2" name="Complemento2" maxlength="20" value="@Model.EnderecoAlternativo.Complemento">
                                                <label for="Complemento2">@traducaoHelper["COMPLEMENTO"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control" required id="Distrito2" name="Distrito2" maxlength="30" value="@Model.EnderecoAlternativo.Distrito">
                                                <label for="Distrito2">@traducaoHelper["BAIRRO"]</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input  has-info">
                                                <select class="form-control" id="EstadoID2" name="EstadoID2">
                                                    <option value="">Selecione seu Estado</option>
                                                    @foreach (var estado in estados)
                                                    {
                                                        <option value="@estado.ID" @(estado.ID == Model.EnderecoAlternativo.EstadoID ? "selected=selected" : "")>@estado.Nome</option>
                                                    }
                                                </select>
                                                <label for="EstadoID2">@traducaoHelper["ESTADO"]</label>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="form-group form-md-line-input has-info" id="divCidade2">
                                                <select class="form-control dropone" id="CidadeID2" name="CidadeID2">
                                                    <option value=""></option>
                                                    @foreach (var cidade in cidades)
                                                    {
                                                        <option value="@cidade.ID" @(cidade.ID == Model.EnderecoAlternativo.CidadeID ? "selected=selected" : "")>@cidade.Nome</option>
                                                    }
                                                </select>
                                                <label for="CidadeID2">@traducaoHelper["CIDADE"]</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <textarea rows="2" cols="200" type="text" class="form-control" id="Observacoes2" name="Observacoes2" maxlength="200" data-toggle="tootip" data-original-title="Preencha detalhes de quem pode receber na sua ausência">@Model.EnderecoAlternativo.Observacoes</textarea>
                                                <label for="Observacoes2">@traducaoHelper["OBSERVACOES"]</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }

                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                            {
                                                <input type="button" onclick="AbrirConfirmacao2FA('#formEnderecoContato');" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="DadosDeAcesso" class="tab-pane @(tab == Sistema.Controllers.MeusDadosController.Tabs.DadosDeAcesso ? "active" : "")">
        <div class="portlet box backWrite grey-gallery">

            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href='#'>&nbsp;</a>
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body">

                @using (Html.BeginForm("Salvar", "MeusDados", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formDadosDeAcesso" }))
                {
                    <div class="row">

                        <div class="col-md-12 padding-20">

                            <input id="Tab" name="Tab" type="hidden" value="@Sistema.Controllers.MeusDadosController.Tabs.DadosDeAcesso" />
                            <input type="hidden" id="formDadosDeAcessoToken" name="formDadosDeAcessoToken" class="form-control" value="" />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" disabled id="Email" name="Email" value="@Model.Email">
                                        <label for="Email">@traducaoHelper["EMAIL"]</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" disabled id="Login" name="Login" value="@Model.Login">
                                        <label for="Login">@traducaoHelper["LOGIN"]</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="password" class="form-control" required id="NovaSenha" name="NovaSenha" maxlength="50">
                                        <label for="NovaSenha">@traducaoHelper["SENHA"]</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="password" class="form-control" required id="ConfirmacaoNovaSenha" name="ConfirmacaoNovaSenha" maxlength="50">
                                        <label for="ConfirmacaoNovaSenha">@traducaoHelper["CONFIRME_SENHA"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                        {
                                            <input type="button" onclick="AbrirConfirmacao2FA('#formDadosDeAcesso');" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    
    @*<div id="EnvioDocumentos" class="tab-pane @(tab == Sistema.Controllers.MeusDadosController.Tabs.EnvioDeDocumentos ? "active" : "")">
        <div class="portlet box backWrite grey-gallery">

            <div class="portlet-title">
                <div class="caption"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
                </div>
                <div class="actions">
                    <a href='#'>&nbsp;</a>
                    <label>&nbsp;</label>
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("Salvar", "MeusDados", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "fileupload" }))
                {
                    <div class="row">
                        <div class="col-md-12 padding-20">

                            <input id="Tab" name="Tab" type="hidden" value="@Sistema.Controllers.MeusDadosController.Tabs.EnvioDeDocumentos" />
                            <input type="hidden" id="fileuploadToken" name="fileuploadToken" class="form-control" value="" />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <select class="form-control" id="TipoID" name="TipoID" required>
                                            <option value="1">@traducaoHelper["DOCUMENTO_DE_IDENTIFICACAO"]</option>
                                            <option value="2">@traducaoHelper["PASSAPORTE"]</option>
                                            <option value="3">@traducaoHelper["COMPROVANTE_RESIDENCIA"]</option>
                                            <option value="4">@traducaoHelper["COMPROVANTE_PAGAMENTO"]</option>
                                        </select>
                                        <label for="TipoID">@traducaoHelper["TIPO_DOCUMENTO"]</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                        <div class="input-group">
                                            <span class="input-group-btn btn-left">
                                                <label id="uploadArquivo" class="custom-file-upload btn blue-oleo">
                                                    <input type="file" id="Arquivo" name="Arquivo" style="display: none;" onchange="$('#Caminho').val(this.value)" />
                                                    Upload
                                                </label>
                                            </span>
                                            <div class="input-group-control">
                                                <input type="text" class="form-control" id="Caminho" disabled placeholder="@traducaoHelper["TIPO_ARQUIVO_UPLOAD"]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @if (Core.Helpers.ConfiguracaoHelper.GetBoolean("AUTENTICACAO_DOIS_FATORES"))
                                        {
                                            <input type="button" onclick="AbrirConfirmacao2FA('#fileupload');" value="@traducaoHelper["ENVIAR"]" class="btn btn-intern pull-right" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn btn-intern pull-right" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.Documentos.Any())
                        {
                            <table class="table table-condensed table-bordered margin-0px">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">@traducaoHelper["TIPO"]</th>
                                        <th style="text-align:center;">@traducaoHelper["VALIDADO"]</th>
                                        <th style="text-align:center;">@traducaoHelper["DATA_ENVIO"]</th>
                                        <th style="text-align: center; width: 30px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var documento in Model.Documentos.OrderByDescending(d => d.DataEnvio))
                                    {
                                        <tr @(active ? "class=active" : "")>
                                            <td style="text-align:center; padding: 12px;">@Core.Helpers.EnumHelper.GetDescription(documento.Tipo)</td>
                                            <td style="text-align:center; padding: 12px;">
                                                @if (documento.Validado)
                                                {
                                                    <label class="label label-success">@traducaoHelper["SIM"]</label>
                                                }
                                                else
                                                {
                                                    <label class="label label-danger">@traducaoHelper["NÃO"]</label>
                                                }
                                            </td>
                                            <td style="text-align:center; padding: 12px;">@documento.DataEnvio.ToString(ViewBag.MascaraData)</td>
                                            <td style="text-align:center;">
                                                <a href="@documento.CaminhoVirtual" target="_blank" class="btn btn-sm btn-success tooltiped" data-toggle="tooltip" data-original-title="download"><i class="fa fa-download"></i></a>
                                            </td>
                                        </tr>
                                        active = !active;
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="lead">@traducaoHelper["SEM_ENVIO_ARQUIVO"]</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    
</div>

<div id="Confirmacao2FA" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="border-radius: 7px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="form-title text-center">
                    <img src="~/Content/global/img/google-authenticator.jpg" width="80" /><br />
                    <b>Google Authenticator</b>
                </h4>
            </div>
            <div class="modal-body" id="Formulario">
                <div class="form-group">
                    <div>
                        <input type="hidden" id="typeTab" value="" />
                        <span id="tokeninforma" class="center-block text-center text-info">Para esta alteração é necessário informar o token de validação</span>
                        <span id="tokeninvalido" class="hide center-block text-center text-danger">@traducaoHelper["TOKEN_INVALIDO"]</span><br />
                        <span>@traducaoHelper["TOKEN_INSIRA"]</span>
                        <input type="text" id="TokenText" name="TokenText" class="form-control placeholder-no-fix" placeholder="Token" required /><br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions" style="height: 46px;">
                    <button id="btnValidar" class="btn green-haze pull-right">
                        OK <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
