@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["MEUS_INATIVOS"].ToString().ToLower();

    var meusInativos = ViewBag.MeusInativos;
    var niveis = ViewBag.Niveis;
    int intN = 0;

    #endregion

    #region ViewBags

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion

}


@section pageStyles {

}

@section head {

}

@section pageScripts {

}

@section PageLevelScripts{

}

@section jQueryRead {

}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>


<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                @if (meusInativos != null)
            {
                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                        @foreach (var n in niveis)
                        {
                            intN++;
                            <li class="@(intN==1?"active":"")">
                                <a data-toggle="tab" href="@("#tab_" + intN)">
                                    <i class="fa fa-play"></i> @(n)º @traducaoHelper["NIVEL"]
                                </a>
                                @if (intN == 1)
                                {
                                    <span class="after"></span>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>

            <div class="col-md-9">
                <div class="tab-content">
                    @if (meusInativos != null)
                    {
                        intN = 0;
                        foreach (var nivel in meusInativos)
                        {
                            intN++;
                            <div id="@("tab_" + intN)" class="tab-pane @(intN==1?"active":"")">
                                @if (nivel != null)
                                {
                                    int intD = 0;
                                    foreach (var item in nivel as IEnumerable<Core.Entities.UsuarioInativo>)
                                    {
                                        intD++;
                                        <div id="n@(intN)_d@(intD)" class="panel-group" style="margin-bottom: 5px;">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#n@(intN)_d@(intD)" href="#n@(intN)_d@(intD)_det">
                                                            @item.Login
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="n@(intN)_d@(intD)_det" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <table class="table table-bordered table-striped">
                                                            <tr>
                                                                <td><strong>@traducaoHelper["PATROCINADOR"]</strong></td>
                                                                <td>@item.Patrocinador</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>@traducaoHelper["ATIVACAO"]</strong></td>
                                                                <td>@(item.DataAtivacao.Equals(new DateTime(1900,1,1)) ? "" : item.DataAtivacao.ToString(ViewBag.MascaraData))</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>@traducaoHelper["ASSOCIACAO"]</strong></td>
                                                                <td>@item.Associacao</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>@traducaoHelper["STATUS"]</strong></td>
                                                                <td>@traducaoHelper[item.Status] </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>@traducaoHelper["EMAIL"]</strong></td>
                                                                <td>@item.Email</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>@traducaoHelper["ATIVO_MENSAL"]</strong></td>
                                                                <td>@(item.DataValidade.Equals(new DateTime(1900, 1, 1)) ? "" : item.DataValidade.ToString(ViewBag.MascaraData))</td>
                                                            </tr>
                                                            @*<tr>
                                                                   <td><strong>@traducaoHelper["DETALHES"]</strong></td>
                                                                   <td>
                                                                      <a href="@Url.Action("detalhes", "usuario", new { id = item.UsuarioID })">
                                                                         <i class="icon-tag"></i>
                                                                         @traducaoHelper["DETALHES"]
                                                                      </a>
                                                                   </td>
                                                                </tr>*@
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
