@{
    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags
    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;

    List<Core.Models.StoredProcedures.spC_ObtemDiretos> meusDiretos1 = ViewBag.MeusDiretos1;
    List<Core.Models.StoredProcedures.spC_ObtemDiretos> meusDiretos2 = ViewBag.MeusDiretos2;

    #endregion

    #region Variaveis

    #endregion

}

@section pageStyles {
}

@section head {
}

@section pageScripts {
    <script src="http://d3js.org/d3.v3.min.js"></script>
}

@section PageLevelScripts{
}

@section jQueryRead {
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet light" style="width: max-content;  min-width: 100%; "> 
    <div class="row">
        <div class="portlet light" style="width: max-content; min-width: 100%;">
            <div class="tree center-block">
                <ul>
                    <li>
                        @{
                            var usu = ViewBag.Nivel1;
                            var usuBinder = new Sistema.ModelBinders.UsuarioBinder();
                            usuBinder.usuarioId = usu.ID;
                            var usuFoto = usuBinder.FotoUsuarioId;

                            if (String.IsNullOrEmpty(usuFoto))
                            {
                                usuFoto = Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/icoNivel2ativa.png");
                            }
                            else
                            {
                                usuFoto = Url.Content(usuFoto);
                            }

                            <div id="primeiroNivel">
                                <a href="@Url.Action("Unilevel", "MinhaRede", new {topo = @usu.PatrocinadorDiretoID })">
                                    <img src="@usuFoto" class="userprimeironivel" />
                                    <span class="tooltips">Usuario1</span>
                                    <span class="tooltips">
                                        Nome: @usu.Nome
                                        <br />Login: @usu.Login
                                    </span>
                                </a>
                            </div>
                        }

                        @if (meusDiretos1 != null && meusDiretos1.Count > 0)
                        {
                            <ul>
                                <li>
                                    <ul>
                                        @foreach (var usuario1 in meusDiretos1)
                                        {
                                            <li>
                                                <div>
                                                    @{
                                                        var usuarioBinder1 = new Sistema.ModelBinders.UsuarioBinder();
                                                        usuarioBinder1.usuarioId = usuario1.IDAfiliado;
                                                        var foto1 = usuarioBinder1.FotoUsuarioId;

                                                        if (String.IsNullOrEmpty(foto1))
                                                        {
                                                            foto1 = Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/icoNivel2ativa.png");
                                                        }
                                                        else
                                                        {
                                                            foto1 = Url.Content(foto1);
                                                        }

                                                        <a href="@Url.Action("Unilevel", "MinhaRede", new { topo = usuario1.IDAfiliado })">
                                                            <img src="@foto1" class="userseguintes" />
                                                            <span class="tooltips">
                                                                Nome: @usuario1.Nome
                                                                <br />Login: @usuario1.Login
                                                                <br />Associação: @usuario1.NomeAssociacao
                                                            </span>
                                                        </a>
                                                    }
                                                </div>

                                                @if (meusDiretos2 != null && meusDiretos2.Count > 0)
                                                {                                                                                             
                                                    var filtro2 = meusDiretos2.Where(x => x.PatrocinadorDiretoID == usuario1.IDAfiliado).ToList();
                                                    if (filtro2 != null && filtro2.Count > 0)
                                                    {
                                                        <ul>
                                                            <li>
                                                                <ul>
                                                                    @foreach (var usuario2 in filtro2)
                                                                    {
                                                                        <li>
                                                                            <div>
                                                                                @{
                                                                                    var usuarioBinder2 = new Sistema.ModelBinders.UsuarioBinder();
                                                                                    usuarioBinder2.usuarioId = usuario2.IDAfiliado;
                                                                                    var foto2 = usuarioBinder2.FotoUsuarioId;

                                                                                    if (String.IsNullOrEmpty(foto2))
                                                                                    {
                                                                                        foto2 = Url.Content("~/Content/img/" + Helpers.Local.Sistema + "/icoNivel2ativa.png");
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        foto2 = Url.Content(foto2);
                                                                                    }

                                                                                    <a href="@Url.Action("Unilevel", "MinhaRede", new { topo = usuario2.IDAfiliado })">
                                                                                        <img src="@foto2" class="userseguintes" />
                                                                                        <span class="tooltips">
                                                                                            Nome: @usuario1.Nome
                                                                                            <br />Login: @usuario2.Login
                                                                                            <br />Associação: @usuario2.NomeAssociacao
                                                                                        </span>
                                                                                    </a>
                                                                                }
                                                                            </div>
                                                                        </li>
                                                                        }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    }
                                                 }
                                            </li>
                                         }
                                    </ul>
                                </li>
                            </ul>
                         }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet light text-center">
        <a href="@Url.Action("Unilevel", "MinhaRede", new { topo = ViewBag.Nivel0  })" class="btn btn-default"><i class="fa fa-angle-up" style="color: orangered;"></i>&nbsp;@traducaoHelper["VOLTAR_UM_NIVEL"]</a>
        <a href="@Url.Action("Unilevel", "MinhaRede", new { topo = 0})" class="btn btn-default"><i class="fa fa-angle-double-up" style="color: orangered;"></i>&nbsp;@traducaoHelper["VOLTAR_TOPO"]</a>
    </div>

</div>
