@{

   #region Layout

   Layout = "~/Views/Shared/_Layout.cshtml";

   #endregion

   #region ViewBags

   var filiais = (List<Core.Entities.Filial>)ViewBag.Filiais;

   var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
   var id = (int)ViewBag.ID;
   var produto = (int)ViewBag.ProdutoID;

   ViewBag.Title = traducaoHelper["AGENDAMENTO"];

   #endregion

   #region Variaveis
   #endregion

}

@section pageStyles {
   @Styles.Render("~/Content/agendamento")
}

@section head {

}

@section pageScripts {
   @Scripts.Render("~/scripts/agendamento")
}

@section PageLevelScripts{
   <script>
      $(document).ready(function () {

         $("#filial").change(function () {

            var id = $("#filial option:selected").val();
            $.post('@Url.Action("CarroPorFilial")', { id: id, produto: @produto  }, function (data) {
               $("#produto").html('');
               var opt = '';
               $.each(data, function (index, value) {
                  opt += '<option value="' + value +'">';
                  opt += value
                  opt += '</option>';
               });

               $("#data").val('');
               $("#btnCalendario").prop('disabled',true);

               $("#horario").html('');
               $("#horario").prop('disabled',true);

               if (opt == '') {
                  $("#produto").prop('disabled',true);
                  $("#btnCalendario").prop('disabled',true);
               }
               else {
                  $("#produto").prop('disabled',false);
                  $("#btnCalendario").prop('disabled',false);
               }

               $("#produto").html(opt);

            });
         });

         $("#produto").change(function () {

            var filial = $("#filial option:selected").val();
            var carro = $("#produto option:selected").val();

            $.post('@Url.Action("RangeDatas")', { filial: filial, carro : carro }, function (data) {
               
               var opt = '';
               $.each(data, function (index, value) {
                  opt += '<option value="' + value + '">';
                  opt += value
                  opt += '</option>';
               });

               $("#data").val('');
               if (opt == '') {
                  $("#btnCalendario").prop('disabled',true);
               }
               else {
                  $("#btnCalendario").prop('disabled',false);
               }
               $("#horario").html('');
               $("#horario").prop('disabled',true);

               $("#data").html(opt);
            });
         });

         $("#data").change(function () {

            var filial = $("#filial option:selected").val();
            var produto = $("#produto option:selected").val();
            var data = $("#data").val();

            $.post('@Url.Action("RangeHorario")', { filial: filial, produto: produto, data: data  }, function (data) {
               $("#horario").html('');
               var opt = '';
               $.each(data, function (index, value) {
                  opt += '<option value="' + value.ID + '">';
                  opt += value.Horario
                  opt += '</option>';
               });

               $("#horario").html('');
               if (opt == '') {
                  $("#horario").prop('disabled',true);
               }
               else {
                  $("#horario").prop('disabled',false);
               }

               $("#horario").html(opt);
            });
         });
      });
   </script>

   <script>
    $('.input-group.date').datepicker({
    	format: 'dd/mm/yyyy',
    	language: 'pt-BR',
    	weekStart: 0,
    	startDate:'0d',
    	todayHighlight: true
    });
</script>
}

@section jQueryRead {
   ComponentsPickers.init();
}

<div class="portlet solid grey-cararra">
   <div class="portlet-body">

      <div class="page-head">
         <!-- BEGIN PAGE TITLE -->
         <div class="page-title">
            <h2>@ViewBag.Title<small></small></h2>
         </div>
         <!-- END PAGE TITLE -->
      </div>

      <ul class="page-breadcrumb breadcrumb">
         <li>
            <a href="@Url.Action("Index", "Home")">home</a>
            <i class="fa fa-angle-right"></i>
         </li>
         <li>
            <a href="#">@ViewBag.Title</a>
         </li>
      </ul>
   </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

   <div class="portlet-title">
      <div class="caption"></div>
      <div class="tools">
         <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
      </div>
      <div class="actions">
         <a href='#'>&nbsp;</a>
         <label>&nbsp;</label>
      </div>
   </div>

   <div class="portlet-body" style="min-height: 130px;">
      <div class="row">&nbsp;<br /><br /></div>
      <div class="row">
         <form method="post" action="@Url.Action("Salvar")">
            <input type="hidden" value="@id" name="id" />
            <div class="row">
               <div class="col-md-3 padding-20 ">
                  <div class="col-md-12">
                     <div class="form-group form-md-line-input form-md-floating-label">
                        <select id="filial" name="filial" class="form-control form-md-line-input form-md-floating-label has-info">
                           @foreach (var item in filiais)
                           {
                              <option value="@item.ID">@item.Nome</option>
                           }
                        </select>
                        <label for="form_control_1">@traducaoHelper["FILIAL"]</label>
                     </div>
                  </div>
               </div>

               <div class="col-md-3 padding-20 ">
                  <div class="col-md-12">
                     <div class="form-group form-md-line-input form-md-floating-label">
                        <select id="produto" name="produto" disabled class="form-control form-md-line-input form-md-floating-label has-info">
                           <option value="0">@traducaoHelper["SELECIONE"]</option>
                        </select>
                        <label for="produto">@traducaoHelper["AGENDAMENTO_PRODUTO"]</label>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 padding-20 ">
                  <div class="col-md-12">
                     <div class="form-group">
                        <div class="col-md-3">
                           <!-- /input-group -->
                           <span class="help-block">
                              @traducaoHelper["DATA"]
                           </span>
                           <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                              <input type="text" id="data"  name="data" class="form-control" readonly>
                              <span class="input-group-btn">
                                 <button id="btnCalendario" name="btnCalendario" class="btn default" disabled type="button"><i class="fa fa-calendar"></i></button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-3 padding-20 ">
                  <div class="col-md-12">
                     <div class="form-group form-md-line-input form-md-floating-label">
                        <select id="horario" name="horario" disabled class="form-control form-md-line-input form-md-floating-label has-info">
                           <option value="0">@traducaoHelper["SELECIONE"]</option>
                        </select>
                        <label for="form_control_1">@traducaoHelper["HORARIO"]</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-actions">
                  <div class="row">
                     <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@traducaoHelper["SALVAR"]" class="btn green-haze pull-right" />
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="row">&nbsp;<br /><br /><br /></div>
   </div>

</div>

