
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion

    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = traducaoHelper["MENU_AGENDAMENTO"].ToString().ToLower();

    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;
    var XXXXXX = usuario.Lancamento.Where(x => x.ID == 1);

    ViewBag.MascaraData = traducaoHelper["MASCARA_DATA"];
    if (ViewBag.MascaraData == null)
    {
        ViewBag.MascaraData = "dd/MM/yyyy";
    }

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();

    #endregion
}

@section pageStyles {
    @Styles.Render("~/Content/table")
}

@section head {

}

@section pageScripts {
    @Scripts.Render("~/scripts/table")
}

@section PageLevelScripts{

    <script>

      var TableLocal = function () {

         var initTabela = function () {

            var table = $('#tabela');

            /* Fixed header extension: http://datatables.net/extensions/keytable/ */

            var oTable = table.dataTable({
               // Internationalisation. For more info refer to http://datatables.net/manual/i18n
               "language": {
                  "aria": {
                     "sortAscending": ": activate to sort column ascending",
                     "sortDescending": ": activate to sort column descending"
                  },
                  "emptyTable": "@traducaoHelper["TABELA_SEM_DADOS"]",
                  "info": "@traducaoHelper["EXIBINDO_DE"] _START_ @traducaoHelper["ATE"] _END_ @traducaoHelper["DE"] _TOTAL_ @traducaoHelper["REGISTROS"]",
                  "infoEmpty": "@traducaoHelper["SEM_DADOS"]",
                  "infoFiltered": "(@traducaoHelper["FILTRADO"])",
                  "lengthMenu": "_MENU_",
                  "search": "",
                  "zeroRecords": "@traducaoHelper["TABELA_SEM_DADOS"]"
               },
               "order": [
                   [0, 'asc']
               ],
               "lengthMenu": [
                   [5, 10, 15, 20, -1],
                   [5, 10, 15, 20, "All"] // change per page values here
               ],
               "pageLength": 10, // set the initial value,
               "columnDefs": [{  // set default column settings
                  'orderable': false,
                  'targets': [0]
               }, {
                  "searchable": false,
                  "targets": [0]
               }],
               "order": [
                   [1, "asc"]
               ]
            });

            var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

            var tableWrapper = $('#tabela_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            //tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
         }

         return {
            init: function () {
               if (!jQuery().dataTable) {
                  return;
               }
               initTabela();
            }
         };
      }();

    </script>

    <script type="text/javascript">
      function Pagar(id) {
         $('#Pagar').modal();
         $('#Pagar div.modal-footer a').attr('href', '@Url.Action("pagar", "meus-pedidos")/' + id);
      }
    </script>

}

@section jQueryRead {
    TableLocal.init();
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@ViewBag.Title <small></small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("agendar-pedido","agendamento")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="portlet-body">
        @if (usuario.Pedido.Any())
        {
            <table class="table table-striped table-bordered table-hover" id="tabela">
                <thead>
                    <tr>
                        <th>@traducaoHelper["CODIGO"]</th>
                        <th>@traducaoHelper["DATA"]</th>
                        <th>@traducaoHelper["TOTAL"]</th>
                        <th>@traducaoHelper["STATUS"]</th>
                        <th style="width:140px;">@traducaoHelper["AGENDAMENTO"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in usuario.Pedido.OrderByDescending(p => p.DataCriacao))
                    {
                        var pagamento = pedido.PedidoPagamento.OrderByDescending(p => p.UltimoStatus.StatusID).FirstOrDefault();
                        <tr>
                            <td>@pedido.ID</td>
                            <td>@pedido.DataCriacao.ToString(ViewBag.MascaraData)</td>
                            <td>@pagamento.Moeda.Simbolo @pedido.Total.Value.ToString(moedaPadrao.MascaraOut) </td>
                            @{
                                var label = "label-default";
                                switch (pedido.StatusAtual)
                                {
                                    case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoConfirmacao:
                                    case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento:
                                        label = "label-warning";
                                        break;
                                    case Core.Entities.PedidoPagamentoStatus.TodosStatus.Cancelado:
                                        label = "label-danger";
                                        break;
                                    case Core.Entities.PedidoPagamentoStatus.TodosStatus.Pago:
                                        label = "label-success";
                                        break;
                                }
                            }
                            <td><span class="label @(label)">@pedido.StatusAtual.ToString()</span></td>
                            <td>
                                @{
                                    int quantidade = pedido.QuantidadeAgendamento.HasValue == false ? 0 : pedido.QuantidadeAgendamento.Value;
                                    int quantidadePorPedido = pedido.PedidoItem.FirstOrDefault().Produto.LimitePorPedido.HasValue ? pedido.PedidoItem.FirstOrDefault().Produto.LimitePorPedido.Value : 0;
                                    if (pedido.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.Pago && quantidade < quantidadePorPedido)
                                    {
                                        <a href="@Url.Action("agendar", "agendamento", new { id = pedido.ID })" class="btn btn-icon-only btn-circle yellow tooltiped" data-toggle="tootip" data-original-title="@traducaoHelper["VER_DETALHES"]"><i class="fa fa-calendar"></i></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>@traducaoHelper["NENHUM_PEDIDO"].</h3>
        }

    </div>

</div>

<div id="Pagar" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@traducaoHelper["CONFIRMACAO"]</h4>
            </div>
            <div class="modal-body text-center">@traducaoHelper["DESEJA_PAGAR_PEDIDO"]</div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="float:left;">@traducaoHelper["NAO"]</button>
                <a href="" class="btn btn-success" aria-hidden="true">@traducaoHelper["SIM"]</a>
            </div>
        </div>
    </div>
</div>


