@model Core.Entities.Pedido
@using Core.Entities
@{

    #region Layout

    Layout = "~/Views/Shared/_Layout.cshtml";

    #endregion


    #region ViewBags

    var traducaoHelper = (Core.Helpers.TraducaoHelper)ViewBag.TraducaoHelper;
    ViewBag.Title = @traducaoHelper["PEDIDO"] + "#" + Model.Codigo;

    var usuario = (Core.Entities.Usuario)ViewBag.Usuario;

    #endregion

    #region Variaveis

    var moedaPadrao = Core.Helpers.ConfiguracaoHelper.GetMoedaPadrao();
    var usuarioContainer = (Sistema.Containers.UsuarioContainer)ViewBag.UsuarioContainer;

    var SaldoRentabilidade = usuarioContainer.SaldoRentabilidade;
    var SaldoBonus = usuarioContainer.SaldoBonus;
    var SaldoTransferencias = usuarioContainer.SaldoTransferencias;
    var SaldoInvestimento = usuarioContainer.SaldoInvestimento;

    #endregion
}

@section PageLevelScripts{
    <script type="text/javascript" src="@Url.Content("~/Content/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#idValorRendimento').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true });
            $('#idValorBonus').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true });
            $('#idValorTransferencia').inputmask('@Core.Helpers.ConfiguracaoHelper.GetString("MOEDA_PADRAO_MASCARA_ENTRADA")', { numericInput: true, reverse: true});
        });

        $("#detalheLinkCopiar").on('click', function () {
            var copiadoTemp = 0;
            var el = document.createElement('textarea');
            el.value = document.getElementById('enderecoCripto').value;
            el.setAttribute('readonly', '');
            el.style = { position: 'absolute', left: '-9999px' };
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            $("#copiado").fadeIn();
            clearTimeout(copiadoTemp);
            copiadoTemp = setTimeout(function () { $("#copiado").fadeOut(); }, 1000);
            document.body.removeChild(el);
        });

        function AbrirConfirmacao2FASaldo() {
            $("#TokenText").val('');
            $("#tokeninvalido").addClass("hide");
            $("#tokeninforma").removeClass("hide");
            $('#Confirmacao2FA').modal();
        };

        function SaldoPagar() {
            $('#dadosSaldo').show();
        };

        $("#btnValidar").on('click', function () {
            var _token2FA = $("#TokenText").val();
            var _valorRendimento = $("#idValorRendimento").val();
            var _valorBonus = $("#idValorBonus").val();
            var _valorTransferencia = $("#idValorTransferencia").val();
            var acao = $("#pagarSaldo")[0];
            acao.href = '/loja/pedido/pagar/?meioPagamento=Saldo&token2FA=' + _token2FA + '&rendimento=' + _valorRendimento + '&bonus=' + _valorBonus + '&transferencia=' + _valorTransferencia + '&chamada=detalhes' + '&pedidoID=' + @Model.ID ;
            acao.click();
        });
    </script>
}

<div class="portlet solid grey-cararra">
    <div class="portlet-body">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h2>@traducaoHelper["PEDIDO"] <small> @("#" + Model.Codigo)</small></h2>
            </div>
            <!-- END PAGE TITLE -->
        </div>

        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "meus-pedidos")">@traducaoHelper["MEUS_PEDIDOS"]</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@traducaoHelper["PEDIDO"] #@Model.Codigo</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet aba box backWrite grey-gallery">

    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tools">
            <a href='@Url.Action("Index")' class="atualizar" title="@traducaoHelper["ATUALIZAR"]" />
            <a href="javascript:;" class="collapse grey" title="@traducaoHelper["FECHAR"]" />
        </div>
        <div class="actions">
            <a href='#'>&nbsp;</a>
            <label>&nbsp;</label>
        </div>
    </div>
    <div class="portlet-body">

        <div class="row">
            <div class="col-md-4">
                <label> <strong>@traducaoHelper["LOGIN"]:</strong> @Model.Usuario.Login </label>
            </div>
            <div class="col-md-4">
                <label> <strong>@traducaoHelper["NOME"]:</strong> @Model.Usuario.Nome </label>
            </div>
            <div class="col-md-4">
                @{var pagamento = Model.PedidoPagamento.FirstOrDefault();
                    var pgto = (pagamento != null ? pagamento.MeioPagamento.ToString() : "");}
                <label> <strong>@traducaoHelper["MEIO_PAGAMENTO"]:</strong> @pgto </label>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="30%">@traducaoHelper["PRODUTO"]</th>
                                <th width="15%" style="text-align:center;">@traducaoHelper["STATUS"]</th>
                                <th width="10%" style="text-align:center;">@traducaoHelper["QUANTIDADE"]</th>
                                <th width="15%" style="text-align:center;">@traducaoHelper["VALOR_UNITARIO"]</th>
                                <th width="15%" style="text-align:center;">@traducaoHelper["TOTAL"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var contador = 1;
                            }
                            @foreach (var item in Model.PedidoItem)
                            {
                                <tr>
                                    <td>
                                        <div class="product-name">
                                            <div class="product-num">@contador</div>
                                            <h4>@item.Produto.Nome</h4>
                                            <small>@item.Produto.Chamada</small>
                                        </div>
                                    </td>
                                    @{
                                        var label = "label-default";
                                        switch (Model.StatusAtual)
                                        {
                                            case Core.Entities.PedidoPagamentoStatus.TodosStatus.PagamentoParcial:
                                            case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoConfirmacao:
                                            case Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento:
                                                label = "label-warning";
                                                break;
                                            case Core.Entities.PedidoPagamentoStatus.TodosStatus.Cancelado:
                                                label = "label-danger";
                                                break;
                                            case Core.Entities.PedidoPagamentoStatus.TodosStatus.Pago:
                                                label = "label-success";
                                                break;
                                        }
                                    }

                                    @{
                                        var valorUnitario = item.Pedido.PedidoPagamento.Where(w => w.Valor.HasValue).Sum(s => s.Valor).Value;
                                        var valorTotal = item.Quantidade * valorUnitario;
                                        var valorTotalCripto = item.Quantidade * item.Pedido.PedidoPagamento.Where(w => w.ValorCripto.HasValue).Sum(s => s.ValorCripto * s.CotacaoCripto).Value;
                                    }

                                    <td style="text-align:center;">
                                        <label class="label @label">@Model.StatusAtual</label>

                                        @if (Model.PedidoPagamento.Any())
                                        {
                                            var pedidoPagamento = Model.PedidoPagamento.FirstOrDefault();
                                            if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.PagamentoParcial ||
                                                Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento)
                                            {

                                                var statusConsiderar = new List<PedidoPagamentoStatus.TodosStatus> { PedidoPagamentoStatus.TodosStatus.Pago, PedidoPagamentoStatus.TodosStatus.PagamentoParcial };

                                                var totalPagoCripto = pedidoPagamento.PedidoPagamentoStatus.Where(w => w.ValorPago.HasValue && statusConsiderar.Contains(w.Status)).Sum(s => s.ValorPago.Value);

                                                var valorRestante = valorTotalCripto - totalPagoCripto;

                                            }
                                            else
                                            {
                                                if (pedidoPagamento.UltimoStatus.Status == PedidoPagamentoStatus.TodosStatus.Pago)
                                                {
                                                    <br />
                                                    <br />
                                                    <label> @traducaoHelper["DATA"] @pedidoPagamento.UltimoStatus.Data </label>
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="text-align:center;">@item.Quantidade</td>
                                    <td style="text-align:center;">@moedaPadrao.Simbolo @valorUnitario.ToString(moedaPadrao.MascaraOut)</td>
                                    <td style="text-align:center;">@moedaPadrao.Simbolo @valorTotal.ToString(moedaPadrao.MascaraOut) </td>
                                </tr>
                                contador++;
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="noborders" colspan="3" rowspan="1">&nbsp;</td>
                                <td>@traducaoHelper["TOTAL"]</td>
                                <td style="text-align:center;">@moedaPadrao.Simbolo @Model.PedidoPagamento.Where(w => w.Valor.HasValue).Sum(s => s.Valor).Value.ToString(moedaPadrao.MascaraOut)</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group accordion scrollable" id="accordion2">
                    @if (@Core.Helpers.ConfiguracaoHelper.GetString("CADASTRO_SOLICITA_ENDERECO") == "true")
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
                                        @traducaoHelper["ENDERECO_ENTREGA"]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2_1" class="panel-collapse in">
                                <div class="panel-body">
                                    @*<p><b>@Model.EnderecoEntrega.Nome</b></p>*@
                                    <p>@Model.EnderecoEntrega.EnderecoCompleto</p>
                                    <p>@Model.EnderecoEntrega.Distrito - @Model.EnderecoEntrega.CodigoPostal</p>
                                    <p>@Model.EnderecoEntrega.Cidade.Nome/@Model.EnderecoEntrega.Estado.Sigla</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">
                                        @traducaoHelper["ENDERECO_FATURAMENTO"]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2_2" class="panel-collapse in">
                                <div class="panel-body">
                                    @*<p><b>@Model.EnderecoFaturamento.Nome</b></p>*@
                                    <p>@Model.EnderecoFaturamento.EnderecoCompleto</p>
                                    <p>@Model.EnderecoFaturamento.Distrito - @Model.EnderecoFaturamento.CodigoPostal</p>
                                    <p>@Model.EnderecoFaturamento.Cidade.Nome/@Model.EnderecoFaturamento.Estado.Sigla</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Boleto)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                                        &nbsp;@traducaoHelper["BOLETO"]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2_2" class="panel-collapse in">
                                <div class="panel-body">
                                    <p>&nbsp;</p>
                                    <p><a href="@Url.Action("gerar", "boleto", new { area = "", pagamentoID = pagamento.ID })" target="_blank" class="btn btn-lg btn-success">@traducaoHelper["GERAR_BOLETO"]</a></p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Saldo)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                                        &nbsp;@traducaoHelper["BOLETO"]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2_2" class="panel-collapse in">
                                <div class="row" id="dadosSaldo" style="padding: 10px; background-color:#eee; border: 1px solid #ccc;">
                                    <form action="@Url.Action("Pagar", "Pedido")" method="post">
                                        <fieldset>
                                            <div class="row text-center" style="margin: 5px;">
                                                <h4>@traducaoHelper["DADOS_PAGAMENTO_SALDO"]</h4>
                                                <h4 style="font-weight: bold;" id="btcValor"></h4>
                                            </div>
                                            <div class="row">&nbsp;</div>
                                            <div class="col-md-12 col-sm-6 col-xs-6 colunaPrecoLoja">
                                                <span class="precoProdutoLoja">@traducaoHelper["SALDO_TOTAL"]: @moedaPadrao.Simbolo @((SaldoRentabilidade + SaldoBonus + SaldoTransferencias).ToString(moedaPadrao.MascaraOut))</span>
                                            </div>
                                            <div class="col col-md-12">
                                                <div class="row">&nbsp;</div>
                                                <div class="row padding-Left-20">
                                                    <span class="title">@traducaoHelper["PAGAR_COM_RENDIMENTO"]  </span>
                                                </div>
                                                <div class="row padding-Left-20">
                                                    <input id="idValorRendimento" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_RENDIMENTO"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                                </div>
                                                <div class="row padding-Left-20">
                                                    <span class="title"> @traducaoHelper["SALDO_RENDIMENTO"]:  @moedaPadrao.Simbolo @((SaldoRentabilidade).ToString(moedaPadrao.MascaraOut))</span>
                                                </div>
                                                <div class="row">&nbsp;</div>
                                                <div class="row padding-Left-20">
                                                    <span class="title">@traducaoHelper["PAGAR_COM_BONUS"]</span>
                                                </div>
                                                <div class="row padding-Left-20">
                                                    <input id="idValorBonus" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_BONUS"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                                </div>
                                                <div class="row padding-Left-20">
                                                    @traducaoHelper["SALDO_BONUS"]:  @moedaPadrao.Simbolo @((SaldoBonus).ToString(moedaPadrao.MascaraOut))
                                                </div>
                                                <div class="row">&nbsp;</div>
                                                <div class="row padding-Left-20">
                                                    <span class="title">@traducaoHelper["PAGAR_COM_TRANSFERENCIA"]</span>
                                                </div>
                                                <div class="row padding-Left-20">
                                                    <input id="idValorTransferencia" type="text" data-provide="typeahead" class="form-control" placeholder="@traducaoHelper["ENTRE_VALOR_TRANSFERENCIA"] @moedaPadrao.Simbolo" value="" style="max-width: 300px">
                                                </div>
                                                <div class="row padding-Left-20">
                                                    @traducaoHelper["SALDO_TRANSFERENCIA"]:  @moedaPadrao.Simbolo @((SaldoTransferencias).ToString(moedaPadrao.MascaraOut))
                                                </div>
                                                <div class="row">&nbsp;</div>
                                                <div class="row" style="padding-left: 240px;">
                                                    <a href="javascript:AbrirConfirmacao2FASaldo()" class="btn btn-success" style="margin-left:10px;">@traducaoHelper["PAGAR"]</a>
                                                </div>
                                                <div class="row">&nbsp;</div>
                                            </div>
                                        </fieldset>
                                        <footer>
                                            <div class="row">
                                                <div class="form-actions">
                                                    <span class="pull-right" style="padding-right: 16px;">
                                                        <a href="@Url.Action("index", "meus-pedidos", new { area = "" })" class="btn btn-lg btn-info pull-right" style="margin-left:10px;">@traducaoHelper["MEUS_PEDIDOS"]</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </footer>
                                    </form>
                                </div>

                            </div>
                        </div>
                    }
                    else if (Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.Deposito)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                                        &nbsp;@traducaoHelper["DEPOSITO"]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2_3" class="panel-collapse in">
                                <div class="panel-body">
                                    <p>@Html.Raw(traducaoHelper["DADOS_DEPOSITO"])</p>
                                </div>
                            </div>
                        </div>
                    }
                    else if ((Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.AguardandoPagamento ||
                               Model.StatusAtual == Core.Entities.PedidoPagamentoStatus.TodosStatus.PagamentoParcial
                             ) && pagamento.MeioPagamento == Core.Entities.PedidoPagamento.MeiosPagamento.CryptoPayments)
                    {
                        <div class="panel panel-default">

                            @if (pagamento.ValorCripto.HasValue)
                            {
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                                            QR Code e Hash para Pagamento
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapse_2_3" class="panel-collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-5 text-center">
                                                @{var cripto = Model.PedidoPagamento.FirstOrDefault();
                                                    var criptoDescricao = "";
                                                    if (cripto != null && cripto.MoedaIDCripto == (int)Core.Entities.Moeda.Moedas.BTC)
                                                    {

                                                        criptoDescricao = traducaoHelper["BITCOIN"];
                                                    }
                                                    if (cripto != null && cripto.MoedaIDCripto == (int)Core.Entities.Moeda.Moedas.BTC)
                                                    {

                                                        criptoDescricao = traducaoHelper["LITECOIN"];
                                                    }
                                                    if (cripto != null && cripto.MoedaIDCripto == (int)Core.Entities.Moeda.Moedas.USDT)
                                                    {

                                                        criptoDescricao = traducaoHelper["TETHER"];
                                                    }

                                                }
                                                <span class="title"><strong>@criptoDescricao - @pagamento.ValorCripto.Value.ToString("0.00000000")</strong></span><br>
                                                <img id="qrCode" src=@String.Format("https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={0}", @pagamento.Numero) />
                                            </div>
                                            <div class="col-md-7 padding-20">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span class="title">Endereço Pagamento:</span>
                                                <input id="enderecoCripto" type="text" data-provide="typeahead" disabled class="form-control" placeholder="" value="@pagamento.Numero">
                                                <div class="text-center">
                                                    <span class="input-group-btn">
                                                        <input class="btn btn-success margem-10" id="detalheLinkCopiar" value=" @traducaoHelper["COPIAR"]">
                                                    </span>
                                                    <span id="copiado" hidden>@traducaoHelper["COPIANDO"]</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Confirmacao2FA" class="modal" data-easein="tada" data-easeout="rollOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="border-radius: 7px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="form-title text-center">
                    <img src="~/Content/global/img/google-authenticator.jpg" width="80" /><br />
                    <b>Google Authenticator</b>
                </h4>
            </div>
            <div class="modal-body" id="Formulario">
                <div class="form-group">
                    <div>
                        <span id="tokeninforma" class="center-block text-center text-info">Para esta alteração é necessário informar o token de validação</span>
                        <span id="tokeninvalido" class="hide center-block text-center text-danger">@traducaoHelper["TOKEN_INVALIDO"]</span><br />
                        <span>@traducaoHelper["TOKEN_INSIRA"]</span>
                        <input type="text" id="TokenText" name="TokenText" class="form-control placeholder-no-fix" placeholder="Token" required /><br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions" style="height: 46px;">
                    <button id="btnValidar" class="btn green-haze pull-right">OK&nbsp;<i class="m-icon-swapright m-icon-white"></i></button>
                    <a id="pagarSaldo" name="pagarSaldo"></a>
                </div>
            </div>
        </div>
    </div>
</div>


